{% extends 'quicklink/profile.html' %}
{% load static %}
{% load imagekit %}
{% load hosts %}

{% block pagetitle %}My Orders{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/profile/orders.css' %}">
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <div class="orders__container">
        <div class="orders__header">
            {% if customer.customer_dp %}
                {% generateimage 'account:large_avatar' source=customer.customer_dp.image -- alt="Customer Profile Pic" class="orders__profile__pic" %}
            {% else %}
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Settings/Group_358_s1885d_rX-X.png" alt="Customer Profile Pic" class="orders__profile__pic">
            {% endif %}
            <div class="orders__header__user">
                <h1 class="body-big bold">{% if customer.customer_name %}{{ customer.customer_name }}{% elif customer.shop_name %}{{ customer.shop_name }}{% else %}Quicklink Customer{% endif %}</h1>
                <p class="subtitle regular">@{% if customer.customer_username %}{{ customer.customer_username }}{% elif customer.shop_username %}{{ customer.shop_username }}{% else %}quicklink_customer{% endif %}</p>
            </div>
        </div>
        {% if active_orders.count == 0 and order_history.count == 0 %}
            <div class="no__orders">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Settings/no-orders_iYm1srE0c.png" alt="">
                <h1 class="no__orders__text body-big bold">You don’t have any orders yet! Let’s get you something.</h1>
                <a href="{% host_url 'marketplace' host 'shops' %}">
                    <button class="primary-btn subtitle bold">Go to Marketplace</button>
                </a>
            </div>
        {% else %}
            <div class="active__orders">
                <h1 class="body-big bold">Active Orders</h1>
                {% for order in active_orders %}
                    {% include "profile/order_card.html" with order=order active=True %}
                {% endfor %}
            </div>
            {% if order_history.count > 0 %}
                <div class="settings__divider"></div>
                <div class="order__history">
                    <h1 class="body-big bold">Order History</h1>
                    {% for order in order_history %}
                        {% include "profile/order_card.html" with order=order %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scriptsBody %}
    
{% endblock %}