{% load hosts %}

<div class="order__card">
    <div class="order__card__tag {% if active %}active{% endif %}"></div>
    <div class="order__card__content">
        <div class="order__card__content__info">
            <h1 class="body-big bold">{{ order.shop.shop_info.shop_name }}</h1>
            <h2 class="subtitle bold">PHP {{ order.total }}</h2>
            <div class="order__card__content__status">
                {% with os=order.order_status ps=order.payment_status %}
                    <div class="order__status overline {% if os == 'PENDING' %}pending{% elif os == 'SENT' %}sent{% elif os == 'RECEIVED' %}received{% else %}cancelled{% endif %}">{{ os }}</div>
                    <div class="payment__status overline {% if ps == 'TO_RECEIVE' %}to-receive{% elif ps == 'PROCESSING' %}processing{% elif ps == 'RECEIVED' %}received{% else %}cancelled{% endif %}">{{ ps }}</div>
                {% endwith %}
            </div>
            <p class="caption medium">To receive on {{ order.delivery_date }}</p>
        </div>
        {% if active %}
            <a href="{% host_url 'order-invoice' order.id host 'shops' %}">
                <button type="button" class="secondary-btn subtitle bold">View Order</button>
            </a>
        {% else %}
            <a href="{% host_url 'reorder' order.id host 'shops' %}">
                <button type="button" class="secondary-btn subtitle bold">Reorder</button>
            </a>
        {% endif %}
    </div>
</div>