/* PRODUCTS */
.products__container {
    width: 100%;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    background: var(--bg-color);
}

.products__header {
    min-height: 10vh;
    width: calc(100% - 12rem);
    padding: 5rem 3rem 2.5rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    z-index: 99;
    background: var(--bg-color);
}

.products__header__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.products__searchbar {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.products__header__btns {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.products__header__btns button { margin: 0 0.5rem; }

.products__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.products__wrapper {
    height: 100%;
    width: calc(100% - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.products__table { 
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
}

.products__table__header {
    height: 72px;
    max-height: 72px;
    width: 100%;
    background: var(--muted-white);
    border-top: 1px solid var(--muted-lightest);
    border-bottom: 1px solid var(--muted-lightest);
}

.products__table__btns {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; align-content: center;
    padding: 1.5rem 3rem;
}

.products__table__btns .set-as-inactive__btn {
    margin: 0 1rem;
}

.products__table__header.hide { display: none; }

.products__table__header th {
    padding: 0; 
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.product__table__cell {
    width: auto;
    padding: 0 1rem;
    text-align: center;
    vertical-align: middle;
}

.products__table__row {
    height: 72px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-blend-mode: overlay;
}

.products__table__row:nth-child(2n+1) { background: var(--bg-color); }
.products__table__row:nth-child(2n) { background: var(--muted-white); }
.products__table__row.active { background: #A9B8FF48; }

.product__ellipsis {
    cursor: pointer;
    margin-left: 1rem;
    transition: background-color 0.3s ease;
}

.product__ellipsis:hover {
    background-color: var(--muted-lightest);
}

.product__option--settings {
    position: absolute;
    width: 120px;
    transform: translate(0, 24px);
}

.selected__products__container {
    width: auto;
    height: auto;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--muted-lighter);
    box-sizing: border-box;
    border-radius: 4px;
}

.selected__products__container p {
    color: var(--muted-lighter);
}

.modal__card__content {
    padding: 0.5rem 0 1.25rem 0 !important;
}