/* PRODUCT FORMS */
.product-header-btns {
    display: flex; justify-content: center; align-items: center; align-content: center;
}

.product-header-container {
    width: 100%;
    height: 64px;
    justify-content: flex-end;
    box-shadow: var(--regular-box-shadow);
}

.product-header-wrapper {
    width: 85%;
    justify-content: space-between;
    padding: 0 4.5rem;
}

.product-header-btns button {
    box-shadow: none;
}

.product-form-container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background: var(--muted-white);
}

.product-form-wrapper {
    width: 85%;
    padding: 8rem 4rem;
    margin-bottom: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.product-form-wrapper ul { list-style: none; }

.product-form-back {
    margin: 32px 0 40px 0;
}

.product-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 576px;
    margin: 2rem 0;
}

.product-form-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 576px;
    height: 208px;
    background: rgba(254, 217, 164, 0.1);
    border: 1px dashed #FFAA2D;
    border-radius: 5px;
    margin: 2rem 0;
}

.product__image__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.product__image__content .upload__link {
    padding: 0;
    margin: 0;
}

.product-form-label {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.product-form-label.hide { display: none; }

.product-form-formset {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0.5rem 0;
}

.btn__add-option { margin: 0; padding: 0; }

.fa-chevron-left {
    margin: 0 4px 0 -16px;
}

#product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.product-form-stocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin: 1rem 0;
}

.radio-select-row {
    margin: 0.25rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.radio-label, #stocks-input-disabled, #stocks-input, #id_orders, #id_stock {
    margin-left: 1rem;
}

#id_days, #id_week, #id_time {
    margin: 0 0.5rem;
}

#id_name, #id_description, #id_instructions, #id_schedule {
    margin: 0.5rem 0;
}

#stocks-input-disabled {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.del__icon {
    color: var(--muted-lighter);
    width: 12px; height: 12px;
    margin-left: 1rem;
    transition: color 0.3s ease-in-out;
}

.del__icon:hover {
    color: var(--muted-light);
}

.modal__card__wrapper {
    padding: 0;
    width: 600px;
    max-height: 80vh;
    overflow-y: scroll;
    justify-content: flex-start;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: 176px !important;
}

.slick-dots {
    bottom: 24px !important;
}

.slick-dots li.slick-active button:before { color: var(--secondary-main) !important; }
.slick-dots li button:before { color: var(--muted-white) !important; }

.modal__card__slider, .modal__card__slider__image {
    width: 100%;
    height: 176px;
    margin: 0;
}

.modal__card__content {
    width: 100%;
    padding: 1.25rem;
}

.modal__card__content__product {
    width: 100%;
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: flex-start; 
    align-content: center;
    padding: 0.75rem 0;
}

.modal__card__content__product.choices {
    padding: 0;
}

.modal__card__footer {
    padding: 0 1.5rem;
    min-height: 72px;
    width: 100%;
    display: flex; flex-wrap: nowrap; justify-content: flex-end; 
    align-items: center; align-content: center;
    background: var(--muted-white);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
}

.modal__card__content--row {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    align-content: center;
    padding: 0.25rem 0;
}

.modal__card__content--row p {
    margin-left: 0.75rem;
}