{% if pending_items %}
    {% for item, value in pending_items.items %}
        <div class="dashboard__card__item">
            <p class="regular dashboard__card__item__name">{{ item }}</p>
            <p class="extra-bold dashboard__card__item__quantity">{{ value }}</p>
        </div>
    {% endfor %}
{% else %}
    <div class="dashboard__card__no__items">
        <p class="subheader bold" style="color: var(--primary-alt);">No pending items for today!</p>
    </div>
{% endif %}