{% extends 'quicklink/signups.html' %}
{% load static %}
{% load hosts %}

{% block pagetitle %}Customer Information{% endblock %}

{% block stylesheets %}
    <!-- Nice Select Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <style>
        body {
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            <div class="pagination">
                <a href="{% host_url 'register-information' host 'shops' %}" class="pagination__circle body-big bold">1</a>
                    <div class="pagination__line"></div>
                <a href="{% host_url 'register-address' host 'shops' %}" class="pagination__circle pagination__circle--active body-big bold">2</a>
                    <div class="pagination__line"></div>
                <a href="{% host_url 'register-payment' host 'shops' %}" class="pagination__circle  body-big bold">3</a>
            </div>
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Let’s get to know you.</h1>
            <h2 class="body regular" style="color: var(--muted-default);">We’ll remember you! Your form details will be filled out for you on all your next orders.</h2>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-form" autocomplete="off">
            {% csrf_token %}
            <div class="registration-content">
                <p class="subtitle bold">Delivery Address<span style="color: var(--failure-main)">*</span></p>
                {{form.line1}}
                {{form.line2}}
                {{form.city}}
                <div class="registration-content registration-content__row">
                    <div class="registration-content__input--small" style="padding-right: 4px;">{{form.province}}</div>
                    <div class="registration-content__input--small" style="padding-left: 4px;">{{form.postal_code}}</div>
                </div>
            </div>

            <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0 0.5rem 0; width: 100%;" class="primary-btn loading subtitle bold">Next</button>
                <a href="{% host_url 'register-payment' host 'shops' %}"  style="margin-bottom: 1rem 0; width: 100%;">
                    <button type="button" style="width: 100%; color: var(--muted-lighter);" class="tertiary-btn subtitle bold">Skip for now</button>
                </a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}