{% extends 'quicklink/signups.html' %}
{% load static %}
{% load hosts %}

{% block pagetitle %}Customer Information{% endblock %}

{% block stylesheets %}
    <!-- Nice Select Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/shops/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/payment.css' %}">
    <style>
        body {
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}    
    <div class="registration-header">
        <div class="pagination">
            <a href="{% host_url 'register-information' host 'shops' %}" class="pagination__circle body-big bold">1</a>
                <div class="pagination__line"></div>
            <a href="{% host_url 'register-address' host 'shops' %}" class="pagination__circle body-big bold">2</a>
                <div class="pagination__line"></div>
            <a href="{% host_url 'register-payment' host 'shops' %}" class="pagination__circle pagination__circle--active body-big bold">3</a>
        </div>
        <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Transact smoothly.</h1>
        <h2 class="body regular" style="color: var(--muted-default);">We’ll remember you! Your form details will be filled out for you on all your next orders.</h2>
    </div>
    
    <form action="" method="post" style="width: 100%;" id="js-shop-form" autocomplete="off">
        {% csrf_token %}

        {% if slug != 'card' %}
            <div class="registration-content">
                <div class="checkout__form__row checkout__form__row--no_padding" style="justify-content: space-between;">
                    <p class="subtitle bold">Bank Name<span style="color: var(--failure-main)">*</span></p>
                    <div class="card__number__icons">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" alt="BPI" class="bank__logo" id="js-bpi-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bdo_D48ADAAqT.png" alt="BDO" class="bank__logo" id="js-bdo-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" alt="UBP" class="bank__logo" id="js-ubp-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-gcash_HI5XUVA4P.png" alt="GCash" class="bank__logo" id="js-gcash-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-paymaya_mxGtQ1SQi.png" alt="PayMaya" class="bank__logo" id="js-paymaya-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-grabpay_5_71knhjb.png" alt="GrabPay" class="bank__logo" id="js-grabpay-logo">
                    </div>
                </div>
                {{ form.bank_name }}
            </div>
        {% endif %}
        
        <div class="registration-content">
            <p class="subtitle bold">Cardholder's Name<span style="color: var(--failure-main)">*</span></p>
            {{ form.cardholder_name }}
        </div>

        <div class="registration-content">
            {% if slug == 'card' %}
                <div class="checkout__form__row checkout__form__row--no_padding" style="justify-content: space-between;">
                    <p class="subtitle bold">Card Number<span style="color: var(--failure-main)">*</span></p>
                    <div class="card__number__icons">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/Mastercard_j6e4lWUs8.png" alt="Mastercard" class="bank__logo credit__card__logo" id="js-mastercard-icon">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/visa-logo_2s14ARmOGyA.png" alt="VISA" class="bank__logo credit__card__logo" id="js-visa-icon">
                    </div>
                </div>
            {% else %}
                <p class="subtitle bold">Card Number<span style="color: var(--failure-main)">*</span></p>
            {% endif %}
            {{ form.account_number }}
        </div>
        
        {% if slug == 'card' %}
            <div class="registration-content registration-content__row">
                <div class="registration-content" style="padding-right: 4px;">
                    <p class="subtitle bold">Valid until<span style="color: var(--failure-main)">*</span></p>
                    <div class="registration-content__input--small">{{ form.exp_date }}</div>
                </div>
                <div class="registration-content" style="padding-left: 4px;">
                    <p class="subtitle bold">CVV<span style="color: var(--failure-main)">*</span></p>
                    <div class="registration-content__input--small">{{ form.cvv }}</div>
                </div>
            </div>
        {% endif %}

        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
        <div id="form-errors">{{ form.errors.as_json }}</div>

        <div class="registration-content">
            <button type="submit" name="next" style="margin: 1rem 0 0.5rem 0; width: 100%;" class="primary-btn loading subtitle bold">Next</button>
            <a href="{% host_url 'register-notifications' host 'shops' %}"  style="margin-bottom: 1rem 0; width: 100%;">
                <button type="button" style="width: 100%; color: var(--muted-lighter);" class="tertiary-btn subtitle bold">Skip for now</button>
            </a>
        </div>
    </form>
{% endblock %}

{% block scriptsBody %}
    {% if slug == 'card' %}
        <!-- iMask lightweight JS plugin -->
        <script>
            var expiryDateInput = document.getElementById("id_exp_date");
            var maskOptions = {
                mask: '00/00'
            };
            var mask = IMask(expiryDateInput, maskOptions);
        </script>

        <!-- Cleave lightweight JS plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
        <script>
            cleave = new Cleave('#id_account_number', {
                creditCard: true,
                onCreditCardTypeChanged: function (type) {
                    if (type == 'visa') {
                        $('#js-visa-icon').show();
                        $('#js-mastercard-icon').hide();
                    } else if (type == 'mastercard') {
                        $('#js-visa-icon').hide();
                        $('#js-mastercard-icon').show();
                    }
                }
            });
        </script>
    {% else %}
        <script>
            var bankNameInput = $('#id_bank_name');
            var creditCardInput = $('#id_account_number');
            var allIcons = $('.bank__logo');
            var bpiIcon = $("#js-bpi-logo");
            var bdoIcon = $("#js-bdo-logo");
            var ubpIcon = $("#js-ubp-logo");
            var gcashIcon = $("#js-gcash-logo");
            var paymayaIcon = $("#js-paymaya-logo");
            var grabpayIcon = $("#js-grabpay-logo");

            function hideIcons() {
                allIcons.each(function() {
                    $(this).hide();
                })
            }
            hideIcons();

            // Use new JavaScript variable for iMask
            var accountNumberInput = document.getElementById('id_account_number');
            function changeMask() {
                if (bankNameInput.val() == 'BA_BPI') {
                    maskOptions = {
                        mask: '0000 000 000'
                    };
                } else if (bankNameInput.val() == 'BA_BDO') {
                    maskOptions = {
                        mask: '0000 0000 0000'
                    };
                } else if (bankNameInput.val() == 'BA_UBP') {
                    maskOptions = {
                        mask: '0000 0000 0000 0000'
                    };
                } else {
                    maskOptions = {
                        mask: '(+63) 000 000 000'
                    };
                }
            }

            var mask = null; var cleave = null;
            bankNameInput.change(function() {
                hideIcons();

                changeMask();
                if (mask != null || mask != undefined) { mask.updateOptions(maskOptions); } 
                else { mask = IMask(accountNumberInput, maskOptions); }

                if ($(this).val() == 'BA_BPI' || $(this).val() == 'BA_BDO' || $(this).val() == 'BA_UBP') {
                    if ($(this).val() == 'BA_BPI') {
                        bpiIcon.show();
                    } else if ($(this).val() == 'BA_BDO') {
                        bdoIcon.show();
                    } else {
                        ubpIcon.show();
                    }
                } else {
                    if ($(this).val() == 'PH_GCASH') {
                        gcashIcon.show();
                    } else if ($(this).val() == 'PH_PAYMAYA') {
                        paymayaIcon.show();
                    } else {
                        grabpayIcon.show();
                    }
                }
            });
        </script>

        <!-- Nice Select lightweight JQuery plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                $('#id_bank_name').niceSelect();
            });
        </script>
    {% endif %}

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}