{% extends 'quicklink/signups.html' %}
{% load static %}
{% load hosts %}

{% block pagetitle %}Customer Information{% endblock %}

{% block stylesheets %}
    <!-- Nice Select Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/shops/checkout.css' %}">
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}
        <div class="registration-header" style="padding-bottom: 0;">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Account_Creation/notifications_nmfQJAim3r.svg" style="margin-bottom: 1.5rem;">
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Want to receive updates on your order status?</h1>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-form" autocomplete="off">
            {% csrf_token %}
            <div class="registration-content" style="width: auto; align-items: center;">
                <div class="registration-content" style="width: auto; align-items: flex-start;">
                    <div class="checkout__form__row" style="width: auto;">
                        <label class="checkbox-mobile">
                            {{ form.sms }}
                            <span class="checkmark-mobile"></span>
                        </label>
                        <p class='subtitle' style="margin-left: 0.5rem;">{{ form.sms.label }}</p>
                    </div>
                    <div class="checkout__form__row" style="width: auto;">
                        <label class="checkbox-mobile">
                            {{ form.email }}
                            <span class="checkmark-mobile"></span>
                        </label>
                        <p class='subtitle' style="margin-left: 0.5rem;">{{ form.email.label }}</p>
                    </div>
                </div>
            </div>

            <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0 0.5rem 0; width: 100%;" class="primary-btn loading subtitle bold">Next</button>
                <a href="{% host_url 'register-complete' host 'shops' %}"  style="margin-bottom: 1rem 0; width: 100%;">
                    <button type="button" style="width: 100%; color: var(--muted-lighter);" class="tertiary-btn subtitle bold">Skip for now</button>
                </a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}