{% extends 'quicklink/signups.html' %}
{% load static %}
{% load hosts %}

{% block pagetitle %}Customer Information{% endblock %}

{% block stylesheets %}
    <!-- IntlTelInput Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
    <style>
        .iti {
            margin: 0.5rem 0;
        }

        .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags.png");}

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags@2x.png");}
        }
    </style>
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            <div class="pagination">
                <a href="{% host_url 'register-information' host 'shops' %}" class="pagination__circle pagination__circle--active body-big bold">1</a>
                    <div class="pagination__line"></div>
                <a href="{% host_url 'register-address' host 'shops' %}" class="pagination__circle body-big bold">2</a>
                    <div class="pagination__line"></div>
                <a href="{% host_url 'register-payment' host 'shops' %}" class="pagination__circle  body-big bold">3</a>
            </div>
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Let’s get to know you.</h1>
            <h2 class="body regular" style="color: var(--muted-default);">We’ll remember you! Your form details will be filled out for you on all your next orders.</h2>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-form" autocomplete="off">
            {% csrf_token %}
            <div class="registration-content">
                <p class="subtitle bold">Personal Information<span style="color: var(--failure-main)">*</span></p>
                {{ form.customer_name }}
                {{ form.customer_contact_number }}
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Quicklink Username<span style="color: var(--failure-main)">*</span></p>
                {{ form.customer_username }}
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Social Media Links</p>
                {{ form.instagram }}
                {{ form.facebook }}
                {{ form.twitter }}
            </div>

            <div class="hidden js-error-messages">{{ form.errors }}{{ form.non_field_errors }}</div>
            <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0; width: 100%;" class="primary-btn loading subtitle bold">Next</button>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- iMask Lightweight JS Plugin -->
    <script>
        var contactNumberInput = document.getElementById('id_customer_contact_number');
        var maskOptions = {
            mask: '000 000 0000'
        };
        var mask = IMask(contactNumberInput, maskOptions);
    </script>

    <!-- intlTelInput Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js" integrity="sha512-lib7WdJvAnfLLBi5AHdN+wUkcWwpu1fmYzyEHQijZq7WedcwBiwdVNbcML2rAtKvwtOIU7thMGB+O9Kpb9g2Cw==" crossorigin="anonymous"></script>
    <script>
        var contactNumberInput = document.querySelector("#id_customer_contact_number");

        // To edit the style of intlTelInput, edit .iti {}
        // Check the documentation for more info: https://github.com/jackocnr/intl-tel-input

        var iti = intlTelInput(contactNumberInput, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
            initialCountry: "PH",
            separateDialCode: true,
        })
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}