{% extends 'quicklink/signups.html' %}
{% load static %}
{% load hosts %}

{% block pagetitle %}Customer Information{% endblock %}

{% block stylesheets %}
    <!-- Nice Select Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/shops/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/payment.css' %}">
    <style>
        body {
            overflow-y: auto;
        }
        .registration-card, .payment_method__card {
            margin: 1rem 0;
            transition: all 0.3s ease-in-out;
        }
        .payment_method__card:hover {
            transform: translateY(-5%);
        }
        .payment__method__wrapper, .payment__method__add {
            width: 100%;
            display: flex; justify-content: space-between;
            align-items: center; align-content: center;
        }
        .payment__method__add { width: auto; }
        .payment__method__add .body {
            margin-left: 0.5rem;
            color: var(--muted-default);
        }
        .bank__logo {
            max-width: 64px;
            max-height: 24px;
            width: auto;
            height: auto;
        }
    </style>
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            <div class="pagination">
                <a href="{% host_url 'register-information' host 'shops' %}" class="pagination__circle body-big bold">1</a>
                    <div class="pagination__line"></div>
                <a href="{% host_url 'register-address' host 'shops' %}" class="pagination__circle body-big bold">2</a>
                    <div class="pagination__line"></div>
                <a href="{% host_url 'register-payment' host 'shops' %}" class="pagination__circle pagination__circle--active body-big bold">3</a>
            </div>
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Transact smoothly.</h1>
            <h2 class="body regular" style="color: var(--muted-default);">We’ll remember you! Your form details will be filled out for you on all your next orders.</h2>
        </div>
{% endblock %}

{% block outsideCardContent %}
    {% for choice in choices %}
    <a href="{% host_url 'register-payment-method' choice.0 host 'shops' %}">
        <div class="registration-card payment_method__card">
            <div class="payment__method__wrapper">
                <div class="payment__method__add">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Account_Creation/u_plus_-sFxP24D9.png" alt="Add payment">
                    <p class="body bold">{{ choice.1 }}</p>
                </div>
                <div class="card__number__icons">
                    {% if choice.0 == 'bank' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" alt="BPI" class="bank__logo" id="js-bpi-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bdo_D48ADAAqT.png" alt="BDO" class="bank__logo" id="js-bdo-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" alt="UBP" class="bank__logo" id="js-ubp-logo">
                    {% elif choice.0 == 'card' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/Mastercard_j6e4lWUs8.png" alt="Mastercard" class="bank__logo credit__card__logo" id="js-mastercard-icon">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/visa-logo_2s14ARmOGyA.png" alt="VISA" class="bank__logo credit__card__logo" id="js-visa-icon">
                    {% elif choice.0 == 'ewallet' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-gcash_HI5XUVA4P.png" alt="GCash" class="bank__logo" id="js-gcash-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-paymaya_mxGtQ1SQi.png" alt="PayMaya" class="bank__logo" id="js-paymaya-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-grabpay_5_71knhjb.png" alt="GrabPay" class="bank__logo" id="js-grabpay-logo">
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}