{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Email Verification{% endblock %}

{% block stylesheets %}
    <!-- NOTY Notification Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block cardContent %} 
    <div class="registration-header">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/Shortened-logo_BzQkxRgQX.svg" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-4x_qiZytmz_G.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-3x_qwYOTUuxmZn.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-2x_KY3DONXuR.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg 1x,"
            style="padding-bottom: 0.75rem;"
        >
        <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Check your email inbox!</h1>
        <p class="body" style="color: var(--muted-dark); margin-top: 0.5rem; text-align: center;">We sent an email to 
            <span style="color: var(--secondary-alt); ">{{ user.email }}</span>
        that contains a link that allows you to verify your account. Once you open this link, you may proceed with the Quicklink onboarding process.</h2>
    </div>
    <button type="button" style="margin: 0.5rem 0; width: 100%;" id="js-resend-email-btn" class="primary-btn primary-btn-link">Resend Email</button>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="passing__info errors">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scriptsBody %} 
    <script>
        var emailBtn = document.getElementById('js-resend-email-btn');
        var current_url = window.location.href;

        emailBtn.addEventListener('click', function() {
            var timer = 30;
            emailBtn.innerHTML = "Resend Email (" + String(timer) + ")"
            emailBtn.classList.toggle('disabled');

            $.ajax({
                url: current_url,
                type: "POST",
                data: {"message": "resend"},
                success:function(response){
                    console.log("Message data successfully sent.")
                },
                error:function (xhr, textStatus, thrownError){
                    console.log("Can't send message data.", xhr, textStatus, thrownError);
                }
            });

            var downloadTimer = setInterval(function(){
                if (timer <= 0){
                    emailBtn.classList.remove('disabled');
                    emailBtn.innerHTML = "Resend Email";
                    clearInterval(downloadTimer);
                } else {
                    emailBtn.innerHTML = "Resend Email (" + String(timer-1) + ")"
                }
                timer -= 1;
            }, 1100);
        })
    </script>

    <!-- NOTY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script>
        var errors = $(".errors");
        errors.each(function() {
            var unknownError = $(this).text()
            if (unknownError != "" && unknownError != undefined && unknownError != null) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: unknownError,
                    layout: "topRight",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        });
    </script>
{% endblock %}