{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Email Confirmation{% endblock %}

{% block cardContent %}
    <div class="registration-header">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/Shortened-logo_BzQkxRgQX.svg" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-4x_qiZytmz_G.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-3x_qwYOTUuxmZn.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-2x_KY3DONXuR.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg 1x,"
            style="padding-bottom: 0.75rem;"
        >
        {% if success %}
                <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Your email address has successfully been verified!</h1>
                <p class="body" style="color: var(--muted-dark); margin-top: 0.5rem; text-align: center;">Welcome to <span style="color: var(--secondary-alt);">Quicklink</span>. We're glad to have you onboard!</h2>
            </div>
            <a href="{% url 'accounts:dashboard' %}" style="text-decoration: none;">
                <button type="button" style="margin: 0.5rem 0; width: 100%;" class="primary-btn subtitle bold">Proceed</button>
            </a>
        {% else %}
                <h1 class="bold" style="color: var(--muted-dark); padding: 0.25rem 0; ">Uh oh! Something went wrong.</h1>
                <p class="body" style="color: var(--muted-dark); margin-top: 0.5rem; text-align: center;">You'll need to get a new verification link by hitting the button below.</h2>
            </div>
            <button type="submit" style="margin: 0.5rem 0; width: 100%;" id="js-resend-email-btn" class="primary-btn primary-btn-link" data-id="{{ user.id }}">Resend Email</button>
        {% endif %}
    </div>
{% endblock %}

{% block scriptsBody %} 
    {% if success %}
        {% if customer %}
            <script>
                var proceedBtn = document.getElementById('js-proceed-btn');
                var current_url = window.location.href;
                var next_url = current_url.split('/confirmation/')[0] + '/information/';

                proceedBtn.addEventListener('click', function(e) {
                    e.preventDefault();
                    
                    var userId = proceedBtn.dataset.id
                    $.ajax({
                        url: current_url,
                        type: "POST",
                        data: {"message": "success", "userId": userId},
                        success:function(response){
                            console.log("Message data successfully sent.")
                        },
                        error:function (xhr, textStatus, thrownError){
                            console.log("Can't send message data.", xhr, textStatus, thrownError);
                        }
                    }).then(
                        setTimeout(function() {
                            window.location.href = next_url
                        }, 2000)
                    );
                });
            </script>
        {% else %}
            <script>
                var proceedBtn = document.getElementById('js-proceed-btn');
                var current_url = '/user/merchant/confirmation/';
                var next_url = '/';

                proceedBtn.addEventListener('click', function(e) {
                    e.preventDefault();
                    
                    var userId = proceedBtn.dataset.id
                    $.ajax({
                        url: current_url,
                        type: "POST",
                        data: {"message": "success", "userId": userId},
                        success:function(response){
                            console.log("Message data successfully sent.")
                        },
                        error:function (xhr, textStatus, thrownError){
                            console.log("Can't send message data.", xhr, textStatus, thrownError);
                        }
                    }).then(
                        setTimeout(function() {
                            window.location.href = next_url
                        }, 2000)
                    );
                });
            </script>
        {% endif %}
    {% else %}
        <script>
            var resendEmailBtn = document.getElementById('js-resend-email-btn');
            // var current_url = window.location.href.split('/verification/')[0] + '/user/merchant/confirmation/';
            var current_url = '/user/merchant/confirmation/';

            resendEmailBtn.addEventListener('click', function(e) {
                e.preventDefault();
                var userId = resendEmailBtn.dataset.id
                var timer = 30;
                resendEmailBtn.innerHTML = "Resend Email (" + String(timer) + ")"
                resendEmailBtn.classList.toggle('disabled');

                $.ajax({
                    url: current_url,
                    type: "POST",
                    data: {"message": "failure", "userId": userId},
                    success:function(response){
                        console.log("Message data successfully sent.")
                    },
                    error:function (xhr, textStatus, thrownError){
                        console.log("Can't send message data.", xhr, textStatus, thrownError);
                    }
                });

                var downloadTimer = setInterval(function(){
                    if (timer <= 0){
                        resendEmailBtn.classList.remove('disabled');
                        resendEmailBtn.innerHTML = "Resend Email";
                        clearInterval(downloadTimer);
                    } else {
                        resendEmailBtn.innerHTML = "Resend Email (" + String(timer-1) + ")"
                    }
                    timer -= 1;
                }, 1100);
            })
        </script>
    {% endif %}
{% endblock %}