{% extends "quicklink/signups.html" %}
{% load static %}
{% load socialaccount %}

{% block pagetitle %}Merchant Sign Up{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block cardContent %}
    <div class="registration-header">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/Shortened-logo_BzQkxRgQX.svg" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-4x_qiZytmz_G.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-3x_qwYOTUuxmZn.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-2x_KY3DONXuR.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg 1x,"
            style="padding-bottom: 0.75rem;"
        >
        <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0;">Sign up for Quicklink!</h1>
        <h2 class="body" style="color: var(--muted-lighter);">{% if customer %}Autofill your form details on your next order{% else %}One click closer to quick and easy transactions{% endif %}</h2>
    </div>
    <form action="" method="post" class="registration-form">
        {% csrf_token %}
        {{ form.role }}
                
        <div class="registration-content">
            <p class="subtitle bold">Email</p>
            {{form.email}}
            {% if not customer %}
                <div class="registration-content--email">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                    >
                    <p class="registration-content--email-guide caption">{{ form.email.help_text }}</p>
                </div>
            {% endif %}
        </div>

        <div class="registration-content">
            <p class="subtitle bold">Password</p>
            {{form.password1}}
            <div class="registration-content--email">
                <img 
                    src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                    alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                >
                <p class="registration-content--email-guide caption">Password should have a minimum of 8 characters and is not common.</p>
            </div>
        </div>

        <div class="registration-content">
            <p class="subtitle bold">Confirm Password</p>
            {{form.password2}}
        </div>

        <div class="terms-of-use-wrapper">
            <label class="checkbox">
                <input type="checkbox" name="terms" id="terms" required>
                <span class="checkmark checkmark__small"></span>
            </label>
            <p class="subtitle">I agree to the 
                <a href="https://www.notion.so/quicklinkph/Terms-of-Use-bf5b1ebd28a64c1cb75f336e18f138bf" target="_blank" class="subtitle terms-link">Terms of Use</a>
                and
                <a href="https://www.notion.so/Privacy-Policy-c91232dc494948a9afc7ae2ba2f96e7c" target="_blank" class="subtitle terms-link">Privacy Policy</a>
            </p>
        </div>

        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
        <div id="form-errors">{{ form.errors.as_json }}</div>
        {% for message in messages %}
            <div class="passing__info">{{ message }}</div>
        {% endfor %}

        <button type="submit" style="margin: 24px 0; width: 100%;" id="js-sign-up-btn" class="primary-btn primary-btn-link disabled ">Sign Up</button>
    </form>
    <!-- {% if not customer %}
        <div class="registration-footer">
            <div class="registration-footer--or-wrapper">
                <div class="line"></div>
                <p class="registration-footer--or overline">or</p>
                <div class="line"></div>
            </div>
            <div class="registration-footer--google-wrapper">
                <a href="{% provider_login_url 'google' %}" style="text-decoration: none;">
                    <div class="google-btn" style="margin-top: 2.5rem;">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/google/google-logo-9808_1_3YDBfzZoyaXR.svg" 
                        alt="Google Icon" style="width: 24px; height: 24px;">
                        <p class="google-btn-link subtitle bold">Sign in with Google</p>
                    </div>
                </a>
            </div>
        </div>
    {% endif %} -->
{% endblock %} 

{% block scriptsBody %}
    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>

    <script>
        var accept = false;
        $(".input").on("keyup", function () {    	
            canChangeColor();
        });

        $("#terms").change(function() {
            canChangeColor();
        })
        
        function canChangeColor(){          
            var can = true;

            $(".form-field").each(function(){
                if(!$(this).val()){
                    can = false;
                }
            });

            if(document.getElementById("terms").checked) {
                accept = true
            } else {
                accept = false
            }
            
            if (can == true && accept == true) {
                $("#js-sign-up-btn").toggleClass("disabled", false)
            } else {
                $("#js-sign-up-btn").toggleClass("disabled", true)
            }
        }
    </script>

    <!-- NOTY -->
    <script>
        var errors = $("#form-errors").text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]["message"]]);
            }
        }

        for (var i = 0; i <= Object.keys(errorMessages).length; i++) {
            if (errorMessages[String(i)] != undefined) {
                new Noty({
                    type: "error",
                    theme: "bootstrap-v4",
                    text: errorMessages[String(i)],
                    layout: "topRight",
                    timeout: 4000,
                    progressBar: true,
                }).show();
            }
        }

        var sendgridErrors = $(".passing__info");

        for (var e = 0; e <= sendgridErrors.length; i++) {
            new Noty({
                type: "error",
                theme: "bootstrap-v4",
                text: String($(this).html()),
                layout: "topRight",
                timeout: 4000,
                progressBar: true,
            })
        }
    </script>
{% endblock %}