{% extends 'quicklink/signups.html' %}
{% load static %}
{% load socialaccount %}
{% load hosts %}

{% block pagetitle %}Merchant Login{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block cardContent %}
    <div class="registration-header">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/Shortened-logo_BzQkxRgQX.svg" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-4x_qiZytmz_G.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-3x_qwYOTUuxmZn.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-2x_KY3DONXuR.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg 1x,"
            style="padding-bottom: 0.75rem;"
        >
        <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Welcome to Quicklink!</h1>
        <h2 class="body" style="color: var(--muted-default);">Log into your Quicklink account below.</h2>
    </div>
    <form action="." method="post" class="registration-form">
        {% csrf_token %}
        <div class="registration-content">
            <p class="subtitle bold">Email</p>
            <input type="text" name="email" class="input default" placeholder="Email">
        </div>

        <div class="registration-content">
            <p class="subtitle bold">Password</p>
            <input type="password" name="password" class="input default" placeholder="Password">
        </div>

        <button type="submit" style="margin: 24px 0; width: 100%;" id="js-login-btn" class="primary-btn primary-btn-link disabled sign-up-btn">Login</button>

        <!-- <div class="registration-content" style="flex-direction: row; align-items: center;">
            <p class="subtitle">Don't have an account?</p>
            <a class="registration-content__link subtitle" href="{% if customer %}{% host_url 'register' host 'shops' %}{% else %}{% url 'accounts:register' %}{% endif %}">Sign up here</a>
        </div> -->
    </form>
    <!-- {% if not customer %}
        <div class="registration-footer">
            <div class="registration-footer--or-wrapper">
                <div class="line"></div>
                <p class="registration-footer--or overline">or</p>
                <div class="line"></div>
            </div>
            <div class="registration-footer--google-wrapper">
                <a href="{% provider_login_url 'google' %}" style="text-decoration: none;">
                    <div class="google-btn" style="margin-top: 2.5rem;">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/google/google-logo-9808_1_3YDBfzZoyaXR.svg" 
                        alt="Google Icon" style="width: 24px; height: 24px;">
                        <p class="google-btn-link subtitle bold">Sign in with Google</p>
                    </div>
                </a>
                <a href="{% provider_login_url 'facebook' method="oauth2" %}" style="text-decoration: none;">
                    <div class="google-btn" style="margin-top: 2.5rem;">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/google/google-logo-9808_1_3YDBfzZoyaXR.svg" 
                        alt="Google Icon" style="width: 24px; height: 24px;">
                        <p class="google-btn-link subtitle bold">Sign in with Google</p>
                    </div>
                </a>
            </div>
        </div>
    {% endif %} -->
{% endblock %}

{% block scriptsBody %}
    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script>
        $(".input").on("keyup", function () {    	
            canChangeColor();
        });
        
        function canChangeColor(){          
            var can = true;

            $(".input").each(function(){
                if($(this).val()==''){
                    can = false;
                }
            });
            
            if (can) {
                $('#js-login-btn').toggleClass('disabled', false)
            } else {
                $('#js-login-btn').toggleClass('disabled', true)
            }
        }
    </script>

    <!-- NOTY -->
    <script>
        var errors = $('.form-errors');
        var errorsList = [];
        
        if (errors.length > 0) {
            new Noty({
                type: 'error',
                theme: 'bootstrap-v4',
                text: 'Your email or password is incorrect.',
                layout: "topRight",
                timeout: 3000,
                progressBar: true,
            }).show();
        }
    </script>

    <!-- Mixpanel -->
    <!-- <script>
        document.getElementById("js-login-btn").addEventListener("click", function() {
            console.log("testing button click");
            mixpanel.track("testing login button");
        });
        // set distinct_id after the mixpanel library has loaded
        mixpanel.init('YOUR PROJECT TOKEN', {
            loaded: function(mixpanel) {
                distinct_id = mixpanel.get_distinct_id();
            }
        });
    </script>  -->
{% endblock %}