{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Shop Logo{% endblock %}

{% block stylesheets %}
    <!-- <link rel="stylesheet" href="{% static '/css/merchant-settings/shop-settings.css' %}"> -->
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            {% if not is_edit %}
                <div class="pagination">
                    <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle body-big bold">1</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle pagination__circle--active body-big bold">2</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle  body-big bold">3</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle body-big bold">4</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle body-big bold">5</a>
                </div>
            {% endif %}
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Shop Branding</h1>
            <h2 class="body" style="color: var(--muted-default);">Showcase your brand to customers.</h2>
        </div>

        <form action="" method="post" enctype="multipart/form-data" style="width: 100%;" id="js-shop-logo-form">
            {% csrf_token %}
            <div class="registration-content">
                <p class="subtitle bold">Shop Logo<span class="subtitle" style="color: var(--muted-lighter)"> (Optional)</span></p>
                {% if form.logo.value %}
                    <div class="upload__container success" id="js-logo-upload">
                            <img src="{{ form.logo.value.url }}" alt="User uploaded logo" class="upload__file">
                    </div>
                    <div class="caption upload__text" id="js-logo-browse">
                        <span class="upload__link" style="text-align: center;">Replace image</span>
                    </div>
                {% else %}   
                    <div class="upload__container" id="js-logo-upload">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                        <div class="upload__content">
                            <p class="upload__text" id="js-logo-text">Drag your shop's logo here, </p>
                            <p class="upload__text">or <span class="upload__link" id="js-logo-browse">browse through your files.</span></p>
                        </div>
                    </div>
                    <div class="caption upload__text" style="display: none;" id="js-logo-browse-hidden">
                        <span class="upload__link" style="text-align: center;">Replace image</span>
                    </div>
                {% endif %}
                <div style="display: none; ">{{ form.logo }}</div>
                <div class="caption">
                    <p class="subtitle">Supported file formats: .jpg, .jpeg, .png</p>
                    <p class="subtitle">Suggested size: 800x800 pixels</p>
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Shop Cover Photo<span class="subtitle" style="color: var(--muted-lighter)"> (Optional)</span></p>
                {% if form.thumbnail.value %}
                    <div class="upload__container success" id="js-thumbnail-upload">
                            <img src="{{ form.thumbnail.value.url }}" alt="User uploaded logo" class="upload__file">
                    </div>
                    <div class="caption upload__text" id="js-thumbnail-browse">
                        <span class="upload__link" style="text-align: center;">Replace image</span>
                    </div>
                {% else %}   
                    <div class="upload__container" id="js-thumbnail-upload">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                        <div class="upload__content">
                            <p class="upload__text" id="js-thumbnail-text">Drag your shop's cover photo here, </p>
                            <p class="upload__text">or <span class="upload__link" id="js-thumbnail-browse">browse through your files.</span></p>
                        </div>
                    </div>
                    <div class="caption upload__text" style="display: none;" id="js-thumbnail-browse-hidden">
                        <span class="upload__link" style="text-align: center;">Replace image</span>
                    </div>
                {% endif %}
                <div style="display: none;">{{ form.thumbnail }}</div>
                <div class="caption">
                    <p class="subtitle">Supported file formats: .jpg, .jpeg, .png</p>
                    <p class="subtitle">Suggested size: 1200x500 pixels (landscape)</p>
                </div>
            </div>

            <div class="shop__branding__description">
                <div class="registration-content">
                    <p class="subtitle bold">Description<span class="subtitle" style="color: var(--muted-lighter)"> (Optional)</span></p>
                    {{form.description}}
                </div>
            </div>

            <div id="shop-info">{{ shop.shop_name }}</div>
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn subtitle" id="js-shop-logo-submit">{% if is_edit %}Save{% else %}Next{% endif %}</button>
                <a href="{% if is_edit %}{% url 'accounts:shop' %}{% else %}{% url 'accounts:merchant-add-shop' %}{% endif %}" class="btn__back" style="margin: 0;">
                    <button type="button" class="secondary-btn subtitle" style="width: 100%;">
                        {% if is_edit %}Cancel{% else %}Back{% endif %}
                    </button>
                </a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Mixpanel  -->
    <!-- <script>
        const userId = $("#js-user-uuid").text();
        mixpanel.identify(`QL_merchant_dev_${userId}`);
        const distinctId = mixpanel.get_distinct_id();
        mixpanel.track_forms('#js-shop-logo-form', 'Registered Shop Logo');
    </script> -->

    <!-- Drag and Drop — Shop Logo -->
    <script>
        const logoDropArea = document.getElementById('js-logo-upload');
        const logoFileBrowse = document.getElementById('js-logo-browse');
        const logoFileInput = document.getElementById('id_logo');
        const replaceLogoImageText = document.getElementById('js-logo-browse-hidden');
        let logoFile;

        function FileListItems (files) {
            var b = new ClipboardEvent("").clipboardData || new DataTransfer()
            for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
            return b.files
        }

        logoFileBrowse.addEventListener('click', function() {
            logoFileInput.click();
        });

        logoDropArea.addEventListener('dragover', function(e) {
            e.preventDefault();
            logoDropArea.classList.add("active");
            logoDropArea.style.transform = "translateY(-2.5%)";
        });

        logoDropArea.addEventListener('dragleave', function() {
            logoDropArea.classList.remove("active");
            logoDropArea.style.transform = "translateY(0)";
        });

        logoDropArea.addEventListener('drop', function(e) {
            e.preventDefault();
            logoDropArea.classList.remove("active");
            logoFile = e.dataTransfer.files[0];
            
            let fileType = logoFile.type;
            let validFileTypes = ["image/jpeg", "image/jpg", "image/png"]
            
            if (validFileTypes.includes(fileType)) {
                let fileReader = new FileReader();
                fileReader.onload = function() {
                    let fileURL = fileReader.result;
                    let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                    logoDropArea.innerHTML = imgTag;
                    logoDropArea.classList.remove("active");
                    logoDropArea.classList.add("success");
                    replaceLogoImageText.id = "js-logo-browse";
                    replaceLogoImageText.style.display = "flex";
                    logoFileBrowse = document.getElementById('js-logo-browse');
                }
                fileReader.readAsDataURL(logoFile);
                var files = [logoFile]
                logoFileInput.files = new FileListItems(files);
            } else {
                alert("Supported image file formats are .jpg, .jpeg, .png only.");
            }
        });

        window.onload = function() {
            function displayLogoImage(file) {
                fileURL = (window.URL ? URL : webkitURL).createObjectURL(file)
                let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                logoDropArea.innerHTML = imgTag;
                logoDropArea.classList.remove("active");
                logoDropArea.classList.add("success");
                replaceLogoImageText.id = "js-logo-browse";
                replaceLogoImageText.style.display = "flex";
                replaceLogoImageText.addEventListener('click', function() {
                    logoFileInput.click();
                });
            }

            $("#id_logo").change(function(){
                logoFile = logoFileInput.files[0];
                displayLogoImage(logoFile);
            });
        }
    </script>

    <!-- Drag and Drop — Shop Thumnail -->
    <script>
        const thumbnailDropArea = document.getElementById('js-thumbnail-upload');
        const thumbnailFileBrowse = document.getElementById('js-thumbnail-browse');
        const thumbnailFileInput = document.getElementById('id_thumbnail');
        const replaceThumbnailImageText = document.getElementById('js-thumbnail-browse-hidden');
        let thumbnailFile;

        function FileListItems (files) {
            var b = new ClipboardEvent("").clipboardData || new DataTransfer()
            for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
            return b.files
        }

        thumbnailFileBrowse.addEventListener('click', function() {
            thumbnailFileInput.click();
        });

        thumbnailDropArea.addEventListener('dragover', function(e) {
            e.preventDefault();
            thumbnailDropArea.classList.add("active");
            thumbnailDropArea.style.transform = "translateY(-2.5%)";
        });

        thumbnailDropArea.addEventListener('dragleave', function() {
            thumbnailDropArea.classList.remove("active");
            thumbnailDropArea.style.transform = "translateY(0)";
        });

        thumbnailDropArea.addEventListener('drop', function(e) {
            e.preventDefault();
            thumbnailDropArea.classList.remove("active");
            thumbnailFile = e.dataTransfer.files[0];
            
            let fileType = thumbnailFile.type;
            let validFileTypes = ["image/jpeg", "image/jpg", "image/png"]
            
            if (validFileTypes.includes(fileType)) {
                let fileReader = new FileReader();
                fileReader.onload = function() {
                    let fileURL = fileReader.result;
                    let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                    thumbnailDropArea.innerHTML = imgTag;
                    thumbnailDropArea.classList.remove("active");
                    thumbnailDropArea.classList.add("success");
                    replaceThumbnailImageText.id = "js-logo-browse";
                    replaceThumbnailImageText.style.display = "flex";
                    thumbnailFileBrowse = document.getElementById('js-logo-browse');
                }
                fileReader.readAsDataURL(thumbnailFile);
                var files = [thumbnailFile]
                thumbnailFileInput.files = new FileListItems(files);
            } else {
                alert("Supported image file formats are .jpg, .jpeg, .png only.");
            }
        });

        window.onload = function() {
            function displayThumbnailImage(file) {
                fileURL = (window.URL ? URL : webkitURL).createObjectURL(file)
                let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                thumbnailDropArea.innerHTML = imgTag;
                thumbnailDropArea.classList.remove("active");
                thumbnailDropArea.classList.add("success");
                replaceThumbnailImageText.id = "js-logo-browse";
                replaceThumbnailImageText.style.display = "flex";
                replaceThumbnailImageText.addEventListener('click', function() {
                    thumbnailFileInput.click();
                });
            }

            $("#id_thumbnail").change(function(){
                thumbnailFile = thumbnailFileInput.files[0];
                displayThumbnailImage(thumbnailFile);
            });
        }
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);
        var errorMessages = [];
        
        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        for (i = 0; i <= Object.keys(errorMessages).length; i++) {
            if (errorMessages[String(i)] != undefined) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: errorMessages[String(i)],
                    layout: "topRight",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            } 
            // else if (fileInput.files[0] != undefined) {
            //     new Noty({
            //         type: 'success',
            //         theme: 'sunset',
            //         text: "Image successfully displayed!",
            //         layout: "topRight",
            //         timeout: 2500
            //     }).show();
            // }
        }
    </script>
{% endblock %}