{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Shop Information{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            {% if not is_edit %}
                <div class="pagination">
                    <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle body-big bold">1</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle body-big bold">2</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle  body-big bold">3</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle pagination__circle--active body-big bold">4</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle body-big bold">5</a>
                </div>
            {% endif %}
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Delivery and Courier</h1>
            <h2 class="body" style="color: var(--muted-default);">How can your customers get their product?</h2>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-deliveries-form">
            {% csrf_token %}
            <div class="registration-content deliveries">
                <p class="registration-content__title subtitle bold">Available Delivery Options<span style="color: var(--failure-main)">*</span></p>
                <div class="registration-content__delivery">
                    <p class="subtitle">I book the courier</p>
                    <div class="switch-whole">
                        <label class="switch">
                            {{form.seller_books}}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <!--
                <div class="small-input__container" style="display: none;" id="js-seller-books-input">
                    <h3 style="margin-right: 1rem;">&#8369</h1>
                    {{form.shop_delivery_fees}}
                </div>
                -->
                <div class="registration-content__delivery">
                    <p class="subtitle">Buyer books courier</p>
                    <div class="switch-whole">
                        <label class="switch">
                            {{form.buyer_books}}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="registration-content__delivery">
                    <p class="subtitle">Buyer picks up from location</p>
                    <div class="switch-whole">
                        <label class="switch">
                            {{form.buyer_picks_up}}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="registration-content" id="js-pick-up-point" style="display: none;">
                <p class="registration-content__title subtitle bold">Pick-Up Point</p>
                <div class="delivery__modal__option">
                    <label class="checkbox">
                        {% if use_same_address == True %}
                            <input type="checkbox" name="use_shop_address" id="id_use_shop_address" class="js-date-checkbox" checked>
                        {% else %}
                            <input type="checkbox" name="use_shop_address" id="id_use_shop_address" class="js-date-checkbox">
                        {% endif %}
                        <span class="checkmark checkmark__small"></span>
                    </label>
                    <p class="delivery__modal__option--label subtitle">Same as shop address</p>
                </div>
                <div class="registration-content" style="padding-top: 0rem;" id="js-address-input">
                    {{form.line1}}
                    {{form.line2}}
                    {{form.city}}
                    <div class="registration-content registration-content__row">
                        <div class="registration-content__input--small" style="padding-right: 4px;">
                            {{form.province}}
                            <!-- <select name="city" class="wide input default subtitle" id="id_city" data-cities-url="{% url 'accounts:load-cities' %}">
                                {% for city in cities %}
                                    {% if city.name|title == selected_city %}
                                        <option value="{{ city.name|title }}" selected>{{ city.name|title }}</option>
                                    {% else %}
                                        <option value="{{ city.name|title }}">{{ city.name|title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select> -->
                        </div>
                        <div class="registration-content__input--small" style="padding-left: 4px;">{{form.postal_code}}</div>
                    </div>
                </div>
            </div>

            <div class="registration-content deliveries">
                <p class="registration-content__title subtitle bold">Customer’s Contact Details<span style="color: var(--failure-main)">*</span></p>
                <div class="delivery__modal__option contact__details">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/u_check_Gejfdgc4LZ.png" alt="Addon Included!">
                    <p class="delivery__modal__option--label subtitle regular">Name</p>
                </div>
                <div class="delivery__modal__option contact__details">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/u_check_Gejfdgc4LZ.png" alt="Addon Included!">
                    <p class="delivery__modal__option--label subtitle regular">Email</p>
                </div>

                <div class="delivery__modal__option contact__details">
                    <label class="checkbox">
                        {{ form.mobile_number }}
                        <span class="checkmark checkmark__small"></span>
                    </label>
                    <p class="delivery__modal__option--label subtitle regular">Mobile number</p>
                </div>

                <div class="delivery__modal__option contact__details">
                    <label class="checkbox">
                        {{ form.facebook }}
                        <span class="checkmark checkmark__small"></span>
                    </label>
                    <p class="delivery__modal__option--label subtitle regular">Facebook account</p>
                </div>

                <div class="delivery__modal__option contact__details">
                    <label class="checkbox">
                        {{ form.instagram }}
                        <span class="checkmark checkmark__small"></span>
                    </label>
                    <p class="delivery__modal__option--label subtitle regular">Instagram account</p>
                </div>
            </div>

            <div id="form-errors">{{ form.errors.as_json }}</div>

            <!-- <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0; width: 100%;" class="primary-btn disabled subtitle" id="js-shop-deliveries-submit">Next</button>
                <a href="{% url 'accounts:merchant-add-settings' %}" class="btn__back" style="margin: 0;"><button type="button" class="secondary-btn subtitle" style="width: 100%;">Back</button></a>
            </div> -->

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn subtitle" id="js-shop-logo-submit">{% if is_edit %}Save{% else %}Next{% endif %}</button>
                <a href="{% if is_edit %}{% url 'accounts:shop' %}{% else %}{% url 'accounts:merchant-add-settings' %}{% endif %}" class="btn__back" style="margin: 0;">
                    <button type="button" class="secondary-btn subtitle" style="width: 100%;">
                        {% if is_edit %}Cancel{% else %}Back{% endif %}
                    </button>
                </a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Mixpanel  -->
    <script>
        const userId = $("#js-user-uuid").text();
        mixpanel.identify(`QL_merchant_dev_${userId}`);
        const distinctId = mixpanel.get_distinct_id();
        const submitBtn = $("#js-shop-deliveries-submit");

        submitBtn.click(function() {
            mixpanel.register({
                'Merchant Booking': `${$("#id_seller_books").val()}`,
                'Customer Booking': `${$("#id_buyer_books").val()}`,
                'Customer Pickup': `${$("#id_buyer_picks_up").val()}`,
                'Pickup Address': `${$('#id_city').val()}`
            });
        });

        mixpanel.track_forms('#js-shop-deliveries-form', 'Registered Shop Delivery and Courier Settings', {
            'Merchant Booking': `${$("#id_seller_books").val()}`,
            'Customer Booking': `${$("#id_buyer_books").val()}`,
            'Customer Pickup': `${$("#id_buyer_picks_up").val()}`,
            'Pickup Address': `${$('#id_city').val()}`
        });
    </script>

    <!-- Load Cities -->
    <script>
        $("#id_province").change(function() {
            var url = $("#id_city").attr("data-cities-url");
            var provinceId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'province_pk': provinceId
                },
                success: function(data) {
                    $("#id_city").html(data);
                    $('#id_city').niceSelect('update');
                }
            });
        });
    </script>

    <!-- Switch Toggle -->
    <script>
        const toggleBtns = $('.js-toggle-btns');
        const deliveryFeesInput = $('#js-seller-books-input');
        const pickupInput = $('#js-pick-up-point');
        const addressInput = $('#js-address-input');
        const addressBtn = $("#id_use_shop_address");

        function displayInputs(id) {
            if (id == "id_seller_books") {
                deliveryFeesInput.css("display", "flex");
                deliveryFeesInput.css("margin", "0.5rem 0 0.75rem 0")
            } else {
                pickupInput.css("display", "flex");
            }

            if ($("#id_use_shop_address").is(":checked")) {
                addressInput.css("display", "none");
            } else {
                addressInput.css("display", "flex");
            }
        }

        function removeInputs(id) {
            if (id == "id_seller_books") {
                deliveryFeesInput.css("display", "none");
            } else if (id == "id_use_shop_address") {
                addressInput.css("display", "flex");
            } else {
                if ($("#id_buyer_books").prop('checked') == false && $("#id_buyer_picks_up").prop('checked') == false ) {
                    pickupInput.css("display", "none");
                }
            }
        }

        function enableButton() {
            var minimum = 0;
            var toggled = 0;
            
            toggleBtns.each(function() {
                if ($(this).attr('id') != "id_use_shop_address") {
                    if (this.checked) {
                        toggled += 1;
                    }
                }
            });

            if (toggled > minimum) {
                $("#js-shop-deliveries-submit").removeClass('disabled');
            } else {
                $("#js-shop-deliveries-submit").addClass('disabled');
            }
        }

        for (i = 0; i < toggleBtns.length; i++) {
            toggleBtns.eq(i).click(function(){
                if (this.checked) {
                    displayInputs($(this).attr('id'));
                } else {
                    removeInputs($(this).attr('id'));
                }
                enableButton();
            })
        }

        window.onload = function() {
            toggleBtns.each(function() {
                if ($(this).is(':checked')) {
                    displayInputs($(this).attr('id'));
                } else {
                    removeInputs($(this).attr('id'));
                }
                enableButton();
            })

            addressBtn.click(function() {
                displayInputs($(this).attr('id'));
            })
        }
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}