{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Shop Information{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block cardContent %}
        <div class="registration-header">
            {% if not is_edit %}
                <div class="pagination">
                    <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle body-big bold">1</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle body-big bold">2</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle pagination__circle--active body-big bold">3</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle body-big bold">4</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle body-big bold">5</a>
                </div>
            {% endif %}
            <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">General Shop Settings</h1>
            <h2 class="body" style="color: var(--muted-default);">Let's set some default settings for your shop.</h2>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-settings-form">
            {% csrf_token %}
            <div class="registration-content">
                <p class="subtitle bold">Offset transaction fees to customer?*<span style="color: var(--failure-main)">*</span></p>
                <p class="subtitle">By doing this, the 4% transaction fee will instead be added to your customer’s checkout total instead of subtracting the fee from your revenue. This makes Quicklink 100% free for you as a seller.</p>
                <div class="switch__container">
                    <p class="subtitle bold">No</p>
                    <div class="switch-whole">
                        <label class="switch">
                            {{form.shop_customer_fees}}
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p class="subtitle bold" id="js-active-fees">Yes</p>
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Order Cut-Off<span style="color: var(--failure-main)">*</span></p>
                <div class="radio__select__row">
                    <div class="delivery__modal__option contact__details">
                        <label class="checkbox">
                            {% if form.cutoff_days.value %}
                                <input type="checkbox" name="checkbox-cutoff-days" id="js-cutoff-days" checked>
                            {% else %}
                                <input type="checkbox" name="checkbox-cutoff-days" id="js-cutoff-days">
                            {% endif %}
                            <span class="checkmark checkmark__small"></span>
                        </label>
                    </div>
                    <div class="smallest-input__container" style="padding-right: 0;">
                        {{ form.cutoff_days }}
                    </div>
                    <p class="subtitle" style="padding-left: 1rem;">day(s) before chosen delivery date</p>
                </div>
                <div class="radio__select__row">
                    <div class="delivery__modal__option contact__details">
                        <label class="checkbox">
                            {% if form.cutoff_time.value %}
                                <input type="checkbox" name="checkbox-cutoff-time" id="js-cutoff-time" checked>
                            {% else %}
                                <input type="checkbox" name="checkbox-cutoff-time" id="js-cutoff-time">
                            {% endif %}
                            <span class="checkmark checkmark__small"></span>
                        </label>
                    </div>
                    <div class="smallest-input__container" style="padding-right: 0;"> 
                        {{ form.cutoff_time }} 
                    </div>
                    <p class="subtitle" style="padding-left: 1rem;">everyday</p>
                    </label> 
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Shop Delivery Schedule<span style="color: var(--failure-main)">*</span></p>
                <div class="input default delivery__input js-toggle-delivery-input">
                    <p id="js-delivery-input" class="subtitle regular" style="color: var(--muted-lighter);">Choose delivery days</p>
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_chevron-down_H9oiI7CW7d.png" onerror="this.style.display='none'" class="js-toggle-delivery-input">
                </div>
                <div class="delivery__modal--background" id="js-delivery-modal-bg">
                    <div class="delivery__modal" id="js-delivery-modal">
                        <div class="delivery__modal__btns">
                            <button type="button" class="tertiary-btn delivery__modal__btn subtitle" id="js-select-all-days">Select All</button>
                            <p class="subtitle" style="color: var(--muted-lighter);">|</p>
                            <button type="button" class="tertiary-btn delivery__modal__btn delivery__modal__btn__clear subtitle" id="js-clear-all-days">Clear All</button>
                        </div>
                        <div class="delivery__modal__options">
                            {% for pk, day in form.delivery_days.field.widget.choices %}
                                <div class="delivery__modal__option">
                                    <label class="checkbox" data-value="{{ pk }}">
                                        {% if day in selected_dates %}
                                            <input type="checkbox" name="delivery_days" value="{{ pk }}" id="id_delivery_days_{{ forloop.counter0 }}" class="js-date-checkbox" checked>
                                        {% else %}
                                            <input type="checkbox" name="delivery_days" value="{{ pk }}" id="id_delivery_days_{{ forloop.counter0 }}" class="js-date-checkbox">
                                        {% endif %}
                                        <span class="checkmark"></span>
                                    </label>
                                    <p class="delivery__modal__option--label subtitle bold">{{ day }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="delivery__modal__save">
                            <button type="button" class="primary-btn subtitle bold" id="js-save-delivery-modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Delivery Hours<span style="color: var(--failure-main)">*</span></p>
                <div class="radio__select__row">
                    <div class="smallest-input__container" style="padding-left: 0;">
                        {{ form.from_hour }} 
                    </div>
                    <p class="subtitle" style="color: var(--muted-lighter);">until</p>
                    <div class="smallest-input__container" style="padding-right: 0;">
                        {{ form.to_hour }}
                    </div>
                </div>
                <div class="input__helper__row hide" id="id_24_hour" style="padding-bottom: 1rem;">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/fi_check-circle_sJKLfV2pe.png" 
                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                    >
                    <p class="input__helper caption success">24-hour Delivery</p>
                </div>
            </div>

            <div id="form-errors">{{ form.errors.as_json }}</div>

            <!-- <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0; width: 100%;" class="primary-btn subtitle" id="js-shop-settings-submit">Next</button>
                <a href="{% url 'accounts:merchant-add-logo' %}" class="btn__back" style="margin: 0;"><button type="button" class="secondary-btn subtitle" style="width: 100%;">Back</button></a>
            </div> -->

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn subtitle" id="js-shop-logo-submit">{% if is_edit %}Save{% else %}Next{% endif %}</button>
                <a href="{% if is_edit %}{% url 'accounts:shop' %}{% else %}{% url 'accounts:merchant-add-logo' %}{% endif %}" class="btn__back" style="margin: 0;">
                    <button type="button" class="secondary-btn subtitle" style="width: 100%;">
                        {% if is_edit %}Cancel{% else %}Back{% endif %}
                    </button>
                </a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Mixpanel  -->
    <script>
        const submitBtn = $("#js-shop-settings-submit");

        submitBtn.click(function() {
            mixpanel.register({
                'Customer Offset': `${$("#id_shop_customer_fees").val()}`,
                'Order Cutoff Days': `${$("#id_cutoff_days").val()}`,
                'Order Cutoff Time': `${$("#id_cutoff_time").val()}`,
                'Delivery Days': `${$('#js-delivery-input').text()}`,
                'Delivery Hours': `${$("#id_from_hour").text() - $("#id_to_hour").text()}`,
            });
        });

        mixpanel.track_forms('#js-shop-settings-form', 'Registered Shop Settings', {
            'Customer Offset': `${$("#id_shop_customer_fees").val()}`,
            'Order Cutoff Days': `${$("#id_cutoff_days").val()}`,
            'Order Cutoff Time': `${$("#id_cutoff_time").val()}`,
            'Delivery Days': `${$('#js-delivery-input').text()}`,
            'Delivery Hours': `${$("#id_from_hour").text() - $("#id_to_hour").text()}`,
        });
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_cutoff_time').prop('disabled', true).niceSelect();
            $('#id_from_hour').niceSelect();
            $('#id_to_hour').niceSelect();

            if ($('#js-cutoff-days').is(':checked')) { 
                cutoffDaysInput.classList.remove('disabled');
            } 
            
            if ($('#js-cutoff-time').is(':checked')) {
                $('#id_cutoff_time').prop('disabled', false).niceSelect('update');
            }
        });
    </script>

    <!-- Update Time -->
    <script>
        $("#id_from_hour").change(function() {
            var url = '/load_times/'
            var hour = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'hour': hour
                },
                success: function(data) {
                    $("#id_to_hour").html(data);
                    $('#id_to_hour').niceSelect('update');
                }
            });
        });
    </script>

    <!-- Display 24-hour Check -->
    <script>
        var fromHour = $("#id_from_hour");
        var toHour = $("#id_to_hour");
        var twentyFourHour = $("#id_24_hour");

        function toggle24Hour() {
            if (fromHour.val() == toHour.val()) {
                twentyFourHour.removeClass("hide");
            } else {
                twentyFourHour.addClass("hide");
            }
        }

        fromHour.change(function() {
            toggle24Hour();
        })

        toHour.change(function() {
            toggle24Hour();
        })
    </script>

    <script>
        function toggleDeliveryFees(el) {
            if (el.is(":checked")) {
                $("#js-active-fees").addClass("active");
            } else {
                $("#js-active-fees").removeClass("active");
            }
        }

    
        $(function() {
            const shopDeliveryFeesToggle = $("#id_shop_customer_fees");
            toggleDeliveryFees(shopDeliveryFeesToggle);
            
            shopDeliveryFeesToggle.click(function() {
                toggleDeliveryFees($(this));
            });
        });
    </script>

    <script>
        const cutoffDaysInput = document.getElementById("id_cutoff_days");
        const cutoffTimeInput = document.getElementById("id_cutoff_time");

        if ($('#js-cutoff-days').is(':checked')) { 
            cutoffDaysInput.classList.remove('disabled');
        }

        $('#js-cutoff-days').click(function() {
            if ($('#js-cutoff-days').is(':checked')) { 
                cutoffDaysInput.disabled = false;
                cutoffDaysInput.classList.remove('disabled');
            } else {
                cutoffDaysInput.disabled = true;
                cutoffDaysInput.classList.add('disabled');
            }
        });

        $('#js-cutoff-time').click(function() {
            if ($('#js-cutoff-time').is(':checked')) {
                $('#id_cutoff_time').prop('disabled', false).niceSelect('update');
            } else {
                $('#id_cutoff_time').prop('disabled', true).niceSelect('update');
            }
        });
    </script>
    
    <!-- Available Schedule Deliveries -->
    <script>
        const deliveryInput = $('#js-delivery-input');
        var listOfDays = [];

        function addDays(i) {
            if (i == 1) {
                listOfDays.push('Monday');
            } else if (i == 2) {
                listOfDays.push('Tuesday');
            } else if (i == 3) {
                listOfDays.push('Wednesday');
            } else if (i == 4) {
                listOfDays.push('Thursday');
            } else if (i == 5) {
                listOfDays.push('Friday');
            } else if (i == 6) {
                listOfDays.push('Saturday')
            } else if (i == 7) {
                listOfDays.push('Sunday');
            }
        }

        function removeDays(i) {
            if (i == 1) {
                listOfDays = listOfDays.filter(e => e !== 'Monday');
            } else if (i == 2) {
                listOfDays = listOfDays.filter(e => e !== 'Tuesday');
            } else if (i == 3) {
                listOfDays = listOfDays.filter(e => e !== 'Wednesday');
            } else if (i == 4) {
                listOfDays = listOfDays.filter(e => e !== 'Thursday');
            } else if (i == 5) {
                listOfDays = listOfDays.filter(e => e !== 'Friday');
            } else if (i == 6) {
                listOfDays = listOfDays.filter(e => e !== 'Saturday');
            } else if (i == 7) {
                listOfDays = listOfDays.filter(e => e !== 'Sunday');
            }
        }

        var weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
        var weekends = ['Saturday', 'Sunday']

        $('.js-date-checkbox:checkbox:checked').each(function () {
            if (this.checked) {
                addDays(parseInt($(this).val()));
                editInput();    
            } else {
                removeDays(parseInt($(this).val()));
                editInput();
            }
        });

        function checkShortcut(days, check) {
            for (var i = 0; i < days.length; i++) {
                if ($.inArray(days[i], check) == -1) { return false; }
            }
            return true;
        }

        function editInput() {
            if (listOfDays.length == 7) {
                deliveryInput.html('Everyday');
                deliveryInput.css('color', 'var(--muted-dark)');
            } else if (listOfDays.length <= 6 && listOfDays.length >= 3) {
                newDays = $.map(listOfDays, function(day) {
                    return day.slice(0,3);
                });
                if (listOfDays.length == 5 && checkShortcut(listOfDays, weekdays) == true) {
                    deliveryInput.html('Weekdays only');
                } else {
                    deliveryInput.html(newDays.join(', '));
                }
                deliveryInput.css('color', 'var(--muted-dark)')
            } else if (listOfDays.length < 3 && listOfDays.length > 0) {
                if (listOfDays.length == 2 && checkShortcut(listOfDays, weekends) == true) {
                    deliveryInput.html('Weekends only');
                } else {
                    deliveryInput.html(listOfDays.join(', '));
                }
                deliveryInput.css('color', 'var(--muted-dark)');
            } else {
                deliveryInput.html('Choose delivery days');
                deliveryInput.css('color', 'var(--muted-lighter)')
            }
        }

        // Buttons
        var selectAllBtn = $("#js-select-all-days");
        var clearAllBtn = $("#js-clear-all-days");

        selectAllBtn.click(function() {
            // Reset selected
            $(".js-date-checkbox").each(function() {
                $(this).prop("checked", false);
                removeDays(parseInt($(this).val()));
            });
            // Add all days
            $(".js-date-checkbox").each(function() {
                $(this).prop("checked", true);
                addDays(parseInt($(this).val()));
            });
            editInput();
            $("#js-save-btn").removeClass('disabled');
        })

        clearAllBtn.click(function() {
            // Reset selected
            $(".js-date-checkbox").each(function() {
                $(this).prop("checked", false);
                removeDays(parseInt($(this).val()));
            });
            editInput();
            $("#js-save-btn").addClass('disabled');
        })

        window.onload = function() {
            // Delivery Modal
            var toggleDeliveryInputBtns = document.getElementsByClassName('js-toggle-delivery-input');
            var deliveryModalBg = document.getElementById('js-delivery-modal-bg');
            var deliveryModal = document.getElementById('js-delivery-modal');
            var saveDeliveryModal = document.getElementById('js-save-delivery-modal');

            var checkInputs = $('input[type="checkbox"]');

            for (x = 0; x < toggleDeliveryInputBtns.length; x++) {
                toggleDeliveryInputBtns[x].addEventListener('click', function() {
                    deliveryModalBg.style.display = 'flex';
                    deliveryModal.classList.toggle('delivery__modal--appear');
                });
            };

            for (y = 0; y < checkInputs.length; y++) {
                checkInputs.eq(y).change(function() {
                    if (this.checked) {
                        addDays(parseInt($(this).val()));
                        editInput();    
                    } else {
                        removeDays(parseInt($(this).val()));
                        editInput();
                    }
                });
            }

            checkInputs.eq(0).change(function() {
                if (this.checked) {
                    document.getElementById('js-switch-text').style.color = "var(--success-alt)"
                } else {
                    document.getElementById('js-switch-text').style.color = "var(--muted-light)"
                }
            })

            deliveryModalBg.addEventListener('click', function(e) {
                if (! deliveryModal.contains(e.target)) {
                    exitModal();
                }
            });

            saveDeliveryModal.addEventListener('click', function(e) {
                exitModal();
            });

            function exitModal() {
                deliveryModalBg.style.display = 'none';
                deliveryModal.classList.toggle('delivery__modal--appear');
            }
        }
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}