{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Bank Account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/account-creation/bank.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            {% if not is_edit %}
                <div class="pagination">
                    <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle body-big bold">1</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle body-big bold">2</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle  body-big bold">3</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle body-big bold">4</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle pagination__circle--active body-big bold">5</a>
                </div>
            {% endif %}
            <h1 class="bold" style="color: var(--primary-main); padding: 0.5rem 0; ">Where do you want to receive your money?</h1>
            <h2 class="body" style="color: var(--muted-default);">This won’t affect the payment options provided for your customers. This is simply where you want us to deposit your revenue to. You can always change this in your settings.</h2>
        </div>
        
        <form method="post" style="width: 100%;">
            {% csrf_token %}
            <div class="registration-content">
                <div class="checkout__form__row checkout__form__row--no_padding" style="justify-content: space-between;">
                    <p class="subtitle bold">Bank Name<span style="color: var(--failure-main)">*</span></p>
                    <div class="card__number__icons">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" alt="BPI" class="bank__logo" id="js-bpi-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bdo_D48ADAAqT.png" alt="BDO" class="bank__logo" id="js-bdo-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" alt="UBP" class="bank__logo" id="js-ubp-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-gcash_HI5XUVA4P.png" alt="GCash" class="bank__logo" id="js-gcash-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-paymaya_mxGtQ1SQi.png" alt="PayMaya" class="bank__logo" id="js-paymaya-logo">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-grabpay_5_71knhjb.png" alt="GrabPay" class="bank__logo" id="js-grabpay-logo">
                    </div>
                </div>
                {{ form.bank_name }}
                {{ form.cardholder_name }}
                {{ form.account_number }}
            </div>

            <div id="shop-info">{{ shop.shop_name }}</div>
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <!-- <div class="registration-content" style="margin-top: 0.5rem;">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn disabled subtitle" id="js-shop-account-submit">Save Details</button>
                <a href="{% url 'accounts:merchant-add-delivery' %}" class="btn__back" style="margin: 0;"><button type="button" class="secondary-btn subtitle" style="width: 100%;">Back</button></a>
            </div> -->

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 0.5rem 0; width: 100%;" class="primary-btn subtitle" id="js-shop-logo-submit">{% if is_edit %}Save{% else %}Next{% endif %}</button>
                <a href="{% if is_edit %}{% url 'accounts:shop' %}{% else %}{% url 'accounts:merchant-add-delivery' %}{% endif %}" class="btn__back" style="margin: 0;">
                    <button type="button" class="secondary-btn subtitle" style="width: 100%;">
                        {% if is_edit %}Cancel{% else %}Back{% endif %}
                    </button>
                </a>
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Mixpanel  -->
    <script>
        const userId = $("#js-user-uuid").text();
        mixpanel.identify(`QL_merchant_dev_${userId}`);
        const distinctId = mixpanel.get_distinct_id();
        
        const submitBtn = $("#js-shop-account-submit");

        submitBtn.click(function() {
            mixpanel.register({
                'Bank Name': `${$("#id_bank_name").text()}`,
                'Account Number': `${$("#id_account_number").val()}`,
                'Account Name': `${$("#id_cardholder_name").val()}`,
            });
        });

        mixpanel.track_forms('#js-shop-deliveries-form', 'Registered Shop Delivery and Courier Settings', {
            'Bank Name': `${$("#id_bank_name").text()}`,
            'Account Number': `${$("#id_account_number").val()}`,
            'Account Name': `${$("#id_cardholder_name").val()}`,
        });
    </script>

    <script>
        var bankNameInput = $('#id_bank_name');
        var allIcons = $('.bank__logo');
        var bpiIcon = $("#js-bpi-logo");
        var bdoIcon = $("#js-bdo-logo");
        var ubpIcon = $("#js-ubp-logo");
        var gcashIcon = $("#js-gcash-logo");
        var paymayaIcon = $("#js-paymaya-logo");
        var grabpayIcon = $("#js-grabpay-logo");

        function hideIcons() {
            allIcons.each(function() {
                $(this).hide();
            })
        }
        hideIcons();

        // Use new JavaScript variable for iMask
        var accountNumberInput = document.getElementById('id_account_number');
        function changeMask() {
            if (bankNameInput.val() == 'BA_BPI') {
                maskOptions = {
                    mask: '0000 000 000'
                };
            } else if (bankNameInput.val() == 'BA_BDO') {
                maskOptions = {
                    mask: '0000 0000 0000'
                };
            } else if (bankNameInput.val() == 'BA_UBP') {
                maskOptions = {
                    mask: '0000 0000 0000 0000'
                };
            } else {
                maskOptions = {
                    mask: '(+63) 000 000 0000'
                };
            }
        }

        function changeIcon(el) {
            if (el.val() == 'BA_BPI' || el.val() == 'BA_BDO' || el.val() == 'BA_UBP') {
                if (el.val() == 'BA_BPI') {
                    bpiIcon.show();
                } else if (el.val() == 'BA_BDO') {
                    bdoIcon.show();
                } else {
                    ubpIcon.show();
                }
            } else {
                if (el.val() == 'PH_GCASH') {
                    gcashIcon.show();
                } else if (el.val() == 'PH_PAYMAYA') {
                    paymayaIcon.show();
                } else {
                    grabpayIcon.show();
                }
            }
        }
    
        $(function() {
            changeIcon(bankNameInput);
            var mask = null; var cleave = null;
            bankNameInput.change(function() {
                hideIcons();
                changeMask();
                if (mask != null || mask != undefined) { mask.updateOptions(maskOptions); } 
                else { mask = IMask(accountNumberInput, maskOptions); }
                changeIcon($(this));            
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        function enableButton() {
            if (!$("#id_bank_name").val() && !$("#id_account_number").val() && !$("#id_cardholder_name").val()) {
                $("#js-shop-account-submit").addClass('disabled');
            } else {
                $("#js-shop-account-submit").removeClass('disabled');
            }
        }

        $(document).ready(function() {
            $('#id_bank_name').niceSelect();
            
            enableButton();

            $(":input").each(function() {
                $(this).change(enableButton);
                $(this).keypress(enableButton);
            });

            if ($("#id_bank_name").val() !== "") { 
                $(".js-display-inputs").each(function(){ $(this).show() });
            } else { 
                $(".js-display-inputs").each(function(){ $(this).hide() });
            }

            $("#id_bank_name").change(function(){
                if ($(this).val() !== "") {
                    $(".js-display-inputs").each(function(){ $(this).show() });
                } else {
                    $(".js-display-inputs").each(function(){ $(this).hide() });
                }
            });
        });
    </script>
{% endblock %}