{% extends 'quicklink/signups.html' %}
{% load static %}

{% block pagetitle %}Merchant Shop Information{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <!-- IntlTelInput Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
    <style>
        .iti {
            margin: 0.5rem 0;
        }

        .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags.png");}

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags@2x.png");}
        }
    </style>
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block cardContent %}    
        <div class="registration-header">
            {% if not is_edit %}
                <div class="pagination">
                    <a href="{% url 'accounts:merchant-add-shop' %}" class="pagination__circle pagination__circle--active body-big bold">1</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-logo' %}" class="pagination__circle body-big bold">2</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-settings' %}" class="pagination__circle  body-big bold">3</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-delivery' %}" class="pagination__circle body-big bold">4</a>
                        <div class="pagination__line"></div>
                    <a href="{% url 'accounts:merchant-add-payment' %}" class="pagination__circle body-big bold">5</a>
                </div>
            {% endif %}
            <h1 class="bold" style="color: var(--primary-main);">Shop Information</h1>
            <h2 class="body" style="color: var(--muted-default); padding: 0.25rem 0;">Help us get to know your shop better.</h2>
            <p class="caption regular" style="color: var(--muted-lighter);">Note: Your shop information will be publicly visible.</p>
        </div>
        
        <form action="" method="post" style="width: 100%;" id="js-shop-form" autocomplete="off">
            {% csrf_token %}
            <div class="registration-content">
                <p class="subtitle bold">Shop Name<span style="color: var(--failure-main)">*</span></p>
                {{form.shop_name}}
            </div>
            
            <div class="registration-content">
                <p class="subtitle bold">Shop Quicklink Username<span style="color: var(--failure-main)">*</span></p>
                {{form.shop_username}}
                <div class="input__helper__row">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                    >
                    <p class="input__helper caption">This will be used for your order form link (quicklink.ph/username).</p>
                </div>
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Contact Number<span class="subtitle" style="color: var(--muted-lighter)"> (Optional)</span></p>
                {{form.shop_contact_number}}
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Email Address<span class="subtitle" style="color: var(--muted-lighter)"> (Optional)</span></p>
                {{form.shop_email}}
                <!-- <div class="input__helper__row">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                    >
                    <p class="input__helper caption">Your customers will contact you through this email address.</p>
                </div> -->
            </div>
            

            <div class="registration-content">
                <p class="subtitle bold">Shop Address<span class="subtitle" style="color: var(--muted-lighter)"> (Optional)</span></p>
                {{form.line1}}
                {{form.line2}}
                {{form.city}}
                <div class="registration-content registration-content__row">
                    <div class="registration-content__input--small" style="padding-right: 4px;">
                        {{form.province}}
                        <!-- <select name="city" class="wide input default subtitle" id="id_city" data-cities-url="{% url 'accounts:load-cities' %}">
                            {% for city in cities %}
                                {% if city.name|title == selected_city %}
                                    <option value="{{ city.name|title }}" selected>{{ city.name|title }}</option>
                                {% else %}
                                    <option value="{{ city.name|title }}">{{ city.name|title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select> -->
                    </div>
                    <div class="registration-content__input--small" style="padding-left: 4px;">{{form.postal_code}}</div>
                </div>
            </div>

            <!-- <div class="registration-content">
                <p class="subtitle bold">Social Media Links</p>
                {{form.instagram}}
                {{form.facebook}}
                {{form.twitter}}
            </div> -->

            <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
            <div id="form-errors">{{ form.errors.as_json }}</div>

            <div class="registration-content">
                <button type="submit" name="next" style="margin: 1rem 0; width: 100%;" class="primary-btn subtitle" id="js-shop-info-submit">{% if is_edit %}Save{% else %}Next{% endif %}</button>
                {% if is_edit %}
                    <a href="{% url 'accounts:shop' %}" class="btn__back" style="margin: 0;">
                        <button type="button" class="secondary-btn subtitle" style="width: 100%;">
                            {% if is_edit %}Cancel{% else %}Back{% endif %}
                        </button>
                    </a>
                {% endif %}
            </div>
        </form>
{% endblock %}

{% block scriptsBody %}
    <!-- Mixpanel  -->
    <script>
        const userId = $("#js-user-uuid").text();
        mixpanel.identify(`QL_merchant_dev_${userId}`);
        const distinctId = mixpanel.get_distinct_id();
        
        const submitBtn = $("#js-shop-info-submit");

        submitBtn.click(function() {
            mixpanel.register({
                'Shop Name': `${$("#id_shop_name").val()}`,
                'Contact Number': `${$("#id_shop_contact_number").val()}`,
                'Display Email': `${$("#id_shop_email").val()}`,
                'Username': `${$("#id_shop_username").val()}`,
                'Address': `${$("#id_city").val()}`,
                'Instagram': `${$("#id_instagram").val()}`,
                'Facebook': `${$("#id_facebook").val()}`,
                'Twitter': `${$("#id_twitter").val()}`
            });
        });

        mixpanel.track_forms('#js-shop-form', 'Registered Shop Information', {
            'Shop Name': `${$("#id_shop_name").val()}`,
            'Contact Number': `${$("#id_shop_contact_number").val()}`,
            'Display Email': `${$("#id_shop_email").val()}`,
            'Username': `${$("#id_shop_username").val()}`,
            'Address': `${$("#id_city").val()}`,
            'Instagram': `${$("#id_instagram").val()}`,
            'Facebook': `${$("#id_facebook").val()}`,
            'Twitter': `${$("#id_twitter").val()}`
        });
    </script>

    <!-- Load Cities -->
    <script>
        $("#id_province").change(function() {
            var url = $("#id_city").attr("data-cities-url");
            var provinceId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'province_pk': provinceId
                },
                success: function(data) {
                    $("#id_city").html(data);
                    $('#id_city').niceSelect('update');
                }
            });
        });
    </script>

    <!-- iMask Lightweight JS Plugin -->
    <script>
        var contactNumberInput = document.getElementById('id_shop_contact_number');
        var maskOptions = {
            mask: '000 000 0000'
        };
        var mask = IMask(contactNumberInput, maskOptions);
    </script>

    <!-- intlTelInput Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js" integrity="sha512-lib7WdJvAnfLLBi5AHdN+wUkcWwpu1fmYzyEHQijZq7WedcwBiwdVNbcML2rAtKvwtOIU7thMGB+O9Kpb9g2Cw==" crossorigin="anonymous"></script>
    <script>
        var contactNumberInput = document.querySelector("#id_shop_contact_number");

        // To edit the style of intlTelInput, edit .iti {}
        // Check the documentation for more info: https://github.com/jackocnr/intl-tel-input

        var iti = intlTelInput(contactNumberInput, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
            initialCountry: "PH",
            separateDialCode: true,
        })
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        for (i = 0; i <= Object.keys(errorMessages).length; i++) {
            if (errorMessages[String(i)] != undefined) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: errorMessages[String(i)],
                    layout: "topRight",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        }
    </script>
{% endblock %}