{% load static %}
{% load avatar_tags %}
{% load imagekit %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:image" content="https://ik.imagekit.io/ripzjge77zz/seo_thumbnail_BmcTNm2a1Gp.png" />
    <meta property="og:image:width" content="1920px" />
    <meta property="og:image:height" content="1080px" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="app.quicklink.ph" />
    <meta property="og:title" content="Quicklink for Merchants" />
    <meta property="og:description" content="Quicklink is an automated all-in-one business management ecosystem that propels existing and aspiring businesses to higher sales and engagement through streamlined processes and access to a growing network of consumers, sellers, distributors, and suppliers." />
    <meta property="fb:app_id" content="236521208190021" />
    
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-512x512_g_nMg1VCJ.png">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-192x192_Io5IoNt0A.png">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/apple-touch-icon_WpOo8gXq2.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon-32x32_8B-f6izFN.png">
    <!-- Basic Favicon -->
    <link rel="shortcut icon" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon_6ppp-kdsa.ico">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <!-- Noty Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
    <!-- Mixpanel -->
    <script type="text/javascript">
        (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
        
        // MixPanel Body Script
        mixpanel.init('e0e2d9b15ebe818f9228bbc066b71d8b', {
            batch_requests: true,
            loaded: function(mixpanel) {
                try {
                    const userId = $("#js-user-uuid").text()
                    mixpanel.identify(`QL_merchant_dev_${userId}`);
                } catch (error) {
                    const distinctId = mixpanel.get_distinct_id();
                    const shopName = mixpanel.get_property('Shop Name');
                }
            }
        });
    </script>

    <script src="{% static '/js/datetime.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body onload="realtimeClock()">
    {% if request.user.is_anonymous == True %}
        <div class="header-container">
            <div class="header-wrapper">
                <div class="datetime caption bold" id="datetime"></div>
            </div>
        </div>
    {% else %}
        <div class="header-container">
            <div class="header-wrapper">
                <div class="datetime" id="datetime"></div>
                {% if request.user|has_avatar %}
                    {% avatar request.user 24 class="img-circle img-responsive" id="js-user-avatar" %}
                {% elif request.user.shop_info.shop_logo.logo %}
                    <div class="profile__pic__container" id="js-user-avatar">
                        <div class="profile__pic">
                            {% generateimage 'account:small_avatar' source=request.user.shop_info.shop_logo.logo -- alt="Shop Logo" class="profile__pic__img" %}
                        </div>
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_chevron-down_H9oiI7CW7d.png" 
                        alt="Chevron Down" class="profile__pic__chevron" id="js-header-chevron">
                    </div>
                {% else %}
                    <div class="profile__pic__container" id="js-user-avatar">
                        <div class="profile__pic profile__pic--backup caption bold">{{ request.user.get_initials }}</div>
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_chevron-down_H9oiI7CW7d.png" 
                        alt="Chevron Down" class="profile__pic__chevron" id="js-header-chevron">
                    </div>
                {% endif %}
                <div class="profile__pic--settings" id="js-profile-modal">
                    <a href="{% url 'accounts:account-settings' %}" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold">My Account</div>
                    </a>
                    <a href="{% url 'accounts:logout' %}" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold logout">Logout</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <main>
        {% include 'quicklink/navbar.html' %}
        <div id="spinner" class="loading__container">
            <div class="loading__wrapper">
                <img class="loading__gif" src="{% static 'loading.gif' %}" alt="Loading Screen">
            </div>
        </div>
        <div id="data" style="display:none;">
            {% block maincontent %}
            {% endblock %}
        </div>
        <div class="passing__info js-user-uuid">{{ request.user.id }}</div>
    </main>

    {% if request.user.role == 'ADMIN' %}
        <div class="app__footer">
            <p class="app__footer__text subtitle">Welcome to the <span class="subtitle bold" style="color: var(--muted-white);">{{ SETTING_TYPE }}</span> environment, {{ request.user.email }}.</p>
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS or message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="passing__info successes">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="passing__info errors">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>
        var user = "{{ request.user }}"

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
            
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <!-- Pendo Script -->
    <script>
        (function(apiKey){
            (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
            v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
                o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
                y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
                z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
    
                // Call this whenever information about your visitors becomes available
                // Please use Strings, Numbers, or Bools for value types.
                pendo.initialize({
                    visitor: {
                        id:              'VISITOR-UNIQUE-ID'   // Required if user is logged in
                        // email:        // Recommended if using Pendo Feedback, or NPS Email
                        // full_name:    // Recommended if using Pendo Feedback
                        // role:         // Optional
    
                        // You can add any additional visitor level key-values here,
                        // as long as it's not one of the above reserved names.
                    },
    
                    account: {
                        id:           'ACCOUNT-UNIQUE-ID' // Highly recommended
                        // name:         // Optional
                        // is_paying:    // Recommended if using Pendo Feedback
                        // monthly_value:// Recommended if using Pendo Feedback
                        // planLevel:    // Optional
                        // planPrice:    // Optional
                        // creationDate: // Optional
    
                        // You can add any additional account level key-values here,
                        // as long as it's not one of the above reserved names.
                    }
                });
        })('06b13c8c-5db7-43a8-6d55-404af49bfde6');
    </script>

    <script>
        const userAvatar = $('#js-user-avatar');
        const headerChevron = document.getElementById('js-header-chevron');
        const profilePicModal = document.getElementById('js-profile-modal');

        userAvatar.click(function(e) {
            e.preventDefault();
            e.stopPropagation();
            profilePicModal.classList.toggle('active');
            headerChevron.classList.toggle('active');
        });
    </script>

    <script>
        var footer = $("#js-app-footer")
        footer.hover(function() {
            $(this).css("opacity", 0);
        }, function() {
            $(this).css("opacity", 1);
        });
    </script>
    
    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script>
        var successes = $(".successes");
        var errors = $(".errors");

        successes.each(function() {
            var successMsg = $(this).text()
            if (successMsg != "" && successMsg != undefined && successMsg != null) {
                new Noty({
                    type: 'success',
                    theme: 'sunset',
                    text: successMsg,
                    layout: "bottomLeft",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        })

        errors.each(function() {
            var errorMsg = $(this).text()
            if (errorMsg != "" && errorMsg != undefined && errorMsg != null) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: errorMsg,
                    layout: "bottomLeft",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        });
    </script>


    <!-- Loading -->
    <script>
        const spinner = $("#spinner");
        const data = $("#data");
        window.addEventListener('load', function () {
            spinner.css("display", "none");
            data.css("display", "block");
        })
    </script>

    {% block scriptsBody %}{% endblock %}
</body>
</html>