{% load static %}
{% load hosts %}
{% load user_agents %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block thumbnail %}{% endblock %}
    <!-- <meta property="og:image" content="https://ik.imagekit.io/ripzjge77zz/seo_thumbnail_BmcTNm2a1Gp.png" />
    <meta property="og:image:width" content="1920px" />
    <meta property="og:image:height" content="1080px" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="shops.quicklink.ph" />
    <meta property="og:title" content="Quicklink for Merchants" />
    <meta property="og:description" content="Quicklink is an automated all-in-one business management ecosystem that propels existing and aspiring businesses to higher sales and engagement through streamlined processes and access to a growing network of consumers, sellers, distributors, and suppliers." />
    <meta property="fb:app_id" content="236521208190021" /> -->
    
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-512x512_g_nMg1VCJ.png">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-192x192_Io5IoNt0A.png">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/apple-touch-icon_WpOo8gXq2.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon-32x32_8B-f6izFN.png">
    <!-- Basic Favicon -->
    <link rel="shortcut icon" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon_6ppp-kdsa.ico">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/shops/cart.css' %}">
    <link rel="stylesheet" href="{% static '/css/marketplace/header.css' %}">
    
    {% block stylesheets %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
    {% block scriptsHead %} {% endblock %}

    <script type="text/javascript">
        var user = "{{ request.user }}"

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
            
         function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		function uuidv4() {
		  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
		    return v.toString(16);
		  });
		}

		let device = getCookie('device')

		if (device == null || device == undefined){
			device = uuidv4()
		}

		document.cookie ='device=' + device + ";domain=;path=/"
    </script>
</head>
<body>
    {% include 'marketplace/navbar.html' %}
    {% include 'marketplace/mobile-nav.html' with shop=shop address=address %}
    {% include 'shops/cart.html' %}
    <main class="shops__container">
        {% block maincontent %}
        {% endblock %}
    </main>

    <script type="text/javascript" src="{% static 'js/orders/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/orders/cart.js' %}"></script>
    {% block scriptsBody %} {% endblock %}
</body>
</html>