{% extends 'quicklink/app.html' %}
{% load static %}
{% load humanize %}
{% load growth_rate %}

{% block pagetitle %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block maincontent %}
<div class="dashboard__container">
    <div class="dashboard__wrapper">
        <div class="dashboard__header__wrapper">
            <div class="dashboard__header__content">
                <h1 class="body-big extra-bold">Hey there!</h1>
            </div>
        </div>
    </div>
    {% if not products %}
        <div class="dashboard__no-products">
            <div class="dashboard__no-products__card">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/illustrations/placeholder-2x_eZhpLuaqx.png" alt="" class="dashboard__no-products__img">
                <h2 class="dashboard__no-products__text bold">Oh! You haven’t added any product for sale yet!</h2>
                <a href="{% url 'products:add-product' %}">
                    <button class="primary-btn subtitle bold">
                        Add Product
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/add_product_icon_YYLwT5YiFK1.png" alt="" class="primary-btn-icon">
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="dashboard__wrapper">
        <div class="dashboard__cards">
            <div class="dashboard__card">
                <div class="dashboard__card__content">
                    <h3 class="dashboard__card__content__title bold">Total Revenue</h3>
                    <p class="dashboard__card__content__total header bold">PHP {{ total_revenues|intcomma }}</p>
                    <div class="dashboard__card__content__row">
                        <img src="
                            {% if revenue_growth_rate > 0 %}
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/increase_chevron_IbclpV7P3w.png
                            {% elif revenue_growth_rate == 0 %}
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/default_chevron_VV-7T5jHJEm.png
                            {% else %}
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/decrease_chevron_quvqEwaqZ.png
                            {% endif %}" 
                        alt="">
                        <p class="subtitle dashboard__rate {% if revenue_growth_rate > 0 %}positive{% elif revenue_growth_rate < 0 %}negative{% endif %}">{{ revenue_growth_rate|growth_rate }}<span class="subtitle">since last month</span></p>
                    </div>
                </div>
                <div class="dashboard__card__summary">
                    <a href="{% url 'finances:revenues' %}" class="dashboard__card__content__row">
                        <button class="tertiary-btn subtitle bold">View full summary</button>
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/tertiary_icon-enabled-hover-pressed_6lPUe6B7S36.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="dashboard__card">
                <div class="dashboard__card__content">
                    <h3 class="dashboard__card__content__title bold">Orders</h3>
                    <p class="dashboard__card__content__total header bold">{% if orders %}{{ orders.count }}{% else %}0{% endif %}</p>
                    <div class="dashboard__card__content__row">
                        <img src="
                            {% if order_growth_rate > 0 %}
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/increase_chevron_IbclpV7P3w.png
                            {% elif order_growth_rate == 0 %}
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/default_chevron_VV-7T5jHJEm.png
                            {% else %}
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/decrease_chevron_quvqEwaqZ.png
                            {% endif %}" 
                        alt="">
                        <p class="subtitle dashboard__rate {% if order_growth_rate > 0 %}positive{% elif order_growth_rate < 0 %}negative{% endif %}">{{ order_growth_rate|growth_rate }}<span class="subtitle">since last month</span></p>
                    </div>
                </div>
                <div class="dashboard__card__summary">
                    <a href="{% url 'orders:order-summary' %}" class="dashboard__card__content__row">
                        <button class="tertiary-btn subtitle bold">View all orders</button>
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/tertiary_icon-enabled-hover-pressed_6lPUe6B7S36.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="dashboard__card" style="opacity: 0;">
                <div class="dashboard__card__content">
                    <h3 class="dashboard__card__content__title bold">Order Form Clicks</h3>
                    <p class="dashboard__card__content__total disabled header bold">0</p>
                    <div class="dashboard__card__content__row">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Dashboard/default_chevron_VV-7T5jHJEm.png" alt="">
                        <p class="subtitle">Coming Soon</p>
                    </div>
                </div>
                <div class="dashboard__card__summary">
                    <div class="dashboard__card__content__row">
                        <button class="tertiary-btn disabled subtitle bold"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard__cards">
            <div class="dashboard__card whole">
                <div class="dashboard__card__content">
                    <div class="dashboard__card__title">
                        <h3 class="dashboard__card__content__title bold">Pending Items</h3>
                        <div class="dashboard__card__filter">
                            <button type="button" class="primary-btn subtitle bold js_buttons" id="id_today" data-items-url="{% url 'accounts:load-items' %}">Today</button>
                            <button type="button" class="tertiary-btn subtitle bold js_buttons" id="id_tomorrow">Tomorrow</button>
                            <button type="button" class="tertiary-btn subtitle bold js_buttons" id="id_this_week">This Week</button>
                        </div>
                    </div>
                </div>
                <div class="dashboard__card__items" id="id_pending_items">
                    {% if pending_items %}
                        {% for item, value in pending_items.items %}
                            <div class="dashboard__card__item">
                                <p class="regular dashboard__card__item__name">{{ item }}</p>
                                <p class="extra-bold dashboard__card__item__quantity">{{ value }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="dashboard__card__no__items">
                            <p class="subheader bold" style="color: var(--primary-alt);">No pending items for today!</p>
                        </div>
                    {% endif %}
                </div>
                <div class="dashboard__card__summary pending__items">
                    <a href="{% url 'orders:pending-orders' %}" class="dashboard__card__content__row">
                        <button class="tertiary-btn subtitle bold">View all pending orders</button>
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/tertiary_icon-enabled-hover-pressed_6lPUe6B7S36.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsBody %}
    <!-- Mixpanel -->
    <script>
        mixpanel.track('Dashboard Visited', {'Shop Name': `${shopName}`});
    </script>

    <!-- Pending Items -->
    <script>
        var today = $("#id_today");
        var tomorrow = $("#id_tomorrow");
        var thisWeek = $("#id_this_week");
        var pendingItems = $("#id_pending_items");
        var allBtns = $(".js_buttons");

        // JavaScript function to AJAX call into load_items url and get items data.
        function loadItems(days) {
            var url = today.attr("data-items-url");
            $.ajax({
                url: url,
                data: {
                    'days': days
                },
                success: function(data) {
                    pendingItems.html(data);
                },
                error: function(err) {
                    console.log(err)
                }
            });
        }

        function changeBtns(button) {
            allBtns.each(function() {
                $(this).removeClass("primary-btn");
                $(this).addClass("tertiary-btn");
            })

            button.removeClass("tertiary-btn");
            button.addClass("primary-btn");
        }

        // Click on tomorrow, load into function with timedelta 0 day/s
        $(today.click(function() {
            loadItems(0);
            changeBtns($(this));
        }));
        
        // Click on tomorrow, load into function with timedelta 1 day/s
        $(tomorrow.click(function() {
            loadItems(1);
            changeBtns($(this));
        }));

        // Click on tomorrow, load into function with timedelta 1 day/s
        $(thisWeek.click(function() {
            loadItems(7);
            changeBtns($(this));
        }));
    </script>
{% endblock %}