{% load static %}
{% load imagekit %}
{% load hosts %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-512x512_g_nMg1VCJ.png">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-192x192_Io5IoNt0A.png">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/apple-touch-icon_WpOo8gXq2.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon-32x32_8B-f6izFN.png">
    <!-- Basic Favicon -->
    <link rel="shortcut icon" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon_6ppp-kdsa.ico">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/error.css' %}">
    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="error__container">
            <div class="error__wrapper">
                {% block errorContent %}{% endblock %}
            </div>
            {% block outsideErrorContent %}{% endblock %}
        </div>
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>