{% load static %}
{% load imagekit %}
{% load hosts %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quicklink Marketplace</title>
    <link rel="shortcut icon" type='image/x-icon' href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon_6ppp-kdsa.ico"/>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/marketplace/landing.css' %}">
    <link rel="stylesheet" href="{% static '/css/marketplace/header.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var user = "{{ request.user }}"

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
            
         function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		function uuidv4() {
		  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
		    return v.toString(16);
		  });
		}

		let device = getCookie('device')

		if (device == null || device == undefined){
			device = uuidv4()
		}

		document.cookie ='device=' + device + ";domain=;path=/"
    </script>
</head>
<body class="marketplace__body">
    <div class="marketplace__headers">
        {% include "marketplace/header.html" %}
        {% include "marketplace/navbar.html" with landing=True %}
    </div>
    
    <main>
        <section class="marketplace__landing">
            <div class="marketplace__landing__content">
                <h1 class="marketplace__landing__content__header extra-bold">Delicious local food, <br>just a few clicks away.</h1>
                <!-- https://www.w3schools.com/howto/howto_js_filter_dropdown.asp -->
                <input type="text" name="searchbar" id="js-marketplace-search-filter" class="searchbar marketplace__searchbar body" placeholder="Search">
                <div class="searchbar-content" id="js-marketplace-search-selection">
                    {% for shop in shops %}
                        <a href="{% host_url 'view-products' username=shop.shop_username host 'shops' %}" class="marketplace__searchbar__option subtitle bold">{{ shop.shop_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="marketplace__landing__redirect">
                <p class="subtitle bold">See our beloved merchants</p>
                <a href="#id_merchants"><img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/chevrons-down_oPtXtxmBook.png" class="marketplace__landing__redirect__arrow"></a>
            </div>
        </section>

        <section class="marketplace__merchants" id="id_merchants">
            <div class="marketplace__merchants__content">
                {% for shop in shops %}
                    {% include "marketplace/card.html" with username=shop.shop_username thumbnail=shop.shop_branding.thumbnail logo=shop.shop_logo.logo name=shop.shop_name address=shop.user.user_address.all.0 %}
                {% endfor %}
            </div>
        </section>
    </main>

    {% include "marketplace/footer.html" %}

    <script>
        function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("js-marketplace-search-filter");
            filter = input.value.toUpperCase();
            div = document.getElementById("js-marketplace-search-selection");
            a = div.getElementsByTagName("a");
            if (input.value.length === 0) {
                console.log(input.value.length);
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    a[i].classList.remove("active");
                }
            } else {
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].classList.add("active");
                    } else {
                        a[i].classList.remove("active");
                    }
                }
            }
        }

        $("#js-marketplace-search-filter").keyup(function() {
            filterFunction();
        });
    </script>
    <script type="text/javascript" src="{% static 'js/orders/header.js' %}"></script>
</body>
</html>