{% load static %}
{% load active_link_tags %}
    
<nav class="sidebar">
    <div class="sidebar__ql-logo">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png" 
            alt="Quicklink Logo" 
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-4x_WteqAOm6dc7.png 4x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-3x_tQQd4iCYJB.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-2x_tMFeicZb8.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png 1x,"
        >
    </div>
    <div class="sidebar__menu">
        <ul class="sidebar__items">
            <!-- 1st nav button -->
            <a href="{% url 'accounts:dashboard' %}" class="nav__link body bold {% active_link 'accounts:dashboard' strict=True %}">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-dashboard-icon_xuNVZx7vkS.svg" 
                alt="Dashboard Icon" id="navbar__icons">
                Dashboard
            </a>
            <!-- 2nd nav button and sub bar -->
            <div class="nav__link body bold" id="js-feat-btn">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-shop-icon_Xxd8mPFmt-b.svg"
                alt="Shop Icon" id="navbar__icons">
                Shop
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-chevron-right_hCqRvYLHA.svg" class="nav__chevron rotate" id="js-first-nav-link">
            </div>
            <ul class="sidebar__items-subitems show" id="js-feat-show">
                <a href="{% url 'accounts:shop' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'accounts:shop' strict=True %}" id="sidebar__subitem-custom">My Shop</a>
                <a href="{% url 'orders:order-summary' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'orders:order-summary' strict=True %}" id="sidebar__subitem-custom">All Orders</a>
                <a href="{% url 'orders:pending-orders' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'orders:pending-orders' strict=True %}" id="sidebar__subitem-custom">Pending Items</a>
                <a href="{% url 'products:products' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'products:products' strict=True %}" id="sidebar__subitem-custom">Products</a>
            </ul>
            <!--3rd nav button and sub bar -->
            <div class="nav__link body bold" id="js-serv-btn">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-finances-icon_naPJo2Dej.svg"
                alt="Shop Icon" id="navbar__icons">
                Finances
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-chevron-right_hCqRvYLHA.svg" class="nav__chevron rotate" id="js-second-nav-link">
            </div>
            <ul class="sidebar__items-subitems show" id="js-serv-show">
                <a href="{% url 'finances:revenues' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'finances:revenues' strict=True %}" id="sidebar__subitem-custom">Total Revenue</a>
            </ul>
            <!-- 4th nav button and sub bar -->
            <div class="nav__link body bold" id="js-cldk-btn">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-settings-icon_WJexo4RiDrW.svg"
                alt="Shop Icon" id="navbar__icons">
                Settings
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Navbar/white-chevron-right_hCqRvYLHA.svg" class="nav__chevron rotate" id="js-third-nav-link">
            </div>
            <ul class="sidebar__items-subitems show" id="js-cldk-show">
                <a href="{% url 'accounts:account-settings' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'accounts:account-settings' strict=True %}" id="sidebar__subitem-custom">Account</a>
                <!-- <a href="{% url 'accounts:notification-settings' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'accounts:notification-settings' strict=True %}" id="sidebar__subitem-custom">Notifications</a>
                <a href="{% url 'accounts:resource-settings-faqs' %}" class="sidebar_sub-item subtitle semi-bold {% active_link 'accounts:resource-settings-faqs' %}" id="sidebar__subitem-custom">Resources</a> -->
            </ul>
        </ul>
    </div>
</nav>
  
<nav class="mobile__nav">
    <div class="mobile__nav__items">
        
    </div>
</nav>

<script>
    $('#js-feat-btn').click(function(){
        $('#js-feat-show').toggleClass("show");
        $('#js-first-nav-link').toggleClass("rotate");
    });
    
    $('#js-serv-btn').click(function(){
        $('#js-serv-show').toggleClass("show");
        $('#js-second-nav-link').toggleClass("rotate");
    });
    $('#js-cldk-btn').click(function(){
        $('#js-cldk-show').toggleClass("show");
        $('#js-third-nav-link').toggleClass("rotate");
    });
</script>