{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %} {% endblock %}</title>
    <link rel="shortcut icon" type='image/x-icon' href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon_iOOj3UFMV6c.ico"/>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/marketplace/header.css' %}">
    
    {% block stylesheets %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
    {% block scriptsHead %} {% endblock %}
</head>
<body>
    {% include 'marketplace/navbar.html' %}

    <main class="profile__container">
        <div class="profile__wrapper">
            {% block maincontent %}
            {% endblock %}
        </div>
    </main>

    <script type="text/javascript" src="{% static 'js/orders/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/orders/cart.js' %}"></script>
    {% block scriptsBody %} {% endblock %}
</body>
</html>