{% load static %}
{% load imagekit %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:image" content="https://ik.imagekit.io/ripzjge77zz/seo_thumbnail_BmcTNm2a1Gp.png" />
    <meta property="og:image:width" content="1920px" />
    <meta property="og:image:height" content="1080px" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="app.quicklink.ph" />
    <meta property="og:title" content="Quicklink for Merchants" />
    <meta property="og:description" content="Quicklink is an automated all-in-one business management ecosystem that propels existing and aspiring businesses to higher sales and engagement through streamlined processes and access to a growing network of consumers, sellers, distributors, and suppliers." />
    <meta property="fb:app_id" content="236521208190021" />
    
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <title>Edit Product: {{ form.name.value }}</title>
    
    <!-- third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-512x512_g_nMg1VCJ.png">
    <!-- iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/android-chrome-192x192_Io5IoNt0A.png">
    <!-- first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/apple-touch-icon_WpOo8gXq2.png">
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon-32x32_8B-f6izFN.png">
    <!-- Basic Favicon -->
    <link rel="shortcut icon" href="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/favicon/favicon_6ppp-kdsa.ico">
    
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/css/products/product-form.css' %}">

    <!-- FONT AWESOME KIT -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- JQUERY < 3.0.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- SLICK SLIDER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
</head>
<body>
    <form id="product-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="header-container product-header-container">
            <div class="header-wrapper product-header-wrapper">
                <h1 class="body bold" id="js-product-header">{{ product.name|title }}</h1>
                <div class="product-header-btns">
                    <a href="{% url 'products:products' %}" style="text-decoration: none; margin-right: 8px;">
                        <button type="button" class="secondary-btn subtitle bold">
                            Cancel
                       </button>
                    </a>
                    <button type="button" id="js-preview-product-btn" class="primary-btn disabled subtitle bold">Preview Product</button>
                </div>
            </div>
        </div>

        <main>
            <div class="product-form-container">
                <div class="product-form-wrapper">            
                    <h2 class="bold" style="color: var(--secondary-alt);">Edit Product</h2>
                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Name</p><span style="color: var(--failure-main);">*</span>
                        </div>
                        {{ form.name }}
                    </div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Description</p>
                        </div>
                        {{ form.description }}
                    </div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Product Images</p><span style="color: var(--failure-main);">*</span>
                        </div>
                        <p class="subtitle" style="color: var(--muted-lighter); margin-bottom: 1rem;">Upload up to three (3) product images!</p>
                        {{ imageFormset.management_form }}

                        {% for i in max_images %}
                            {% if i == 0 %}
                                {% if images.0 %}
                                    {% with image=images.0 %}
                                        <div class="product__image__content" id="js-product-img-{{ forloop.counter0 }}">
                                            <div class="upload__container success" id="js-img-upload-{{ forloop.counter0 }}">
                                                <img src="{{ image.image.url }}" class="upload__file" alt="Product">
                                            </div>
                                            <div class="caption upload__text" style="padding: 0.5rem 0; display: flex;" id="js-browse-files-hidden-{{ forloop.counter0 }}">
                                                <span class="upload__link" id="js-update-image-{{ forloop.counter0 }}">Replace Image</span>
                                                <span style="color: var(--primary-main); padding: 0 0.25rem;"> | </span>
                                                <span class="upload__link" id="js-delete-image-{{ forloop.counter0 }}">Delete Image</span>
                                            </div>
                                            {% if not images.1 %}
                                                <span class="upload__link subtitle bold" style="margin: 0.5rem;" id="js-add-image-{{ forloop.counter0 }}">Add another image</span>
                                            {% endif %}
                                        </div>
                                    {% endwith %}
                                {% else %}
                                    <div class="product__image__content" style="display: flex;" id="js-product-img-{{ forloop.counter0 }}">
                                        <div class="upload__container" id="js-img-upload-{{ forloop.counter0 }}">
                                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                                            <div class="upload__content">
                                                <p class="upload__text" id="js-img-text">Drag your product image here, </p>
                                                <p class="upload__text">or <span class="upload__link" id="js-browse-files-{{ forloop.counter0 }}">browse through your files.</span></p>
                                            </div>
                                        </div>
                                        <div class="caption upload__text" style="width: 100%; justify-content: center; padding: 0.5rem 0; display: none;" id="js-browse-files-hidden-{{ forloop.counter0 }}">
                                            <span class="upload__link" id="js-update-image-{{ forloop.counter0 }}">Replace Image</span>
                                            <span style="color: var(--primary-main); padding: 0 0.25rem;"> | </span>
                                            <span class="upload__link" id="js-delete-image-{{ forloop.counter0 }}">Delete Image</span>
                                        </div>
                                        <span class="upload__link subtitle bold" style="margin: 0.5rem;" id="js-add-image-{{ forloop.counter0 }}">Add another image</span>
                                    </div>
                                {% endif %}
                            {% elif i == 1 %}
                                {% if images.1 %}
                                    {% with image=images.1 %}
                                        <div class="product__image__content" id="js-product-img-{{ forloop.counter0 }}">
                                            <div class="upload__container success" id="js-img-upload-{{ forloop.counter0 }}">
                                                <img src="{{ image.image.url }}" class="upload__file" alt="Product">
                                            </div>
                                            <div class="caption upload__text" style="padding: 0.5rem 0; display: flex;" id="js-browse-files-hidden-{{ forloop.counter0 }}">
                                                <span class="upload__link" id="js-update-image-{{ forloop.counter0 }}">Replace Image</span>
                                                <span style="color: var(--primary-main); padding: 0 0.25rem;"> | </span>
                                                <span class="upload__link" id="js-delete-image-{{ forloop.counter0 }}">Delete Image</span>
                                            </div>
                                            {% if not images.2 %}
                                                <span class="upload__link subtitle bold" style="margin: 0.5rem;" id="js-add-image-{{ forloop.counter0 }}">Add another image</span>
                                            {% endif %}
                                        </div>
                                    {% endwith %}
                                {% else %}
                                    <div class="product__image__content" style="display: none;" id="js-product-img-{{ forloop.counter0 }}">
                                        <div class="upload__container" id="js-img-upload-{{ forloop.counter0 }}">
                                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                                            <div class="upload__content">
                                                <p class="upload__text" id="js-img-text">Drag your product image here, </p>
                                                <p class="upload__text">or <span class="upload__link" id="js-browse-files-{{ forloop.counter0 }}">browse through your files.</span></p>
                                            </div>
                                        </div>
                                        <div class="caption upload__text" style="width: 100%; justify-content: center; padding: 0.5rem 0; display: none;" id="js-browse-files-hidden-{{ forloop.counter0 }}">
                                            <span class="upload__link" id="js-update-image-{{ forloop.counter0 }}">Replace Image</span>
                                            <span style="color: var(--primary-main); padding: 0 0.25rem;"> | </span>
                                            <span class="upload__link" id="js-delete-image-{{ forloop.counter0 }}">Delete Image</span>
                                        </div>
                                        <span class="upload__link subtitle bold" style="margin: 0.5rem;" id="js-add-image-{{ forloop.counter0 }}">Add another image</span>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if images.2 %}
                                    {% with image=images.2 %}
                                        <div class="product__image__content" id="js-product-img-{{ forloop.counter0 }}">
                                            <div class="upload__container success" id="js-img-upload-{{ forloop.counter0 }}">
                                                <img src="{{ image.image.url }}" class="upload__file" alt="Product">
                                            </div>
                                            <div class="caption upload__text" style="padding: 0.5rem 0; display: flex;" id="js-browse-files-hidden-{{ forloop.counter0 }}">
                                                <span class="upload__link" id="js-update-image-{{ forloop.counter0 }}">Replace Image</span>
                                                <span style="color: var(--primary-main); padding: 0 0.25rem;"> | </span>
                                                <span class="upload__link" id="js-delete-image-{{ forloop.counter0 }}">Delete Image</span>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% else %}
                                    <div class="product__image__content" style="display: none;" id="js-product-img-{{ forloop.counter0 }}">
                                        <div class="upload__container" id="js-img-upload-{{ forloop.counter0 }}">
                                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                                            <div class="upload__content">
                                                <p class="upload__text" id="js-img-text">Drag your product image here, </p>
                                                <p class="upload__text">or <span class="upload__link" id="js-browse-files-{{ forloop.counter0 }}">browse through your files.</span></p>
                                            </div>
                                        </div>
                                        <div class="caption upload__text" style="width: 100%; justify-content: center; padding: 0.5rem 0; display: none;" id="js-browse-files-hidden-{{ forloop.counter0 }}">
                                            <span class="upload__link" id="js-update-image-{{ forloop.counter0 }}">Replace Image</span>
                                            <span style="color: var(--primary-main); padding: 0 0.25rem;"> | </span>
                                            <span class="upload__link" id="js-delete-image-{{ forloop.counter0 }}">Delete Image</span>
                                        </div>
                                    </div>
                                {% endif %} 
                            {% endif %}
                        {% endfor %}
                        <div class="product__image__content" style="margin-top: 0.5rem;">
                            <p class="subtitle" style="color: var(--muted-lighter);">Supported file formats: .jpg, .jpeg, .png</p>
                            <p class="subtitle" style="color: var(--muted-lighter);">Suggested size: less than 20mb</p>
                        </div>
                    </div>
                    <div style="display: none;">{{ imageFormset.as_p }}</div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Available Sizes or Servings</p><span style="color: var(--failure-main);">*</span>
                        </div>
                        <p class="subtitle" style="color: var(--muted-lighter);">You can add a maximum of ten (10) sizes or servings.</p>
                        {{ sizeFormset.management_form }}

                        <!-- The form-TOTAL_FORMS input contains the value of the total number of forms being submitted. If it doesn't match the actual number of forms Django receives when the forms are submitted, an error will be raised. -->
                        <input type="hidden" name="sizeForm-TOTAL_FORMS" value="{{ sizeFormset.fields|length}}" id="sizeForm-TOTAL_SIZES">
                        <input type="hidden" name="sizeForm-MIN_NUM_FORMS" value="1" id="sizeForm-MIN_NUM_SIZES">
                        <input type="hidden" name="sizeForm-MAX_NUM_FORMS" value="10" id="sizeForm-MAX_NUM_SIZES">
                        
                        {% for size in sizeFormset %}
                        {{ size.id }}    
                        <div class="product-form-formset size-formset">
                            <div class="small-input__container" style="padding-left: 0;">
                                {{ size.size }}
                            </div>
                            <div class="small-input__container" style="padding-right: 0;">
                                <div class="prefix-input">
                                    <div class="prefix-input-text">
                                        <p class="body">&#8369;</p>
                                    </div>
                                    {{ size.price_size }}
                                </div>
                            </div>
                            <i class="fa fa-times-thin fa-lg del__icon delete-size-form" aria-hidden="true" name="id_size-set-{{ forloop.counter0 }}-remove" id="id_size-set-{{ forloop.counter0 }}-remove"></i>
                        </div>
                        {% endfor %}
                        <button type="button" id="add-size" class="tertiary-btn btn__add-option bold">Add Option</button>
                    </div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Stocks</p><span style="color: var(--failure-main);">*</span>
                        </div>
                        <div class="product-form-stocks">
                            <div class="radio-select-row">
                                <label class="radio-mobile">
                                    {{ form.made_to_order }}
                                    <span class="radio-select-mobile"></span>
                                </label>
                                <label for="made-to-order" class="radio-label subtitle">Made to Order</label>
                            </div>
                            <div class="radio-select-row">
                                <label class="radio-mobile">
                                    {% if not product.is_made_to_order %}
                                        <input type="radio" name="stocks-input-select" id="stocks-input-select" checked>
                                    {% else %}
                                        <input type="radio" name="stocks-input-select" id="stocks-input-select">
                                    {% endif %}
                                    <span class="radio-select-mobile"></span>
                                </label>
                                <label for="stocks-input-select">
                                    {{ form.stock }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Maximum Orders Taken / Day</p><span style="color: var(--failure-main);">*</span>
                        </div>
                        <div class="product-form-stocks">
                            <div class="radio-select-row">
                                <label class="radio-mobile">
                                    {{ form.no_order_limit }} 
                                    <span class="radio-select-mobile"></span>
                                </label>
                                <label for="no-order-limits" class="radio-label subtitle">No Limit</label>
                            </div>
                            <div class="radio-select-row">
                                <label class="radio-mobile">
                                    {% if not product.has_no_order_limit %}
                                        <input type="radio" name="orders-input-select" id="orders-input-select" checked >
                                    {% else %}
                                        <input type="radio" name="orders-input-select" id="orders-input-select">
                                    {% endif %}
                                    <span class="radio-select-mobile"></span>
                                </label>
                                <label for="orders-input-select">
                                    {{ form.orders }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Possible Add-Ons</p>
                        </div>
                        <p class="subtitle" style="color: var(--muted-lighter);">You can leave this blank if you don’t have any add-ons.</p>
                        {{ addonFormset.management_form }}

                        <!-- The form-TOTAL_FORMS input contains the value of the total number of forms being submitted. If it doesn't match the actual number of forms Django receives when the forms are submitted, an error will be raised. -->
                        <input type="hidden" name="addonForm-TOTAL_FORMS" value="{{ addonFormset.fields|length }}" id="addonForm-TOTAL_SIZES">
                        <input type="hidden" name="addonForm-MIN_NUM_FORMS" value="1" id="addonForm-MIN_NUM_SIZES">
                        <input type="hidden" name="addonForm-MAX_NUM_FORMS" value="5" id="addonForm-MAX_NUM_SIZES">

                        {% for addon in addonFormset %}
                        {{ addon.id }}
                        <div class="product-form-formset addon-formset">
                            <div class="small-input__container" style="padding-left: 0;">
                                {{ addon.addon }}
                            </div>
                            <div class="small-input__container" style="padding-right: 0;">
                                <div class="prefix-input">
                                    <div class="prefix-input-text">
                                        <p class="body">&#8369;</p>
                                    </div>
                                    {{ addon.price_addon }}
                                </div>
                            </div>
                            <i class="fa fa-times-thin fa-lg del__icon delete-addon-form" aria-hidden="true" name="id_addon-set-{{ forloop.counter0 }}-remove" id="id_addon-set-{{ forloop.counter0 }}-remove"></i>
                        </div>
                        {% endfor %}
                        <button type="button" id="add-addon" class="tertiary-btn btn__add-option bold">Add Option</button>
                    </div>

                    <div class="product-form-content">
                        <div class="product-form-label">
                            <p class="subtitle bold">Any special instructions?</p>
                        </div>
                        {{ form.instructions }}
                    </div>

                    <div id="form-errors" style="display: none;">{{ form.errors.as_json }}</div>
                    
                </div>
            </div>

            <div class="modal__container" id="js-preview-product-modal">
                <div class="modal__card__wrapper">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/Group_84_ec2u-W6uioV.svg" 
                    alt="Exit Modal" class="modal__card__exit__icon js-exit-modal">
                    <div class="modal__card__slider" id="js-image-slider">
                        {% for image in images %}
                            <!-- <img src="{{ image.image.url }}" class="modal__card__slider__image"> -->
                            {% generateimage 'products:carousel' source=image.image -- class="modal__card__slider__image" %}
                        {% endfor %}
                    </div>
                    <div class="modal__card__content">
                        <div class="modal__card__content__product">
                            <p class="subtitle" style="color: var(--muted-light);">Note: The images uploaded will be optimized and will appear correctly once the product is saved.</p>
                        </div>
                        <div class="modal__card__content__product" style="padding: 0;">
                            <h2 class="bold" style="padding-bottom: 0.5rem;" id="js-product-name"></h2>
                            <p class="subtitle" id="js-product-description"></p>
                            <p class="subtitle" style="padding: 1rem 0; color: var(--secondary-alt);" id="js-product-stocks"></p>
                            <p class="subtitle" style="padding-bottom: 1rem; color: var(--muted-lighter);" id="js-product-instructions" style="display: none;"></p>
                        </div>
                        <div class="modal__card__content__product">
                            <p class="bold">Size</p>
                            <div class="modal__card__content__product choices" id="js-product-sizes"></div>
                        </div>
                        <div class="modal__card__content__product" style="display: none;" id="js-toggle-product-addons">
                            <p class="bold">Add-Ons</p>
                            <div class="modal__card__content__product choices" id="js-product-addons"></div>
                        </div>
                        <div class="modal__card__content__product" style="margin-bottom: 1rem;">
                            <p class="bold">Special Instructions</p>
                            <div class="input default large-input"><p class="subtitle" style="color: var(--muted-lighter);">Leave us a note! (Optional)</p></div>
                        </div>
                    </div>
                    <div class="modal__card__footer">
                        <button type="button" class="secondary-btn subtitle bold js-exit-modal" style="margin-right: 1rem;">Back to Editing</button>
                        <button type="submit" class="primary-btn subtitle bold">Save Product</button>
                    </div>
                </div>
            </div>
        </main>
    </form>

    <!-- SLICK IMAGE SLIDER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>

    <!-- iMask -- Product and Addon Prices -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
    <script>        
        const maskOptions = {
            lazy: false, // make placeholder always visible
            mask: 'num',
            blocks: {
                num: {
                    mask: Number,  // enable number mask
                    from: 1, // minimum value
                    to: 10000, // maximum value
                    scale: 2,  // digits after point, 0 for integers
                    signed: false,  // disallow negative
                    thousandsSeparator: '',  // any single char
                    padFractionalZeros: true,  // if true, then pads zeros at end to the length of scale
                    normalizeZeros: true,  // appends or removes zeros at ends
                    radix: '.',  // fractional delimiter
                    mapToRadix: ['.'],  // symbols to process as radi
                    // additional number interval options (e.g.)
                    min: 0,
                    max: 10000,
                }
            }
        };

        function maskSizeInputs() {
            var sizeInputs = document.getElementsByClassName("js-size-price-input")
            for (var i = 0; i < sizeInputs.length; i++) {
                mask = IMask(sizeInputs[i], maskOptions);
            }
        }

        function maskAddonInputs() {
            var addonInputs = document.getElementsByClassName("js-addon-price-input")
            console.log(addonInputs)
            for (var i = 0; i < addonInputs.length; i++) {
                mask = IMask(addonInputs[i], maskOptions);
            }
        }

        maskSizeInputs();

        var firstAddon = $("#id_product_addons-0-addon")
        firstAddon.keyup(function() {
            if (!firstAddon.val()) {
                maskAddonInputs();
            }
        })
    </script>

    <script src="{% static '/js/products/images.js' %}"></script>
    <script src="{% static '/js/products/addproducts.js' %}"></script>

    <script>
        $("#js-update-image-0").click(function(){ fileInput0.click(); })
        $("#js-update-image-1").click(function(){ fileInput1.click(); })
        $("#js-update-image-2").click(function(){ fileInput2.click(); })
    </script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        for (i = 0; i <= Object.keys(errorMessages).length; i++) {
            if (errorMessages[String(i)] != undefined) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: errorMessages[String(i)],
                    layout: "topRight",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        }
    </script>
</body>
</html>