{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}Products{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/products/products.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block maincontent %}
    <div class="products__container">
        <div class="products__header">
            <div class="products__header__wrapper">
                <div class="products__searchbar">
                    <form action="{% url 'products:products' %}">
                        <input class="searchbar body regular" type="search" placeholder="Search" name="search" value="{{ search_query }}">
                    </form>
                </div>
                <div class="products__header__btns">
                    <button type="button" class="secondary-btn subtitle bold"
                        id="js-copy-form-link-btn" data-clipboard-text="{{ form_link }}">
                        Copy Form Link
                    </button>

                    <a href="{% url 'products:add-product' %}" style="text-decoration: none;">
                        <button class="primary-btn subtitle bold" id="js-add-product-btn">
                            Add Product
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/add_product_icon_YYLwT5YiFK1.png" alt="Add">
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="products__list">
            <div class="products__wrapper">
                <table class="products__table" id="js-products-table">
                    <thead>
                        <tr class="products__table__header hide" id="js-select-products">
                            <th class="product__table__cell" colspan="11">
                                <div class="products__table__btns">
                                    <button type="button" class="selected__products__container" id="js-deselect-all-btn">
                                        <label class="checkbox">
                                            <input type="checkbox" onclick="return false;" checked />
                                            <span class="checkmark checkmark__small"></span>
                                        </label>
                                        <p class="subtitle bold" id="js-selected-input" style="margin-left: 0.5rem;"></p>
                                    </button>
                                    <button type="button" class="secondary-btn subtitle bold set-as-inactive__btn" id="js-set-as-inactive-btn">Set as inactive</button>
                                    <button type="button" class="secondary-btn warning subtitle bold js-open-delete-modal" id="js-open-delete-modal-selected">Delete</button>
                                </div>
                            </th>
                        </tr>
                        <tr class="products__table__header" id="js-normal-table-header">
                            <th class="product__table__cell" colspan="1">
                                <label class="checkbox">
                                    <input type="checkbox" name="select_all" id="js-select-all">
                                    <span class="checkmark checkmark__small"></span>
                                </label>
                            </th>
                            <th class="product__table__cell" colspan="2">
                                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                    <p class="overline bold">Product</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-1" alt="Sort">
                                </div>
                            </th>
                            <th class="product__table__cell overline bold" colspan="2">Stocks</th>
                            <th class="product__table__cell overline bold" colspan="2">Total Sold</th>
                            <th class="product__table__cell overline bold" colspan="2">Available</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                {% if not products %}
                </table>
                    <div class="table__placeholder__container">
                        <div class="table__placeholder__wrapper">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x1_ZsaHRDfd8WK.png" alt="No Products" class="table__placeholder__img"
                            srcset="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x1_ZsaHRDfd8WK.png 1x,
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x2_v7gXAno1s.png 2x,
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x3_pO3ORt4Hj.png 3x,
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x4_nzmXICckR.png 4x">
                            <div class="table__placeholder__guide">
                                <h2 class="table__placeholder__guide__header bold">Oh! You haven’t added any product for sale yet!</h2>
                                <a href="{% url 'products:add-product' %}" style="text-decoration: none;">
                                    <button class="primary-btn subtitle bold">Add Product
                                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/add_product_icon_YYLwT5YiFK1.png" alt="Add">
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tbody>
                        {% for product in products %}
                            <tr class="products__table__row">
                                <td class="product__table__cell" colspan="1">
                                    <label class="checkbox">
                                        <input type="checkbox" id="id_select_{{ forloop.counter0 }}"  class="js-select-btn" name="select" data-product="{{ product.name }}" value="{{ product.id }}">
                                        <span class="checkmark checkmark__small"></span>
                                    </label>
                                </td>
                                <td class="product__table__cell subtitle bold" colspan="2">{{ product.name }}</td>
                                <td class="product__table__cell subtitle" colspan="2">{% if product.is_made_to_order %}Made to Order{% else %}{{ product.stock }}{% endif %}</td>
                                <td class="product__table__cell subtitle" colspan="2">{{ product.sold }}</td>
                                <td class="product__table__cell" colspan="2">
                                    <div class="button-wrapper">
                                        <label class="switch">
                                            {% if product.active %}
                                                <input type="checkbox" name="toggle_availability" class="js-switch-btn" id="id_switch_{{ forloop.counter0 }}" value="{{ product.id }}" checked>
                                            {% else %}
                                                <input type="checkbox" name="toggle_availability" class="js-switch-btn" id="id_switch_{{ forloop.counter0 }}" value="{{ product.id }}">
                                            {% endif %}
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="product__table__cell" colspan="2">
                                    <a href="{% url 'products:update-product' product.id %}" class="tertiary-btn subtitle bold" 
                                    style="text-decoration: none;">Edit Product</a>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/u_ellipsis-v_d_ZCjBl8H.png" 
                                    alt="Ellipsis" class="product__ellipsis" id="js-product-options-btn-{{forloop.counter0}}">
                                    <div class="product__option--settings" id="js-product-options-modal-{{forloop.counter0}}">
                                        <a href="{% url 'products:duplicate-product' product.id %}" class="profile__pic--settings__link">
                                            <div class="profile__pic--settings__option body bold">Duplicate</div>
                                        </a>
                                        <div class="profile__pic--settings__link js-open-delete-modal" data-id="{{ product.id }}" data-product="{{ product.name }}">
                                            <div class="profile__pic--settings__option body bold logout">Delete</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <div class="modal__container" id="js-delete-products-modal">
                    <div class="modal__card__wrapper" style="max-width: 338px;">
                        <img 
                            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                            alt="Exit Modal" class="modal__exit__btn js-modal-exit-btn"
                        />
                        <div class="modal__card__header">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal__alert-circle_vCjlPyZv134.png" alt="Alert">
                        </div>
                        <div class="modal__form__content" style="min-width: 100%; align-items: center;">
                            <h1 class="body-big bold" style="text-align: center;" id="js-delete-text">Are you sure you want to delete these items?</h1>
                            <p style="margin-top: 0.5rem; text-align: center;">This will permanently remove the item from your order form.</p>
                        </div>
                        <div class="modal__form__content modal__form__content-row">
                            <button class="secondary-btn subtitle bold js-modal-exit-btn">Cancel</button>
                            <button class="primary-btn warning subtitle bold" id="js-delete-selected-btn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scriptsBody %}
    <script src="{% static 'js/products/products-table.js' %}"></script>

    <script>
        const ellipsis = $(".product__ellipsis");

        function closeOptions(el) {
            ellipsis.each(function(index) {
                const modal = $(`#js-product-options-modal-${index}`);
                if (modal.attr("id") !== el.attr("id")) {
                    modal.removeClass('active');
                }
            });
        }

        ellipsis.each(function(index) {
            const el = $(`#js-product-options-modal-${index}`);
            $(this).click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                closeOptions(el);
                el.toggleClass('active');
            });
        });
    </script>

    <!-- Clipboard JS -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script>
        new ClipboardJS('#js-copy-form-link-btn');
    </script>

    <script>
        const copyFormLinkBtn = $('#js-copy-form-link-btn');

        function copyLinkBtnPressed() {
            copyFormLinkBtn.addClass('success');
            copyFormLinkBtn.html('Link Copied!');
        }

        function copyLinkBtnReset() {
            copyFormLinkBtn.removeClass('success');
            copyFormLinkBtn.html('Copy Form Link');
        }

        copyFormLinkBtn.click(function() {
            copyLinkBtnPressed();
            setTimeout(function() {
                copyLinkBtnReset();
            }, 5000)
        })
    </script>

    <!-- NOTY Errors -->
    <script>
        const errors = $('#form-errors').text();
        const jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i < Object.keys(errorMessages).length; i++) {
                if (errorMessages[i] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[i],
                        layout: "bottomRight",
                        timeout: 3000,
                        progressBar: true,
                    }).show();
                }
            }
        }

        if (errors != "" || errors != undefined || errors != null) { displayErrors(); }
    </script>

    <!-- Tablesorter lightweight JQuery plugin — See docs for more info: https://mottie.github.io/tablesorter/docs/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#js-products-table").tablesorter({ sortList: [[1,0]], selectorSort : 'img' });
            var chevrons = $(".sort-chevron");
            chevrons.each(function() {
                $(this).click(function(e) {
                    if (e.shiftKey) {
                        $(this).toggleClass("reverse");
                    } else {
                        var clicked = $(this).attr("id");
                        chevrons.each(function() {
                            if ($(this).attr("id") != clicked) {
                                $(this).removeClass("reverse");
                            }
                        });
                        $(this).toggleClass("reverse");
                    }
                })
            });
        });
    </script>

    <!-- Mixpanel -->
    <script>
        window.addEventListener("load", function(){
            console.log("products page load");
            mixpanel.track("opened product page");
        });
        document.getElementById("js-add-product-btn").addEventListener("click", function(){
            console.log("button clicked");
            mixpanel.track("add product ");
        });
    </script>
      
    <!-- Mixpanel -->
    <script>
        mixpanel.track('Product Page Visited', {'Shop Name': `${shopName}`});
    </script>
{% endblock %}