.resources__container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: 17.5%;
    background: var(--bg-color);
}

.settings__container__resources {
    padding: 5% 0;
}

.settings__wrapper {
    max-width: 50%;
    margin-bottom: 3rem;
}

.settings__content {
    margin-bottom: 2rem;
}

.settings__content.input__col {
    margin-bottom: 1rem;
}

.settings__content p, .settings__content ul li { color: var(--muted-light); }
.settings__content ul { padding-left: 2rem; }
.settings__content ul li { list-style-type: circle; }