body {
    overflow-y: hidden;
}

.modal__container {
    overflow-y: scroll !important;
}

.modal__card__wrapper {
    width: 25% !important;
    padding: 3rem 1.5rem !important;
}

/* SHOP PROFILE SETTINGS */

.shop__settings__form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 1rem 0;
}

.shop__settings__form__logo, .shop__settings__form__info {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.shop__settings__form__logo { margin-top: 2rem; align-items: center; }
.shop__settings__form__info { padding: 2rem 0; align-items: flex-start; }

/* SHOP ORDER FORM BRANDING */
.shop__branding__description {
    padding: 5% 0;
    width: 100%;
}