.shop__settings__content {
    width: 80% !important;
}

.shop__settings__header {
    min-width: 100% !important;
}

.shop__settings__header__content {
    margin: 0;
    padding: 0;
    min-width: 60% !important;
    justify-content: flex-start;
}

.shop__settings__header__btn {
    margin: 0;
    padding: 0;
    min-width: 40% !important;
    justify-content: flex-end;
}

.shop__settings__logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    position: relative;
    display: flex; justify-content: center; align-items: center; align-content: center;
}

.shop__settings__logo__img {
    border-radius: 50%;
}

.shop__settings__logo__placeholder {
    width: 100%; height: 100%;
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Settings/Group_358_s1885d_rX-X.png") no-repeat center;
    background-size: 100% 100%;
}

.shop__settings__logo__overlay {
    display: flex; justify-content: center; align-items: center; align-content: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 99;
}

.shop__settings__logo__overlay:hover {
    opacity: 1;
    color: var(--muted-white);
    background: rgba(44, 44, 44, 0.25);
}

.shop__settings__info {
    margin-left: 1rem;
    width: auto;
    max-height: 80px;
    display: flex; flex-direction: column; 
    justify-content: center; align-items: flex-start; align-content: center;
}