.resources__sidebar {
    margin-left: 12rem;
    background: var(--muted-white);
    width: 12.5vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-right: 0.5px solid #DCDCDC; 
}

.resources__sidebar__wrapper {
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 46px 0;
}

.resources__sidebar__header {
    width: 100%;
    color: var(--primary-main);
    padding: 2.5rem 1.5rem;
}

.resources__sidebar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.resources__sidebar__items {
    width: 100%;
    list-style: none;
}

.resources__sidebar__item {
    height: auto;
    width: 100%;
    color: var(--muted-dark);
}

.resources__sidebar__link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 56px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-out;
}

.resources__sidebar__link .subtitle { max-width: 100%; }

.resources__sidebar__link:hover, .resources__sidebar__link.active {
    transition: all 0.3s ease-out;
    background-color: var(--primary-light-transparent);
}

.resources__sidebar__link.active .subtitle, .resources__sidebar__link:hover ~ .subtitle {
    transition: all 0.3s ease-out;
    color: var(--primary-pressed);
}

.resources__sidebar__icon {
    width: 16px; height: 16px;
    margin: 0 1rem 0 1.5rem;
    transition: background-image 0.3s ease;
}

.resources__sidebar__icon--faqs { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/faqs_J2LNfd2bT41.svg"); }
.resources__sidebar__icon--faqs.active { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/faqs_active_xS6iXzPUc.svg"); }

.resources__sidebar__icon--feedback { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/feedback_bvE3drqy3.svg"); }
.resources__sidebar__icon--feedback.active { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/feedback_active_wxGakcDPux.svg"); }

.resources__sidebar__icon--privacy { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/privacy_policy_QhNGalb8g0Q.svg"); }
.resources__sidebar__icon--privacy.active { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/privacy_policy_active_SsKIGYBq-kgz.svg"); }

.resources__sidebar__icon--agreement { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/agreement_MAoJPNN76.svg"); }
.resources__sidebar__icon--agreement.active { background-image: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Resources/agreement_active_VXDWaSuAH.svg"); }