{% load imagekit %}
{% load hosts %}

<a href="{% host_url 'view-products' username host 'shops' %}" class="marketplace__merchants__card">
    <div class="marketplace__merchants__images">
        {% if thumbnail %}
            {% generateimage 'account:shop_thumbnail' source=thumbnail -- alt="Shop Thumbnail" class="marketplace__merchants__thumbnail" %}
        {% else %}
            <div class="marketplace__merchants__thumbnail marketplace__merchants__thumbnail__backup"></div>
        {% endif %}

        {% if logo %}
            {% generateimage 'account:medium_avatar' source=logo -- alt="Shop Logo" class="marketplace__merchants__logo" %}
        {% else %}
            <div class="marketplace__merchants__logo marketplace__merchants__logo__backup"></div>
        {% endif %}
    </div>
    <div class="marketplace__merchants__info">
        <h3 class="bold">{{ name }}</h3>
        <p>{{ address.city }}, Philippines</p>
    </div>
</a>