<div class="marketplace__footer">
    <div class="marketplace__footer__wrapper">
        <div class="marketplace__footer__logo">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/horizontal/white_bkM7uFH3A.svg">
        </div>
        <div class="marketplace__footer__content">
            <div class="marketplace__footer__links">
                <a href="" class="marketplace__footer__link caption">Quicklink for Businesses</a>
                <a href="" class="marketplace__footer__link caption">Privacy Policy</a>
                <a href="" class="marketplace__footer__link caption">Terms of Use</a>
                <a href="" class="marketplace__footer__link caption">Contact Us</a>
            </div>
            <div class="marketplace__footer__email">
                <p class="caption">hello@quicklink.ph</p>
            </div>
        </div>
    </div>
</div>