{% load hosts %}

<div class="marketplace__header">
    <div class="marketplace__header__content">
        <a href="https://www.quicklink.ph/"><p class="subtitle bold" style="margin-right: 3vw;">Quicklink for Businesses</p></a>
        <a href="{% host_url 'accounts:login' host 'app' %}" class="tertiary-btn subtitle bold">Merchant Sign In</a>
    </div>
</div>