{% load getdays %}
{% load imagekit %}
{% load hosts %}

<nav class="marketplace__mobile__nav">
    <div class="marketplace__mobile__nav__wrapper">
        <div class="marketplace__mobile__nav__items">
            <div class="marketplace__mobile__nav__item start">
                <div class="marketplace__mobile__burger" id="js-mobile-nav">
                    <div class="burger">
                        <div class="line" style="margin: 0 0 0.275rem 0;"></div>
                        <div class="line" style="margin: 0 0 0.275rem 0;"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <h3 class="marketplace__mobile__nav__merchant__name bold">{% if shop and shop.shop_name %}{{ shop.shop_name }}{% elif order.shop.shop_info and order.shop.shop_info.shop_name %}{{ order.shop.shop_info.shop_name }}{% else %}Quicklink{% endif %}</h3>
            </div>
            <div class="marketplace__mobile__nav__item end" id="js-mobile-cart">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_shopping-basket_rvrxovE4u.svg" alt="Basket Icon">
            </div>
        </div>
    </div>
</nav>

<div class="modal__container mobile__menu__container" id="js-mobile-menu">
    <div class="mobile__menu">
        <div class="mobile__menu__header">
            <div class="mobile__menu__row header__title">
                <a href="{% host_url 'marketplace' host 'shops' %}" class="mobile__menu__logo">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/white/white-logo-1x_hVgWTlNgE.png" alt="Quicklink Logo">
                    <h1 class="mobile__menu__header__text subheader bold">Quicklink</h1>
                </a>
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/exit_modal_white_r6xvJoCKFuy.png" alt="Exit Menu Button" id="js-mobile-menu-exit">
            </div>
            <div class="mobile__menu__row">
                <p class="mobile__menu__header__text overline regular">{% if request.user.is_authenticated and request.user.customer_info %}@{{ request.user.customer_info.customer_username }}{% else %}Guest User{% endif %}</p>
            </div>
        </div>
        <div class="mobile__menu__body">
            <div class="mobile__menu__body__info">
                <!-- <div class="mobile__menu__row">
                    {% if shop and shop.shop_logo.logo %}
                        {% generateimage 'account:shop_logo' source=shop.shop_logo.logo -- alt="Shop Logo" class="order__form__shop__logo" %}
                    {% elif order.shop.shop_info and order.shop.shop_info.shop_logo.logo %}
                        {% generateimage 'account:shop_logo' source=order.shop.shop_info.shop_logo.logo -- alt="Shop Logo" class="order__form__shop__logo" %}
                    {% endif %}
                </div> -->
                <div class="mobile__menu__row">
                    <h1 class="mobile__menu__shop__name subheader bold">{% if shop and shop.shop_name %}{{ shop.shop_name }}{% elif order.shop.shop_info and order.shop.shop_info.shop_name %}{{ order.shop.shop_info.shop_name }}{% else %}Quicklink{% endif %}</h1>
                </div>
                {% if shop.shop_branding.description or order.shop.shop_info.shop_branding.description %}
                    <div class="mobile__menu__row" style="padding-bottom: 1rem;">
                        <p class="caption">{% if shop and shop.shop_branding.description %}{{ shop.shop_branding.description }}{% elif order.shop.shop_info and order.shop.shop_info.shop_branding.description %}{{ order.shop.shop_info.shop_branding.description }}{% endif %}</p>
                    </div>
                {% endif %}
                <div class="mobile__menu__row">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_clock_hPahhZ_4M.svg" alt="" class="order__form__shop__contact__icon">
                    <p class="caption bold">
                        {% if shop %}
                            {% with from=shop.shop_general_settings.get_opening_time to=shop.shop_general_settings.get_cutoff_time %}
                                {% if shop.shop_general_settings.delivery_everyday == True %}Everyday, {{ from }} - {{ to }}{% elif shop.shop_general_settings.delivery_everyday == False %}{{ shop.shop_general_settings.delivery_days|get_selected_days }}, {{ from }} - {{ to }}{% else %}No information available.{% endif %}
                            {% endwith %}
                        {% elif order.shop.shop_info %}
                            {% with from=order.shop.shop_info.shop_general_settings.get_opening_time to=order.shop.shop_info.shop_general_settings.get_cutoff_time %}
                                {% if order.shop.shop_info.shop_general_settings.delivery_everyday == True %}Everyday, {{ from }} - {{ to }}{% elif order.shop.shop_info.shop_general_settings.delivery_everyday == False %}{{ order.shop.shop_info.shop_general_settings.delivery_days|get_selected_days }}, {{ from }} - {{ to }}{% else %}No information available.{% endif %}
                            {% endwith %}
                        {% else %}
                            No information available.
                        {% endif %}
                    </p>
                </div>
                <div class="mobile__menu__row">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/fi_mail_cqgT3ta0o.svg" alt="" class="order__form__shop__contact__icon">
                    <p class="caption">{% if shop and shop.shop_email %}{{ shop.shop_email }}{% elif order.shop.shop_info and order.shop.shop_info.shop_email %}{{ order.shop.shop_info.shop_email }}{% else %}No information available.{% endif %}</p>
                </div>
                <div class="mobile__menu__row">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_phone-alt_s-UKiZJLOA.svg" alt="" class="order__form__shop__contact__icon">
                    <p class="caption">{% if shop and shop.shop_contact_number %}{{ shop.get_formatted_number }}{% elif order.shop.shop_info and order.shop.shop_info.shop_contact_number %}{{ order.shop.shop_info.get_formatted_number }}{% else %}No information available.{% endif %}</p>
                </div>
                <div class="mobile__menu__row">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_store_dToMaPqthpG.svg" alt="" class="order__form__shop__contact__icon">
                    <p class="caption">{% if shop %}{{ shop|get_address }}{% else %}{{ order.shop.shop_info|get_address}}{% endif %}</p>
                </div>
            </div>
            <!-- {% if not request.user.is_authenticated %}
                <div class="mobile__menu__body__btns">
                    <a href="{% host_url 'register' host 'shops' %}">
                        <button class="primary-btn subtitle bold">Sign Up</button>
                    </a>
                    <a href="{% host_url 'login' host 'shops' %}">
                        <button class="secondary-btn subtitle bold">Log In</button>
                    </a>
                </div>
            {% endif %} -->
        </div>
    </div>
</div>