{% load user_info %}
{% load hosts %}
{% load user_agents %}

<nav class="marketplace__navbar {% if landing %}landing{% endif %}">
    <div class="marketplace__navbar__logo">
        <!-- <a href="{% host_url 'marketplace' host 'shops' %}"> -->
        <a href="https://www.quicklink.ph/">
            {% if request|is_mobile  %}
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg" alt="">
            {% else %}
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/horizontal/main_6h-Kojj6k5J.png" alt="">
            {% endif %}
        </a>
    </div>
    <div class="marketplace__navbar__items">
        {% with request.user|get_username as username %}
            {% if request.user.is_authenticated %}
                <p class="subtitle regular navbar__username">@{% if username %}{{ username }}{% else %}quicklink_customer{% endif %}</p>
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/options_vmiomBjNmJt.png" id="js-header-options" class="marketplace__navbar__settings">
                <div class="profile__pic--settings" id="js-profile-modal">
                    <a href="{% host_url 'orders' host 'shops' %}" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold">My Orders</div>
                    </a>
                    <a href="" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold">Profile</div>
                    </a>
                    <a href="" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold">Account Settings</div>
                    </a>
                    <a href="" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold">Payment Methods</div>
                    </a>
                    <a href="{% host_url 'logout' host 'shops' %}" class="profile__pic--settings__link">
                        <div class="profile__pic--settings__option bold logout">Logout</div>
                    </a>
                </div>
            {% else %}
                <!-- <a href="{% host_url 'login' host 'shops' %}" class="tertiary-btn marketplace__btn--login subtitle bold">Log In</a>
                <a href="{% host_url 'register' host 'shops' %}">
                    <button class="primary-btn subtitle bold">Sign Up</button>
                </a> -->
            {% endif %}
        {% endwith %}
    </div>
</nav>