.dashboard__container {
    width: 100%;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.dashboard__wrapper {
    height: auto;
    width: calc(100% - 12rem);
    padding: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    background: var(--bg-color);
}

.dashboard__wrapper:first-child {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.dashboard__header__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.dashboard__header__content {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.dashboard__header__content h1 { color: var(--secondary-alt); }

.dashboard__no-products {
    min-height: 10vh;
    width: calc(100% - 12rem);
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard__no-products__card {
    height: auto;
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 2rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: var(--muted-white);
}

.dashboard__no-products__img {
    max-height: 120px;
    width: auto;
}

.dashboard__no-products__text {
    color: var(--primary-alt);
    padding: 1rem 0 1.5rem 0;
}

.dashboard__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.dashboard__cards:nth-child(2n) {
    margin: 1.5rem 0;
}

.dashboard__card {
    width: 31.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border-radius: 20px;
    background: var(--muted-white);
    box-shadow: var(--blue-box-shadow);
}

.dashboard__card.whole {
    width: 100%;
    padding: 0;
    padding-bottom: 0.5rem;
}

.dashboard__card.whole .dashboard__card__content {
    padding: 1rem;
}

.dashboard__card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.dashboard__card__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.dashboard__card__filter {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard__card__filter button {
    margin: 0 0.75rem;
}

.dashboard__card__summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding: 0.5rem;
}

.dashboard__card__summary.pending__items {
    border-top: 1px solid var(--muted-lightest);
}

.dashboard__card__content__title {
    color: var(--secondary-alt);
}

.dashboard__card__no__items {
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard__card__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.dashboard__card__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.dashboard__card__item:nth-child(2n+1) {
    background-color: var(--primary-lighter);
}

.dashboard__card__item__name, .dashboard__card__item__quantity {
    padding: 0 1.5rem 0 0.5rem;
    color: var(--muted-dark);
}

.dashboard__card__content__total {
    margin: 0.5rem 0 1rem 0;
}

.dashboard__card__content__total.disabled { color: var(--muted-light); }

.dashboard__card__content__row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard__card__content__row p {
    padding-left: 0.25rem;
    color: var(--muted-light);
}

.dashboard__card__content__row p span {
    padding-left: 0.5rem;
    color: var(--muted-light);
}

.dashboard__card__summary .dashboard__card__content__row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.dashboard__card__content__row button { padding-right: 0.5rem; }

.dashboard__rate.positive {
    color: var(--success-alt);
}

.dashboard__rate.negative {
    color: var(--failure-main);
}


@media screen and (max-width: 320px) {
.dashboard__container {
    width: 40.875rem;
    overflow-x: scroll;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.dashboard__wrapper {
    height: auto;
    width: 100%;
    padding: 0rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background: var(--bg-color);
}

.dashboard__wrapper:first-child {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.dashboard__header__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.dashboard__header__content {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.dashboard__header__content h1 { color: var(--secondary-alt); }

.dashboard__no-products {
    min-height: 10vh;
    width: calc(100% - 12rem);
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard__no-products__card {
    height: auto;
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 2rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: var(--muted-white);
}

.dashboard__no-products__img {
    max-height: 120px;
    width: auto;
}

.dashboard__no-products__text {
    color: var(--primary-alt);
    padding: 1rem 0 1.5rem 0;
}

.dashboard__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.dashboard__card {
    width: 31.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    background: var(--muted-white);
    box-shadow: var(--dashboard-box-shadow);
}

.dashboard__card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.dashboard__card__summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding: 0.5rem;
}

.dashboard__card__content__title {
    color: var(--secondary-alt);
    font-size:1rem;
}

.dashboard__card__content__total {
    margin: 0.5rem 0 1rem 0;
    font-size:1.25rem !important;
}

.dashboard__card__content__total.disabled { color: var(--muted-light); }

.dashboard__card__content__row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dashboard__card__content__row p {
    padding-left: 0.25rem;
    color: var(--muted-light);
}

.dashboard__card__content__row p span {
    padding-left: 0.5rem;
    color: var(--muted-light);
}

.dashboard__card__summary .dashboard__card__content__row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.dashboard__card__content__row button { padding-right: 0.5rem; }

.dashboard__rate.positive {
    color: var(--success-alt);
}

.dashboard__rate.negative {
    color: var(--failure-main);
}
}