.error__container {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_V2Sr_hXDNRy.png") no-repeat center top;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    position: relative;
}

.error__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.error__wrapper__text-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 0;
    width: 100%;
}

.error__wrapper__illustration {
    max-height: 50vh;
}

.error__wrapper__subtext {
    text-align: center;
    padding: 0.5rem 0 1.25rem 0;
    max-width: 35%;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .error__wrapper__subtext {
        width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .error__wrapper__subtext {
        width: 50%;
    }
}

.error__wrapper__display {
    text-align: center;
    padding: 1rem 0; 
}

.error__footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.error__wrapper__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0.5rem 0;
}

.error__wrapper__button-container button:first-child {
    margin-right: 0.5rem;
}