.header-container {
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #FFF;
    border: 1px solid #DCDCDC;
    z-index: 400;
}

.header-wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.datetime {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--muted-dark);
    font-size: 0.8rem; 
    line-height: 1rem;
}

.profile__pic__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile__pic__chevron {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.profile__pic__chevron.active {
    transform: rotate(180deg);
}

.profile__pic {
    cursor: pointer;
    width: 24px; height: 24px;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center; align-content: center;
    margin-right: 0.5rem;
}

.profile__pic__img {
    border-radius: 50%;
}

.profile__pic--backup {
    padding: 0;
    background: var(--primary-light);
    color: white;
    display: flex; justify-content: center; align-items: center; align-content: center;
    outline: none;
    user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -moz-user-select: none;
        -ms-user-select: none;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

.profile__pic--settings, .product__option--settings {
    display: none; flex-direction: column; justify-content: center; align-content: center; align-items: center;
    position: fixed;
    transform: translateY(60%);
    width: 192px; height: 96px;
    background-color: white;
    box-shadow: var(--regular-box-shadow);
    padding: 0.5rem 0;
}

.profile__pic--settings.active, .product__option--settings.active { display: flex; animation: appear 0.15s linear; }

.profile__pic--settings__link { width: 100%; text-decoration: none; }

.profile__pic--settings__option {
    display: flex; flex-direction: column; justify-content: center; align-content: center; align-items: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: var(--primary-main);
}

.profile__pic--settings__link:hover {
    background-color: var(--primary-light-transparent);
}

.profile__pic--settings__option.logout { color: var(--failure-main); }

.profile__pic--settings__option.logout:hover { background-color: var(--failure-light-transparent) }


@media screen and (max-width: 320px) {
.header-container {
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    height: 40px;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #FFF;
    border: 1px solid #DCDCDC;
    z-index: 400;
}

.header-wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.datetime {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--muted-dark);
    font-size: 0.8rem; 
    line-height: 1rem;
}

.profile__pic__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile__pic__chevron {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.profile__pic__chevron.active {
    transform: rotate(180deg);
}

.profile__pic {
    cursor: pointer;
    width: 24px; height: 24px;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center; align-content: center;
    margin-right: 0.5rem;
}

.profile__pic__img {
    border-radius: 50%;
}

.profile__pic--backup {
    padding: 0;
    background: var(--primary-light);
    color: white;
    display: flex; justify-content: center; align-items: center; align-content: center;
    outline: none;
    user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -moz-user-select: none;
        -ms-user-select: none;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

.profile__pic--settings, .product__option--settings {
    display: none; flex-direction: column; justify-content: center; align-content: center; align-items: center;
    position: fixed;
    transform: translateY(60%);
    width: 192px; height: 96px;
    background-color: white;
    box-shadow: var(--regular-box-shadow);
    padding: 0.5rem 0;
}

.profile__pic--settings.active, .product__option--settings.active { display: flex; animation: appear 0.15s linear; }

.profile__pic--settings__link { width: 100%; text-decoration: none; }

.profile__pic--settings__option {
    display: flex; flex-direction: column; justify-content: center; align-content: center; align-items: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: var(--primary-main);
}

.profile__pic--settings__link:hover {
    background-color: var(--primary-light-transparent);
}

.profile__pic--settings__option.logout { color: var(--failure-main); }

.profile__pic--settings__option.logout:hover { background-color: var(--failure-light-transparent) }


}