/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* IMPORT HERE */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  width: 100%;
  background: var(--bg-color);
}

:root {
  /* COLORS */
  --primary-main: #798CF2;
  --primary-alt: #6275D4;
  --primary-light: #A9B8FF;
  --primary-pressed: #5569D3;
  --primary-lighter: #E8ECFF;
  --primary-light-transparent: rgba(171, 185, 255, 0.25);

  --secondary-main: #FFAA2D;
  --secondary-alt: #FF8A00;
  --secondary-light: #FED9A4;
  --secondary-pressed: #E59929;

  --muted-default: #575757;
  --muted-dark: #2C2C2C;
  --muted-light: #757575;
  --muted-lighter: #A3A3A3;
  --muted-lightest: #DCDCDC;  
  --muted-white: #FFFFFF;
  --bg-color: #F8F9FF;
  --bg-color-transparency: #F8F9FF80;
  --bg-blue: #F8F9FF;
  --bg-gray: #F2F3F8;
  --modal-bg-color: rgba(51, 51, 51, 0.3); 

  --success-main: #6CD9BF;
  --success-alt: #079774;
  --success-light: #93EACB;

  --failure-main: #F35252;
  --failure-alt: #CC4545;
  --failure-light: #FFC5BE;
  --failure-light-transparent: rgba(255, 197, 190, 0.2);;

  --pending-main: #FEE14C;
  --pending-alt: #F8B629;
  --pending-light: #FFF7CF;

  --gradient-yellow-blue: linear-gradient(107.56deg, #FED9A4 0%, #ABB9FF 100%);
  --gradient-light-blue: linear-gradient(180deg, #BAC6FF 0%, #798CF2 100%);
  --gradient-blue: linear-gradient(180deg, #0A28BC 0%, #ABB9FF 100%);

  /* BOX SHADOWS */
  --dashboard-box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
  --regular-box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.15);
  --hover-box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.2);
  --subtle-box-shadow: 0px 3px 20px rgba(51, 51, 51, 0.1);
  --navbar-box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
  --blue-box-shadow: 0px 0px 20px rgba(121, 140, 242, 0.15);
  --menu-box-shadow: 0px 3px 10px rgba(171, 185, 255, 0.25);
  --cart-box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
}


/* FONTS */
h1, h2, h3, p, a, input, span, .body, .subtitle, .caption, .overline {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--muted-dark);
  text-decoration: none;
}

h1, .header { font-size: 1.75rem; line-height: 2.8rem; }
h2, .subheader { font-size: 1.5rem; line-height: 2.4rem; }
h3, .body-big { font-size: 1.25rem; line-height: 2rem; }
p, .body { font-size: 1rem; line-height: 1.6rem; }
.subtitle { font-size: 0.875rem; line-height: 1.4rem; }
.caption { font-size: 0.75rem; line-height: 1rem; }
.overline { font-size: 0.625rem; line-height: 1rem; letter-spacing: 1px; text-transform: uppercase; }

.regular { font-weight: 400; }
.medium { font-weight: 400; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 900; }

/* For financial fees */
.subtitle.merchant { color: var(--failure-main); }
.subtitle.customer { color: var(--muted-light); }

/* For order summary notifications */
.new__notification {
  font-size: 0.625rem !important;
  /* padding-right: 1rem; */
  position: absolute;
  transform: translate(-3.5rem, -1px);
  color: var(--failure-alt);
}

@media screen and (max-width: 960px) {
  h1, .header { font-size: 1.6rem; line-height: 2.4rem; }
  h2, .subheader { font-size: 1.4rem; line-height: 2rem; }
  h3, .body-big { font-size: 1.125rem; line-height: 1.75rem; }
  p, .body { font-size: 0.925rem; line-height: 1.4rem; }
  .subtitle { font-size: 0.8rem; line-height: 1.2rem; }
  .caption { font-size: 0.675rem; line-height: 1rem; }
  .overline { font-size: 0.565rem; line-height: 0.875rem; letter-spacing: 1px; text-transform: uppercase; }
}

@media screen and (max-width: 560px) {
  h1, .header { font-size: 1.5rem; line-height: 2rem; }
  h2, .subheader { font-size: 1.25rem; line-height: 1.75rem; }
  h3, .body-big { font-size: 1rem; line-height: 1.5rem; }
  p, .body { font-size: 0.875rem; line-height: 1.25rem; }
  .subtitle { font-size: 0.75rem; line-height: 1rem; }
  .caption { font-size: 0.625rem; line-height: 1rem; }
  .overline { font-size: 0.5rem; line-height: 0.75rem; letter-spacing: 1px; text-transform: uppercase; }
}

/* BUTTONS */
button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem; line-height: 1.25rem;
  width: auto;
  min-height: 40px;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 360px) and (max-width: 560px) {
  button {
    font-size: 0.75rem; line-height: 1rem;
    padding: 0.5rem 1rem;
  }
}

button.pressed, button.warning { box-shadow: none; }

button img { margin-left: 0.5rem; }

button:focus {
  outline: none;
}

.nav-link { text-decoration: none;  }

.disabled {
  box-shadow: none !important;
  cursor: default;
  pointer-events: none; 
  user-select: none;
}

.primary-btn {
  background: var(--primary-main);
  box-shadow: var(--regular-box-shadow);
  color: var(--muted-white);
}

.primary-btn:hover {
  background: var(--primary-light);
  box-shadow: var(--hover-box-shadow);
}

.primary-btn.active {
  background: var(--primary-pressed);
}

.primary-btn.success {
  background: var(--success-main);
  color: var(--muted-white);
}

.primary-btn.loading {
  background: var(--secondary-pressed);
  color: var(--muted-white);
}

.primary-btn.warning {
  background: var(--failure-main);
}

.primary-btn.warning:hover {
  background: var(--failure-light);
}

.primary-btn.disabled {
  background: var(--muted-lightest);
  color: var(--muted-lighter);
}

.primary-btn-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.secondary-btn {
  border: 1px solid var(--primary-main);
  background: transparent;
  color: var(--primary-main);
  transition: all 0.3s ease-in-out;
}

.secondary-btn:hover {
  border: 1px solid transparent;
  background: var(--primary-light); 
  color: var(--muted-white);
}

.secondary-btn.active {
  background: var(--primary-pressed); 
  color: var(--muted-white);
}

.secondary-btn.disabled {
  border: 1px solid var(--muted-lightest);
  background: var(--muted-lightest);
}

.secondary-btn.warning {
  border: 1px solid var(--failure-main);
  color: var(--failure-main);
}

.secondary-btn.success, .secondary-btn.success:hover {
  border-color: var(--success-main);
  background: transparent;
  color: var(--success-main);
}

.secondary-btn.warning:hover {
  border: 1px solid var(--failure-light);
  background: var(--failure-light);
  color: var(--muted-white);
}

.tertiary-btn {
  height: auto;
  background: transparent;
  box-shadow: none;
  color: var(--primary-main);
  margin: 0; padding: 0;
}

.table__link {
  color: var(--primary-main);
  border-bottom: 1px solid var(--primary-main);
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out
}

.table__link:hover {
  border-color: var(--primary-light);
}

/* .table_link:after {
  content: '';
  height: 1px;
  background: var(--primary-main); 
  display: block;
} */

.tertiary-btn:hover, .table__link:hover {
  cursor: pointer;
  box-shadow: none;
  color: var(--primary-light);
}

.tertiary-btn.active {
  color: var(--primary-pressed);
}

.tertiary-btn.disabled {
  color: var(--muted-lighter);
}

.tertiary-btn.warning {
  color: var(--failure-main);
}

.tertiary-btn.warning:hover {
  color: var(--failure-alt);
}

.add-to-basket-btn {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-main);
  color: var(--muted-white);
  box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  outline: none;
  border: none;
}

.google-btn {
    display: flex; justify-content: center; 
    align-items: center; align-content: center;
    width: auto; height: auto;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 5px;
}

.prefix-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--muted-lighter);
  border-right: none;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center; align-content: center;
  transition: border 0.3s ease-in-out;
}

.prefix-input .input {
  border-left: 1px solid var(--muted-lighter);
  border-radius: 0px 4px 4px 0 !important;
}

.input:focus ~ .prefix-input {
  border: 1px solid var(--primary-main) !important;
}

.prefix-input .prefix-input-text {
  padding: 0 1rem;
  display: flex; justify-content: center;
  align-items: center; align-content: center;
}

.date-input {
  width: auto;
  height: 40px;
  border: 1px solid var(--muted-lighter);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center; align-content: center;
  transition: border 0.3s ease-in-out;
}

.date-input.wide { width: 100%; }

.date-input:hover, 
.date-input .date-input-content:hover, 
.date-input:hover ~ .date-input .date-input-img {
  cursor: pointer;
  border-color: var(--muted-lightest);
}

.date-input .date-input-content {
  padding: 1rem;
  min-width: 160px;
  max-width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex; justify-content: flex-start;
  align-items: center; align-content: center;
}

.date-input .date-input-img {
  padding: 0.5rem;
  display: flex; justify-content: center;
  align-items: center; align-content: center;
  border-left: 1px solid var(--muted-lighter);
}

.google-btn-link { margin-left: 0.75rem; color: var(--muted-dark); }

.fa-times-thin:before {
	content: '\00d7';
}

/* INPUTS */
input, textarea, .searchbar, *:focus {
  outline: none;
}

input, textarea {
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}
textarea {
  color: var(--muted-dark);
  resize: none !important;
}

.input, .large-input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  margin: 0.5rem 0;
  border: 1px solid var(--muted-lighter);
}

.intlTelInput {
  margin: 0.5rem 0;
}

.large-input { padding: 16px; min-height: 120px; }

.input__helper__row { display: flex; justify-content: center; align-items: center; align-content: center; opacity: 1; transition: opacity 0.3s ease-in-out; }
.input__helper__row.hide { display: none; opacity: 0; }
.input__helper {
  color: var(--muted-lighter);
  margin-left: 0.25rem;
  margin-top: 0.1rem;
  padding: 0;
}
.input__helper.success { color: var(--success-alt); }

.smallest-input__container {
  width: 120px;
  height: 40px;
  padding: 0 1rem;
  display: flex; justify-content: center; align-items: center; align-content: center;
}

.smallest-input__container input, .smallest-input__container .input,
.small-input__container input, .small-input__container .input { margin: 0; }

.small-input__container {
  width: 272px;
  height: 40px;
  padding: 0 0.5rem;
  display: flex; justify-content: center; align-items: center; align-content: center;
}

.mobile-large-input {
  width: 288px;
  height: 120px;
  padding: 16px;
  border: 1px solid var(--muted-lighter);
  border-radius: 5px;
}

.input.default, .small-input.default, .large-input.default, .smallest-input.default {
  color: var(--muted-dark);  
  resize: vertical;
  border: 1px solid var(--muted-lighter);
  border-radius: 5px;
}

.input:focus, .small-input:focus, .large-input:focus, .smallest-input:focus {
  border: 1px solid var(--primary-main) !important;
}

.input.filled, .small-input.filled, .large-input.filled, .smallest-input.filled {
  border: 1px solid var(--muted-lighter);
}

.input.success, .small-input.success, .large-input.success, .smallest-input.success {
  border: 1px solid var(--success-main);
}

.input.error, .small-input.error, .large-input.error, .smallest-input.error {
  border: 1px solid var(--failure-main);
}

.input.disabled, .small-input.disabled, .large-input.disabled, .smallest-input.disabled {
  color: var(--muted-light) !important;
  background-color: #F8F8F8 !important;
  border: 1px solid var(--muted-lighter) !important;
}

.searchbar {
  background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/search_xpOqZFavfYg.png") no-repeat 2.5% 50%;
  border: 1px solid transparent;
  background-color: rgba(220, 220, 220, 0.3);
  color: var(--muted-dark);
  width: 512px;
  height: 40px;
  border-radius: 5px;
  padding: 1rem 1.5rem 1rem 3rem;
  transition: all 0.3s ease;
}

.searchbar.searchbar--small {
  width: 280px;
}

.searchbar:focus { 
  outline: none; 
  opacity: 1;
  border: 1px solid var(--secondary-alt);
  background-color: var(--muted-white);
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* Image Upload Container */
.upload__container {
  width: 100%;
  height: auto;
  padding: 40px 64px;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center; align-content: center;
  background: rgba(254, 217, 164, 0.1);
  border: 1px dashed var(--secondary-main);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0.5rem 0;
  transition: transform 0.3s ease;
}

.upload__container.active  {
  border: 1px solid var(--secondary-main);
  box-shadow: var(--hover-box-shadow);
}

.upload__container.success.active {
  border: 1px solid var(--success-main);
  box-shadow: var(--hover-box-shadow);
}

.upload__container.success {
  border: 1px dashed var(--success-main);
  background: transparent;
}

.upload__file {
  max-width: 400px;
  max-height: 160px;
}

.upload__content {
  padding-top: 1rem;
  width: 100%;
  display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;
}

.upload__text {
  margin-top: -4px;
  padding: 2px;
}

.upload__link { 
  margin: 0.5rem 0;
  cursor: pointer;
  color: var(--primary-alt);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.upload__link.warning {
  color: var(--failure-alt);
}

.upload__link:hover {
  color: var(--primary-alt);
  border-bottom: 1px solid var(--primary-alt);
}

/* CHEVRON */
.sort-chevron {
  cursor: pointer;
  padding-left: 0.5rem;
  transition: transform 0.3s ease;
}

.sort-chevron.reverse {
  -moz-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

/* INTL INPUT STYLE */
.iti {
  width: 100% !important;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent !important;
}

.iti--separate-dial-code .iti__selected-dial-code {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem !important;
}

/* NICE SELECT STYLE */
.nice-select {
  display: flex; justify-content: flex-start; align-items: center; align-content: center;
  font-size: 0.875rem !important;
  border: 1px solid var(--muted-lighter);
  background: transparent !important;
}

.nice-select .list {
  max-height: 200px;
  overflow: hidden;
}

.nice-select.open .list {
  border-radius: 0px;
  max-height: 200px;
  overflow-y: scroll;
}

.nice-select .option {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem; line-height: 1.4rem;
  font-weight: 700;
  line-height: 40px !important;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  color: var(--primary-main);
  background: var(--primary-light-transparent);
}

.nice-select.disabled {
  color: var(--muted-light);
  background-color: #F8F8F8;
  border: 1px solid var(--muted-lighter);
  pointer-events: none; 
  user-select: none;
} .nice-select.disabled:after {
  border-color: var(--muted-lighter) 
}

/* CONTROLS */
/* Custom Checkbox */
.checkbox {
  min-width: 24px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.checkbox .checkmark {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--muted-lighter);
  /* outline: 1px solid var(--muted-lighter); */
}

.checkbox .checkmark.checkmark__small {
  width: 16px;
  height: 16px;
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--muted-lightest);
}

.checkbox input:checked ~ .checkmark {
  border: none;
  background-color: var(--success-main);
}

.checkmark:after, .checkmark.checkmark__small:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after,
.checkbox input:checked ~ .checkmark.checkmark__small:after {
  display: block;
}

.checkbox .checkmark:after {
  margin-top: -2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox .checkmark.checkmark__small:after {
  margin-top: -2.5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Toggle Switch */
.switch__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 1rem 0;
}

.switch__container .switch-whole {
  margin: 0 0.5rem;
}

.switch__container p {
  color: var(--muted-light);
}

.switch__container p.active {
  color: var(--success-alt);
}

.switch-whole {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  margin: 0 1rem;
}

.switch input { opacity: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.35rem;
  width: 1.35rem;
  left: 1px;
  bottom: 1px;
  background-color: var(--muted-white);
  transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.slider.disabled {
  background-color: var(--muted-default);
}

.slider.disabled:before {
  background-color: var(--muted-lightest);
}

input:checked + .slider { background-color: var(--success-main); }
input:checked + .switch-text__yes { color: var(--success-main); }

input:checked + .slider:before {
  transform: translateX(1.5rem);
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Custom Radio */
.radio__select__row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0.75rem 0;
}

.radio-mobile {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 0.5rem;
}

.radio-mobile input[type="radio"], .radio-mobile input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.radio-mobile .radio-select-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--muted-lighter);
}

.radio-mobile:hover input ~ .radio-select-mobile {
  background-color: var(--muted-lightest);
}

.radio-mobile input:checked ~ .radio-select-mobile {
  background-color: white;
}

.radio-select-mobile:after {
  content: "";
  display: none;
}

.radio-mobile input:checked ~ .radio-select-mobile:after {
  display: block;
}

.radio-mobile .radio-select-mobile:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--success-main);
}

.checkbox-mobile {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 0.5rem;
}

.checkbox-mobile input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.checkbox-mobile .checkmark-mobile {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--muted-lighter);
  /* outline: 1px solid var(--muted-lighter); */
}

.checkbox-mobile:hover input ~ .checkmark-mobile {
  background-color: var(--muted-lightest);
}

.checkbox-mobile input:checked ~ .checkmark-mobile {
  border: none;
  background-color: var(--success-main);
}

.checkmark-mobile:after {
  content: "";
  display: none;
}

.checkbox-mobile input:checked ~ .checkmark-mobile:after {
  display: block;
}

.checkbox-mobile .checkmark-mobile:after {
  margin-top: -2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.unclickable {
  pointer-events: none;
}

/* CHIPS */
.status-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.order__status, .payment__status, .coming__soon {
  width: auto;
  height: 24px;
  padding: 4px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.order__status { cursor: pointer; transition: all 0.4s ease; }
.order__status:hover { transform: translateY(-5%); }
.coming__soon { background-color: var(--muted-lighter); color: var(--muted-white); }

.order__status.pending { background-color: var(--bg-blue); color: var(--muted-default); }
.preparing { background-color: var(--secondary-light); color: var(--secondary-alt); }
.delivering { background-color: var(--primary-lighter); color: var(--primary-alt); }
.completed { background-color: var(--success-light); color: var(--success-alt); }
.cancelled { background-color: var(--failure-light); color: var(--failure-main); }

.payment__status.pending { border: 1px solid var(--secondary-alt); color: var(--secondary-alt); }
.processing { border: 1px solid var(--primary-alt); color: var(--primary-alt); }
.payment__status.received { border: 1px solid var(--success-alt); color: var(--success-alt); }

/* .cancelled { background-color: var(--failure-light); color: var(--muted-light); }
.cancelled { color: var(--failure-main); } */

.test-container {
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* TOOLTIPS */
.tooltip {
  display: none;
  opacity: 0;
  background-color: var(--primary-main);
  color: var(--muted-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 12px;
}

.tooltip[data-show] {
  display: block;
}

/* CHEVRONS */
.status-chevron {
  padding-left: 0.5rem;
  opacity: 50%;
}

/* TABLES */
.table__placeholder__container {
  width: 100%;
  min-height: 60vh;
  max-height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  align-content: center;
}

.table__placeholder__wrapper {
  width: 100%;
  height: 100%;
}

.table__placeholder__wrapper, .table__placeholder__guide {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  align-content: center;
}

.table__placeholder__img {
  margin: 2rem 0;
}

.table__placeholder__guide__header {
  color: var(--primary-alt);
  margin-bottom: 1.5rem;
}

/* MODALS */
.modal__container {
  position: fixed;
  display: none; justify-content: center;
  align-items: center; align-content: center;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;
  background: var(--modal-bg-color);
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 500;
}

.modal__container.mobile__menu__container {
  background: var(--modal-bg-color);
}

.modal__container.show { display: flex; opacity: 1; }

.modal__card__wrapper {
  position: relative;
  min-width: 35%;
  max-width: 45%;
  min-height: auto;
  max-height: 90%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow-x: hidden;
  opacity: 1;
  background: var(--muted-white);
  box-shadow: var(--regular-box-shadow);
}

.modal__card__wrapper h1, .modal__card__wrapper h2 { text-align: center; }

.modal__card__wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.modal__exit__btn {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: transform 0.3s ease;
}

.modal__exit__btn:hover {
  cursor: pointer;
}

.modal__card__exit__icon {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 999;
  transition: transform 0.3s ease;
}

.modal__card__exit__icon:hover {
  cursor: pointer;
}

.modal__card__header {
  width: 100%;
  display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;
}

.modal__card__header h1 { color: var(--primary-main); }

.modal__card__form {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.modal__form__content {
  min-width: 432px;
  max-width: 100%;
  display: flex; flex-direction: column; justify-content: center; align-items: flex-start; align-content: center;
  padding: 0.75rem 0;
}

.modal__form__content.modal__form__content-row, .modal__form__content-row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.modal__form__content-row button {
  margin: 0 0.5rem;
}

.slick-dotted.slick-slider {
  margin: 0;
}

#form-errors {
  display: none;
}

/* Noty Notifications JQuery Plugin */
.noty_body {
  font-family: 'Lato', sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.noty_type__success .noty_body {
  color: var(--muted-white) !important;
}

.noty_type__error .noty_body {
  color: var(--failure-alt) !important;
}

/* Flatpickr JQuery Plugin */
.flatpickr-calendar {
  padding: 1.5rem 1.5rem !important;
  width: auto !important;
}

.flatpickr-months {
  padding: 0.5rem !important;
}

.flatpickr-time, .flatpickr-hour, .flatpickr-time-separator, .flatpickr-minute, .flatpickr-am-pm {
  background: var(--muted-lightest) !important;
}

.flatpickr-hour:hover, .flatpickr-minute:hover, .flatpickr-am-pm:hover {
  background: transparent !important;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month { top: 1.5rem !important; }
.flatpickr-months .flatpickr-prev-month { left: 1.5rem !important; }
.flatpickr-months .flatpickr-next-month { right: 1.5rem !important; }

.flatpickr-monthDropdown-months { margin-right: 0.5rem !important; }

.flatpickr-monthDropdown-months, .flatpickr-monthDropdown-month, .numInput {
  font-family: 'Lato', sans-serif !important;
}

.flatpickr-day.today {
  border-color: var(--primary-alt) !important;
}

.flatpickr-day.selected {
  background: var(--primary-main) !important;
  border-color: var(--primary-main) !important;
}

.settings__divider {
  display: block;
  background-color: var(--muted-lighter);
  height: 1px;
  width: 100%;
  margin: 2rem 0;
}

/* Input with Logos */
.card__number__icons {
  display: flex; justify-content: space-between;
  align-items: center; align-content: center;
}

.card__number__icons img { padding-right: 0.5rem; }

.bank__logo {
  width: auto;
  height: 16px;
}

/* Footer for admin selection */
.app__footer {
  position: fixed;
  bottom: 0; left: 0;
  height: auto;
  width: 100%;
  padding: 1rem;
  background: var(--primary-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.app__footer__text {
  color: var(--muted-white);
}

/* Loading screen */
.loading__container {
  min-width: 100%;
  min-height: 95vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  background: var(--bg-color);
}

.loading__container.signups {
  min-width: 100%;
  min-height: 100vh;
  background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_V2Sr_hXDNRy.png") no-repeat center top;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loading__wrapper {
  min-height: 10vh;
  max-height: 25vh;
  width: calc(100% - 12rem);
  padding: 5rem 3rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loading__gif {
  width: 240px;
  height: auto;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
*/
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * Used when passing info to django template and JavaScript scripts
   */
  
  .passing__info { display: none; }
  
  /*   
  Normalize CSS
   */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  