.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 12rem;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--primary-main);
    box-shadow: var(--navbar-shadow);
    background-color: var(--primary-main);
}

.sidebar__ql-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 3.1rem 0;
}
  
.sidebar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  
.nav__link {
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--muted-white);
    width: 100%;
    height: 3.5rem;  
}

#navbar__icons {
    padding: 0 1rem 0 1.5rem;
}
  
.nav__link:hover {
    color: var(--muted-white);
    background: var(--primary-pressed);
    cursor: pointer;
}

.nav__link.active {
    color: var(--muted-white);
    background: var(--primary-pressed);
}

.sidebar__menu .sidebar__items .nav__link:active {
    display: flex;
    color: var(--muted-white);
    background: var(--primary-pressed);
}

.sidebar__items-subitems {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    display:none;
}

#sidebar__subitem-custom {
    padding: 0 0 0 4rem;
}

.sidebar_sub-item {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    color: var(--muted-white);
    text-decoration: none;
}

.sidebar_sub-item.active {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    color: var(--muted-white);
    background-color: var(--primary-pressed);
    text-decoration: none;
}

.sidebar__items-subitems.show {
    display: flex;
    width: 100%;
}

.sidebar__menu .sidebar__items ul a:hover {
    color: var(--muted-white);
    width: 100%;
    background: var(--primary-pressed);
}

.sidebar__menu .sidebar__items ul a:active {
    color: var(--muted-white);
    width: 100%;
    background: var(--primary-pressed);
}

.nav__link, .sidebar__items ul a {
    transition: all 0.3s ease-out;
}

.nav__chevron {
    position: absolute;
    right: 1rem;
    margin: 1rem 0 0 0;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

.nav__chevron.rotate {
    transform: translateY(-50%) rotate(90deg);
}


@media screen and (max-width: 320px){

.sidebar {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 12rem;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--primary-main);
    box-shadow: var(--navbar-shadow);
    background-color: var(--primary-main);
}

.sidebar__ql-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 3.1rem 0;
}
  
.sidebar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  
.nav__link {
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--muted-white);
    width: 100%;
    height: 3.5rem;  
}

#navbar__icons {
    padding: 0 1rem 0 1.5rem;
}
  
.nav__link:hover {
    color: var(--muted-white);
    background: var(--primary-pressed);
    cursor: pointer;
}

.nav__link.active {
    color: var(--muted-white);
    background: var(--primary-pressed);
}

.sidebar__menu .sidebar__items .nav__link:active {
    display: flex;
    color: var(--muted-white);
    background: var(--primary-pressed);
}

.sidebar__items-subitems {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    display:none;
}

#sidebar__subitem-custom {
    padding: 0 0 0 4rem;
}

.sidebar_sub-item {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    color: var(--muted-white);
    text-decoration: none;
}

.sidebar_sub-item.active {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    color: var(--muted-white);
    background-color: var(--primary-pressed);
    text-decoration: none;
}

.sidebar__items-subitems.show {
    display: flex;
    width: 100%;
}

.sidebar__menu .sidebar__items ul a:hover {
    color: var(--muted-white);
    width: 100%;
    background: var(--primary-pressed);
}

.sidebar__menu .sidebar__items ul a:active {
    color: var(--muted-white);
    width: 100%;
    background: var(--primary-pressed);
}

.nav__link, .sidebar__items ul a {
    transition: all 0.3s ease-out;
}

.nav__chevron {
    position: absolute;
    right: 1rem;
    margin: 1rem 0 0 0;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

.nav__chevron.rotate {
    transform: translateY(-50%) rotate(90deg);
}
}