/* finance placeholder
.finances__container {
    width: 100%;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

.finances__wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.finances__wrapper img {
    height: 320px;
}

.finances_placeholder_text {
    padding-top: 1.5rem;
    color: var(--primary-alt);
} */


.finances__container {
    width: 100%;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    background: var(--bg-color);
}

.finances__header {
    min-height: 10vh;
    width: calc(100% - 12rem);
    padding: 5rem 3rem 2.5rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    z-index: 99;
    background: var(--bg-color);
}

.finances__header__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.finances__header__wrapper h1 { 
    color: var(--secondary-alt); 
    position: absolute;
    top:4.625rem;
    left:14.5rem;
}

.finances__cards {
    width: 100%;
    padding: 3.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.finances__card {
    width: 31.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    background: var(--muted-white);
    box-shadow: var(--dashboard-box-shadow);
}

.finances__card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.finances__card__content__title {
    color: var(--secondary-alt);
}

.finances__card__content__total {
    margin: 0.25rem 0 0.75rem 0;
}

.finances__card__content__row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.finances__card__content__row p { color: var(--muted-light); }

.finances__card__summary .finances__card__content__row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.finances__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.finances__wrapper {
    height: 100%;
    width: 100%;
    margin: 0 0 0 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.finances__table { 
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    width: 100%;
}

.finances__table__header {
    height: 72px;
    max-height: 72px;
    width: 100%;
    background: var(--muted-white);
    border-top: 1px solid var(--muted-lightest);
    border-bottom: 1px solid var(--muted-lightest);
}

.finances__table__header th {
    padding: 0; 
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.finances__table__cell {
    width: auto;
    padding: 0 1rem;
    text-align: center;
    vertical-align: middle;
}

.finances__table__row {
    height: 72px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-blend-mode: overlay;
}

.finances__table__row:nth-child(2n+1) { background: rgba(169, 184, 255, 0.03) !important; }
.finances__table__row:nth-child(2n) { background: var(--muted-white); }
.finances__table__row.active { background: #A9B8FF48; }

.finances__datetime__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.finances__datetime__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.finances__datetime__wrapper .subtext {
    color: var(--muted-light);
}

.finance__footer__wrapper {
    position: absolute;
    bottom: 1rem;
    padding: 0 0 0 12rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.finance__footer__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.finance__footer__pagination__circle {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    margin: 0 0.25rem;
    color: var(--muted-light);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.finance__footer__pagination__circle:hover {
    background-color: var(--primary-main);
    color: white;
}

.finance__footer__pagination__circle--active {
    background-color: var(--primary-main);
    color: white;
    border-radius: 50%;
}

