.modal__card__header__logo {
    max-width: 80px;
    height: auto;
}

.select__box__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2rem 0;
}

.select__box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 1.5rem 1rem;
    background: var(--bg-color);
    margin: 0.5rem 0;
}

@media screen and (max-width: 560px) {
    .shops__container {
        /* margin-top: 80px !important; */
        width: 100%;
        padding: 1rem;
    }

    .mobile__card__linking {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        background: transparent;
        justify-content: flex-start;
        box-shadow: none;
    }

    .select__box__container {
        margin: 1rem 0;
    }

    .select__box__container:first-child {
        margin-top: 2rem;
    }
    
    .select__box {
        padding: 1.5rem 1rem;
        background: var(--muted-white);
        margin: 0.5rem 0;
    }
}