body {
    overflow-y: hidden;
}

.product-size, .product-addon {
    margin-left: 0.5rem;
}

.order__price {
    margin-left: 0.25rem;
}

.addon-price {
    color: var(--muted-lighter);
}

.modal__card__footer {
    justify-content: space-between !important;
    padding: 0 3rem !important;
}

.order__quantity__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.order__quantity__wrapper.mobile {
    display: none;
}

.order__quantity {
    margin: 0 1rem;
    width: 2rem;
    text-align: center;
    border: none;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

.order__quantity::-webkit-inner-spin-button, 
.order__quantity::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
    .mobile__order__form {
        background: var(--bg-color);
        margin-top: 56px;
    }

    .mobile__order__form__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow-x: hidden;
        opacity: 1;
        background: var(--muted-white);
        box-shadow: var(--regular-box-shadow);
    }

    .modal__exit__btn {
        display: none;
      }

    .mobile__exit__icon {
        position: absolute;
        top: 16px;
        left: 16px;
        cursor: pointer;
    }

    .modal__card__content {
        padding: 1rem 1rem 7.5rem 1rem !important;
    }
    
    .modal__card__footer {
        position: fixed;
        left: 0;
        bottom: 0;
        min-height: 56px;
        width: 100%;
        display: flex; flex-wrap: nowrap;
        align-items: center; align-content: center;
        justify-content: center !important;
        padding: 1rem !important;
        background: var(--muted-white);
        box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    }

    .modal__card__footer button {
        width: 100%;
    }

    .order__quantity__wrapper {
        display: none;
    }

    .order__quantity__wrapper.mobile {
        display: flex;
    }

    .product-size, .product-addon {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .modal__card__content {
        padding: 1rem 1rem 15rem 1rem !important;
    }
}