#edit-cart-form {
    display: flex;
}

#js-toggle-details-btn {
    margin: 0 !important; 
    padding: 0 !important;
}

.cart__container {
    position: fixed;
    top: 80px; 
    right: 0;
    height: calc(100vh - 80px);
    width: 25%;
    padding: 2.5rem 1.5rem;
    overflow-y: hidden;
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: flex-start;
    align-content: center;
    background: var(--muted-white);
    z-index: 99;
    box-shadow: var(--cart-box-shadow)
}

.cart__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; align-content: center;
}

.cart__header__basket {
    display: flex;
    justify-content: flex-start;
    align-items: center; align-content: center;
}

.cart__header__basket__text {
    margin-left: 0.5rem;
    color: var(--muted-dark);
}

.cart__header__basket__icon {
    display: block;
}

.cart__header__back__icon {
    display: none;
}

.cart__header__toggle-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center; align-content: center;
}

.cart__list {
    min-height: calc(100vh - 400px);
    max-height: calc(100vh - 320px);
    width: 100%;
    overflow-y: auto;
    padding: 1.5rem 0;
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: center; align-content: center;
    -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}

.cart__list::-webkit-scrollbar {
    display: none;
  }

.cart__list__placeholder {
    height: 100%;
    width: 75%;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
    text-align: center;
}

.cart__list__placeholder__text {
    color: var(--primary-alt);
}

.cart__list__item {
    height: auto;
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.cart__list__item__quantity {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cart__list__item__quantity.hide { display: none; }

.cart__list__item__quantity .bold {
    color: var(--primary-main);
    margin-right: 0.5rem;
}

.cart__list__item__info {
    width: 88%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start;
    align-content: center;
}

.cart__list__item__row {
    width: 100%;
    display: flex; justify-content: space-between; 
    align-items: flex-start; align-content: center;
}

.cart__list__item__row.addons {
    margin: 0.5rem 0;
}

.cart__list__item__row.edit__quantity {
    width: 100%;
    display: none;
}

.cart__list__item__row.edit__quantity.show { display: flex; }

.cart__list__item__btns {
    width: 50%;
    display: flex; justify-content: space-between; 
    align-items: center; align-content: center;
}

.cart__list__item__header {
    display: flex; flex-direction: column;
    justify-content: flex-end; align-items: flex-start;
    align-content: center;
}

.cart__list__item__header__text {
    max-width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart__list__item__header__text.show {
    max-width: 12.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart__list__item__size, .cart__list__item__addon__price {
    color: var(--muted-lighter);
}

.cart__list__item__total, .cart__list__item__total span {
    line-height: 2.4rem;
    color: var(--secondary-alt);
}

.cart__list__item__extras {
    width: 100%;
    margin-bottom: 1rem;
}

.cart__list__item__notes { color: var(--muted-lighter); margin-top: 0.5rem; }

.cart__footer {
    width: 25%;
    position: fixed; 
    right: 0; bottom: 0;
    height: auto;
    padding: 1rem;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; align-content: center;
    box-shadow: 0px -3px 5px rgba(51, 51, 51, 0.1);
}

.cart__footer__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0.25rem 0;
}

.cart__footer__subtitle, .cart__footer__caption, .cart__footer__price { color: var(--muted-lighter); }
.cart__footer__total, .cart__footer__total__price { color: var(--muted-dark); }
.cart__footer__price, .cart__footer__total__price { text-transform: uppercase; }

.cart__footer__total__wrapper {
    padding: 1rem 0;
}

.update-cart {
    cursor: pointer;
}

@media screen and (min-width: 1921px) {
    
}

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1280px) {
    .cart__container {
        width: 30%;
        padding: 2rem 1rem;
    }

    .cart__footer {
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    .cart__container {
        width: 35%;
        padding: 1.5rem 1rem;
    }

    .cart__list__item__header__text {
        max-width: 12.5vw;
    }
    
    .cart__list__item__header__text.show {
        max-width: 15vw;
    }

    .cart__footer {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .cart__container {
        position: fixed;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
        padding: 5rem 1.5rem 2.5rem 1.5rem;
        overflow-y: hidden;
        display: none; flex-direction: column;
        justify-content: flex-start; align-items: flex-start;
        align-content: center;
        background: var(--bg-color);
        z-index: 10;
        box-shadow: var(--cart-box-shadow)
    }

    .cart__container.show {
        display: flex;
    }

    .cart__header__basket__icon {
        display: none;
    }

    .cart__header__back__icon {
        display: block;
    }

    .cart__list {
        min-height: calc(100%-120px);
        max-height: calc(100%-96px);
        width: 100%;
        overflow-y: auto;
        padding: 1.5rem 0;
        display: flex; flex-direction: column;
        justify-content: flex-start; align-items: center; align-content: center;
        -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
    }

    /* .cart__list__item:nth-child(2n) {
        background: var(--bg-color);
    }

    .cart__list__item:nth-child(2n+1) {
        background: var(--muted-white);
    } */

    .cart__list__item__header__text {
        max-width: 45vw;
    }

    .cart__list__item__header__text.show {
        max-width: 55vw;
    }

    .cart__footer {
        width: 100%;
        position: fixed; 
        left: 0; bottom: 0;
        height: auto;
        padding: 1rem;
        display: flex; flex-direction: column;
        justify-content: center; align-items: center; align-content: center;
        box-shadow: 0px -3px 5px rgba(51, 51, 51, 0.1);
    }
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 360px) {

}