input, select {
    background: transparent !important;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    background: var(--muted-white) !important;
}

.shops__container {
    /* margin-top: 80px !important; */
    width: 75%;
    padding: 2rem 6rem;
}

.checkout__form {
    width: 50%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start; align-content: center;
}

.checkout__form__section {
    width: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start; align-content: center;
    margin: 1.5rem 0;
}

.checkout__form__section.hide { display: none; }

.checkout__form__row {
    width: 100%;
    display: flex; justify-content: flex-start;
    align-items: center; align-content: center;
    padding: 0.25rem;
}

.checkout__form__row.checkout__form__row--no_padding { padding: 0; margin: 0; }
.checkout__form__row--no_padding input { margin: 0.25rem 0; }

.checkout__form__row.checkout__form__row--multiple {
    justify-content: space-between;
}

.checkout__form__col {
    width: 100%;
    display: flex; flex-direction: column; 
    justify-content: center;
    align-items: flex-start; align-content: center;
    margin-bottom: 1rem;
}

.checkout__form__input {
    width: 100%;
}

.checkout__form__input--small {
    width: 47.5%;
}

.checkout__form__row ul {
    list-style: none;
}

#id_delivery_date:hover {
    border: 1px solid var(--muted-lighter);
}

.checkbox-mobile input:checked ~ .checkmark-mobile {
    background-color: var(--primary-main) !important;
}

.card__number__icons {
    display: flex; justify-content: space-between;
    align-items: center; align-content: center;
}

.card__number__icons img { padding-right: 0.5rem; }

/* .payment__illustration {
    position: absolute;
    bottom: -1rem;
    left: -2rem;
} */

@media screen and (min-width: 1921px) {
    
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    
}

@media screen and (max-width: 560px) {
    .shops__container {
        /* margin-top: 80px !important; */
        width: 100%;
        padding: 2rem 1rem;
        padding-top: calc(1rem + 56px) !important;
    }

    .checkout__form {
        width: 100%;
    }
    
    .checkout__form__section {
        margin: 1rem 0;
    }

    .checkout__form__row {
        padding: 0.25rem;
    }
}