main {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_V2Sr_hXDNRy.png") var(--bg-color-transparency) no-repeat center top;
    background-size: 100% 100%;
    background-blend-mode: overlay;
}

.shops__container {
    /* margin-top: 80px !important; */
    width: 75%;
    padding: 2rem 6rem;
}

.order__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.order__form__thumbnail { 
    width: 100%;
    height: auto;
}

.order__form__thumbnail__img {
    width: 100%;
    min-height: 30vh;
    height: auto;
}

.order__form__thumbnail__backup {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/horizontal/white_with_gradient_bg_extended_2x_GqhVKnlTQ.png") no-repeat center;
    background-size: 100% 100%;
}

.order__form__shop {
    width: 75%;
    height: auto;
    display: flex; justify-content: flex-start;
    align-items: center; align-content: center;
    padding: 2rem 0 4rem 0;
}

.order__form__shop__logo {
    width: 120px; height: 120px;
    border-radius: 50%;
    margin-right: 1rem;
}

.order__form__shop__logo__backup {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/main_logo_white_bg_KREQ84xA8.png") no-repeat center;
    background-size: 100% 100%;
}

.order__form__shop__info {
    width: calc(100% - 120px - 1rem);
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start; align-content: center;
}

.order__form__shop__contact {
    width: 100%;
    display: flex; justify-content: flex-start; 
    align-items: center; align-content: center;
}

.order__form__shop__info h1, .order__form__shop__info p { color: var(--muted-default); }

.order__form__shop__contact--col {
    display: flex; flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; align-content: center;
    padding-right: 1.5rem;
}

.order__form__shop__contact--row {
    display: flex; justify-content: flex-start; 
    align-items: center; align-content: center;
    padding: 0.2rem 0;
}

.order__form__shop__contact__icon {
    margin-right: 0.5rem;
}

.order__form__searchbar {
    width: 100%;
    padding: 1.5rem 4rem;
}

.order__form__products {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5% 0;
}

.order__form__products__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.order__form__products__placeholder {
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.order__form__products__placeholder__text {
    color: var(--primary-alt);
    font-weight: 700 !important;
    padding: 1.5rem 0;
}

.mobile__exit__icon {
    display: none;
}

@media screen and (min-width: 1921px) {
    .order__form__products__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    .order__form__products__wrapper {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .shops__container {
        /* margin-top: 80px !important; */
        width: 70%;
        padding: 2rem 2rem;
    }

    .order__form__shop {
        width: 85%;
        padding: 2rem 0;
    }

    .order__form__searchbar {
        margin-top: 1rem;
        padding: 0 3.25rem;
    }
}

@media screen and (max-width: 992px) {
    .shops__container {
        /* margin-top: 56px !important; */
        width: 65%;
        padding: 2rem 1rem;
    }

    .order__form__shop {
        width: 100%;
        padding: 1rem 0;
    }

    .order__form__searchbar {
        margin-top: 1rem;
        padding: 0 3.25rem;
    }

    .order__form__products__wrapper {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .order__form__shop__logo {
        width: 40px; height: 40px;
    }

    .order__form__thumbnail__img {
        min-height: 20vh;
    }

    .shops__container {
        margin-top: 56px !important;
        width: 100%;
        padding: 2rem 1rem;
    }

    .order__form__shop {
        display: none;
    }

    /* .order__form__searchbar, .order__form__products {
        padding: 1rem;
    } */

    .order__form__products__wrapper {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .mobile__order__form {
        z-index: 50;
        background: var(--bg-color);
    }

    .mobile__order__form__wrapper {
        position: relative;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow-x: hidden;
        opacity: 1;
        background: var(--muted-white);
        box-shadow: var(--regular-box-shadow);
    }

    .modal__card__exit__icon {
        display: none;
      }

    .mobile__exit__icon {
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        cursor: pointer;
        z-index: 100;
    }

    .order__form__shop__contact__icon {
        padding-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .order__form__products__wrapper {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .order__form__searchbar {
        margin-top: 1rem;
        padding: 0 2.5rem;
    }
}

@media screen and (max-width: 360px) {

}