main {
    background: var(--muted-white) !important;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.account__modal {
    display: none;
}

.modal-header {
    font-size: 1.25rem;
    color: var(--primary-main);
    margin: 1.5rem 0;
}

.modal-text {
    margin: 1rem 0;
}

.create-account {
    margin-top: 2rem;
}

.disable-modal, .disable-modal:focus {
    color: var(--muted-lighter);
    border: 0;
    background-color: transparent;
    box-shadow: none;
}

.disable-modal:hover {
    color: var(--muted-light);
}

.invoice__shop {
    padding: 2rem 0 !important;
}

.invoice__content__wrapper {
    width: 80%;
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: flex-start;
    align-content: center;
}

.invoice__content__section, .invoice__content__section__info {
    width: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start; 
    align-content: center;
    margin-bottom: 2.5rem;
}

.invoice__content__section__info { margin-bottom: 2rem; }

.invoice__content__section__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.invoice__content__header__title { color: var(--success-alt); }
.invoice__content__section h3 { margin-bottom: 1rem; }
.invoice__content__section__info h3 { margin-bottom: 0.25rem; }

.invoice__content__header__order-link { position: relative; color: var(--muted-lighter); }
.invoice__content__header__order-link a { color: var(--primary-alt); }
.invoice__content__copy__link { position: absolute; right: -1.5rem; bottom: 0; transition: transform 0.3s ease; }
.invoice__content__copy__link:hover { cursor: pointer; transform: translateY(-10%); }

.invoice__content__tracking__box {
    width: 21px;
    height: 21px;
    border-radius: 5px;
    border: 1px solid var(--muted-lighter);
    margin-right: 1rem;
}

.invoice__content__tracking__box.active {
    border-color: var(--primary-main);
    background: var(--primary-main);
}

.invoice__content__tracking__line__wrapper {
    width: 21px; height: 24px;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
}

.invoice__content__tracking__line {
    display: block;
    width: 2px;
    height: 100%;
    background: var(--muted-lighter);
}

.invoice__content__tracking__text { color: var(--muted-lighter); padding-top: 2px; }
.invoice__content__tracking__text.active { color: var(--primary-main); }

.invoice__content__notifications { margin-bottom: 0.25rem; }
.checkbox-mobile { margin-right: 1rem; }

.invoice__mobile__header {
    position: relative;
    display: none;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100vw;
    min-height: auto;
    max-height: 120px;
    padding: 1.5rem 1rem;
    margin-top: -2rem;
    margin-left: -1rem;
    margin-bottom: 2rem;
}

.invoice__mobile__header__background, .invoice__mobile__header__background__overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.invoice__mobile__header__backup {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/horizontal/white_with_gradient_bg_extended_2x_GqhVKnlTQ.png") no-repeat center;
    background-size: 100% 100%;
}

.invoice__mobile__header__background__overlay {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
    background-blend-mode: multiply;
}

.invoice__mobile__header__logo {
    width: 80px; height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
    z-index: 5;
}

.invoice__mobile__header__logo__backup {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/main_logo_white_bg_KREQ84xA8.png") no-repeat center;
    background-size: 100% 100%;
}

.invoice__mobile__header__name {
    max-width: 80%;
    color: var(--muted-white);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 6;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .shops__container {
        margin-top: 0 !important;
    }

    .invoice__content__copy__link {
        display: none;
    }
    
    .invoice__content__section {
        margin-bottom: 1.5rem;
    }
    
    .invoice__mobile__header {
        display: flex;
    }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 360px) {

}