body {
    overflow-y: hidden;
}

.checkout__link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0.5rem 0 1.5rem 0;
    text-decoration: none;
}

.checkout__link p {
    padding-left: 0.75rem;
    color: var(--muted-default);
    transition: color 0.3s ease-in-out;
}

.checkout__link p:hover {
    color: var(--muted-dark);
}

.available__accounts {
    width: 55%;
    justify-content: space-between;
}

.bank__logo {
    width: auto;
    height: 16px;
}

.credit__card__logo {
    width: auto; height: auto;
}

.modal__container {
    background: var(--bg-color);
    opacity: 1;
}

.otp__code__input__container {
    width: 100%;
    padding: 2rem 0 2.5rem 0;
}

.otp__code__input__wrapper {
    width: 100%;
    height: auto;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
}

.otp__code__input {
    width: 64px;
    height: 64px;
    border-radius: none !important;
    border: 2px solid var(--muted-lighter);
    margin: 0 1rem;
    text-align: center;
    vertical-align: middle;
}

.otp__code__input:focus, .otp__code__input.filled { border-color: var(--primary-main); }
.otp__code__input.error { border-color: var(--failure-main); }

.otp__code__error { 
    width: 100%; 
    color: var(--failure-main); 
    text-align: center; 
    margin-top: 1rem;
}

#js-resend-otp-btn {
    width: 100%;
    margin-top: 1rem;
}

.quicklink__logo {
    max-width: 4rem;
    position: fixed;
    left: 50%;
    bottom: 4rem;
    transform: translate(-50%, 2rem);
}

@media screen and (max-width: 1280px) {
    .shops__container {
        /* margin-top: 80px !important; */
        width: 100%;
        padding: 1rem;
    }

    .mobile__otp {
        min-width: 60%;
        max-width: 640px;
        min-height: auto;
        max-height: 80%;
        justify-content: center;
    }

    .otp__code__input__container {
        width: 100%;
        padding: 1.5rem 0 2rem 0;
    }
    
    .otp__code__input__wrapper {
        width: 100%;
    }
    
    .otp__code__input {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (max-width: 960px) {
    .mobile__otp {
        min-width: 80%;
        max-width: 640px;
        min-height: auto;
        max-height: 80%;
        justify-content: center;
    }
}

@media screen and (max-width: 560px) {
    .mobile__otp {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        background: transparent;
        justify-content: flex-start;
        box-shadow: none;
    }

    .otp__code__input {
        width: 2rem;
        height: 2rem;
        margin: 0 0.5rem;
    }
}