.marketplace__headers {
    width: 100%;
    height: auto;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; align-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.marketplace__header {
    width: 100%;
    height: 40px;
    background: rgba(220, 220, 220, 0.5);
    display: flex; justify-content: flex-end;
    align-items: center; align-content: center;
    padding: 0 15vw;
    z-index: 400;
}

.marketplace__header__content {
    width: auto;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
}

.marketplace__navbar {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 80px;
    display: flex; justify-content: space-between;
    align-items: center; align-content: center;
    padding: 0 15vw;
    background: var(--muted-white);
    box-shadow: var(--regular-box-shadow);
    z-index: 400;
}

.marketplace__headers .marketplace__navbar {
    position: relative;
    background: transparent !important;
    box-shadow: none;
}

.marketplace__navbar__items {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.marketplace__navbar__settings { transition: all 0.3s ease; }
.marketplace__navbar__settings:hover {
    cursor: pointer;
    transform: translateY(-10%);
}

.marketplace__btn--login {
    margin-right: 1rem;
    color: var(--muted-lighter); 
}

.marketplace__btn--login:hover {
    color: var(--muted-lightest);
}

.shops__navbar {
    position: fixed;
    top: 0; left: 0;
    z-index: 50;
    background: var(--muted-white);
    box-shadow: var(--navbar-box-shadow);
    padding: 0 6rem;
}

.shops__container, .profile__container {
    margin-top: 80px !important;
}

.profile__wrapper {
    padding: 3rem 20%;
}

.marketplace__mobile__nav {
    display: none;
    top: 0; left: 0;
    width: 100%;
    height: 80px;
    display: none; justify-content: space-between;
    align-items: center; align-content: center;
    padding: 0 15vw;
    background: var(--muted-white);
    box-shadow: var(--regular-box-shadow);
    z-index: 400;
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

.profile__pic--settings, .product__option--settings {
    display: none; flex-direction: column; justify-content: flex-start; align-content: center; align-items: center;
    position: fixed;
    transform: translateY(60%);
    width: 192px; height: auto;
    background-color: white;
    box-shadow: var(--regular-box-shadow);
    padding: 0.5rem 0;
    z-index: 999;
}

.profile__pic--settings.active, .product__option--settings.active { display: flex; animation: appear 0.15s linear; }

.profile__pic--settings__link { width: 100%; text-decoration: none; }

.profile__pic--settings__option {
    display: flex; flex-direction: column; justify-content: center; align-content: center; align-items: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: var(--primary-main);
}

.profile__pic--settings__link:hover {
    background-color: rgba(171, 185, 255, 0.2);
}

.profile__pic--settings__option.logout { color: var(--failure-main); }

.profile__pic--settings__option.logout:hover { background-color: rgba(255, 197, 190, 0.2); }

.navbar__username { color: var(--muted-light); margin-right: 0.5rem; }

.shops__mobile__placeholder {
    width: 100%;
    height: 100vh;
}

.shops__mobile__placeholder__container {
    width: 100%;
    height: 100%;
}

.shops__mobile__placeholder__wrapper {
    width: 100%;
    height: 100%;
    display:flex; flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.shops__mobile__placeholder__items {
    width: 15rem;
    height: 100%;
    padding: 2rem 0;
    text-align: center;
}

.shops__mobile__placeholder__img {
    padding: 2.5rem 0;
}

.shops__mobile__placeholder__header { 
    color: var(--primary-main);
    padding: 0 0 0.25rem 0;
}
.shops__mobile__placeholder__text { color: var(--muted-default);}

@media screen and (max-width: 768px) {
    .marketplace__navbar {
        display: none;
    }

    .marketplace__navbar.landing {
        display: flex;
    }

    .shops__container, .profile__container {
        margin-top: 16px !important;
    }

    .marketplace__mobile__nav {
        position: fixed;
        top: 0; left: 0;
        display: flex;
        top: 0; left: 0;
        width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center; align-content: center;
        padding: 0;
        background: var(--muted-white);
        box-shadow: var(--regular-box-shadow);
        z-index: 400;
    }

    .marketplace__mobile__nav__wrapper {
        width: 100%;
        height: 100%;
        padding: 1rem;
        justify-content: center;
        align-items: center; 
        align-content: center;
    }

    .marketplace__mobile__nav__items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .marketplace__mobile__nav__item {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }

    .marketplace__mobile__nav__item h3 {
        max-width: 100%;
    }

    .marketplace__mobile__nav__item.start { width: 75%; justify-content: flex-start; }
    .marketplace__mobile__nav__item.end { width: 25%; justify-content: flex-end; }

    .marketplace__mobile__burger {
        cursor: pointer;
        padding: 0rem 0.25rem;
    }
    
    .line {
        width: 18px;
        height: 2px;
        background-color: var(--primary-main);
        border-radius: 2px;
    }

    .marketplace__mobile__nav__merchant__name {
        color: var(--primary-main);
        font-size: 1rem;
        padding-left: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mobile__menu__container {
        background: var(--modal-bg-color);
        justify-content: flex-start;
    }

    .mobile__menu {
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        background: var(--bg-color);
    }

    .mobile__menu__header, .mobile__menu__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        padding: 1rem;
    }

    .mobile__menu__header { background: var(--primary-main); }
    .mobile__menu__body { height: 100%; justify-content: space-between; }

    .mobile__menu__row {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .mobile__menu__row.header__title {
        justify-content: space-between;
    }

    .mobile__menu__header .mobile__menu__row:nth-child(2n) {
        padding-top: 2rem;
    }

    .mobile__menu__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        text-decoration: none;
    }

    .mobile__menu__logo img {
        max-width: 40px;
    }

    .mobile__menu__logo .mobile__menu__header__text {
        padding-left: 0.5rem;
    }

    .mobile__menu__header__text {
        color: var(--muted-white);
    }

    .mobile__menu__body .mobile__menu__row {
        margin-top: 1rem;
    }

    .mobile__menu__shop__name {
        font-size: 1.25rem;
        margin-top: 0;
        color: var(--muted-default);
    }

    .mobile__menu__body__btns {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-bottom: 1rem;
    }

    .mobile__menu__body__btns a:nth-child(2n) {
        margin-left: 1.25rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .marketplace__header {
        padding: 0 1rem;
    }

    /* .marketplace__navbar {
        display: none;
    } */

    .shops__container, .profile__container {
        margin-top: 16px !important;
    }
}

@media screen and (max-width: 320px) {
    .marketplace__navbar {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 80px;
        display: none; justify-content: space-between;
        align-items: center; align-content: center;
        padding: 0 15vw;
        background: var(--muted-white);
        box-shadow: var(--regular-box-shadow);
        z-index: 400;
    }

    .shops__container, .profile__container {
        margin-top: 16px !important;
    }
}