html {
    scroll-behavior: smooth !important;
}

main {
    /* background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_7VL4gSbv3_6.png") var(--bg-color-transparency) no-repeat center top;
    background-size: 100% 100%;
    background-blend-mode: overlay; */
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_7VL4gSbv3_6.png") no-repeat center top;
    background-size: 100% 100%;
}

.marketplace__landing {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0 15vw;
}

.marketplace__landing__content {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.marketplace__landing__content__header {
    max-width: 75%;
    color: var(--muted-default);
    font-size: 48px;
    line-height: 72px;
}



.marketplace__searchbar {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/search_xpOqZFavfYg.png") no-repeat 2% 50%;
    outline: none; 
    border: none !important;
    background-color: var(--muted-white);
    color: var(--muted-lighter);
    width: 560px;
    height: 56px;
    border-radius: 5px;
    padding: 1.2rem 1.5rem 1rem 4rem;
    filter: drop-shadow(0px 3px 20px rgba(51, 51, 51, 0.1)) !important;
    margin-top: 2rem;
}

.marketplace__searchbar:hover {
    outline: none; 
    border: none !important;
}

.searchbar-content {
    width: 560px;
    max-height: 40vh;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; align-content: center;
    border-radius: 0 0 5px 5px;
    box-shadow: var(--subtle-box-shadow);
}

.marketplace__searchbar__option {
    width: 100%;
    height: 40px;
    padding: 1rem;
    display: none; justify-content: flex-start;
    align-items: center; align-content: center;
    border-top: 1px solid var(--muted-lightest);
    border-bottom: 1px solid var(--muted-lightest);
    background: var(--bg-color);
    transition: background-color 0.3s ease-in-out;
}

.marketplace__searchbar__option:first-child { border-top: none; }
.marketplace__searchbar__option:last-child { border-bottom: none; }

.marketplace__searchbar__option:hover {
    background: var(--muted-white);
}

.marketplace__searchbar__option.active { display: flex; }

.marketplace__landing__redirect {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 2.5%;
    transform: translate(-50%, -2.5%);
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; align-content: center;
}

.marketplace__landing__redirect__arrow {
    margin-top: 0.25rem;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.marketplace__landing__redirect__arrow:hover {
    opacity: 0.5;
    transform: translateY(-10%);
}

.marketplace__merchants {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15vw;
}

.marketplace__merchants__content {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.marketplace__merchants__card {
    justify-self: center;
    align-self: center;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center; align-content: center;
    width: 392px; height: auto;
    box-shadow: var(--menu-box-shadow);
    background: var(--muted-white);
    margin: 2rem;
    transition: all 0.3s ease-in-out;
}

.marketplace__merchants__card.disabled {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.marketplace__merchants__card.disabled .marketplace__merchants__info h3,
.marketplace__merchants__card.disabled .marketplace__merchants__info p {
    color: var(--muted-lighter);
}

.marketplace__merchants__card:hover {
    transform: translateY(-5%);
    box-shadow: 0px 3px 10px rgba(171, 185, 255, 0.35);
}

.marketplace__merchants__card.hide { display: none; }

.marketplace__merchants__images {
    width: 100%;
    height: 176px;
    position: relative;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
}

.marketplace__merchants__thumbnail {
    width: 100%; height: 100%;
}

.marketplace__merchants__thumbnail__backup {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/horizontal/white_with_gradient_bg_extended_2x_GqhVKnlTQ.png") no-repeat center;
    background-size: cover;
}

.marketplace__merchants__logo {
    width: 64px; height: 64px;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    border-radius: 50%;
}

.marketplace__merchants__logo__backup {
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/main_logo_white_bg_KREQ84xA8.png") no-repeat center;
    background-size: 100% 100%;
}

.marketplace__merchants__info {
    width: 100%;
    height: auto;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start; align-content: center;
    padding: 1.25rem 1.5rem;
}

.marketplace__footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem 15vw;
    background: var(--primary-main);
}

.marketplace__footer__wrapper {
    width: 100%;
    height: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start; align-content: center;
}

.marketplace__footer__logo {
    margin-bottom: 1.5rem;
}

.marketplace__footer__content {
    width: 100%;
    height: 100%;
    display: flex; justify-content: space-between; 
    align-items: center; align-content: center;
}

.marketplace__footer__links {
    width: auto;
    display: flex; justify-content: flex-start; 
    align-items: center; align-content: center;
}

.marketplace__footer__link, .marketplace__footer__email p {
    color: var(--muted-white);
    display: inline-block;
    position: relative;
    padding: 0.5rem 0;
    margin-right: 3vw;
}

.marketplace__footer__link:after, .marketplace__footer__email p:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--muted-white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.marketplace__footer__link:hover:after, .marketplace__footer__email p:hover:after { 
    width: 100%; 
    left: 0; 
}

.marketplace__footer__email {
    width: auto;
    display: flex; justify-content: flex-end; 
    align-items: center; align-content: center;
}

@media screen and (min-width: 1921px) {
    .marketplace__landing__content {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    
    .marketplace__landing__content__header {
        max-width: 75%;
        color: var(--muted-default);
        font-size: 48px;
        line-height: 72px;
    }

    .marketplace__merchants__content {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    .marketplace__merchants__card {
        width: 80%;
        margin: 2rem 4rem;
    }
}

@media screen and (max-width: 1440px) {
    .marketplace__landing__content {
        width: 80%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    
    .marketplace__landing__content__header {
        max-width: 100%;
    }

    .marketplace__merchants {
        padding: 10vw;
    }
    
    .marketplace__merchants__content {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .marketplace__merchants__card {
        width: 85%;
        margin: 1.5rem 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .marketplace__landing__content {
        width: 80%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    
    .marketplace__landing__content__header {
        max-width: 100%;
        font-size: 40px;
        line-height: 56px;
    }

    .marketplace__merchants {
        padding: 1.5rem;
    }

    .marketplace__searchbar {
        background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/search_xpOqZFavfYg.png") no-repeat 3% 50%;
        background-color: var(--muted-white);
        width: 80%;
        height: 56px;
        padding: 1.2rem 1.5rem 1rem 4rem;
        margin-top: 1.5rem;
    }
    
    .marketplace__merchants__content {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .marketplace__merchants__card {
        width: 85%;
        margin: 1.5rem 1rem;
    }

    .marketplace__footer {
        height: auto;
        padding: 2rem;
    }

    .marketplace__footer__logo {
        margin: 1rem;
    }

    .marketplace__footer__content {
        width: 100%;
        height: 100%;
        display: flex; flex-direction: column; 
        align-items: center; align-content: center;
    }

    .marketplace__footer__links {
        display: flex; justify-content: center;
        align-items: center; align-content: center;
    }

    .marketplace__footer__wrapper {
        align-items: center;
    }

    .marketplace__footer__content {
        width: 100%;
        height: 100%;
        display: flex; flex-direction: column; 
        align-items: center; align-content: center;
    }

    .marketplace__footer__email p { margin-right: 0; }

    .marketplace__footer__links, .marketplace__footer__email {
        justify-content: center; 
    }

    .marketplace__merchants__card:hover {
        transform: none;
        box-shadow: 0px 3px 10px rgba(171, 185, 255, 0.35);
    }
}

@media screen and (max-width: 960px) {
    .marketplace__landing__content {
        width: 100%;
    }

    .marketplace__searchbar {
        background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/search_xpOqZFavfYg.png") no-repeat 4% 50%;
        background-color: var(--muted-white);
        width: 100%;
        height: 56px;
        padding: 1.2rem 1.5rem 1rem 4rem;
        margin-top: 1.5rem;
    }

    .marketplace__merchants__card {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .marketplace__merchants__content {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 560px) {
    .marketplace__landing {
        padding: 0 1.5rem;
    }

    .marketplace__landing__content {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
    }
    
    .marketplace__landing__content__header {
        max-width: 100%;
        font-size: 36px;
        line-height: 48px;
    }
    
    .marketplace__searchbar {
        background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/search_xpOqZFavfYg.png") no-repeat 4% 50%;
        background-color: var(--muted-white);
        width: 100%;
        height: 56px;
        padding: 1.2rem 1.5rem 1rem 4rem;
        margin-top: 1.5rem;
    }

    .marketplace__merchants {
        padding: 1.5rem;
    }
    
    .marketplace__merchants__card {
        width: 100%;
        margin: 1rem;
    }

    .marketplace__merchants__logo {
        width: 2rem; height: 2rem;
        position: absolute;
        left: 0.75rem;
        bottom: 0.75rem;
        border-radius: 50%;
    }

    .marketplace__merchants__info {
        width: 100%;
        height: auto;
        display: flex; flex-direction: column;
        justify-content: center; align-items: flex-start; align-content: center;
        padding: 1.25rem 1.5rem;
    }

    .marketplace__footer {
        height: auto;
        padding: 1rem;
    }

    .marketplace__footer__logo {
        margin: 1rem;
    }

    .marketplace__footer__content {
        width: 100%;
        height: 100%;
        display: flex; flex-direction: column; 
        align-items: center; align-content: center;
    }

    .marketplace__footer__links {
        display: flex; flex-wrap: wrap; 
        align-items: center; align-content: center;
    }

    .marketplace__footer__wrapper {
        align-items: center;
    }

    .marketplace__footer__links, .marketplace__footer__email {
        justify-content: center;
    }

    .marketplace__merchants__card:hover {
        transform: none;
        box-shadow: 0px 3px 10px rgba(171, 185, 255, 0.35);
    }
}

@media screen and (max-width: 360px) {
    .marketplace__footer__links {
        flex-direction: row;
        flex-wrap: wrap;
    }
}