{% extends 'quicklink/error.html' %}
{% load static %}

{% block pagetitle %}Error 500{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/account-creation/merchant.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block errorContent %} 
    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Error_Illustrations/error-500-illustration_8s_ceLH7F.png" 
    alt="Error 500"
    class="error__wrapper__illustration">
    <div class="error__wrapper__text-items">
        <h3 class="error__wrapper__text bold">There was an error on our part.</h3>
        <p class="error__wrapper__subtext">Please click the button below, or send an email to 
            <a href="mailto:support@quicklink.ph" style="color: var(--primary-main);"><u>support@quicklink.ph</u></a>
            to inform us regarding this error.
        </p>
        <div class="error__wrapper__button-container">
            <button type="button" name="next" style="margin-right: 0.5rem;" id="id_back_to_safety" class="secondary-btn subtitle bold">Back to safety</button>
            <button type="button" name="send" id="id_send_error" class="primary-btn subtitle bold">Send error report</button>
        </div>
    </div>
{% endblock %}


{% block outsideErrorContent %}   
<div class="error__footer">
    <p class="error_display overline">HTTP ERROR 500</p>
</div>

<!-- style="display: flex; opacity: 1;"  -->
<div class="modal__container" id="js-modal-container">
    <div class="modal__card__wrapper" id="js-modal-card">
        <img 
            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
            alt="Exit Modal" class="modal__exit__btn" id="js-modal-exit-btn"
        />
        <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0;">Quicklink Error Reporting</h1>
        <h2 class="body" style="color: var(--muted-default);">Email support@quicklink.ph and report the error by filling up the form below.</h2>
        <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
            {% csrf_token %}
            
            <div class="registration-content">
                <p class="subtitle bold">Reported by<span style="color: var(--failure-main)">*</span></p>
                <input type="text" id="id_name" class="input default subtitle" placeholder="Name" />
                <input type="text" id="id_email" class="input default subtitle" placeholder="Email" />
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Summary<span style="color: var(--failure-main)">*</span></p>
                <input type="text" id="id_summary" class="input default subtitle" placeholder="Explain your feedback..." />
            </div>

            <div class="registration-content">
                <p class="subtitle bold">Description<span style="color: var(--failure-main)">*</span></p>
                <textarea type="text" id="id_description" class="input large-input default subtitle" placeholder="What's wrong? What did you expect to see or happen?"></textarea>
            </div>

            <button type="button" name="save_changes" style="width: 100% !important; margin-top: 1.5rem; " id="js-send-btn" class="primary-btn disabled subtitle bold">Send Feedback</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- Back to Safety -->
    <script>
        const goBack = $("#id_back_to_safety");

        goBack.click(function() {
            window.history.back();
        })
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>

    <!-- AJAX Setup -->
    <script>
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
            
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <!-- Open Modal -->
    <script>
        const openModalBtn = $("#id_send_error");
        const exitModalBtn = $("#js-modal-exit-btn");
        const errorFormModal = $("#js-modal-container");
        const sendFormBtn = $("#js-send-btn");

        // Open Modal
        openModalBtn.click(function() {
            errorFormModal.css("display", "flex");
            errorFormModal.css("opacity", 1);
        })

        // Exit Modal
        exitModalBtn.click(function() {
            errorFormModal.css("display", "none");
            errorFormModal.css("opacity", 0);
        })

        // Enable Submit Button (Verify Form)
        function enableButton() {
            var enable = true;

            if (!$("#id_name").val()) {
                enable = false
            } else if (!$("#id_email").val()) {
                enable = false
            } else if (!$("#id_summary").val()) {
                enable = false
            } else if (!$("#id_description").val()) {
                enable = false
            }

            if (enable == true) {
                $("#js-send-btn").removeClass("disabled");
            } else {
                $("#js-send-btn").addClass("disabled");
            }
        }

        $(".input").each(function() {
            $(this).keyup(function() {
                enableButton();
            });
        });

        // Send Data to error reporting callback url
        sendFormBtn.click(function(e) {
            e.preventDefault();
            sendFormBtn.addClass("loading");
            sendFormBtn.html("Form sending...");
            var name = $("#id_name").val();
            var email = $("#id_email").val();
            var summary =  $("#id_summary").val();
            var description = $("#id_description").val();
            var url = "{% url 'accounts:error-form' %}"

            $.ajax({
                url: url,
                method: "POST",
                data: {
                    'name': name,
                    'email': email,
                    'summary': summary,
                    'description': description,
                },
                success: function(data) {
                    sendFormBtn.removeClass("loading");
                    sendFormBtn.addClass("success");
                    sendFormBtn.html("Form successfully sent!");
                    setTimeout(function() {
                        sendFormBtn.removeClass("success");
                        sendFormBtn.html("Send Feedback");
                    }, 5000)
                },
                error: function(xhr,status,error) {
                    console.log(xhr, status, error)
                    sendFormBtn.removeClass("loading");
                    sendFormBtn.html("Send Feedback");
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: `Error form couldn't send. Please send us an email instead at support@quicklink.ph`,
                        layout: "bottomRight",
                        timeout: 4000,
                        progressBar: true,
                    }).show();
                }
            });
        })
    </script>
{% endblock %}
