{% extends 'quicklink/error.html' %}
{% load hosts %}

{% block pagetitle %}Error 403{% endblock %}

{% block stylesheets %}{% endblock %}

{% block errorContent %} 
    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Error_Illustrations/error-403-illustration_9np3gnOac.png" 
    alt="Error 403"
    class="error__wrapper__illustration">
    <div class="error__wrapper__text-items">
        <h3 class="error__wrapper__text bold">Oops! How’d you get here?</h3>
        <p class="error__wrapper__subtext">You don’t have access to this page. Please contact 
            <a href="mailto:support@quicklink.ph" style="color: var(--primary-main);"><u>support@quicklink.ph</u></a>
        if you believe this is a mistake.</p>
        <a href="{% host_url 'marketplace' host 'shops' %}">
            <button type="button" name="next" class="primary-btn subtitle bold">Go back the marketplace</button>
        </a>
    </div>
{% endblock %}

{% block outsideErrorContent %}    
<div class="error__footer">
    <p class="error_display overline">HTTP ERROR 403</p>
</div>
{% endblock %}
