{% extends 'quicklink/error.html' %}

{% block pagetitle %}Error 400{% endblock %}

{% block stylesheets %}{% endblock %}

{% block errorContent %} 
    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Error_Illustrations/error-400-illustration_X3PplCx8Pd1.png" 
    alt="Error 400"
    class="error__wrapper__illustration">
    <div class="error__wrapper__text-items">
        <h3 class="error__wrapper__text bold">Oh no! The page isn’t working at the moment...</h3>
        <p class="error__wrapper__subtext">If this problem continues, please contact 
            <a href="mailto:support@quicklink.ph" style="color: var(--primary-main);"><u>support@quicklink.ph</u></a>
        </p>
        <a href="{% url 'accounts:dashboard' %}">
            <button type="button" name="next" class="primary-btn subtitle bold">Go back to dashboard</button>
        </a>
    </div>
{% endblock %}

{% block outsideErrorContent %}    
    <div class="error__footer">
        <p class="error_display overline">HTTP ERROR 400</p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}