{% extends 'quicklink/error.html' %}

{% block pagetitle %}Error 404{% endblock %}

{% block errorContent %} 
    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Error_Illustrations/error-404-illustration_t2B5em1j3.png" 
    alt="Error 404"
    class="error__wrapper__illustration">
    <div class="error__wrapper__text-items">
        <h3 class="error__wrapper__text bold">You’re in a galaxy far, far away...</h3>
        <p class="error__wrapper__subtext">This page does not exist or cannot be found. Please contact 
            <a href="mailto:support@quicklink.ph" style="color: var(--primary-main);"><u>support@quicklink.ph</u></a>
            if you believe this is a mistake.
        </p>
        <button type="button" name="next" id="id_back_to_safety" class="primary-btn subtitle bold">Back to safety</button>
    </div>
{% endblock %}


{% block outsideErrorContent %}
<div class="error__footer">   
    <p class="error_display overline">HTTP ERROR 404</p>
</div>
{% endblock %}

{% block scripts %}
<script>
    const goBack = $("#id_back_to_safety");

    goBack.click(function() {
        window.history.back();
    })
</script>
{% endblock %}