.orders__container {
    width: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start;
    align-content: center;
    margin: 0; padding: 0;
}

.orders__header {
    width: auto;
    display: flex; justify-content: flex-start; 
    align-items: center; align-content: center;
}

.orders__header__user {
    width: auto;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start;
    align-content: center;
    margin-left: 16px;
}

.orders__header__user p {
    color: var(--primary-main);
}

.orders__profile__pic {
    width: 80px; height: 80px;
}

.active__orders, .order__history { 
    width: 100%; 
    display: flex; flex-direction: column; justify-content: center; 
    align-items: flex-start; align-content: center;
    margin: 4rem 0;
}

.order__card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    background: var(--muted-white);
    box-shadow: var(--regular-box-shadow);
    margin: 0.75rem 0;
}

.order__card__tag {
    display: inline-block;
    min-height: 100%;
    width: 4px;
    background-color: var(--success-alt);
}

.order__card__tag.active { background-color: var(--secondary-main); }

.order__card__content {
    width: 100%;
    display: flex; justify-content: space-between;
    align-items: center; align-content: center;
    padding: 2rem;
}

.order__card__content__info {
    max-width: 60%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start;
    align-content: center;
}

.order__card__content__status {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.order__status { margin-right: 4px; }
.payment__status { margin-left: 4px; }

.order__card__content__info .bold, 
.order__card__content__info p {
    margin: 2px 0;
}

.order__card__content__status { 
    margin: 3px 0;
}

.no__orders {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2.5rem 0;
}

.no__orders__text {
    color: var(--primary-main);
    margin: 2rem 0 1.5rem 0;
}