{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}Quicklink Terms of Use{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/subnav.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/faqs.css' %}">
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
        {% include 'settings/resources_sidebar.html' %}
        <div class="resources__container">
            <div class="settings__container settings__container__resources">
                <h1 class="settings__header extra-bold">Terms of Use Agreement</h1>
                <div class="settings__wrapper">
                    <div class="settings__content">
                        <p class="subtitle">These Terms of Use govern your use of the website located at <b>https://quicklink.ph</b> and any related services provided by Quicklink.</p>
                        <br>
                        <p class="subtitle">By accessing <b>https://quicklink.ph</b>, you agree to abide by these Terms of Service and to comply with all applicable laws and regulations. If you do not agree with these Terms of Service, you are prohibited from using or accessing this website or using any other services provided by Quicklink.</p>
                        <br>
                        <p class="subtitle">We, Quicklink, reserve the right to review and amend any of these Terms of Service at our sole discretion. Upon doing so, we will update this page. Any changes to these Terms of Service will take effect immediately from the date of publication.</p>
                        <br>
                        <p class="subtitle">These Terms of Service were last updated on 16 February 2021.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Limitations of Use</h2>
                        <p class="subtitle">By using this website, you warrant on behalf of yourself, your users, and other parties you represent that you will not:</p>
                        <ul>
                            <li class="subtitle">modify, copy, prepare derivative works of, decompile, or reverse engineer any materials and software contained on this website;</li>
                            <li class="subtitle">remove any copyright or other proprietary notations from any materials and software on this website;</li>
                            <li class="subtitle">transfer the materials to another person or “mirror” the materials on any other server; knowingly or negligently use this website or any of its associated services in a way that abuses or disrupts our networks or any other service Quicklink provides;</li>
                            <li class="subtitle">use this website or its associated services to transmit or publish any harassing, indecent, obscene, fraudulent, or unlawful material;</li>
                            <li class="subtitle">use this website or its associated services in violation of any applicable laws or regulations; use this website in conjunction with sending unauthorized advertising or spam;</li>
                            <li class="subtitle">harvest, collect, or gather user data without the user’s consent; or</li>
                            <li class="subtitle">use this website or its associated services in such a way that may infringe the privacy, intellectual property rights, or other rights of third parties.</li>
                        </ul>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Intellectual Property</h2>
                        <p class="subtitle">The intellectual property in the materials contained in this website are owned by or licensed to Quicklink and are protected by applicable copyright and trademark law. We grant our users permission to download one copy of the materials for personal, non-commercial transitory use.</p>
                        <br>
                        <p class="subtitle">This constitutes the grant of a license, not a transfer of title. This license shall automatically terminate if you violate any of these restrictions or the Terms of Service, and may be terminated by Quicklink at any time.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Liability</h2>
                        <p class="subtitle">Our website and the materials on our website are provided on an 'as is' basis. To the extent permitted by law, Quicklink makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property, or other violation of rights.</p>
                        <br>
                        <p class="subtitle">In no event shall Quicklink or its suppliers be liable for any consequential loss suffered or incurred by you or any third party arising from the use or inability to use this website or the materials on this website, even if Quicklink or an authorized representative has been notified, orally or in writing, of the possibility of such damage.</p>
                        <br>
                        <p class="subtitle">In the context of this agreement, “consequential loss” includes any consequential loss, indirect loss, real or anticipated loss of profit, loss of benefit, loss of revenue, loss of business, loss of goodwill, loss of opportunity, loss of savings, loss of reputation, loss of use and/or loss or corruption of data, whether under statute, contract, equity, tort (including negligence), indemnity, or otherwise.</p>
                        <br>
                        <p class="subtitle">Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Accuracy of Material</h2>
                        <p class="subtitle">The materials appearing on our website are not comprehensive and are for general information purposes only. Quicklink does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this website, or otherwise relating to such materials or on any resources linked to this website.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Links</h2>
                        <p class="subtitle">Quicklink has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement, approval, or control by Quicklink of the site. Use of any such linked site is at your own risk and we strongly advise you make your own investigations with respect to the suitability of those sites.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Right to Terminate</h2>
                        <p class="subtitle">We may suspend or terminate your right to use our website and terminate these Terms of Service immediately upon written notice to you for any breach of these Terms of Service.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Severance</h2>
                        <p class="subtitle">Any term of these Terms of Service which is wholly or partially void or unenforceable is severed to the extent that it is void or unenforceable. The validity of the remainder of these Terms of Service is not affected.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Governing Law</h2>
                        <p class="subtitle">These Terms of Service are governed by and construed in accordance with the laws of Philippines. You irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scriptsBody %}
{% endblock %}