{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}Quicklink FAQs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/subnav.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/faqs.css' %}">
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js" integrity="sha512-7XdqOa4bqU/hqbUuS8epr0ECSj9laLWnualyqow2TQ3RJ+TUoac0yKNjEtgg3gHGEbM+Jbwgo6K/+Y/0mJHOfA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.legacy.min.js" integrity="sha512-IYuAe/p/VLEfub+czdZWizBrPRYmnlLsaTFOK4XClSdM8eGfdvs/FyIpICR0TdMAn4Bz9trV2T0g1L/E0/wdfQ==" crossorigin="anonymous"></script>
    <script>svg4everybody();</script>
{% endblock %}

{% block maincontent %}
        {% include 'settings/resources_sidebar.html' %}
        <div class="resources__container">
            <div class="settings__container settings__container__resources">
                <h1 class="settings__header extra-bold">Frequently Asked Questions</h1>
                <div class="settings__wrapper">
                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">What is Quicklink?</h2>
                        <p class="subtitle">Quicklink is a platform that makes the buying and selling aspect of a transaction easier for both sides! We automate processes for the sellers, and we provide an all-in-one buying platform for the buyers.</p>
                    </div>
    
                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">What do I get from using Quicklink?</h2>
                        <p class="subtitle">Quicklink will streamline the entire business transaction from order to payment, making the it more efficient and easy to manage.</p>
                        <br>
                        <p class="subtitle">We can help you grow your business by equipping you with analytical tools, automated order forms and tracking, and payment gateways that can provide you and your customers a smoother experience.</p>
                    </div>
    
                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">How can this help my customers?</h2>
                        <p class="subtitle">Your customers get the best, inclusive experience by allowing your customers to pay with different methods, track their order, and provide them an easy-to-use menu and order form.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">How much does this cost?</h2>
                        <p class="subtitle">You can create a Quicklink account for free, with no setup fees required.</p>
                        <br>
                        <p class="subtitle">We have a pay-as-you-go model, where we charge a 4% fee for every transaction. You can also offset this fee to your customers.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Who can use Quicklink?</h2>
                        <p class="subtitle">For now, our platform is only optimized for online food sellers. However, expect us to expand to other types of products like clothing, stationaries, and more, as well as on-site physical restaurants soon. Stay tuned!</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">What payment methods do you provide?</h2>
                        <p class="subtitle">We will accept payments through Visa, Mastercard, Bank of the Philippine Islands (BPI), UnionBank (UB), GCash, and PayMaya.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">What is the early access program?</h2>
                        <p class="subtitle">You'll get firsthand access to our product once it's available for use!</p>
                        <br>
                        <p class="subtitle">As an early access customer, we keep you up-to-date with news about Quicklink and its features. You'll also be given an opportunity to help us build the platform!</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">How does Quicklink automate order and financial processes?</h2>
                        <p class="subtitle">Quicklink does this by combining all processes involved in a point-of-sale into one platform — from ordering to payment.</p>
                        <p class="subtitle">Doing so automates the documentation of these data for a seller as well.!</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">How much time does Quicklink save?</h2>
                        <p class="subtitle">We can lessen the order time from more than 10 minutes to less than 2 minutes. Even better, there won't be a need to dedicate manpower to reply to or update your customers.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">How does Quicklink make a shop customer's life easier?</h2>
                        <p class="subtitle">We get rid of the long "message to order, wait for reply, get payment details, transfer through a banking app, send a screenshot for confirmation" process for customers!</p>
                        <br>
                        <p class="subtitle">Besides this, customers can also have their details automatically filled out, such as name, address, and payment methods, given that they have a Quicklink Customer Account.</p>
                    </div>

                    <div class="settings__content">
                        <h2 class="settings__content__header subtitle bold">Do I need to be tech-savvy to use Quicklink?</h2>
                        <p class="subtitle">Nope! Our designers are working to make sure that your use of Quicklink is as easy and accessible as possible. No need to code anything. We aim to provide the best experience for our users!</p>
                    </div>
                </div>
            </div>
        </div>

    {% if form.errors %}
        <div id="form-errors" style="display: none;">{{ form.errors.as_json }}</div>
    {% endif %}

    {% for message in messages %}
        <div class="js-success-msgs" style="display: none;">{{ message }}</div>
    {% endfor %}

{% endblock %}

{% block scriptsBody %}
{% endblock %}