{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}Quicklink Feedback Form{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/subnav.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/faqs.css' %}">
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
        {% include 'settings/resources_sidebar.html' %}
        <div class="resources__container">
            <div class="settings__container settings__container__resources">
                <h1 class="settings__header extra-bold">Feedback Form</h1>
                <p class="subtitle">Have any comments? Suggestions? Fill out this form and we’ll get back to you as soon as we can!</p>
                <div class="settings__wrapper settings__wrapper--wide">
                    <form method="post">
                        {% csrf_token %}
                        <div class="settings__content input__col">
                            <h2 class="settings__content__header subtitle bold">What's your name?<span style="color: var(--failure-main)">*</span></h2>
                            {{ form.name }}
                        </div>
        
                        <div class="settings__content input__col">
                            <h2 class="settings__content__header subtitle bold">Can I get your email address?<span style="color: var(--failure-main)">*</span></h2>
                            {{ form.email }}
                        </div>
        
                        <div class="settings__content input__col">
                            <h2 class="settings__content__header subtitle bold">What's your shop's name?<span style="color: var(--failure-main)">*</span></h2>
                            {{ form.shop_name }}
                        </div>

                        <div class="settings__content input__col">
                            <h2 class="settings__content__header subtitle bold">How can we help?<span style="color: var(--failure-main)">*</span></h2>
                            {{ form.feedback }}
                        </div>

                        <button type="submit" class="primary-btn subtitle bold">Submit Feedback</button>
                    </form>
                </div>
            </div>
        </div>

    {% if form.errors %}
        <div id="form-errors" style="display: none;">{{ form.errors.as_json }}</div>
    {% endif %}
{% endblock %}

{% block scriptsBody %}
    <!-- NOTY Errors -->
    <script>
        const errors = $('#form-errors').text();
        const jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i < Object.keys(errorMessages).length; i++) {
                if (errorMessages[i] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[i],
                        layout: "bottomRight",
                        timeout: 3000,
                        progressBar: true,
                    }).show();
                }
            }
        }

        if (errors != "" || errors != undefined || errors != null) { displayErrors(); }
    </script>
{% endblock %}