{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}{{shop.shop_name|title}}: Account Settings{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">Notifications</h1>
        <div class="settings__wrapper">
            <div class="settings__content">
                <div class="settings__content__row">
                    <h2 class="settings__content__header subtitle bold">Received Payouts</h2>
                    <div class="switch-whole">
                        <label class="switch">
                            {% if settings.received_payouts == True %}
                                <input type="checkbox" name="received_payouts" id="id_received_payouts" checked>
                            {% else %}
                                <input type="checkbox" name="received_payouts" id="id_received_payouts">
                            {% endif %}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="subtitle" style="color: var(--muted-light);">Get an email notification every time we send your revenue to your bank account.</p>
            </div>

            <!-- <div class="settings__content">
                <div class="settings__content__row">
                    <h2 class="settings__content__header subtitle bold">Daily Order Summary</h2>
                    <div class="switch-whole">
                        <label class="switch">
                            {% if settings.daily_order_summary == True %}
                                <input type="checkbox" name="daily_order_summary" id="id_daily_order_summary" checked>
                            {% else %}
                                <input type="checkbox" name="daily_order_summary" id="id_daily_order_summary">
                            {% endif %}
                            <input type="checkbox" name="daily_order_summary" id="id_daily_order_summary" disabled>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="subtitle" style="color: var(--muted-light);">Get an email that outlines your orders for the day.</p>
            </div> -->
            
            <div class="settings__content">
                <div class="settings__content__row">
                    <h2 class="settings__content__header subtitle bold">Product Updates</h2>
                    <div class="switch-whole">
                        <label class="switch">
                            {% if settings.product_updates == True %}
                                <input type="checkbox" name="product_updates" id="id_product_updates" checked>
                            {% else %}
                                <input type="checkbox" name="product_updates" id="id_product_updates">
                            {% endif %}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="subtitle" style="color: var(--muted-light);">Get informed whenever we release a new feature on Quicklink!</p>
            </div>

            <div class="settings__content">
                <div class="settings__content__row">
                    <h2 class="settings__content__header subtitle bold">Marketing Updates</h2>
                    <div class="switch-whole">
                        <label class="switch">
                            {% if settings.marketing_updates == True %}
                                <input type="checkbox" name="marketing_updates" id="id_marketing_updates" checked>
                            {% else %}
                                <input type="checkbox" name="marketing_updates" id="id_marketing_updates">
                            {% endif %}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="subtitle" style="color: var(--muted-light);">Stay updated with news about Quicklink!</p>
            </div>

            <!-- <div class="settings__content">
                <div class="settings__content__row">
                    <h2 class="settings__content__header subtitle bold">Daily Order Summary</h2>
                    <div class="switch-whole">
                        {% include 'quicklink/coming-soon.html' %}
                    </div>
                </div>
                <p class="subtitle" style="color: var(--muted-light);">Get an email that outlines your orders for the day.</p>
            </div> -->
        </div>
    </div>

    {% if form.errors %}
        <div id="form-errors" style="display: none;">{{ form.errors.as_json }}</div>
    {% endif %}
{% endblock %}

{% block scriptsBody %}
    <!-- Notifications Toggle -->
    <script>
        const next_url = window.location.href + "save/";
        const toggleBtns = $(":input:checkbox");

        toggleBtns.each(function() {
            $(this).click(function() {
                if (this.checked) {
                    var msg = $(this).attr("name");
                    $.ajax({
                        url: next_url,
                        headers: { 'csrftoken' : csrftoken },
                        type: "POST",
                        data: {"message": msg, "status": true},
                        success:function(response){
                            location.reload();
                        },
                        error:function (xhr, textStatus, thrownError){
                            console.log("Can't send AJAX data.", xhr, textStatus, thrownError);
                        }
                    });
                } else {
                    var msg = $(this).attr("name");
                    $.ajax({
                        url: next_url,
                        headers: {'csrftoken':csrftoken},
                        type: "POST",
                        data: {"message": msg, "status": false},
                        success:function(response){
                            location.reload();
                        },
                        error:function (xhr, textStatus, thrownError){
                            console.log("Can't send AJAX data.", xhr, textStatus, thrownError);
                        }
                    });
                }
            })
        })
    </script>

    <!-- NOTY Errors -->
    <script>
        const errors = $('#form-errors').text();
        const jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i < Object.keys(errorMessages).length; i++) {
                if (errorMessages[i] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[i],
                        layout: "bottomRight",
                        timeout: 3000,
                        progressBar: true,
                    }).show();
                }
            }
        }

        if (errors != "" || errors != undefined || errors != null) { displayErrors(); }
    </script>
{% endblock %}