{% load active_link_tags %}

<div class="resources__sidebar">
    <div class="resources__sidebar__wrapper">
        <h2 class="resources__sidebar__header bold">Resources</h2>
        <div class="resources__sidebar__menu">
            <ul class="resources__sidebar__items">
                <li class="resources__sidebar__item">
                    <a href="{% url 'accounts:resource-settings-faqs' %}" class="resources__sidebar__link {% active_link 'accounts:resource-settings-faqs' strict=True %}">
                        <div class="resources__sidebar__icon resources__sidebar__icon--faqs {% active_link 'accounts:resource-settings-faqs' strict=True %}"></div>
                        <p class="subtitle bold">FAQS</p>
                    </a>
                </li>
                <li class="resources__sidebar__item">
                    <a href="{% url 'accounts:resource-settings-feedback' %}" class="resources__sidebar__link {% active_link 'accounts:resource-settings-feedback'  strict=True %}">
                        <div class="resources__sidebar__icon resources__sidebar__icon--feedback {% active_link 'accounts:resource-settings-feedback' strict=True %}"></div>
                        <p class="subtitle bold">Feedback Form</p>
                    </a>
                </li>
                
                <li class="resources__sidebar__item">
                    <a href="{% url 'accounts:resource-settings-privacy-policy' %}" class="resources__sidebar__link {% active_link 'accounts:resource-settings-privacy-policy' strict=True %}">
                        <div class="resources__sidebar__icon resources__sidebar__icon--privacy {% active_link 'accounts:resource-settings-privacy-policy' strict=True %}"></div>
                        <p class="subtitle bold">Privacy Policy</p>
                    </a>
                </li>
                
                <li class="resources__sidebar__item">
                    <a href="{% url 'accounts:resource-settings-agreement' %}" class="resources__sidebar__link {% active_link 'accounts:resource-settings-agreement' strict=True %}">
                        <div class="resources__sidebar__icon resources__sidebar__icon--agreement {% active_link 'accounts:resource-settings-agreement' strict=True %}"></div>
                        <p class="subtitle bold">Agreement</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>