{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}My Shop{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop.css' %}">
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">My Shop</h1>
        <div class="settings__wrapper my__shop">
            <div class="settings__content settings__content__row shop__settings__header">
                <div class="settings__content settings__content__row shop__settings__header__content">
                    <div class="shop__settings__logo">
                        {% if shop.shop_logo.logo %}
                            {% generateimage 'account:large_avatar' source=shop.shop_logo.logo -- alt="Shop Logo" class="shop__settings__logo__img" %}
                        {% else %}
                            <div class="shop__settings__logo__img shop__settings__logo__placeholder"></div>
                        {% endif %}
                        <a href="{% url 'accounts:shop-branding' %}" class="shop__settings__logo__overlay overline bold">Edit</a>
                    </div>
                    <div class="shop__settings__info">
                        <h2 class="body-big bold">{{ shop.shop_name }}</h2>
                        <p class="subtitle" style="color: var(--muted-lighter);">/{{ shop.shop_username }}</p>
                    </div>
                </div>
                <div class="settings__content settings__content__row shop__settings__header__btn">
                    <a href="{% url 'accounts:shop-profile' %}">
                        <button type="button" class="secondary-btn subtitle bold">Edit Shop Profile</button>
                    </a>
                </div>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Order Form Branding</h2>
                <p class="settings__content__description subtitle">Customize your header and description for your order form! Accomplishing this also helps you market your shop better.</p>
                <a href="{% url 'accounts:shop-branding' %}">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
            
            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">General Shop Settings</h2>
                <p class="settings__content__description subtitle">Find your shop’s default settings for schedules, cut-offs, and payments here.</p>
                <a href="{% url 'accounts:shop-settings' %}">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Delivery and Courier</h2>
                <p class="settings__content__description subtitle">Adjust your settings and determine how shipping and delivery will work for your shop.</p>
                <a href="{% url 'accounts:shop-delivery' %}">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Bank Account</h2>
                <p class="settings__content__description subtitle">Choose where to receive your shop’s revenue.</p>
                <a href="{% url 'accounts:shop-account' %}">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptsBody %}
    <!-- NOTY Errors -->
    <script>
        const errors = $('#form-errors').text();
        const jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i < Object.keys(errorMessages).length; i++) {
                if (errorMessages[i] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[i],
                        layout: "bottomRight",
                        timeout: 3000,
                        progressBar: true,
                    }).show();
                }
            }
        }

        if (errors != "" || errors != undefined || errors != null) { displayErrors(); }
    </script>
{% endblock %}