{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}My Shop: {{shop.shop_name|title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop-settings.css' %}">
    <link rel="stylesheet" href="{% static '/css/account-creation/merchant.css' %}">
    <link rel="stylesheet" href="{% static 'css/account-creation/bank.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">My Shop</h1>
        <div class="settings__wrapper my__shop">
            <div class="settings__content settings__content__row shop__settings__header">
                <div class="settings__content settings__content__row shop__settings__header__content">
                    <div class="shop__settings__logo">
                        {% if shop.shop_logo.logo %}
                            {% generateimage 'account:large_avatar' source=shop.shop_logo.logo -- alt="Shop Logo" class="shop__settings__logo__img" %}
                        {% else %}
                            <div class="shop__settings__logo__img shop__settings__logo__placeholder"></div>
                        {% endif %}
                        <a href="{% url 'accounts:shop-profile' %}" class="shop__settings__logo__overlay overline bold">Edit</a>
                    </div>
                    <div class="shop__settings__info">
                        <h2 class="body-big bold">{{ shop.shop_name }}</h2>
                        <p class="subtitle" style="color: var(--muted-lighter);">/{{ shop.shop_username }}</p>
                    </div>
                </div>
                <div class="settings__content settings__content__row shop__settings__header__btn">
                    <a href="{% url 'accounts:shop-profile' %}">
                        <button type="button" class="secondary-btn subtitle bold">Edit Shop Profile</button>
                    </a>
                </div>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Order Form Branding</h2>
                <p class="settings__content__description subtitle">Customize your header and description for your order form! Accomplishing this also helps you market your shop better.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
            
            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">General Shop Settings</h2>
                <p class="settings__content__description subtitle">Find your shop’s default settings for schedules, cut-offs, and payments here.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Delivery and Courier</h2>
                <p class="settings__content__description subtitle">Adjust your settings and determine how shipping and delivery will work for your shop.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Bank Account</h2>
                <p class="settings__content__description subtitle">Choose where to receive your shop’s revenue.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="modal__container" style="display: flex; opacity: 1;" id="js-modal-container">
                <div class="modal__card__wrapper" id="js-modal-card">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                        alt="Exit Modal" class="modal__exit__btn" id="js-modal-exit-btn"
                    />
                    <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0;">Where do you want to receive your money?</h1>
                    <h2 class="body" style="color: var(--muted-default);">This won’t affect the payment options provided for your customers. This is simply where you want us to deposit your revenue to. You can always change this in your settings.</h2>
                    <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
                        {% csrf_token %}
                        
                        <div class="registration-content">
                            <div class="checkout__form__row checkout__form__row--no_padding" style="justify-content: space-between;">
                                <p class="subtitle bold">Bank Name<span style="color: var(--failure-main)">*</span></p>
                                <div class="card__number__icons">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" alt="BPI" class="bank__logo" id="js-bpi-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bdo_D48ADAAqT.png" alt="BDO" class="bank__logo" id="js-bdo-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" alt="UBP" class="bank__logo" id="js-ubp-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-gcash_HI5XUVA4P.png" alt="GCash" class="bank__logo" id="js-gcash-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-paymaya_mxGtQ1SQi.png" alt="PayMaya" class="bank__logo" id="js-paymaya-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-grabpay_5_71knhjb.png" alt="GrabPay" class="bank__logo" id="js-grabpay-logo">
                                </div>
                            </div>
                            {{ form.bank_name }}
                            {{ form.cardholder_name }}
                            {{ form.account_number }}
                        </div>

                        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                        <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                        <button type="submit" name="save_changes" style="width: 100% !important; margin-top: 40px; " id="js-save-btn" class="primary-btn disabled subtitle bold">Save Changes</button>
                    </form>
                </div>
            </div>

{% endblock %}

{% block scriptsBody %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        // Modal Variables
        const modalContainer = $("#js-modal-container");
        const exitModalBtn = $("#js-modal-exit-btn");

        var currentURL = window.location.href;
        var nextURL = currentURL.split('/payment/').join('');

        function exitModal() {
            window.location.href = nextURL;
        }

        exitModalBtn.click(function() {
            exitModal();
        });

        modalContainer.click(function(e) {
            if (! document.getElementById("js-modal-card").contains(e.target)) {
                exitModal();
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
    <script>
        var bankNameInput = $('#id_bank_name');
        var allIcons = $('.bank__logo');
        var bpiIcon = $("#js-bpi-logo");
        var bdoIcon = $("#js-bdo-logo");
        var ubpIcon = $("#js-ubp-logo");
        var gcashIcon = $("#js-gcash-logo");
        var paymayaIcon = $("#js-paymaya-logo");
        var grabpayIcon = $("#js-grabpay-logo");

        function hideIcons() {
            allIcons.each(function() {
                $(this).hide();
            })
        }
        hideIcons();

        // Use new JavaScript variable for iMask
        var accountNumberInput = document.getElementById('id_account_number');
        function changeMask() {
            if (bankNameInput.val() == 'BA_BPI') {
                maskOptions = {
                    mask: '0000 000 000'
                };
            } else if (bankNameInput.val() == 'BA_BDO') {
                maskOptions = {
                    mask: '0000 0000 0000'
                };
            } else if (bankNameInput.val() == 'BA_UBP') {
                maskOptions = {
                    mask: '0000 0000 0000 0000'
                };
            } else {
                maskOptions = {
                    mask: '(+63) 000 000 000'
                };
            }
        }

        function changeIcon(el) {
            if (el.val() == 'BA_BPI' || el.val() == 'BA_BDO' || el.val() == 'BA_UBP') {
                if (el.val() == 'BA_BPI') {
                    bpiIcon.show();
                } else if (el.val() == 'BA_BDO') {
                    bdoIcon.show();
                } else {
                    ubpIcon.show();
                }
            } else {
                if (el.val() == 'PH_GCASH') {
                    gcashIcon.show();
                } else if (el.val() == 'PH_PAYMAYA') {
                    paymayaIcon.show();
                } else {
                    grabpayIcon.show();
                }
            }
        }
    
        $(function() {
            changeIcon(bankNameInput);
            var mask = null; var cleave = null;
            bankNameInput.change(function() {
                hideIcons();
                changeMask();
                if (mask != null || mask != undefined) { mask.updateOptions(maskOptions); } 
                else { mask = IMask(accountNumberInput, maskOptions); }
                changeIcon($(this));            
            });
        });
    </script>

    <script>
        // Form / Button Variables
        var currentBank = $("#id_bank_name").val()
        var currentAccount = $("#id_account_number").val()

        function enableButton() {
            if (($("#id_bank_name").val() || $("#id_bank_name").val() !== currentBank) && !$("#id_cardholder_name").val() && $("#id_account_number").val() !== currentAccount) {
                $("#js-save-btn").addClass('disabled');
            } else {
                $("#js-save-btn").removeClass('disabled');
            }
        }

        $(document).ready(function() {
            $('#id_bank_name').niceSelect();
            
            enableButton();

            $(":input").each(function() {
                $(this).change(enableButton);
                $(this).keypress(enableButton);
            });

            if ($("#id_bank_name").val() !== "") { 
                $(".js-display-inputs").each(function(){ $(this).show() });
            } else { 
                $(".js-display-inputs").each(function(){ $(this).hide() });
            }

            $("#id_bank_name").change(function(){
                if ($(this).val() !== "") {
                    $(".js-display-inputs").each(function(){ $(this).show() });
                } else {
                    $(".js-display-inputs").each(function(){ $(this).hide() });
                }
            });
        });
    </script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}