{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}My Shop: {{shop.shop_name|title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop-settings.css' %}">
    <link rel="stylesheet" href="{% static '/css/account-creation/merchant.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">My Shop</h1>
        <div class="settings__wrapper my__shop">
            <div class="settings__content settings__content__row shop__settings__header">
                <div class="settings__content settings__content__row shop__settings__header__content">
                    <div class="shop__settings__logo">
                        {% if shop.shop_logo.logo %}
                            {% generateimage 'account:large_avatar' source=shop.shop_logo.logo -- alt="Shop Logo" class="shop__settings__logo__img" %}
                        {% else %}
                            <div class="shop__settings__logo__img shop__settings__logo__placeholder"></div>
                        {% endif %}
                        <a href="{% url 'accounts:shop-profile' %}" class="shop__settings__logo__overlay overline bold">Edit</a>
                    </div>
                    <div class="shop__settings__info">
                        <h2 class="body-big bold">{{ shop.shop_name }}</h2>
                        <p class="subtitle" style="color: var(--muted-lighter);">/{{ shop.shop_username }}</p>
                    </div>
                </div>
                <div class="settings__content settings__content__row shop__settings__header__btn">
                    <a href="{% url 'accounts:shop-profile' %}">
                        <button type="button" class="secondary-btn subtitle bold">Edit Shop Profile</button>
                    </a>
                </div>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Order Form Branding</h2>
                <p class="settings__content__description subtitle">Customize your header and description for your order form! Accomplishing this also helps you market your shop better.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
            
            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">General Shop Settings</h2>
                <p class="settings__content__description subtitle">Find your shop’s default settings for schedules, cut-offs, and payments here.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Delivery and Courier</h2>
                <p class="settings__content__description subtitle">Adjust your settings and determine how shipping and delivery will work for your shop.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Bank Account</h2>
                <p class="settings__content__description subtitle">Choose where to receive your shop’s revenue.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="modal__container" style="display: flex; opacity: 1;" id="js-modal-container">
                <div class="modal__card__wrapper" id="js-modal-card">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                        alt="Exit Modal" class="modal__exit__btn" id="js-modal-exit-btn"
                    />
                    <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Order Form Branding</h1>
                    <h2 class="body" style="color: var(--muted-default);">Let’s market your shop better!</h2>
                    <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
                        {% csrf_token %}
                        <div class="shop__settings__form__logo">
                            {% if form.thumbnail.value %}
                                <div class="upload__container success" id="js-logo-upload">
                                        <img src="{{ form.thumbnail.value.url }}" alt="User uploaded logo" class="upload__file" id="js-current-image">
                                </div>
                                <div class="caption upload__text" id="js-browse-files">
                                    <span class="upload__link" style="text-align: center;">Replace image</span>
                                </div>
                            {% else %}   
                                <div class="upload__container" id="js-logo-upload">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                                    <div class="upload__content">
                                        <p class="upload__text" id="js-logo-text">Drag your shop's header image here, </p>
                                        <p class="upload__text">or <span class="upload__link" id="js-browse-files">browse through your files.</span></p>
                                    </div>
                                </div>
                                <div class="caption upload__text" style="display: none;" id="js-browse-files-hidden">
                                    <span class="upload__link" style="text-align: center;">Replace image</span>
                                </div>
                            {% endif %}
                            <div style="display: none; ">{{ form.thumbnail }}</div>
                            <div class="caption">
                                <p class="subtitle">Supported file formats: .jpg, .jpeg, .png</p>
                                <p class="subtitle">Suggested size: 1200x500 pixels (landscape)</p>
                            </div>
                        </div>

                        <div class="shop__branding__description">
                            <div class="registration-content">
                                <p class="subtitle bold">Description<span style="color: var(--failure-main)">*</span></p>
                                {{form.description}}
                            </div>
                        </div>

                        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                        <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                        <button type="submit" name="save_changes" style="width: 100% !important;" id="js-save-btn" class="primary-btn disabled subtitle bold">Save Changes</button>
                    </form>
                </div>
            </div>

{% endblock %}

{% block scriptsBody %}
    <script>
        // Modal Variables
        const modalContainer = $("#js-modal-container");
        const exitModalBtn = $("#js-modal-exit-btn");

        var currentURL = window.location.href;
        var nextURL = currentURL.split('/branding/').join('');

        function exitModal() {
            window.location.href = nextURL;
        }

        exitModalBtn.click(function() {
            exitModal();
        });

        modalContainer.click(function(e) {
            if (! document.getElementById("js-modal-card").contains(e.target)) {
                exitModal();
            }
        });

        // Form / Button Variables
        const saveBtn = $("#js-save-btn")
        const descInput = $("#id_description")
        const thumbnailInput = $("#id_thumbnail")
        const currentDescription = $("#id_description").val()

        // Enable Button
        function enableBtn(btnEl) {
            var valid = true;

            // Validate thumbnail input
            if (document.getElementById("js-current-image") == undefined) {
                if (document.getElementById("id_thumbnail").files[0] == null && document.getElementById('id_thumbnail').files == undefined) { valid = false; }
            }

            // Validate description input
            if ($("#id_description").val() === currentDescription) { console.log("Description Failed"); valid = false; }

            // Enable button if form is valid
            if (valid === true) { btnEl.removeClass('disabled'); }
        }

        // Insert enable Btn function to input fields
        descInput.keyup(function() {
            console.log($("#id_description").val().length)
            enableBtn(saveBtn); 
        });
        
        thumbnailInput.on("change", function() {
            enableBtn(saveBtn);
        });
    </script>

    <!-- Shop Logo Script -->
    <script>
        // Drag and Drop
        const dropArea = document.getElementById('js-logo-upload');
        const fileBrowse = document.getElementById('js-browse-files');
        const fileInput = document.getElementById('id_thumbnail');
        const replaceImageText = document.getElementById('js-browse-files-hidden');
        let file;

        // 
        function FileListItems (files) {
            var b = new ClipboardEvent("").clipboardData || new DataTransfer()
            for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
            return b.files
        }

        fileBrowse.addEventListener('click', function() {
            fileInput.click();
        });

        dropArea.addEventListener('dragover', function(e) {
            e.preventDefault();
            dropArea.classList.add("active");
            dropArea.style.transform = "translateY(-2.5%)";
        });

        dropArea.addEventListener('dragleave', function() {
            dropArea.classList.remove("active");
            dropArea.style.transform = "translateY(0)";
        });

        dropArea.addEventListener('drop', function(e) {
            e.preventDefault();
            dropArea.classList.remove("active");
            file = e.dataTransfer.files[0];
            
            let fileType = file.type;
            let validFileTypes = ["image/jpeg", "image/jpg", "image/png"]
            
            if (validFileTypes.includes(fileType)) {
                let fileReader = new FileReader();
                fileReader.onload = function() {
                    let fileURL = fileReader.result;
                    let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file" id="js-current-image">`
                    dropArea.innerHTML = imgTag;
                    dropArea.classList.remove("active");
                    dropArea.classList.add("success");
                    replaceImageText.id = "js-browse-files";
                    replaceImageText.style.display = "flex";
                    fileBrowse = document.getElementById('js-browse-files');
                }
                fileReader.readAsDataURL(file);
                var files = [file]
                fileInput.files = new FileListItems(files);
            } else {
                alert("Supported image file formats are .jpg, .jpeg, .png only.");
            }
        });

        window.onload = function() {
            function displayImage(file) {
                fileURL = (window.URL ? URL : webkitURL).createObjectURL(file)
                let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file" id="js-current-image">`
                dropArea.innerHTML = imgTag;
                dropArea.classList.remove("active");
                dropArea.classList.add("success");
                replaceImageText.id = "js-browse-files";
                replaceImageText.style.display = "flex";
                replaceImageText.addEventListener('click', function() {
                    fileInput.click();
                });
            }

            $("#id_thumbnail").change(function(){
                file = fileInput.files[0];
                displayImage(file);
            });
        }
    </script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}