{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}My Shop: {{shop.shop_name|title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop-settings.css' %}">
    <link rel="stylesheet" href="{% static '/css/account-creation/merchant.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">My Shop</h1>
        <div class="settings__wrapper my__shop">
            <div class="settings__content settings__content__row shop__settings__header">
                <div class="settings__content settings__content__row shop__settings__header__content">
                    <div class="shop__settings__logo">
                        {% if shop.shop_logo.logo %}
                            {% generateimage 'account:large_avatar' source=shop.shop_logo.logo -- alt="Shop Logo" class="shop__settings__logo__img" %}
                        {% else %}
                            <div class="shop__settings__logo__img shop__settings__logo__placeholder"></div>
                        {% endif %}
                        <a href="{% url 'accounts:shop-profile' %}" class="shop__settings__logo__overlay overline bold">Edit</a>
                    </div>
                    <div class="shop__settings__info">
                        <h2 class="body-big bold">{{ shop.shop_name }}</h2>
                        <p class="subtitle" style="color: var(--muted-lighter);">/{{ shop.shop_username }}</p>
                    </div>
                </div>
                <div class="settings__content settings__content__row shop__settings__header__btn">
                    <a href="{% url 'accounts:shop-profile' %}">
                        <button type="button" class="secondary-btn subtitle bold">Edit Shop Profile</button>
                    </a>
                </div>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Order Form Branding</h2>
                <p class="settings__content__description subtitle">Customize your header and description for your order form! Accomplishing this also helps you market your shop better.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
            
            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">General Shop Settings</h2>
                <p class="settings__content__description subtitle">Find your shop’s default settings for schedules, cut-offs, and payments here.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Delivery and Courier</h2>
                <p class="settings__content__description subtitle">Adjust your settings and determine how shipping and delivery will work for your shop.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Bank Account</h2>
                <p class="settings__content__description subtitle">Choose where to receive your shop’s revenue.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="modal__container" style="display: flex; opacity: 1;" id="js-modal-container">
                <div class="modal__card__wrapper" id="js-modal-card">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                        alt="Exit Modal" class="modal__exit__btn" id="js-modal-exit-btn"
                    />
                    <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">General Shop Settings</h1>
                    <h2 class="body" style="color: var(--muted-default);">Let’s set some default settings for your shop.</h2>
                    <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
                        {% csrf_token %}
                        <div class="registration-content">
                            <p class="subtitle bold">Offset transaction fees to customer?*<span style="color: var(--failure-main)">*</span></p>
                            <p class="subtitle">By doing this, the 4% transaction fee will instead be added to your customer’s checkout total instead of subtracting the fee from your revenue. This makes Quicklink 100% free for you as a seller.</p>
                            <div class="switch__container">
                                <p class="subtitle bold">No</p>
                                <div class="switch-whole">
                                    <label class="switch">
                                        {{form.shop_customer_fees}}
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <p class="subtitle bold" id="js-active-fees">Yes</p>
                            </div>
                        </div>
                        <div class="registration-content">
                            <p class="subtitle bold">Order Cut-Off<span style="color: var(--failure-main)">*</span></p>
                            <div class="radio__select__row">
                                <label class="radio-mobile">
                                    {% if form.cutoff_days.value != None and form.cutoff_days.value != 0 %}
                                        <input type="radio" name="radio-cutoff-days" class="js-radio-btns" id="js-cutoff-days" checked>
                                    {% else %}
                                        <input type="radio" name="radio-cutoff-days" class="js-radio-btns" id="js-cutoff-days">
                                    {% endif %}
                                    <span class="radio-select-mobile"></span>
                                </label>
                                <div class="smallest-input__container" style="padding-right: 0;">
                                    {{ form.cutoff_days }}
                                </div>
                                <p class="subtitle" style="padding-left: 1rem;">day(s) before chosen delivery date</p>
                            </div>
                            <div class="radio__select__row">
                                <label class="radio-mobile">
                                    {% if form.cutoff_time.value != None and form.cutoff_time.value != 0 %}
                                        <input type="radio" name="radio-cutoff-time" class="js-radio-btns" id="js-cutoff-time" checked>
                                    {% else %}
                                        <input type="radio" name="radio-cutoff-time" class="js-radio-btns" id="js-cutoff-time">
                                    {% endif %}
                                    <span class="radio-select-mobile"></span>
                                </label>
                                <div class="smallest-input__container" style="padding-right: 0;"> 
                                    {{ form.cutoff_time }} 
                                </div>
                                <p class="subtitle" style="padding-left: 1rem;">everyday</p>
                                </label> 
                            </div>
                        </div>
            
                        <div class="registration-content">
                            <p class="subtitle bold">Shop Delivery Schedule<span style="color: var(--failure-main)">*</span></p>
                            <div class="input default delivery__input js-toggle-delivery-input">
                                <p id="js-delivery-input" class="subtitle regular" style="color: var(--muted-lighter);">Everyday</p>
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_chevron-down_H9oiI7CW7d.png" onerror="this.style.display='none'" class="js-toggle-delivery-input">
                            </div>
                            <div class="delivery__modal--background" id="js-delivery-modal-bg">
                                <div class="delivery__modal" id="js-delivery-modal">
                                    <div class="delivery__modal__btns">
                                        <button type="button" class="tertiary-btn delivery__modal__btn subtitle" id="js-select-all-days">Select All</button>
                                        <p class="subtitle" style="color: var(--muted-lighter);">|</p>
                                        <button type="button" class="tertiary-btn delivery__modal__btn delivery__modal__btn__clear subtitle" id="js-clear-all-days">Clear All</button>
                                    </div>
                                    <div class="delivery__modal__options">
                                        {% for pk, day in form.delivery_days.field.widget.choices %}
                                            <div class="delivery__modal__option">
                                                <label class="checkbox" data-value="{{ pk }}">
                                                    {% if day in selected_dates %}
                                                        <input type="checkbox" name="delivery_days" value="{{ pk }}" id="id_delivery_days_{{ forloop.counter0 }}" class="js-date-checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox" name="delivery_days" value="{{ pk }}" id="id_delivery_days_{{ forloop.counter0 }}" class="js-date-checkbox">
                                                    {% endif %}
                                                    <span class="checkmark"></span>
                                                </label>
                                                <p class="delivery__modal__option--label subtitle bold">{{ day }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="delivery__modal__save">
                                        <button type="button" class="primary-btn subtitle bold" id="js-save-delivery-modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="registration-content">
                            <p class="subtitle bold">Delivery Hours<span style="color: var(--failure-main)">*</span></p>
                            <div class="radio__select__row">
                                <div class="smallest-input__container" style="padding-left: 0;">
                                    {{ form.from_hour }} 
                                </div>
                                <p class="subtitle" style="color: var(--muted-lighter);">until</p>
                                <div class="smallest-input__container" style="padding-right: 0;">
                                    {{ form.to_hour }}
                                </div>
                            </div>
                            <div class="input__helper__row hide" id="id_24_hour" style="padding-bottom: 1rem;">
                                <img 
                                    src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/fi_check-circle_sJKLfV2pe.png" 
                                    alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                                >
                                <p class="input__helper caption success">24-hour Delivery</p>
                            </div>
                        </div>

                        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                        <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                        <button type="submit" name="save_changes" style="width: 100% !important;" id="js-save-btn" class="primary-btn disabled subtitle bold">Save Changes</button>
                    </form>
                </div>
            </div>

{% endblock %}

{% block scriptsBody %}
    <script>
        // Modal Variables
        const modalContainer = $("#js-modal-container");
        const exitModalBtn = $("#js-modal-exit-btn");

        var currentURL = window.location.href;
        var nextURL = currentURL.split('/general/').join('');

        function exitModal() {
            window.location.href = nextURL;
        }

        exitModalBtn.click(function() {
            exitModal();
        });

        modalContainer.click(function(e) {
            if (! document.getElementById("js-modal-card").contains(e.target)) {
                exitModal();
            }
        });
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_cutoff_time').prop('disabled', true).niceSelect();
            $('#id_from_hour').niceSelect();
            $('#id_to_hour').niceSelect();

            if ($('#js-cutoff-days').is(':checked')) { 
                cutoffDaysInput.classList.remove('disabled');
            } else if ($('#js-cutoff-time').is(':checked')) {
                $('#id_cutoff_time').prop('disabled', false).niceSelect('update');
            }
        });
    </script>

    <!-- Update Time -->
    <script>
        $("#id_from_hour").change(function() {
            var url = '/load_times/'
            var hour = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'hour': hour
                },
                success: function(data) {
                    $("#id_to_hour").html(data);
                    $('#id_to_hour').niceSelect('update');
                }
            });
        });
    </script>

    <!-- Display 24-hour Check -->
    <script>
        var fromHour = $("#id_from_hour");
        var toHour = $("#id_to_hour");
        var twentyFourHour = $("#id_24_hour");

        function toggle24Hour() {
            if (fromHour.val() == toHour.val()) {
                twentyFourHour.removeClass("hide");
            } else {
                twentyFourHour.addClass("hide");
            }
        }

        fromHour.change(function() {
            toggle24Hour();
        })

        toHour.change(function() {
            toggle24Hour();
        })
    </script>

    <script>
        function toggleDeliveryFees(el) {
            if (el.is(":checked")) {
                $("#js-active-fees").addClass("active");
            } else {
                $("#js-active-fees").removeClass("active");
            }
        }


        $(function() {
            const shopDeliveryFeesToggle = $("#id_shop_customer_fees");
            toggleDeliveryFees(shopDeliveryFeesToggle);
            
            shopDeliveryFeesToggle.click(function() {
                toggleDeliveryFees($(this));
            });
        });
    </script>

    <script>
        const cutoffDaysInput = document.getElementById("id_cutoff_days");
        const cutoffTimeInput = document.getElementById("id_cutoff_time");

        if ($('#js-cutoff-days').is(':checked')) { 
            $('#id_cutoff_time').prop('disabled', true).niceSelect();
            cutoffDaysInput.classList.remove('disabled');
        }

        $('#js-cutoff-days').click(function() {
            if ($('#js-cutoff-days').is(':checked')) { 
                cutoffDaysInput.disabled = false;
                cutoffDaysInput.classList.remove('disabled');
            }
            
            $('#js-cutoff-time').prop('checked', false);
            $('#id_cutoff_time').prop('disabled', true).niceSelect('update');
        });

        $('#js-cutoff-time').click(function() {
            if ($('#js-cutoff-time').is(':checked')) {
                $('#id_cutoff_time').prop('disabled', false).niceSelect('update');
            }

            $('#js-cutoff-days').prop('checked', false);
            cutoffDaysInput.disabled = true;
            cutoffDaysInput.classList.add('disabled');
        });
    </script>
    
    <!-- Available Schedule Deliveries -->
    <script>
        const deliveryInput = $('#js-delivery-input');
        var listOfDays = [];

        function addDays(i) {
            if (i == 1) {
                listOfDays.push('Monday');
            } else if (i == 2) {
                listOfDays.push('Tuesday');
            } else if (i == 3) {
                listOfDays.push('Wednesday');
            } else if (i == 4) {
                listOfDays.push('Thursday');
            } else if (i == 5) {
                listOfDays.push('Friday');
            } else if (i == 6) {
                listOfDays.push('Saturday')
            } else if (i == 7) {
                listOfDays.push('Sunday');
            }
        }

        function removeDays(i) {
            if (i == 1) {
                listOfDays = listOfDays.filter(e => e !== 'Monday');
            } else if (i == 2) {
                listOfDays = listOfDays.filter(e => e !== 'Tuesday');
            } else if (i == 3) {
                listOfDays = listOfDays.filter(e => e !== 'Wednesday');
            } else if (i == 4) {
                listOfDays = listOfDays.filter(e => e !== 'Thursday');
            } else if (i == 5) {
                listOfDays = listOfDays.filter(e => e !== 'Friday');
            } else if (i == 6) {
                listOfDays = listOfDays.filter(e => e !== 'Saturday');
            } else if (i == 7) {
                listOfDays = listOfDays.filter(e => e !== 'Sunday');
            }
        }

        var weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
        var weekends = ['Saturday', 'Sunday']

        $('.js-date-checkbox:checkbox:checked').each(function () {
            if (this.checked) {
                addDays(parseInt($(this).val()));
                editInput();    
            } else {
                removeDays(parseInt($(this).val()));
                editInput();
            }
        });

        function checkShortcut(days, check) {
            for (var i = 0; i < days.length; i++) {
                if ($.inArray(days[i], check) == -1) { return false; }
            }
            return true;
        }

        function editInput() {
            if (listOfDays.length == 7) {
                deliveryInput.html('Everyday');
                deliveryInput.css('color', 'var(--muted-dark)');
            } else if (listOfDays.length <= 6 && listOfDays.length >= 3) {
                newDays = $.map(listOfDays, function(day) {
                    return day.slice(0,3);
                });
                if (listOfDays.length == 5 && checkShortcut(listOfDays, weekdays) == true) {
                    deliveryInput.html('Weekdays only');
                } else {
                    deliveryInput.html(newDays.join(', '));
                }
                deliveryInput.css('color', 'var(--muted-dark)')
            } else if (listOfDays.length < 3 && listOfDays.length > 0) {
                if (listOfDays.length == 2 && checkShortcut(listOfDays, weekends) == true) {
                    deliveryInput.html('Weekends only');
                } else {
                    deliveryInput.html(listOfDays.join(', '));
                }
                deliveryInput.css('color', 'var(--muted-dark)');
            } else {
                deliveryInput.html('Everyday');
                deliveryInput.css('color', 'var(--muted-lighter)')
            }
        }

        // Buttons
        var selectAllBtn = $("#js-select-all-days");
        var clearAllBtn = $("#js-clear-all-days");

        selectAllBtn.click(function() {
            // Reset selected
            $(".js-date-checkbox").each(function() {
                $(this).prop("checked", false);
                removeDays(parseInt($(this).val()));
            });
            // Add all days
            $(".js-date-checkbox").each(function() {
                $(this).prop("checked", true);
                addDays(parseInt($(this).val()));
            });
            editInput();
            $("#js-save-btn").removeClass('disabled');
        })

        clearAllBtn.click(function() {
            // Reset selected
            $(".js-date-checkbox").each(function() {
                $(this).prop("checked", false);
                removeDays(parseInt($(this).val()));
            });
            editInput();
            $("#js-save-btn").addClass('disabled');
        })

        $("input").change(function() {
            $("#js-save-btn").removeClass('disabled');
        })

        window.onload = function() {
            // Delivery Modal
            var toggleDeliveryInputBtns = document.getElementsByClassName('js-toggle-delivery-input');
            var deliveryModalBg = document.getElementById('js-delivery-modal-bg');
            var deliveryModal = document.getElementById('js-delivery-modal');
            var saveDeliveryModal = document.getElementById('js-save-delivery-modal');

            var checkInputs = $('input[type="checkbox"]');

            for (x = 0; x < toggleDeliveryInputBtns.length; x++) {
                toggleDeliveryInputBtns[x].addEventListener('click', function() {
                    deliveryModalBg.style.display = 'flex';
                    deliveryModal.classList.toggle('delivery__modal--appear');
                });
            };

            for (y = 0; y < checkInputs.length; y++) {
                checkInputs.eq(y).change(function() {
                    if (this.checked) {
                        addDays(parseInt($(this).val()));
                        editInput();    
                    } else {
                        removeDays(parseInt($(this).val()));
                        editInput();
                    }
                });
            }

            checkInputs.eq(0).change(function() {
                if (this.checked) {
                    document.getElementById('js-switch-text').style.color = "var(--success-alt)"
                } else {
                    document.getElementById('js-switch-text').style.color = "var(--muted-light)"
                }
            })

            deliveryModalBg.addEventListener('click', function(e) {
                if (! deliveryModal.contains(e.target)) {
                    exitModal();
                }
            });

            saveDeliveryModal.addEventListener('click', function(e) {
                exitModal();
            });

            function exitModal() {
                deliveryModalBg.style.display = 'none';
                deliveryModal.classList.toggle('delivery__modal--appear');
            }
        }
    </script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}