{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}My Shop: {{shop.shop_name|title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop-settings.css' %}">
    <link rel="stylesheet" href="{% static '/css/account-creation/merchant.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
{% endblock %}

{% block scriptsHead %}{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">My Shop</h1>
        <div class="settings__wrapper my__shop">
            <div class="settings__content settings__content__row shop__settings__header">
                <div class="settings__content settings__content__row shop__settings__header__content">
                    <div class="shop__settings__logo">
                        {% if shop.shop_logo.logo %}
                            {% generateimage 'account:large_avatar' source=shop.shop_logo.logo -- alt="Shop Logo" class="shop__settings__logo__img" %}
                        {% else %}
                            <div class="shop__settings__logo__img shop__settings__logo__placeholder"></div>
                        {% endif %}
                        <a href="{% url 'accounts:shop-profile' %}" class="shop__settings__logo__overlay overline bold">Edit</a>
                    </div>
                    <div class="shop__settings__info">
                        <h2 class="body-big bold">{{ shop.shop_name }}</h2>
                        <p class="subtitle" style="color: var(--muted-lighter);">/{{ shop.shop_username }}</p>
                    </div>
                </div>
                <div class="settings__content settings__content__row shop__settings__header__btn">
                    <a href="{% url 'accounts:shop-profile' %}">
                        <button type="button" class="secondary-btn subtitle bold">Edit Shop Profile</button>
                    </a>
                </div>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Order Form Branding</h2>
                <p class="settings__content__description subtitle">Customize your header and description for your order form! Accomplishing this also helps you market your shop better.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
            
            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">General Shop Settings</h2>
                <p class="settings__content__description subtitle">Find your shop’s default settings for schedules, cut-offs, and payments here.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Delivery and Courier</h2>
                <p class="settings__content__description subtitle">Adjust your settings and determine how shipping and delivery will work for your shop.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Bank Account</h2>
                <p class="settings__content__description subtitle">Choose where to receive your shop’s revenue.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="modal__container" style="display: flex; opacity: 1;" id="js-modal-container">
                <div class="modal__card__wrapper" id="js-modal-card">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                        alt="Exit Modal" class="modal__exit__btn" id="js-modal-exit-btn"
                    />
                    <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0;">Delivery and Courier</h1>
                    <h2 class="body" style="color: var(--muted-default);">How can your customers get their product?</h2>
                    <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
                        {% csrf_token %}
                        <div class="registration-content">
                            <div class="registration-content__delivery">
                                <p class="subtitle bold">I book the courier</p>
                                <div class="switch-whole">
                                    <label class="switch">
                                        {{form.seller_books}}
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="small-input__container" style="display: none;" id="js-seller-books-input">
                                <h3 style="margin-right: 1rem;">&#8369</h1>
                                {{form.shop_delivery_fees}}
                            </div> -->
                            <div class="registration-content__delivery">
                                <p class="subtitle bold">Buyer books courier</p>
                                <div class="switch-whole">
                                    <label class="switch">
                                        {{form.buyer_books}}
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="registration-content__delivery">
                                <p class="subtitle bold">Buyer picks up from location</p>
                                <div class="switch-whole">
                                    <label class="switch">
                                        {{form.buyer_picks_up}}
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
            
                        <div class="registration-content" id="js-pick-up-point" style="display: none;">
                            <p class="subtitle bold">Pick-Up Point</p>
                            <div class="delivery__modal__option">
                                <label class="checkbox">
                                    {% if use_same_address == True %}
                                        <input type="checkbox" name="use_shop_address" id="id_use_shop_address" class="js-date-checkbox" checked>
                                    {% else %}
                                        <input type="checkbox" name="use_shop_address" id="id_use_shop_address" class="js-date-checkbox">
                                    {% endif %}
                                    <span class="checkmark checkmark__small"></span>
                                </label>
                                <p class="delivery__modal__option--label subtitle">Same as shop address</p>
                            </div>
                            <div class="registration-content" style="padding-top: 0rem;" id="js-address-input">
                                {{form.line1}}
                                {{form.line2}}
                                {{form.city}}
                                <div class="registration-content registration-content__row">
                                    <div class="registration-content__input--small" style="padding-right: 4px;">
                                        {{form.province}}
                                        <!-- <select name="city" class="wide input default subtitle" id="id_city" data-cities-url="{% url 'accounts:load-cities' %}">
                                            {% for city in cities %}
                                                {% if city.name|title == selected_city %}
                                                    <option value="{{ city.name|title }}" selected>{{ city.name|title }}</option>
                                                {% else %}
                                                    <option value="{{ city.name|title }}">{{ city.name|title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select> -->
                                    </div>
                                    <div class="registration-content__input--small" style="padding-left: 4px;">{{form.postal_code}}</div>
                                </div>
                            </div>
                        </div>

                        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                        <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                        <button type="submit" name="save_changes" style="width: 100% !important;" id="js-save-btn" class="primary-btn disabled subtitle bold">Save Changes</button>
                    </form>
                </div>
            </div>

{% endblock %}

{% block scriptsBody %}
    <script>
        // Modal Variables
        const modalContainer = $("#js-modal-container");
        const exitModalBtn = $("#js-modal-exit-btn");

        var currentURL = window.location.href;
        var nextURL = currentURL.split('/deliveries/').join('');

        function exitModal() {
            window.location.href = nextURL;
        }

        exitModalBtn.click(function() {
            exitModal();
        });

        modalContainer.click(function(e) {
            if (! document.getElementById("js-modal-card").contains(e.target)) {
                exitModal();
            }
        });

        // Switch Toggle
        const toggleBtns = $('input:checkbox');
        const deliveryFeesInput = $('#js-seller-books-input');
        const pickupInput = $('#js-pick-up-point');
        const addressInput = $('#js-address-input');

        function displayInputs(id) {
            if (id == "id_seller_books") {
                deliveryFeesInput.css("display", "flex");
                deliveryFeesInput.css("margin", "0.5rem 0 0.75rem 0")
            } else {
                pickupInput.css("display", "flex");
            }

            if ($("#id_use_shop_address").is(":checked")) {
                addressInput.css("display", "none");
            }
        }

        function removeInputs(id) {
            if (id == "id_seller_books") {
                deliveryFeesInput.css("display", "none");
            } else if (id == "id_use_shop_address") {
                addressInput.css("display", "flex");
            } else {
                if ($("#id_buyer_books").prop('checked') == false && $("#id_buyer_picks_up").prop('checked') == false ) {
                    pickupInput.css("display", "none");
                }
            }
        }

        function enableButton() {
            var minimum = 0;
            var toggled = 0;
            
            toggleBtns.each(function() {
                if ($(this).attr('id') != "id_use_shop_address") {
                    if (this.checked) {
                        toggled += 1;
                    }
                }
            });

            if (toggled > minimum) {
                $("#js-save-btn").removeClass('disabled');
            } else {
                $("#js-save-btn").addClass('disabled');
            }
        }

        for (i = 0; i < toggleBtns.length; i++) {
            toggleBtns.eq(i).click(function(){
                if (this.checked) {
                    displayInputs($(this).attr('id'));
                } else {
                    removeInputs($(this).attr('id'));
                }
                enableButton();
            })
        }

        window.onload = function() {
            toggleBtns.each(function() {
                if ($(this).is(':checked')) {
                    displayInputs($(this).attr('id'));
                } else {
                    removeInputs($(this).attr('id'));
                }
            })   
        }
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <!-- NOTY -->
    <script>
        var errors = $('#form-errors').text();
        var jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i <= Object.keys(errorMessages).length; i++) {
                if (errorMessages[String(i)] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[String(i)],
                        layout: "topRight",
                        timeout: 5000,
                        progressBar: true,
                    }).show();
                }
            }
        }
    </script>
{% endblock %}