{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}My Shop: {{shop.shop_name|title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop.css' %}">
    <link rel="stylesheet" href="{% static '/css/merchant-settings/shop-settings.css' %}">
    <link rel="stylesheet" href="{% static '/css/account-creation/merchant.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    
    <!-- IntlTelInput Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
    <style>
        .iti {
            margin: 0.5rem 0;
        }

        .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags.png");}

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags@2x.png");}
        }
    </style>
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block maincontent %}
    <div class="settings__container">
        <h1 class="settings__header extra-bold">My Shop</h1>
        <div class="settings__wrapper my__shop">
            <div class="settings__content settings__content__row shop__settings__header">
                <div class="settings__content settings__content__row shop__settings__header__content">
                    <div class="shop__settings__logo">
                        {% if shop.shop_logo.logo %}
                            {% generateimage 'account:large_avatar' source=shop.shop_logo.logo -- alt="Shop Logo" class="shop__settings__logo__img" %}
                        {% else %}
                            <div class="shop__settings__logo__img shop__settings__logo__placeholder"></div>
                        {% endif %}
                        <a href="{% url 'accounts:shop-profile' %}" class="shop__settings__logo__overlay overline bold">Edit</a>
                    </div>
                    <div class="shop__settings__info">
                        <h2 class="body-big bold">{{ shop.shop_name }}</h2>
                        <p class="subtitle" style="color: var(--muted-lighter);">/{{ shop.shop_username }}</p>
                    </div>
                </div>
                <div class="settings__content settings__content__row shop__settings__header__btn">
                    <a href="#">
                        <button type="button" class="secondary-btn subtitle bold">Edit Shop Profile</button>
                    </a>
                </div>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Order Form Branding</h2>
                <p class="settings__content__description subtitle">Customize your header and description for your order form! Accomplishing this also helps you market your shop better.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>
            
            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">General Shop Settings</h2>
                <p class="settings__content__description subtitle">Find your shop’s default settings for schedules, cut-offs, and payments here.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Delivery and Courier</h2>
                <p class="settings__content__description subtitle">Adjust your settings and determine how shipping and delivery will work for your shop.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="settings__divider"></div>

            <div class="settings__content shop__settings__content">
                <h2 class="settings__content__header subtitle bold">Bank Account</h2>
                <p class="settings__content__description subtitle">Choose where to receive your shop’s revenue.</p>
                <a href="#">
                    <button type="button" class="secondary-btn subtitle bold">Edit</button>
                </a>
            </div>

            <div class="modal__container" style="display: flex; opacity: 1;" id="js-modal-container">
                <div class="modal__card__wrapper" id="js-modal-card">
                    <img 
                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                        alt="Exit Modal" class="modal__exit__btn" id="js-modal-exit-btn"
                    />
                    <h1 class="bold" style="color: var(--primary-main); padding: 0.25rem 0; ">Shop Information</h1>
                    <h2 class="body" style="color: var(--muted-default);">Help us get to know your shop better.</h2>
                    <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
                        {% csrf_token %}
                        <div class="shop__settings__form__logo">
                            {% if logo_form.logo.value %}
                                <div class="upload__container success" id="js-logo-upload">
                                        <img src="{{ logo_form.logo.value.url }}" alt="User uploaded logo" class="upload__file">
                                </div>
                                <div class="caption upload__text" id="js-browse-files">
                                    <span class="upload__link" style="text-align: center;">Replace image</span>
                                </div>
                            {% else %}   
                                <div class="upload__container" id="js-logo-upload">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/u_image_XucX2a74QNx.svg" alt="Image Icon" class="upload__icon">
                                    <div class="upload__content">
                                        <p class="upload__text" id="js-logo-text">Drag your shop's logo here, </p>
                                        <p class="upload__text">or <span class="upload__link" id="js-browse-files">browse through your files.</span></p>
                                    </div>
                                </div>
                                <div class="caption upload__text" style="display: none;" id="js-browse-files-hidden">
                                    <span class="upload__link" style="text-align: center;">Replace image</span>
                                </div>
                            {% endif %}
                            <div style="display: none; ">{{ logo_form.as_p }}</div>
                            <div class="caption">
                                <p class="subtitle">Supported file formats: .jpg, .jpeg, .png</p>
                                <p class="subtitle">Suggested size: 800x800 pixels</p>
                            </div>
                        </div>

                        <div class="shop__settings__form__info">
                            <div class="registration-content">
                                <p class="subtitle bold">Shop Name<span style="color: var(--failure-main)">*</span></p>
                                {{shop_info_form.shop_name}}
                            </div>
                
                            <div class="registration-content">
                                <p class="subtitle bold">Contact Number<span style="color: var(--failure-main)">*</span></p>
                                {{shop_info_form.shop_contact_number}}
                            </div>
                
                            <div class="registration-content">
                                <p class="subtitle bold">Display Email Address<span style="color: var(--failure-main)">*</span></p>
                                {{shop_info_form.shop_email}}
                                <div class="input__helper__row">
                                    <img 
                                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                                    >
                                    <p class="input__helper caption">Your customers will contact you through this email address.</p>
                                </div>
                            </div>
                            
                            <div class="registration-content">
                                <p class="subtitle bold">Shop Quicklink Username<span style="color: var(--failure-main)">*</span></p>
                                {{shop_info_form.shop_username}}
                                <div class="input__helper__row">
                                    <img 
                                        src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                                        alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                                    >
                                    <p class="input__helper caption">This will be used for your order form link (quicklink.ph/username).</p>
                                </div>
                            </div>
                
                            <div class="registration-content">
                                <p class="subtitle bold">Shop Address<span style="color: var(--failure-main)">*</span></p>
                                {{shop_info_form.line1}}
                                {{shop_info_form.line2}}
                                {{shop_info_form.city}}
                                <div class="registration-content registration-content__row">
                                    <div class="registration-content__input--small" style="padding-right: 4px;">
                                        {{shop_info_form.province}}
                                        <!-- <select name="city" class="wide input default subtitle" id="id_city" data-cities-url="{% url 'accounts:load-cities' %}">
                                            {% for city in cities %}
                                                {% if city.name|title == selected_city %}
                                                    <option value="{{ city.name|title }}" selected>{{ city.name|title }}</option>
                                                {% else %}
                                                    <option value="{{ city.name|title }}">{{ city.name|title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select> -->
                                    </div>
                                    <div class="registration-content__input--small" style="padding-left: 4px;">{{shop_info_form.postal_code}}</div>
                                </div>
                            </div>
                
                            <div class="registration-content">
                                <p class="subtitle bold">Social Media Links</p>
                                {{shop_info_form.instagram}}
                                {{shop_info_form.facebook}}
                                {{shop_info_form.twitter}}
                            </div>
                        </div>
            
                        <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                        <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                        <button type="submit" name="save_changes" style="width: 100% !important;" class="primary-btn subtitle bold">Save Changes</button>
                    </form>
                </div>
            </div>

{% endblock %}

{% block scriptsBody %}
    <!-- Load Cities -->
    <script>
        $("#id_province").change(function() {
            var url = $("#id_city").attr("data-cities-url");
            var provinceId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'province_pk': provinceId
                },
                success: function(data) {
                    $("#id_city").html(data);
                    $('#id_city').niceSelect('update');
                },
                error: function(xhr, error) {
                    console.log(error)
                }
            });
        });
    </script>

    <!-- Shop Logo Script -->
    <script>
        // Drag and Drop
        const dropArea = document.getElementById('js-logo-upload');
        const fileBrowse = document.getElementById('js-browse-files');
        const fileInput = document.getElementById('id_logo');
        const replaceImageText = document.getElementById('js-browse-files-hidden');
        let file;

        function FileListItems (files) {
            var b = new ClipboardEvent("").clipboardData || new DataTransfer()
            for (var i = 0, len = files.length; i<len; i++) b.items.add(files[i])
            return b.files
        }

        fileBrowse.addEventListener('click', function() {
            fileInput.click();
        });

        dropArea.addEventListener('dragover', function(e) {
            e.preventDefault();
            dropArea.classList.add("active");
            dropArea.style.transform = "translateY(-2.5%)";
        });

        dropArea.addEventListener('dragleave', function() {
            dropArea.classList.remove("active");
            dropArea.style.transform = "translateY(0)";
        });

        dropArea.addEventListener('drop', function(e) {
            e.preventDefault();
            dropArea.classList.remove("active");
            file = e.dataTransfer.files[0];
            
            let fileType = file.type;
            let validFileTypes = ["image/jpeg", "image/jpg", "image/png"]
            
            if (validFileTypes.includes(fileType)) {
                let fileReader = new FileReader();
                fileReader.onload = function() {
                    let fileURL = fileReader.result;
                    let imgTag = `<img src="${fileURL}" alt="User uploaded logo" class="upload__file">`
                    dropArea.innerHTML = imgTag;
                    dropArea.classList.remove("active");
                    dropArea.classList.add("success");
                    replaceImageText.id = "js-browse-files";
                    replaceImageText.style.display = "flex";
                    fileBrowse = document.getElementById('js-browse-files');
                }
                fileReader.readAsDataURL(file);
                var files = [file]
                fileInput.files = new FileListItems(files);
            } else {
                alert("Supported image file formats are .jpg, .jpeg, .png only.");
            }
        });

        window.onload = function() {
            function displayImage(file) {
                fileURL = (window.URL ? URL : webkitURL).createObjectURL(file)
                let imgTag = `<img src="${fileURL}" alt="" class="upload__file">`
                dropArea.innerHTML = imgTag;
                dropArea.classList.remove("active");
                dropArea.classList.add("success");
                replaceImageText.id = "js-browse-files";
                replaceImageText.style.display = "flex";
                replaceImageText.addEventListener('click', function() {
                    fileInput.click();
                });
            }

            $("#id_logo").change(function(){
                file = fileInput.files[0];
                displayImage(file);
            });
        }
    </script>

    <script>
        // Modal Variables
        const modalContainer = $("#js-modal-container");
        const exitModalBtn = $("#js-modal-exit-btn");

        var currentURL = window.location.href;
        var nextURL = currentURL.split('/profile/').join('');

        function exitModal() {
            window.location.href = nextURL;
        }

        exitModalBtn.click(function() {
            exitModal();
        });

        modalContainer.click(function(e) {
            if (!document.getElementById("js-modal-card").contains(e.target)) {
                exitModal();
            }
        });
    </script>

    <!-- iMask lightweight JS plugin -->
    <script>
        var contactNumberInput = document.getElementById('id_shop_contact_number');
        var maskOptions = {
            mask: '000 000 0000'
        };
        var mask = IMask(contactNumberInput, maskOptions);
    </script>

    <!-- intlTelInput Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js" integrity="sha512-lib7WdJvAnfLLBi5AHdN+wUkcWwpu1fmYzyEHQijZq7WedcwBiwdVNbcML2rAtKvwtOIU7thMGB+O9Kpb9g2Cw==" crossorigin="anonymous"></script>
    <script>
        var contactNumberInput = document.querySelector("#id_shop_contact_number");

        // To edit the style of intlTelInput, edit .iti {}
        // Check the documentation for more info: https://github.com/jackocnr/intl-tel-input

        var iti = intlTelInput(contactNumberInput, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
            initialCountry: "PH",
            separateDialCode: true,
        })
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <!-- NOTY Errors -->
    <script>
        const errors = $('#form-errors').text();
        const jsonErrors = JSON.parse(errors);

        var errorMessages = [];

        for (var k in jsonErrors) {
            for (var i in Object.keys(jsonErrors[k])) {
                errorMessages.push([jsonErrors[k][i]['message']]);
            }
        }

        function displayErrors() {
            for (i = 0; i < Object.keys(errorMessages).length; i++) {
                if (errorMessages[i] != undefined) {
                    new Noty({
                        type: 'error',
                        theme: 'bootstrap-v4',
                        text: errorMessages[i],
                        layout: "bottomRight",
                        timeout: 3000,
                        progressBar: true,
                    }).show();
                }
            }
        }

        if (errors != "" || errors != undefined || errors != null) { displayErrors(); }
    </script>
{% endblock %}