.orders__container {
    min-width: 100%;
    min-height: 95vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.orders__header {
    min-height: 10vh;
    width: calc(100% - 12rem);
    padding: 5rem 3rem 0 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.orders__header__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.orders__header__filter {
    padding-bottom: 1.5rem;
}

.orders__header__content, .orders__products {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.orders__header__content h1 { color: var(--secondary-alt); }

.orders__header__btns, .orders__total {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}



.orders__total input, .orders__total button {
    margin: 0 0.5rem !important;
}

.orders__header__btns form {
    width: auto;
    display: flex;
    flex-flow: row wrap;
}

.orders__search-bar {
    margin: 0 24px;
}

.primary-btn img, .tertiary-btn-link img {
    margin: 0 0 0 8px;
}

.orders__summary {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.orders__wrapper {
    height: 100%;
    width: calc(100% - 12rem);
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.orders__summary-table { 
    display: table;
    table-layout: fixed;
    white-space: nowrap;
    border-spacing: 0;
    margin: 0;
    min-width: 100%;
}

.orders__table-header {
    height: 72px;
    min-width: 100%;
    background: var(--muted-white);
    border-top: 1px solid var(--muted-lightest);
    border-bottom: 1px solid var(--muted-lightest);
    text-align: center;
    vertical-align: middle;
}

.orders__table__btns {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; align-content: center;
}

.selected__orders__container {
    width: auto;
    height: auto;
    display: flex; justify-content: center;
    align-items: center; align-content: center;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    border: 1px solid var(--muted-lighter);
    box-sizing: border-box;
    border-radius: 4px;
}

.selected__orders__container p {
    color: var(--muted-lighter);
}

.orders__table__btns .set-as-inactive__btn {
    margin: 0 1rem;
}

.orders__table-header.hide { display: none; }

.orders__table-header th {
    padding: 0; 
    margin: 0;
}

.order-table-row {
    height: 72px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.order-table-row:nth-child(2n+1) { background: rgba(169, 184, 255, 0.03); }
.order-table-row:nth-child(2n) { background: var(--muted-white); }

.order-table-cell {
    display: table-cell;
    width: auto;
    padding: 0 4rem !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox-cell {
    padding: 0 3rem;
}

.orders__datetime__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.orders__datetime__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 1rem;
}

.orders__datetime__wrapper .subtext {
    color: var(--muted-light);
}

.order-addon {
    max-width: 144px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order__id__wrapper {
    width: 100%;
    padding: 1rem;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    align-content: center;
}

.order__status__wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    align-content: center;
    padding: 0.5rem;
}

.order__status__wrapper.active {
    background: #C4C4C4;
    z-index: 600;
}

.order__status__change__wrapper {
    width: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 1rem 1.5rem 1rem 0.5rem;
    bottom: 0;
    opacity: 0;
    background: var(--muted-white);
    box-shadow: var(--regular-box-shadow);
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 700 !important;
}

.order__status__change__wrapper.group {
    position: absolute;
    max-height: 160px;
    padding: 1rem 5rem 1rem 0.5rem;
    left: 25%;
    top: 36%;
    transform: translate(0, 0);
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .order__status__change__wrapper.group {
        left: 21.5%;
        top: 32.5%;
    }
}

.order__status__change__wrapper.active {
    display: flex;
    opacity: 1;
}

/* PENDING ORDERS */
.orders__header__btns button {
    margin: 0 8px;
}

.orders__subheader {
    min-height: 7.5vh;
    width: calc(100% - 12rem);
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.orders__subheader form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.orders__subheader form button {
    margin: 0;
}

.orders__subheader button {
    margin: 0 40px;
}

.orders__total {
    padding-right: 32px;
}

.orders__sizes__container {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border: 1px solid var(--muted-lighter);
    margin-left: -1px;
}

.size__count {
    color: var(--secondary-alt) !important;
    padding-left: 2rem;
}

.order__addon--helper {
    position: absolute;
    display: none; justify-content: center;
    align-items: center; align-content: center;
    text-align: right;
    max-width: 160px;
    height: auto;
    background: var(--muted-lightest);
    padding: 0.5rem;
    box-shadow: var(--regular-box-shadow);
    opacity: 0; transform: translate(0, -50%);
}

@keyframes show-helper {
    from {
        opacity: 0; transform: translate(0, -50%);
    } to {
        opacity: 1; transform: translate(0, -125%);
    }
}

.order__addon--helper.show { display: flex; opacity: 1; transform: translate(0, -125%); animation: show-helper 0.3s; }