{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Account Linking{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/shops/payment.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/accounts.css' %}">
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <div class="modal__container" style="display: flex; opacity: 1;" id="spinner">
        <div class="loading__wrapper">
            <img class="loading__gif" src="{% static 'loading.gif' %}" alt="Loading Screen">
        </div>
    </div>
    <div class="modal__container" style="display: none; opacity: 1;" id="data">
        <div class="modal__card__wrapper mobile__card__linking" id="js-modal-card">
            <div class="modal__card__header">
                {% if payment_info.bank_name == "BA_BPI" %}
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" class="modal__card__header__logo" alt="BPI Logo">
                {% elif payment_info.bank_name == "BA_UBP" %}
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" class="modal__card__header__logo" alt="Unionbank Logo">
                {% endif %}
                <h1 class="bold">Choose an account to link</h1>
                <h2 class="body">This account will be charged a total of <b>PHP {{ order.total }}</b>.</h2>
            </div>
            <form action="" method="post" class="shop__settings__form">
                {% csrf_token %}

                <div class="select__box__container">
                    {% for account in accessible_accounts %}
                        <div class="select__box">
                            <div class="radio-mobile">
                                <input type="radio" name="bank_account" id="id_bank_account_{{ forloop.counter0 }}" value="{{ account.id }}" class="bank-account-radio-input">
                                <span class="radio-select-mobile"></span>
                            </div>
                            <p class='subtitle regular'>{{ account.properties.account_type }} (<span class="subtitle regular account_details">{{ account.properties.account_details }}</span>)</p>
                        </div>
                    {% endfor%}
                </div>

                <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                <button type="submit" style="width: 100% !important;" id="js-pay-btn" class="primary-btn disabled subtitle">Pay Now</button>
            </form>
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/quicklink_logo_1fPcRtsWD.png" class="quicklink__logo" alt="Quicklink Logo">
        </div>
    </div>
{% endblock %}

{% block scriptsBody %}
    <script>
        const bankAccounts = $(".bank-account-radio-input")
        const accountDetails = $(".account_details")
        const payBtn = $("#js-pay-btn")

        bankAccounts.each(function() {
            $(this).click(function() {
                payBtn.removeClass("disabled");
            })
        })

        function replaceString(string, numberofchar,chartoreplace) {
            return string.substring(0, numberofchar).split("").map(ele => ele = chartoreplace).join("").concat(string.substring(numberofchar, string.length))
        }

        const spinner = $("#spinner");
        const data = $("#data");
        accountDetails.each(function() {
            var details = $(this).text()
            var lastFour = details.length - 4
            var newDetails = replaceString(details, lastFour, "*")
            $(this).html(newDetails)
            spinner.css("display", "none");
            data.css("display", "flex");
        })
    </script>
{% endblock %}