{% load static %}
{% load hosts %}
{% load getaddonprice %}

<div class="cart__container" id="js-cart">
    <div class="cart__header">
        <div class="cart__header__basket">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Cart/my-basket_SgtcT_9NqrU.svg" class="cart__header__basket__icon">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/chevron-left_4zGTzPRZa.svg" class="cart__header__back__icon" id="js-mobile-cart-exit">
            <h3 class="bold cart__header__basket__text">My Basket</h3>
        </div>
        {% if editable_cart == True and items.count != 0 %}
            <div class="cart__header__toggle-btn">
                <button type="button" class="tertiary-btn caption bold" id="js-toggle-details-btn">Show Details</button>
            </div>
        {% endif %}
    </div>

    <div class="cart__list">
        {% if items.count == 0 %}
            <div class="cart__list__placeholder">
                <p class="cart__list__placeholder__text body-big">It’s a bit quiet here... Let’s add some items to your basket!</p>
            </div>
        {% else %}
            {% for item in items %}
                <div class="cart__list__item" id="js-cart-item-{{ forloop.counter0 }}">
                    <!-- width is 12% -->
                    <div class="cart__list__item__quantity" id="js-item-quantity-{{ forloop.counter0 }}">
                        <h3 class="bold">{{ item.quantity }}</h3>
                    </div>
                    <!-- width is 88% -->
                    <div class="cart__list__item__info">
                        <div class="cart__list__item__row">
                            <div class="cart__list__item__header">
                                <p class="cart__list__item__header__text body-big bold">{{ item.product.name }}</p>
                                <p class="cart__list__item__size subtitle">{{ item.size.size }}</p>
                            </div>
                            <div class="cart__list__item__header">
                                <p class="cart__list__item__total overline bold">Php <span class="subtitle bold" id="js-item-total-{{ forloop.counter0 }}">{{ item.get_subtotal }}</span></p>
                            </div>
                        </div>
                        <div class="cart__list__item__extras">
                            {% if item.addons %}
                                {% with cart_index=forloop.counter0 %}
                                    {% for addon in item.addons.all %}
                                        <div class="cart__list__item__row addons">
                                            <p class="caption">{{ addon.addon }}</p>
                                            <p class="caption cart__list__item__addon__price js-item-{{ cart_index }}-addon">+ PHP {{ addon.id|get_addon_price:item.quantity }}</p>
                                        </div>
                                    {% endfor %}
                                {% endwith %}
                            {% endif %}

                            {% if item.instructions %}
                                <div class="cart__list__item__row">
                                    <p class="caption cart__list__item__notes">Notes: {{ item.instructions }}</p>
                                </div>
                            {% endif %}
                        </div>
                        {% if editable_cart == True %}
                            <div class="cart__list__item__row edit__quantity">
                                <div class="cart__list__item__btns">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_minus_7gWE5HhGHYi.png" alt="Subtract" data-index="{{ forloop.counter0 }}"
                                    data-shop="{{ shop.shop_username }}" data-product="{{ item.product.id }}" data-item="{{ item.id }}" data-action="decrease" class="decrease-quantity update-cart">
                                    <p class="subheader bold order__quantity" id="js-edit-{{ item.id }}">{{ item.quantity }}</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_plus_oIul_XAbN.png" alt="Add" data-index="{{ forloop.counter0 }}"
                                    data-shop="{{ shop.shop_username }}" data-product="{{ item.product.id }}" data-item="{{ item.id }}" data-action="increase" class="increase-quantity update-cart">
                                </div>
                                <a href="{% host_url 'edit-order' shop.shop_username item.id host 'shops' %}" style="width: auto; height: auto;">
                                    <button class="secondary-btn subtitle bold">Edit</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="cart__footer">
        {% if shop.shop_general_settings.shop_customer_fees %}
            <div class="cart__footer__row">
                <p class="cart__footer__caption caption">Subtotal</p>
                <p class="cart__footer__price caption bold" id="js-cart-subtotal">Php {{ order.subtotal }}</p>
            </div>
            <div class="cart__footer__row">
                <p class="cart__footer__caption caption">Convenience Fees</p>
                <p class="cart__footer__price caption bold" id="js-cart-fees">Php {{ order.fees }}</p>
            </div>
            <div class="cart__footer__row cart__footer__total__wrapper">
                <p class="cart__footer__total medium">Total</p>
                <p class="cart__footer__total__price bold" id="js-cart-total">Php {{ order.total }}</p>
            </div>
        {% elif order.fees > 0 %}
            <div class="cart__footer__row">
                <p class="cart__footer__caption caption">Delivery Fees</p>
                <p class="cart__footer__price caption bold" id="js-cart-fees">Php {{ order.fees }}</p>
            </div>
            <div class="cart__footer__row cart__footer__total__wrapper">
                <p class="cart__footer__total medium">Total</p>
                <p class="cart__footer__total__price bold" id="js-cart-total">Php {{ order.total }}</p>
            </div>
        {% else %}
            <div class="cart__footer__row cart__footer__total__wrapper">
                <p class="cart__footer__total medium">Total</p>
                <p class="cart__footer__total__price bold" id="js-cart-total">Php {{ order.total }}</p>
            </div>
        {% endif %}
        {% if editable_cart == True %}
            <a href="{% host_url 'checkout' order.id host 'shops' %}" style="width: 100%;">
                <button class="primary-btn subtitle bold" style="width: 100%;">Proceed to Checkout</button>
            </a>
        {% endif %}
    </div>
</div>
