{% extends 'quicklink/customers.html' %}
{% load hosts %}
{% load static %}
{% load get_options %}

{% block pagetitle %}Checkout{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/shops/checkout.css' %}">
<link rel="stylesheet" href="{% static 'css/shops/cart.css' %}">
<link rel="stylesheet" href="{% static '/css/merchant-settings/account.css' %}">

<!-- Nice Select Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

<!-- Flatpickr Stylesheets -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- NOTY Notification Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">

<!-- IntlTelInput Stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.min.css" integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg==" crossorigin="anonymous" />
<style>
    .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags.png");}

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/img/flags@2x.png");}
    }
</style>
{% endblock %}

{% block scriptsHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.min.js" integrity="sha512-OnkjbJ4TwPpgSmjXACCb5J4cJwi880VRe+vWpPDlr8M38/L3slN5uUAeOeWU2jN+4vN0gImCXFGdJmc0wO4Mig==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js" integrity="sha512-bUcJxlqkiGA3cmoYPuZaLRsyc5ChG9APG4ajom2AXKSlBtOmx4kLV3c8uv/6uSz43FMjI4Q2QI21+D223rT76w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.min.js" integrity="sha512-JtpGKUjQUqCJmgw3TOr8bkL8QqB8oCbofRU39xgDnRYTfIDvfg0gQs2efeKxBCdwSAP/h3CSqhn87+giWSsxjw==" crossorigin="anonymous"></script>
{% endblock %}

{% block maincontent %}
    <form method="post" class="checkout__form" onload="verifyNumber()">
        {% csrf_token %}
        <div class="checkout__form__section">
            <h2 class="bold">Fill up your details<span class="subheader bold" style="color: var(--failure-main);">*</span></h2>
            <div class="checkout__form__row">{{ form.name }}</div>
            <div class="checkout__form__row">{{ form.email }}</div>
            {% if shop.shop_delivery_settings.mobile_number %}<div class="checkout__form__row">{{ form.contact_number }}</div>{% endif %}
            {% if shop.shop_delivery_settings.facebook %}<div class="checkout__form__row">{{ form.facebook }}</div>{% endif %}
            {% if shop.shop_delivery_settings.instagram %}<div class="checkout__form__row">{{ form.instagram }}</div>{% endif %}
        </div>

        <div class="checkout__form__section">
            <h2 class="bold">Delivery Options<span class="subheader bold" style="color: var(--failure-main);">*</span></h2>
                {% for option in form.delivery_options.field.choices %}
                    {% with option.0|get_option as new_option %}
                        <div class="checkout__form__row">
                            <div class="radio-mobile">
                                {% if delivery_option == option.0 %}
                                    <input type="radio" name="delivery_options" id="id_{{ new_option }}" value="{{ option.0 }}" class="size-radio-input js-options" checked>
                                {% else %}
                                    <input type="radio" name="delivery_options" id="id_{{ new_option }}" value="{{ option.0 }}" class="size-radio-input js-options">
                                {% endif %}
                                <span class="radio-select-mobile"></span>
                            </div>
                            <p class='subtitle'>{{ option.1 }}</p>
                        </div>
                    {% endwith %}
                {% endfor %}
        </div>
        
        <div class="checkout__form__section hide" id="id_shipping_address">
            <h2 class="bold">Shipping Address<span class="subheader bold" style="color: var(--failure-main);">*</span></h2>
            <div class="checkout__form__row">{{ form.line1 }}</div>
            <div class="checkout__form__row">{{ form.line2 }}</div>
            <div class="checkout__form__row">
                {{ form.city }}
                <!-- <select name="city" class="wide input default subtitle" id="id_city" data-cities-url="{% host_url 'load-cities' host 'shops' %}">
                    {% for city in cities %}
                        {% if city.name|title == selected_city %}
                            <option value="{{ city.name|title }}" selected>{{ city.name|title }}</option>
                        {% else %}
                            <option value="{{ city.name|title }}">{{ city.name|title }}</option>
                        {% endif %}
                    {% endfor %}
                </select> -->
            </div>
            <div class="checkout__form__row checkout__form__row--multiple">
                <div class="checkout__form__input--small">{{ form.province }}</div>
                <div class="checkout__form__input--small">{{ form.postal_code }}</div>
            </div>
        </div>
        
        <div class="checkout__form__section">
            <h2 class="bold">Preferred Delivery Date<span class="subheader bold" style="color: var(--failure-main);">*</span></h2>
            <div class="checkout__form__row">
                <div class="date-input wide">
                    {{ form.delivery_date }}
                    <div class="date-input-img">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_calendar_E4TS-cMJH.png" alt="">
                    </div>
                </div>
            </div>
            <div class="input__helper__row" style="margin: 0.25rem 0 0 0.25rem !important;">
                <img 
                    src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                    alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                >
                <p class="input__helper caption" id="js-available-delivery-days">Available Delivery Days: {{ delivery_schedule }}</p>
            </div>
            <div class="input__helper__row" style="margin: 0.25rem 0 0 0.25rem !important;">
                <img 
                    src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Account_Creation/icons/fi_info_DX4GENMoh.svg" 
                    alt="Guide" class="registration-content--email-icon" style="width: 1rem; height: 1rem;"
                >
                <p class="input__helper caption" id="js-earliest-delivery-day">Earliest Delivery Day: {{ min_date }}</p>
            </div>
        </div>

        <div class="checkout__form__section">
            <h2 class="bold">Mode of Payment<span class="subheader bold" style="color: var(--failure-main);">*</span></h2>
                {% for bank in form.bank_name.field.choices %}
                    <div class="checkout__form__row">
                        <div class="radio-mobile">
                            <input type="radio" name="bank_name" id="id_bank_name_{{ forloop.counter }}" value="{{ bank.0 }}" class="size-radio-input">
                            <span class="radio-select-mobile"></span>
                        </div>
                        <p class='subtitle'>{{ bank.1 }}</p>
                    </div>
                {% endfor %}
        </div>

        <div class="checkout__form__section">
            <!-- <h2 class="bold">Receive Updates</h2>
            <div class="checkout__form__row">
                <label class="checkbox-mobile">
                    {{ form.notif_sms }}
                    <span class="checkmark-mobile"></span>
                </label>
                <p class='subtitle' style="margin-left: 0.5rem;">{{ form.notif_sms.label }}</p>
            </div>
            <div class="checkout__form__row">
                <label class="checkbox-mobile">
                    {{ form.notif_email }}
                    <span class="checkmark-mobile"></span>
                </label>
                <p class='subtitle' style="margin-left: 0.5rem;">{{ form.notif_email.label }}</p>
            </div> -->
            <div class="settings__content" style="width: 100%; padding: 1rem 0;">
                <div class="settings__content__row" style="min-width: 100%;">
                    <h2 class="bold">Receive Email Updates?</h2>
                    <div class="switch-whole">
                        <label class="switch">
                            {{ form.notif_email }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <p class="subtitle" style="color: var(--muted-light);">Receive notifications on your order status via email.</p>
            </div>
        </div>
    
        <div class="checkout__form__section">
            <button type="submit" class="primary-btn primary-btn-link">Proceed to Payment</button>
        </div>
    </form>

    <div class="passing__info" id="js-min-year">{{ min_year }}</div>
    <div class="passing__info" id="js-min-month">{{ min_month }}</div>
    <div class="passing__info" id="js-min-day">{{ min_day }}</div>
    <div class="passing__info" id="js-min-hour">{{ min_hour }}</div>
    <div class="passing__info" id="js-delivery-from">{{ delivery_from }}</div>
    <div class="passing__info" id="js-delivery-to">{{ delivery_to }}</div>
    <div class="passing__info" id="js-selected-days">{{ available_days }}</div>
    <div class="passing__info" id="js-cities-url">{% host_url 'load-cities' host 'shops' %}</div>

    {% if form.errors %}
        {% for err in form.errors %}
            <div class="passing__info errors">{{ err }}</div>
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        {% for err in form.non_field_errors %}
            <div class="passing__info errors">{{ err }}</div>
        {% endfor %}
    {% endif %}

    {% for error_field, error_message in form.errors.items %}
        <div class="passing__info errors">{{ error_message|striptags }}</div>
    {% endfor %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="passing__info errors">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scriptsBody %}
    <!-- Load Cities -->
    <script>
        $("#id_province").change(function() {
            var url = $("#js-cities-url").text();
            var provinceId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'province_pk': provinceId
                },
                success: function(data) {
                    $("#id_city").html(data);
                    $('#id_city').niceSelect('update');
                }
            });
        });
    </script>

    <!-- Dynamic Address -->
    <script>
        var allOptions = $(".js-options")
        var sellerBooks = $("#id_merchant_booking")
        var addressContainer = $("#id_shipping_address")

        allOptions.click(function() {
            if (sellerBooks.is(":checked")) {
                addressContainer.removeClass("hide");
            } else {
                addressContainer.addClass("hide");
            }
        })
    </script>

    <!-- Flatpickr lightweight JQuery plugin — See docs for more info: https://flatpickr.js.org/examples/ -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        var startYear = $("#js-min-year").text();
        var startMonth = $("#js-min-month").text();
        var startDay = $("#js-min-day").text();
        var startHour = $("#js-min-hour").text();
        var deliveryFrom = $("#js-delivery-from").text();
        var deliveryTo = $("#js-delivery-to").text();
        var startDate = new Date(`${startYear}-${startMonth}-${startDay} 10:00:00`);
        var currentDate = new Date($("#id_delivery_date").val());
        var selectedDays = $("#js-selected-days").html();
        var arrayOfDays = JSON.parse(selectedDays);
        
        if (parseInt(startHour) > parseInt(deliveryFrom)) {
            minTime = startHour
        } else {
            minTime = deliveryFrom
        }

        $("#id_delivery_date").flatpickr({
            defaultDate: currentDate,
            minDate: startDate,
            maxDate: startDate.fp_incr(31),
            enable: [
                function enableDays(date) {
                    return (arrayOfDays.indexOf(date.getDay()) >= 0)
                }
            ],
            enableTime: true,
            altInput: true,
            altFormat: "F j, Y - h:iK",
            dateFormat: "Y-m-d, H:i",
            minTime: minTime,
            maxTime: deliveryTo
        });

        // Fix input helper caption (available delivery days)
        var daysHelper = $("#js-available-delivery-days")
        var daysCaption = daysHelper.html();

        if (daysCaption == 'Available Delivery Days: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday') {
            daysHelper.html('Available Delivery Days: Everyday');
        } else if (daysCaption == 'Available Delivery Days: Monday, Tuesday, Wednesday, Thursday, Friday') {
            daysHelper.html('Available Delivery Days: Weekdays Only');
        } else if (daysCaption == 'Available Delivery Days: Saturday, Sunday') {
            daysHelper.html('Available Delivery Days: Weekends Only');
        } else if (daysCaption == 'Available Delivery Days: Monday, Wednesday, Friday') {
            daysHelper.html('Available Delivery Days: MWF');
        } else if (daysCaption == 'Tuesday, Thursday') {
            daysHelper.html('Available Delivery Days: TTH');
        }
    </script>

    <!-- iMask lightweight JS plugin -->
    <script>
        var contactNumberInput = document.getElementById('id_contact_number');
        var maskOptions = {
            mask: '000 000 0000'
        };
        var mask = IMask(contactNumberInput, maskOptions);
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_city').niceSelect();
            $('#id_province').niceSelect();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js" integrity="sha512-lib7WdJvAnfLLBi5AHdN+wUkcWwpu1fmYzyEHQijZq7WedcwBiwdVNbcML2rAtKvwtOIU7thMGB+O9Kpb9g2Cw==" crossorigin="anonymous"></script>
    <script>
        var current_url = window.location.href;
        var contactNumberInput = document.querySelector("#id_contact_number");
        var postalCodeInput = document.querySelector("#id_postal_code");

        // To edit the style of intlTelInput, edit .iti {}
        // Check the documentation for more info: https://github.com/jackocnr/intl-tel-input

        var iti = intlTelInput(contactNumberInput, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/utils.js",
            initialCountry: "PH",
            separateDialCode: true,
            customContainer: "intlTelInput",
        })

        function verifyPhoneNumber() {
            // PHONE NUMBER JQUERY
            var contactNumber = iti.getNumber(intlTelInputUtils.numberFormat.E164);
            console.log(iti.getNumber(intlTelInputUtils.numberFormat.E164));
            if (contactNumber.indexOf(' ') >= 0) {
                contactNumber = contactNumber.trim()
            }

            if (iti.isValidNumber()) {
                contactNumberInput.classList.remove("error");
            } else {
                contactNumberInput.classList.add("error");
            }
        }

        function validateData() {
            // EMAIL VALIDATION
            var emailAccessKey = 'dafbd1f494654f72b5e4b44b9424f292';
            var emailInput = $("#id_email").val();
            var emailValidationUrl = "https://emailvalidation.abstractapi.com/v1/?api_key=" + emailAccessKey + "&email=" + emailInput;

            $.getJSON(emailValidationUrl, function(data) {
                if (data.deliverability == "DELIVERABLE") {
                    document.querySelector("#id_email").classList.remove("error");
                } else {
                    document.querySelector("#id_email").classList.add("error");
                }
            })

            // PHONE VALIDATION
            var phoneAccessKey = '98ff0e216227414cb5825d406e163799';
            var phoneInput = String(iti.getNumber(intlTelInputUtils.numberFormat.E164).split('+').join(''));
            var phoneValidationUrl = "https://phonevalidation.abstractapi.com/v1/?api_key=" + phoneAccessKey + "&phone=" + phoneInput;

            $.getJSON(phoneValidationUrl, function(data) {
                if (data.valid == true) {
                    document.querySelector("#id_contact_number").classList.remove("error");
                } else {
                    document.querySelector("#id_contact_number").classList.add("error");
                }
            })
        }


        var deliveryOptionRadio = $("input[type=radio][name=delivery_options]");

        window.onload = function() {
            contactNumberInput.onkeyup = function() {
                setTimeout(verifyPhoneNumber(), 500);
            };

            deliveryOptionRadio.change(function() {
                setTimeout(validateData(), 500);
            });
        }
    </script>

    <!-- NOTY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script>
        var errors = $(".errors");
        errors.each(function() {
            var unknownError = $(this).text()
            if (unknownError != "" && unknownError != undefined && unknownError != null) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: unknownError,
                    layout: "topRight",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        });
    </script>
{% endblock %}