{% extends 'quicklink/customers.html' %}
{% load static %}
{% load hosts %}
{% load user_agents %}
{% load imagekit %}
{% load getdays %}

{% block pagetitle %}{{ shop.shop_name | title }}: {{ product.name | title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/marketplace/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/add-order.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/product-form.css' %}">
    
    <!-- SLICK SLIDER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
{% endblock %}

{% block maincontent %}
    {% if not request|is_mobile %}
        <div class="order__form">
            <div class="order__form__thumbnail">
                {% if shop.shop_branding.thumbnail %}
                    {% generateimage 'account:shop_header' source=shop.shop_branding.thumbnail -- alt="Shop Thumbnail" class="order__form__thumbnail__img" %}
                {% else %}
                    <div class="order__form__thumbnail__img order__form__thumbnail__backup"></div>
                {% endif %}
            </div>

            <div class="order__form__shop">
                {% if shop.shop_logo.logo %}
                    {% generateimage 'account:shop_logo' source=shop.shop_logo.logo -- alt="Shop Logo" class="order__form__shop__logo" %}
                {% else %}
                    <div class="order__form__shop__logo order__form__shop__logo__backup"></div>
                {% endif %}
                <div class="order__form__shop__info">
                    <h1 class="extra-bold">{{ shop.shop_name }}</h1>
                    <div class="order__form__shop__contact">
                        <div class="order__form__shop__contact--col">
                            <div class="order__form__shop__contact--row">
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_clock_hPahhZ_4M.svg" alt="" class="order__form__shop__contact__icon">
                                {% with from=shop.shop_general_settings.get_opening_time to=shop.shop_general_settings.get_cutoff_time %}
                                    <p class="subtitle bold">{% if shop.shop_general_settings.delivery_everyday == True %}Everyday{% else %}{{ shop.shop_general_settings.delivery_days|get_selected_days }}{% endif %}, {{ from }} - {{ to }}</p>
                                {% endwith %}
                            </div>
                            <div class="order__form__shop__contact--row">
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/fi_mail_cqgT3ta0o.svg" alt="" class="order__form__shop__contact__icon">
                                <p class="subtitle">{{ shop.shop_email }}</p>
                            </div>
                        </div>
                        <div class="order__form__shop__contact--col">
                            <div class="order__form__shop__contact--row">
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_phone-alt_s-UKiZJLOA.svg" alt="" class="order__form__shop__contact__icon">
                                <p class="subtitle">{{ shop.get_formatted_number }}</p>
                            </div>
                            <div class="order__form__shop__contact--row">
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_store_dToMaPqthpG.svg" alt="" class="order__form__shop__contact__icon">
                                <p class="subtitle">{{ shop.user.user_address.display_address }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input class="searchbar order__form__searchbar body regular" 
            type="search" placeholder="Search" name="search" id="js-products-search-filter">

            <div class="order__form__products">
                {% if products %}
                    <div class="order__form__products__wrapper">
                        {% for product in products %}
                            {% include 'shops/product_card.html' with product=product %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="order__form__products__placeholder">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Order_Form/Illustrations/order_placeholder_oEwB59ZAB.png" 
                        alt="No Products Available">
                        <h2 class="order__form__products__placeholder__text">Products coming soon. Stay tuned!</h2>
                    </div>
                {% endif %}
            </div>

            {% for message in messages %}
                <div class="js-success-msgs" style="display: none;">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div id="spinner" class="modal__container mobile__order__form" style="display: flex; opacity: 1;">
        <div class="loading__wrapper">
            <img class="loading__gif" src="{% static 'loading.gif' %}" alt="Loading Screen">
        </div>
    </div>
    <div class="modal__container mobile__order__form" id="data" style="display: flex; opacity: 1;">
        <form method="POST" class="modal__card__wrapper mobile__order__form__wrapper" id="js-modal-card">
            {% csrf_token %}
            <a href="{% host_url 'view-products' shop.shop_username host 'shops' %}" class="mobile__exit__icon">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/back_j0Cr_xOiVr1.png" alt="Back to Products">
            </a>
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/Group_84_ec2u-W6uioV.svg" 
            alt="Exit Modal" class="modal__card__exit__icon js-exit-modal" id="js-modal-exit-btn">
            <div class="modal__card__slider" id="js-image-slider">
                {% for image in images %}
                    <!-- <img src="{{ image.image.url }}" class="modal__card__slider__image"> -->
                    {% generateimage 'products:carousel' source=image.image -- class="modal__card__slider__image" %}
                {% endfor %}
            </div>
            <div class="modal__card__content">
                <div class="modal__card__content__product" style="padding: 0;">
                    <h2 class="bold" style="padding-bottom: 0.5rem;" id="js-product-name">{{ product.name }}</h2>
                    <p class="subtitle" id="js-product-description">{{ product.description }}</p>
                    
                    {% if product.made_to_order %}
                        <p class="subtitle" style="padding: 1rem 0; color: var(--secondary-alt);" id="js-product-stocks">Made to Order</p>
                    {% else %}
                        <p class="subtitle" style="padding: 1rem 0; color: var(--secondary-alt);" id="js-product-stocks">Stocks Available: {{ product.stock }}</p>
                    {% endif %}

                    {% if product.instructions %}
                        <p class="subtitle" style="padding-bottom: 1rem; color: var(--muted-lighter);" id="js-product-instructions" style="display: none;">{{ product.instructions }}</p>
                    {% endif %}
                </div>
                <div class="modal__card__content__product">
                    <p class="bold">Size</p>
                    <div class="modal__card__content__product choices" id="js-product-sizes">
                        {% for size in sizes %}
                            <div class="modal__card__content--row">
                                <div class="radio-mobile sizeRadio">
                                    {% if selected_size == size %}
                                        <input type="radio" name="size" id="id_size_{{ forloop.counter }}" value="{{ size.id }}" class="size-radio-input" checked>
                                    {% else %}
                                        <input type="radio" name="size" id="id_size_{{ forloop.counter }}" value="{{ size.id }}" class="size-radio-input">
                                    {% endif %}
                                    <span class="radio-select-mobile"></span>
                                </div>
                                <label for="id_size_{{ forloop.counter }}" class='subtitle product-size' data-price="{{ size.price_size }}">{{ size.size }}</label>
                                <span class="subtitle order__price">(PHP {{ size.price_size | floatformat:2 }})</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if addons %}
                    <div class="modal__card__content__product" id="js-toggle-product-addons">
                        <p class="bold">Add-Ons</p>
                        <div class="modal__card__content__product choices" id="js-product-addons">
                            {% for addon in addons %}
                                <div class="order-product-addon">
                                    <div class="modal__card__content--row">
                                        <label class="checkbox-mobile">
                                            {% if selected_addon %}
                                                {% if addon in selected_addon.all %}
                                                    <input type="checkbox" name="addons" id="id_addon_{{ forloop.counter }}" value="{{ addon.id }}" class="addon-radio-input" checked>
                                                {% else %}
                                                    <input type="checkbox" name="addons" id="id_addon_{{ forloop.counter }}" value="{{ addon.id }}" class="addon-radio-input">
                                                {% endif %}
                                                <span class="checkmark-mobile"></span>
                                            {% else %}
                                                <input type="checkbox" name="addons" id="id_addon_{{ forloop.counter }}" value="{{ addon.id }}" class="addon-radio-input">
                                                <span class="checkmark-mobile"></span>
                                            {% endif %}
                                        </label>
                                        <label for="id_addon_{{ forloop.counter }}" class='subtitle product-addon' data-price="{{ addon.price_addon }}">{{ addon.addon }}</label>
                                        <span class="subtitle order__price addon-price">(+ PHP {{ addon.price_addon | floatformat:2 }})</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="modal__card__content__product" style="margin-bottom: 1rem;">
                    <p class="bold">Special Instructions</p>
                    {{ form.instructions }}
                </div>

                {{ form.quantity }}
                {% if not request|is_pc %}
                    <div class="order__quantity__wrapper mobile">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_minus_7gWE5HhGHYi.png" alt="Subtract" id="js-subtract-quantity">
                        <input type="number" class="subheader bold order__quantity" id="quantity_mobile" placeholder="0" value="{{ form.quantity.value|default_if_none:1 }}">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_plus_oIul_XAbN.png" alt="Add" id="js-add-quantity">
                    </div>
                {% endif %}
            </div>
            <div class="modal__card__footer">
                {% if request|is_pc %}
                    <div class="order__quantity__wrapper">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_minus_7gWE5HhGHYi.png" alt="Subtract" id="js-subtract-quantity">
                        <input type="number" class="subheader bold order__quantity" id="quantity_not_mobile" placeholder="0" value="{{ form.quantity.value|default_if_none:1 }}">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_plus_oIul_XAbN.png" alt="Add" id="js-add-quantity">
                    </div>
                {% endif %}
                <button type="submit" class="primary-btn subtitle bold update-cart" id="add-to-basket">Add to Basket</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scriptsBody %}
    {% if addons %}
        <script src="{% static 'js/orders/order.js' %}"></script>
    {% else %}
        <script src="{% static 'js/orders/order-no-addons.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/orders/cart.js' %}"></script>

    <script>
        // Modal Variables
        const modalContainer = $("#js-modal-container");
        const exitModalBtn = $("#js-modal-exit-btn");

        var currentURL = window.location.href;
        var splitURL = currentURL.split('/');
        var itemId = splitURL[splitURL.length - 3]
        var nextURL = currentURL.split(`/${itemId}/edit/`).join('');

        function exitModal() {
            window.location.href = nextURL;
        }

        exitModalBtn.click(function() {
            exitModal();
        });

        modalContainer.click(function(e) {
            if (! document.getElementById("js-modal-card").contains(e.target)) {
                exitModal();
            }
        });
    </script>

    <!-- QUANTITY -->
    <script>
        var addQty = $("#js-add-quantity");
        var subtractQty = $("#js-subtract-quantity");
        var inputQty = $("#id_quantity");

        addQty.click(function() {
            console.log(inputQty.val());
            console.log(parseInt(inputQty.val()));
            if (parseInt(inputQty.val()) < 99) {
                newVal = parseInt(inputQty.val()) + 1
                inputQty.val(newVal);
            } else if (parseInt(inputQty.val()) == NaN) {
                inputQty.val(1);
            }
        });

        subtractQty.click(function() {
            if (parseInt(inputQty.val()) > 0) {
                newVal = parseInt(inputQty.val()) - 1
                inputQty.val(newVal);
            }
        });
    </script>

    <!-- SLICK IMAGE SLIDER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    <script>
        $('#js-image-slider').slick({
            dots: true,
            infinite: false,
            speed: 400,
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: 4000,
            adaptiveHeight: false
        });
    </script>
{% endblock %}