{% extends 'quicklink/customers.html' %}
{% load static %}
{% load imagekit %}
{% load order_id %}
{% load hosts %}
{% load getdays %}

{% block pagetitle %}Order Invoice #{{ order.id }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/shops/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/invoice.css' %}">

    <!-- NOTY Notification Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <div class="modal__container" id="modal-background">
        <!-- <div class="modal__card__wrapper" id="payment-modal">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg" alt="Quicklink Logo">
            <h1 class="modal-header">Payment Complete!</h1>
            <button type="button" class="disable-modal subtitle bold">Thanks</button>
        </div> -->
        <div class="modal__card__wrapper account__modal" id="account-modal">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/shortened/Shortened-logo_BzQkxRgQX.svg" alt="Quicklink Logo">
            <h1 class="modal-header bold">Want a smoother order flow next time?</h1>
            <p class="model-text subtitle">Save information for future purchases</p>
            <p class="model-text subtitle">Easily track your orders</p>
            <p class="model-text subtitle">Discounted convenience fees</p>
            <a href="">
                <button type="button" class="primary-btn subtitle bold create-account">Create an account</button>
            </a>
            <button type="button" class="disable-modal subtitle bold">Maybe next time</button>
        </div>
    </div>
    
    <div class="order__form__shop invoice__shop">
        {% generateimage 'account:shop_logo' source=shop.shop_logo.logo -- alt="Shop Logo" class="order__form__shop__logo" %}
        <div class="order__form__shop__info">
            <h1 class="extra-bold">{{ shop.shop_name }}</h1>
            <div class="order__form__shop__contact">
                <div class="order__form__shop__contact--col">
                    <div class="order__form__shop__contact--row">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_clock_hPahhZ_4M.svg" alt="" class="order__form__shop__contact__icon">
                        {% with from=shop.shop_general_settings.get_opening_time to=shop.shop_general_settings.get_cutoff_time %}
                            <p class="caption bold">{% if shop.shop_general_settings.delivery_everyday == True %}Everyday{% else %}{{ shop.shop_general_settings.delivery_days|get_selected_days }}{% endif %}, {{ from }} - {{ to }}</p>
                        {% endwith %}
                    </div>
                    <div class="order__form__shop__contact--row">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/fi_mail_cqgT3ta0o.svg" alt="" class="order__form__shop__contact__icon">
                        <p class="caption">{{ shop.shop_email }}</p>
                    </div>
                </div>
                <div class="order__form__shop__contact--col">
                    <div class="order__form__shop__contact--row">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_phone-alt_s-UKiZJLOA.svg" alt="" class="order__form__shop__contact__icon">
                        <p class="caption">{{ shop.shop_contact_number }}</p>
                    </div>
                    <div class="order__form__shop__contact--row">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_store_dToMaPqthpG.svg" alt="" class="order__form__shop__contact__icon">
                        <p class="caption">{{ shop|get_address }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice__mobile__header">
        {% if shop.shop_branding.thumbnail %}
            {% generateimage 'account:shop_header' source=shop.shop_branding.thumbnail -- alt="Shop Thumbnail" class="invoice__mobile__header__background" %}
        {% else %}
            <div class="invoice__mobile__header__background invoice__mobile__header__backup"></div>
        {% endif %}
        <div class="invoice__mobile__header__background__overlay"></div>

        {% if shop.shop_logo and shop.shop_logo.logo %}
            {% generateimage 'account:shop_logo' source=shop.shop_logo.logo -- alt="Shop Logo" class="invoice__mobile__header__logo" %}
        {% else %}
            <div class="invoice__mobile__header__logo invoice__mobile__header__logo__backup"></div>
        {% endif %}
        <h1 class="subheader bold invoice__mobile__header__name">{{ shop.shop_name }}</h1>
    </div>
    <div class="invoice__content__wrapper">
        <div class="invoice__content__section">
            <h2 class="invoice__content__header__title bold" id="order-status">Your order is confirmed!</h2>
            <p class="body medium">Your order number is: #{{ order.id|get_order_id:"4" }}</p>
            
            <!-- Insert slug here -->
            <p class="invoice__content__header__order-link body bold">Save your receipt link: 
                <a href="{% host_url 'order-invoice' order_id=order.id host 'shops' %}" id="id_slug">{{ order.shortlink }}</a>
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/fi_copy_cXpNKbiJARt.png" 
                alt="Copy Link" class="invoice__content__copy__link" id="js-copy-link-icon" data-clipboard-text="{{ order.shortlink }}">
            </p>
        </div>

        <div class="invoice__content__section">
            <h3 class="bold">Track your order!</h3>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__box {% if order_status == 'PENDING' %}active{% endif %}"></div>
                <p class="regular invoice__content__tracking__text {% if order_status == 'PENDING' %}active{% endif %}">Your order is being received.</p>
            </div>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__line__wrapper">
                    <div class="invoice__content__tracking__line"></div>
                </div>
            </div>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__box {% if order_status == 'PREPARING' %}active{% endif %}"></div>
                <p class="regular invoice__content__tracking__text {% if order_status == 'PREPARING' %}active{% endif %}">Your order is being prepared.</p>
            </div>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__line__wrapper">
                    <div class="invoice__content__tracking__line"></div>
                </div>
            </div>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__box {% if order_status == 'DELIVERING' %}active{% endif %}"></div>
                <p class="regular invoice__content__tracking__text {% if order_status == 'DELIVERING' %}active{% endif %}">Your order is being delivered.</p>
            </div>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__line__wrapper">
                    <div class="invoice__content__tracking__line"></div>
                </div>
            </div>
            <div class="invoice__content__section__row">
                <div class="invoice__content__tracking__box {% if order_status == 'COMPLETED' %}active{% endif %}"></div>
                <p class="regular invoice__content__tracking__text {% if order_status == 'COMPLETED' %}active{% endif %}">Your order has been sent.</p>
            </div>
        </div>
        
        <div class="invoice__content__section">
            <div class="invoice__content__section__info">
                <h3 class="bold">{{ info.session_sender.customer_name }}</h3>
                <p class="regular invoice__content__notifications">{{ info.session_sender.customer_email }}</p>
                {% if info.session_sender.contact_number %}<p class="regular">{{ info.session_sender.contact_number }}</p>{% endif %}
                {% if info.session_sender.facebook %}<p class="regular">{{ info.session_sender.facebook }}</p>{% endif %}
                {% if info.session_sender.instagram %}<p class="regular">{{ info.session_sender.instagram }}</p>{% endif %}
            </div>

            <div class="invoice__content__section__info">
                {% if order.delivery_option == "Merchant Booking" %}
                    <h3 class="bold">Shipping Address</h3>
                    <p class="regular">{{ info.session_address.line1 }}, {{ info.session_address.line2 }}, {{ info.session_address.city }}, {{ info.session_address.province }}, {{ info.session_address.postal_code }}</p>
                {% else %}
                    <h3 class="bold">Delivery Option</h3>
                    <p class="regular">{{ order.delivery_option }}</p>
                {% endif %}
            </div>

            <div class="invoice__content__section__info">
                <h3 class="bold">Preferred Delivery Date</h3>
                <p class="regular">{{ order.delivery_date }}</p>
            </div>

            <div class="invoice__content__section__info">
                <h3 class="bold">Mode of Payment</h3>
                {% if info.session_payment.bank_name in banks %}
                    <p class="regular">Bank Transfer</p>
                    <p class="regular">{{ info.session_payment.account_number }}</p>
                {% elif info.session_payment.bank_name in e_wallets %}
                    <p class="regular">e-Wallet</p>
                    <p class="regular">{{ info.session_payment.bank_name }}</p>
                {% else %}
                    <p class="regular">Card ending in {{ info.session_payment.get_last_four }}</p>
                {% endif %}
            </div>

            {% if info.session_notifications.email == True or info.session_notifications.sms == True %}
                <div class="invoice__content__section__info">
                    <h3 class="bold">Order Updates</h3>
                    <!-- <div class="invoice__content__section__row invoice__content__notifications">
                        <label class="checkbox-mobile">
                            {% if info.session_notifications.sms == True %}
                                <input type="checkbox" onclick="return false;" checked>
                            {% else %}
                                <input type="checkbox" onclick="return false;">
                            {% endif %}
                            <span class="checkmark-mobile"></span>
                        </label>
                        <p class='regular'>Receive SMS updates on order status</p>
                    </div> -->
                    <div class="invoice__content__section__row invoice__content__notifications">
                        <label class="checkbox-mobile">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Order_Form/purple-mail-icon_ORmGZcfqCFhP.svg?updatedAt=1616526728075" alt="Email">
                        </label>
                        <p class='regular'>Receive email notifications on order status</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="passing__info successes">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="passing__info errors">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scriptsBody %}
    <script>
        // MODALS
        // Variables
        var disableBtns = document.getElementsByClassName('disable-modal');
        var paymentModal = document.getElementById('payment-modal');
        var accountModal = document.getElementById('account-modal');
        var modalBG = document.getElementById('modal-background');

        for (i = 0; i <= disableBtns.length - 1; i++) {
            if (i == 0) {
                disableBtns[i].addEventListener('click', function() {
                    paymentModal.style.display = "none";
                    accountModal.style.display = "flex";
                })
            } else {
                disableBtns[i].addEventListener('click', function() {
                    accountModal.style.display = "none";
                    modalBG.style.display = "none";
                })
            }
        }
    </script>

    <!-- NOTY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script>
        var successes = $(".successes");
        var errors = $(".errors");

        successes.each(function() {
            var successMsg = $(this).text()
            if (successMsg != "" && successMsg != undefined && successMsg != null) {
                new Noty({
                    type: 'success',
                    theme: 'sunset',
                    text: successMsg,
                    layout: "bottomLeft",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        })

        errors.each(function() {
            var errorMsg = $(this).text()
            if (errorMsg != "" && errorMsg != undefined && errorMsg != null) {
                new Noty({
                    type: 'error',
                    theme: 'bootstrap-v4',
                    text: errorMsg,
                    layout: "bottomLeft",
                    timeout: 5000,
                    progressBar: true,
                }).show();
            }
        });
    </script>

    <!-- Clipboard JS -->
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script>
        var clipboard = new ClipboardJS('#js-copy-link-icon');
        clipboard.on('success', function() {
            new Noty({
                type: 'success',
                theme: 'sunset',
                text: "Successfully copied shortlink!",
                layout: "bottomLeft",
                timeout: 4000,
                progressBar: true,
            }).show();
        });
        clipboard.on('error', function() {
            new Noty({
                type: 'error',
                theme: 'bootstrap-v4',
                text: "Could not copy shortlink.",
                layout: "bottomLeft",
                timeout: 5000,
                progressBar: true,
            }).show();
        });
    </script>
{% endblock %}