{% extends 'quicklink/customers.html' %}
{% load hosts %}
{% load static %}

{% block pagetitle %}Checkout: Payment{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/shops/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/payment.css' %}">
    
    <!-- Nice Select Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />

    <!-- NOTY Notification Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block scriptsHead %}
    <!--  iMask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js" integrity="sha512-qCt/OTd55ilhuXLRNAp/G8uONXUrpFoDWsXDtyjV4wMbvh46dOEjvHZyWkvnffc6I2g/WHSKsaFUCm0RISxnzQ==" crossorigin="anonymous"></script>

    {% if slug == 'card' %}
        <script type="text/javascript" src="https://js.xendit.co/v1/xendit.min.js"></script>
        <!-- Set Xendit Authorization -->
        <script type="text/javascript">
            Xendit.setPublishableKey('xnd_public_production_orImyG0Zr4XtQsS9qQMp8SvO5vfpfGsP1HdKq7zVaq8mZIxdFzIPeGfVy6aptu3');
        </script> 
    {% endif %}
{% endblock %}

{% block maincontent %}
    <form method="post" class="checkout__form" autocomplete="off">
        {% csrf_token %}
        <a href="{% host_url 'checkout' order.pk host 'shops' %}" class="checkout__link">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/fi_chevron-left_6qWcpMBsQ.png" alt="Chevron Left">
            <p class="bold">Back to checkout details</p>
        </a>
        <select name="payment_method" id="id_payment_method" class="wide input default subtitle">
            {% for method in payment_methods %}
                {% if slug|lower in method.0|lower %}
                    <option value="{{ method.0 }}" selected>{{ method.1 }}</option>
                {% else %}
                    <option value="{{ method.0 }}">{{ method.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="settings__divider"></div>
        {% if slug == 'card' %}
            {% if user.is_authenticated and available_accounts.count > 0 %}
            {% for account in available_accounts %}
                <div class="checkout__form__row available__accounts">
                    <div class="checkout__form__row">
                        <div class="radio-mobile">
                            <input type="radio" name="select_saved_card" id="id_select_saved_card_{{ forloop.counter0 }}" value="{{ account.id }}" class="saved-card-radio-input">
                            <span class="radio-select-mobile"></span>
                        </div>
                        <p class='subtitle'>Account ending in {{ account.get_last_four }}</p>
                    </div>
                    <img src="#" alt="Credit Card Type" class="js-account-type-img">
                </div>
                <div class="checkout__form__section hide">
                    <p id="js-account-name-{{ forloop.counter0 }}">{{ account.cardholder_name }}</p>
                    <p id="js-account-number-{{ forloop.counter0 }}">{{ account.account_number }}</p>
                    <p id="js-expiry-date-{{ forloop.counter0 }}">{{ account.exp_date }}</p>
                    <p id="js-card-cvv-{{ forloop.counter0 }}">{{ account.cvv }}</p>
                </div>
            {% endfor %}
            <button type="button" class="tertiary-btn subtitle bold" id="js-add-new-method-btn" style="margin: 0.5rem 0 2.5rem 0;">Add a bank account</button>
            <div class="checkout__form__section hide" id="js-add-new-method" style="margin-top: 0;">
                <div class="settings__divider"></div>
        {% else %}
            <div class="checkout__form__section" id="js-add-new-method" style="margin-top: 0;">
        {% endif %}
                <div class="checkout__form__col">
                    <p class="subtitle bold">Cardholder's Name</p>
                    <div class="checkout__form__row checkout__form__row--no_padding">
                        {{ form.cardholder_name }}
                    </div>
                </div>

                <div class="checkout__form__col">
                    <div class="checkout__form__row checkout__form__row--no_padding" style="justify-content: space-between;">
                        <p class="subtitle bold">Card Number</p>
                        <div class="card__number__icons">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/Mastercard_j6e4lWUs8.png" alt="Mastercard" id="js-mastercard-icon">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/visa-logo_2s14ARmOGyA.png" alt="VISA" id="js-visa-icon">
                        </div>
                    </div>
                    <div class="checkout__form__row checkout__form__row--no_padding">
                        {{ form.account_number }}
                    </div>
                </div>
                
                <div class="checkout__form__row checkout__form__row--no_padding checkout__form__row--multiple">
                    <div class="checkout__form__col" style="margin-right: 1rem;">
                        <p class="subtitle bold">Expiry Date</p>
                        <div class="checkout__form__input checkout__form__row--no_padding">
                            {{ form.exp_date }}
                        </div>
                    </div>
    
                    <div class="checkout__form__col" style="margin-left: 1rem;">
                        <p class="subtitle bold">CVV</p>
                        <div class="checkout__form__input checkout__form__row--no_padding">
                            {{ form.cvv }}
                        </div>
                    </div>
                </div>                
            </div>
        {% else %}
            {% if user.is_authenticated and available_accounts.count > 0 %}
            {% for account in available_accounts %}
                <div class="checkout__form__row available__accounts">
                    <div class="checkout__form__row">
                        <div class="radio-mobile">
                            <input type="radio" name="select_saved_card" id="id_select_saved_card_{{ forloop.counter0 }}" value="{{ account.id }}" class="saved-card-radio-input">
                            <span class="radio-select-mobile"></span>
                        </div>
                        <p class='subtitle'>Account ending in {{ account.get_last_four }}</p>
                    </div>
                    {% if account.bank_name == 'BA_BPI' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" alt="BPI" class="bank__logo">
                    {% elif account.bank_name == 'BA_UBP' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" alt="UBP" class="bank__logo">
                    {% elif account.bank_name == 'PH_GCASH' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-gcash_HI5XUVA4P.png" alt="GCash" class="bank__logo">
                    {% elif account.bank_name == 'PH_PAYMAYA' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-paymaya_mxGtQ1SQi.png" alt="PayMaya" class="bank__logo">
                    {% elif account.bank_name == 'PH_GRABPAY' %}
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-grabpay_5_71knhjb.png" alt="GrabPay" class="bank__logo">
                    {% endif %}
                </div>
                <div class="checkout__form__section hide">
                    <p id="js-bank-name-{{ forloop.counter0 }}">{{ account.bank_name }}</p>
                    <p id="js-account-name-{{ forloop.counter0 }}">{{ account.cardholder_name }}</p>
                    <p id="js-account-number-{{ forloop.counter0 }}">{{ account.account_number }}</p>
                </div>
            {% endfor %}
                <button type="button" class="tertiary-btn subtitle bold" id="js-add-new-method-btn" style="margin: 0.5rem 0 2.5rem 0;">Add a bank account</button>
                <div class="checkout__form__section hide" id="js-add-new-method" style="margin-top: 0;">
                <div class="settings__divider"></div>
            {% else %}
                <div class="checkout__form__section" id="js-add-new-method" style="margin-top: 0;">
            {% endif %}
                    <div class="checkout__form__col">
                        <div class="checkout__form__row checkout__form__row--no_padding" style="justify-content: space-between;">
                            <p class="subtitle bold">Choose {% if slug == 'bank' %}a Bank{% elif slug == 'ewallet' %}an E-Wallet{% endif %}</p>
                            <div class="card__number__icons">
                                {% if slug == 'bank' %}
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bpi_nGX6UcWKZ.png" alt="BPI" class="bank__logo" id="js-bpi-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-bdo_D48ADAAqT.png" alt="BDO" class="bank__logo" id="js-bdo-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-ub_WE-fZe7A2.png" alt="UBP" class="bank__logo" id="js-ubp-logo">
                                {% elif slug == 'ewallet' %}
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-gcash_HI5XUVA4P.png" alt="GCash" class="bank__logo" id="js-gcash-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-paymaya_mxGtQ1SQi.png" alt="PayMaya" class="bank__logo" id="js-paymaya-logo">
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/mockups/vp2-grabpay_5_71knhjb.png" alt="GrabPay" class="bank__logo" id="js-grabpay-logo">
                                {% endif %}
                            </div>
                        </div>
                        <div class="checkout__form__row checkout__form__row--no_padding">
                            {{ form.bank_name }}
                        </div>
                    </div>
                </div>
        {% endif %}
        <button type="submit" class="primary-btn primary-btn-link" id="js-send-payment">Pay Now</button>

        <div class="passing__info" id="js-order-total">{{ order.total }}</div>
        
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="passing__info errors">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}

{% block scriptsBody %}
    {% if slug == 'card' %}
        <script>
            var addNewAccountBtn = $('#js-add-new-method-btn');
            var newAccountForm = $('#js-add-new-method');
            var accountRadioBtns = $('.saved-card-radio-input');
            var inputFields = $('.checkout__form__row input');
            var cardTypeImg = $('.js-account-type-img');
            var selectedAccountName, selectedAccountNumber, selectedExpDate, selectedCVV;

            function uncheckRadios() {
                accountRadioBtns.each(function() {
                    $(this).prop('checked', false);
                })
            }

            function creditCardTypeFromNumber(num) {
                // first, sanitize the number by removing all non-digit characters.
                num = num.replace(/[^\d]/g,'');
                // now test the number against some regexes to figure out the card type.
                if (num.match(/^5[1-5]\d{14}$/)) {
                    return 'MasterCard';
                } else if (num.match(/^4\d{15}/) || num.match(/^4\d{12}/)) {
                    return 'Visa';
                } else if (num.match(/^3[47]\d{13}/)) {
                    return 'AmEx';
                } else if (num.match(/^6011\d{12}/)) {
                    return 'Discover';
                }
                return 'UNKNOWN';
            }

            inputFields.each(function() {
                $(this).keyup(function() {
                    uncheckRadios();
                })
            })

            addNewAccountBtn.click(function() {
                newAccountForm.show();
                addNewAccountBtn.hide();
                uncheckRadios();
            });

            accountRadioBtns.each(function(index) {
                $(this).change(function() {
                    selectedAccountName = $(`#js-account-name-${index}`).html();
                    selectedAccountNumber = $(`#js-account-number-${index}`).html();
                    selectedExpDate = $(`#js-expiry-date-${index}`).html();
                    selectedCVV = $(`#js-card-cvv-${index}`).html();

                    $('#id_cardholder_name').val(selectedAccountName);
                    $('#id_account_number').val(selectedAccountNumber);
                    $('#id_exp_date').val(selectedExpDate);
                    $('#id_cvv').val(selectedCVV);

                    if (creditCardTypeFromNumber($(`#js-account-number-${index}`).html()) == 'Visa') {
                        $('#id_account_number').removeClass('error');
                        $('#js-visa-icon').show();
                        $('#js-mastercard-icon').hide();
                    } else if (creditCardTypeFromNumber($(`#js-account-number-${index}`).html()) == 'Mastercard') {
                        $('#id_account_number').removeClass('error');
                        $('#js-visa-icon').hide();
                        $('#js-mastercard-icon').show();
                    } else if (creditCardTypeFromNumber($(`#js-account-number-${index}`).html()) == 'UNKNOWN') {
                        $('#id_account_number').addClass('error');
                    }
                });
            });

            cardTypeImg.each(function(index) {
                if (creditCardTypeFromNumber($(`#js-account-number-${index}`).html()) == 'Visa') {
                    $(this).attr('src', 'https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/visa-logo_2s14ARmOGyA.png');
                } else if (creditCardTypeFromNumber($(`#js-account-number-${index}`).html()) == 'Mastercard') {
                    $(this).attr('src', 'https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/Mastercard_j6e4lWUs8.png');
                } else if (creditCardTypeFromNumber($(`#js-account-number-${index}`).html()) == 'UNKNOWN') {
                    $('#id_account_number').addClass('error');
                }
            });
        </script>
    {% else %}
        <script>
            var addNewAccountBtn = $('#js-add-new-method-btn');
            var newAccountForm = $('#js-add-new-method');
            var accountRadioBtns = $('.saved-card-radio-input');
            var inputFields = $('.checkout__form__row input');
            var selectedBank, selectedAccountName, selectedAccountNumber;

            function uncheckRadios() {
                accountRadioBtns.each(function() {
                    $(this).prop('checked', false);
                })
            }

            inputFields.each(function() {
                $(this).keyup(function() {
                    uncheckRadios();
                })
            })

            addNewAccountBtn.click(function() {
                newAccountForm.show();
                addNewAccountBtn.hide();
                uncheckRadios();
            });

            accountRadioBtns.each(function(index) {
                $(this).change(function() {
                    selectedBank = $(`#js-bank-name-${index}`).html();
                    selectedAccountName = $(`#js-account-name-${index}`).html();
                    selectedAccountNumber = $(`#js-account-number-${index}`).html();
                    
                    $('#id_bank_name').val(selectedBank).change();
                    $('#id_bank_name').next().find('li').each(function() {
                        if ($(this).attr('data-value') == selectedBank) {
                            $('#id_bank_name').next().find('.current').html($(this).html());
                            $(this).addClass('selected');
                        } else {
                            $(this).removeClass('selected');
                        }
                    })

                    $('#id_cardholder_name').val(selectedAccountName);
                    $('#id_account_number').val(selectedAccountNumber);
                });
            });
        </script>
    {% endif %}

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_payment_method').niceSelect();
            $('#id_bank_name').niceSelect();
        });
    </script>

    <!-- CleaveJS Credit Card Validator -->
    {% if slug == 'card' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
        <script>
            var cleave = new Cleave('#id_account_number', {
                creditCard: true,
                onCreditCardTypeChanged: function (type) {
                    if (type == 'visa') {
                        $('#id_account_number').removeClass('error');
                        $('#js-visa-icon').show();
                        $('#js-mastercard-icon').hide();
                    } else if (type == 'mastercard') {
                        $('#id_account_number').removeClass('error');
                        $('#js-visa-icon').hide();
                        $('#js-mastercard-icon').show();
                    } else {
                        $('#id_account_number').addClass('error');
                    }
                }
            });
        </script>
        <!-- iMask lightweight JS plugin -->
        <script>
            var expiryDateInput = document.getElementById("id_exp_date");
            var maskOptions = {
                mask: '00/00'
            };
            var mask = IMask(expiryDateInput, maskOptions);
        </script>
    {% else %}
        <!-- iMask lightweight JS plugin -->
        <script>
            var accountNumberInput = document.getElementById('id_account_number');
            var bankNameInput = $("#id_bank_name");
            var maskOptions = {}

            function changeMask() {
                if (bankNameInput.val() == 'BA_BPI') {
                    maskOptions = {
                        mask: '0000 000 000'
                    };
                } else if (bankNameInput.val() == 'BA_UBP') {
                    maskOptions = {
                        mask: '0000 0000 0000 0000'
                    };
                } else {
                    maskOptions = {
                        mask: '+63 000 000 0000'
                    };
                }
            }
            
            changeMask();
            var mask = IMask(accountNumberInput, maskOptions);

            bankNameInput.change(function() {
                changeMask();
                mask.updateOptions(maskOptions);
            });
        </script>

        <script>
            var bankNameInput = $("#id_bank_name");
            var bpiLogo = $("#js-bpi-logo");
            var bdoLogo = $("#js-bdo-logo");
            var ubpLogo = $("#js-ubp-logo");
            var gcashLogo = $("#js-gcash-logo");
            var paymayaLogo = $("#js-paymaya-logo");
            var grabpayLogo = $("#js-grabpay-logo");

            function changeLogo() {
                if (bankNameInput.val() === 'BA_BPI') {
                    bpiLogo.show();
                    bdoLogo.hide();
                    ubpLogo.hide();
                } else if (bankNameInput.val() === 'BA_BDO') {
                    bdoLogo.show();
                    bpiLogo.hide();
                    ubpLogo.hide();
                } else if (bankNameInput.val() === 'BA_UBP') {
                    ubpLogo.show();
                    bpiLogo.hide();
                    bdoLogo.hide();
                } else if (bankNameInput.val() === 'PH_GCASH') {
                    gcashLogo.show();
                    paymayaLogo.hide();
                    grabpayLogo.hide();
                } else if (bankNameInput.val() === 'PH_PAYMAYA') {
                    paymayaLogo.show();
                    gcashLogo.hide();
                    grabpayLogo.hide();
                } else if (bankNameInput.val() === 'PH_GRABPAY') {
                    grabpayLogo.show();
                    paymayaLogo.hide();
                    gcashLogo.hide();
                }
            }

            bankNameInput.change(function() {
                changeLogo();
            });

            window.onload = function() {
                changeLogo();
            }
        </script>
    {% endif %}

    {% if slug == 'card' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
        <script>
            var submitBtn = $("#js-send-payment");
            var current_url = window.location.href;

            function resetBtn() {
                submitBtn.removeClass();
                submitBtn.addClass('primary-btn subtitle bold');
                submitBtn.html('Pay Now')
            }

            // TOKENIZATION
            function sendTokenWithAuthData(data, token_id, auth_id) {
                $.ajax({
                    url: current_url,
                    type: "POST",
                    data: {"data":data, "token_id": token_id, "auth_id": auth_id},
                    success: function(response) {
                        submitBtn.html('Processing Payment...');
                        window.location.href = response.url;
                    },
                    error: function (xhr, textStatus, thrownError) {
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v4',
                            text: "Error occurred while processing payment. Please try again later or use a different payment method.",
                            layout: "bottomLeft",
                            timeout: 4000,
                            progressBar: true,
                        }).show();
                        resetBtn();
                    }
                });
            }

            function sendTokenData(data, token_id) {
                $.ajax({
                    url: current_url,
                    type: "POST",
                    data: {"data":data, "token_id": token_id},
                    success:function(response){
                        submitBtn.html('Processing Payment...');
                        window.location.href = response.url;
                    },
                    error:function (xhr, textStatus, thrownError){
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v4',
                            text: "Error occurred while processing payment. Please try again later or use a different payment method.",
                            layout: "bottomLeft",
                            timeout: 4000,
                            progressBar: true,
                        }).show();
                        resetBtn();
                    }
                });
            }

            function sendAuthData(data, auth_id) {
                $.ajax({
                    url: current_url,
                    type: "POST",
                    data: {"data":data, "auth_id": auth_id},
                    success:function(response){
                        submitBtn.html('Processing Payment...');
                        window.location.href = response.url;
                    },
                    error:function (xhr, textStatus, thrownError){
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v4',
                            text: "Error occurred during authentication process. Please try again later or use a different payment method.",
                            layout: "bottomLeft",
                            timeout: 4000,
                            progressBar: true,
                        }).show();
                        resetBtn();
                    }
                });
            }

            submitBtn.click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                submitBtn.addClass('loading');
                submitBtn.html('Sending Payment...')

                var orderTotal = String(parseFloat($("#js-order-total").html()));
                var accountNumber = String($("#id_account_number").val().replace(/\s/g, ''));
                var expDate = String($("#id_exp_date").val())
                var expMonth = expDate.slice(0,2);
                var expYear = "20" + expDate.slice(3,5);
                var cardCVN = String($("#id_cvv").val())

                var accountName = String($("#id_cardholder_name").val());
                var givenNames = accountName.substring(0, accountName.lastIndexOf(" "));
                var lastName = accountName.substring(accountName.lastIndexOf(" ") + 1);

                var tokenData = {        
                    "amount": orderTotal,        
                    "card_number": accountNumber,        
                    "card_exp_month": expMonth,        
                    "card_exp_year": expYear,
                    "card_cvn": cardCVN,
                    "is_multiple_use": false,
                    "should_authenticate": true,
                    "currency": "PHP",
                    "billing_details": {
                        "given_names": givenNames,
                        "surname": lastName,
                    }
                }

                // var tokenData = JSON.parse(JSON.stringify(tokenObject));

                // DATA VERIFICATION
                var cardNumber = tokenData['card_number'];
                var expMonth = tokenData['card_exp_month'];
                var expYear = tokenData['card_exp_year'];
                var cvn = tokenData['card_cvn'];

                if (Xendit.card.validateCardNumber(cardNumber)) {
                    $("#id_account_number").addClass('success')
                    setTimeout(function() { $("#id_account_number").removeClass('success') }, 4000);
                } else {
                    $("#id_account_number").addClass('error')
                    submitBtn.removeClass('loading');
                    submitBtn.addClass('warning');
                    submitBtn.html('Invalid Account Number!');
                    setTimeout(function() { resetBtn(); }, 4000);
                }

                if (Xendit.card.validateExpiry(expMonth, expYear)) {
                    $("#id_exp_date").addClass('success')
                    setTimeout(function() { $("#id_exp_date").removeClass('success') }, 4000);
                } else {
                    $("#id_exp_date").addClass('error')
                    submitBtn.addClass('warning');
                    submitBtn.html('Invalid Expiry Date!')
                    setTimeout(function() { resetBtn(); }, 4000);
                }
                if (Xendit.card.validateCvn(cvn)) {
                    $("#id_cvv").addClass('success')
                    setTimeout(function() { $("#id_cvv").removeClass('success') }, 4000);
                } else {
                    $("#id_cvv").addClass('error')
                    submitBtn.addClass('warning');
                    submitBtn.html('Invalid CVV!');
                    setTimeout(function() { resetBtn(); }, 4000);
                }

                Xendit.card.createToken(tokenData, function (err, data) {
                    if (err) {
                        submitBtn.addClass('warning');
                        submitBtn.html('Unable to process payment. Please try again later.');
                        setTimeout(function() { resetBtn(); }, 4000);
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v4',
                            text: err['message'],
                            layout: "bottomLeft",
                            timeout: 4000,
                            progressBar: true,
                        }).show();
                    }

                    if (data.status === 'VERIFIED') {
                        token_id = data.id;
                        auth_id = data.authentication_id;
                        sendTokenWithAuthData(JSON.stringify(tokenData), token_id, auth_id);
                    } else if (data.status === 'IN_REVIEW') {
                        var authWindow = window.open(data.payer_authentication_url, "3DS Authentication", "width=400, height=300, status, resizable");
                        var sendData = setInterval(function() {
                            if (authWindow.closed) {
                                clearInterval(sendData);
                                console.log('Closed window!')
                                token_id = data.id;
                                auth_id = data.authentication_id;
                                sendTokenWithAuthData(JSON.stringify(tokenData), token_id, auth_id);
                            }
                        }, 2000);
                    } else if (data.status === 'FAILED' || data.status === 'FRAUD') {
                        submitBtn.addClass('warning');
                        submitBtn.html('Unable to process payment. Please try again later.');
                        setTimeout(function() { resetBtn(); }, 4000);
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v4',
                            text: data['message'],
                            layout: "bottomLeft",
                            timeout: 4000,
                            progressBar: true,
                        }).show();
                    }
                });
            });
        </script>
    {% else %}
        <script>
            var submitBtn = $("#js-send-payment");

            submitBtn.click(function() {
                submitBtn.addClass('loading');
                submitBtn.html('Sending Payment...')
            });
        </script>
    {% endif %}

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>
    <script>
        var errorMessages = $(".errors")

        errorMessages.each(function() {
            var message = $(this).text();
            new Noty({
                type: 'error',
                theme: 'bootstrap-v4',
                text: message,
                layout: "bottomLeft",
                timeout: 5000,
                progressBar: true,
            }).show();
        })
    </script>

    <script>
        var current_url = window.location.href;
        var paymentMethodInput = $("#id_payment_method");

        paymentMethodInput.change(function() {
            var paymentMethod = $(this).val()
            var next_url = current_url.split('/').slice(0, -2).join('/');

            if (paymentMethod == "Debit/Credit Card") {
                window.location.href = next_url + '/card/'
            } else if (paymentMethod == "Bank Transfer") {
                window.location.href = next_url + '/bank/'
            } else {
                window.location.href = next_url + '/ewallet/'
            }
        });
    </script>
{% endblock %}