{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Checkout: Payment OTP{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/shops/payment.css' %}">
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <div class="modal__container" style="display: flex; opacity: 1;" id="js-modal-container">
        <div class="modal__card__wrapper mobile__otp" id="js-modal-card">
            <div class="modal__card__header" style="max-width: 400px;">
                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_lock_f-DWMn_qY.png" alt="Image Lock">
                <h1 class="bold">We sent you a one-time pin via SMS.</h1>
                <h2 class="body" style="color: var(--muted-default);">Confirm your identity and complete the payment by entering the 6-digit code sent to <b>{{ otp_mobile_number }}</b>.</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data" class="shop__settings__form">
                {% csrf_token %}
                
                <div class="registration-content otp__code__input__container">
                    <div class="otp__code__input__wrapper">
                        {% for input in otp_inputs %}
                            <input type="text" name="otp_code_{{ forloop.counter0 }}" id="id_otp_code_{{ forloop.counter0 }}" class="otp__code__input header bold" maxlength="1">
                        {% endfor %}
                    </div>
                    {% for message in messages %}
                        <p class="subtitle regular otp__code__error" id="js-error-msg">{{ message }}</p>
                    {% endfor %}
                </div>

                <!-- To edit style, edit .errorlist (ul) and .errorlist li (each message) -->
                <div id="form-errors">{{ shop_info_form.errors.as_json }}</div>

                <button type="submit" style="width: 100% !important;" id="js-save-btn" class="primary-btn disabled subtitle bold">Confirm OTP</button>
                <button type="button" class="tertiary-btn subtitle bold" id="js-resend-otp-btn">Resend OTP</button>
            </form>
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Checkout/quicklink_logo_1fPcRtsWD.png" class="quicklink__logo" alt="Quicklink Logo">
        </div>
    </div>
{% endblock %}

{% block scriptsBody %}
    <script>
        var otpInputFields = $('.otp__code__input');

        function toggleSaveBtn() {
            var enable = true;

            otpInputFields.each(function() {
                if ($(this).val().length < 1) {
                    enable = false;
                }
            });

            if (enable == true) { 
                $("#js-save-btn").removeClass('disabled');
                otpInputFields.each(function() {
                    $(this).addClass('filled');
                });
            } else {
                $("#js-save-btn").addClass('disabled');
            }
        }

        otpInputFields.each(function(index) {
            $(this).keyup(function() {
                if ($(this).val().length == 1) {
                    var nextIndex = parseInt(index) + 1;
                } else {
                    var nextIndex = parseInt(index) - 1;
                }
                if (nextIndex > 0 && nextIndex < 7) {
                    $(this).removeClass('error');
                    otpInputFields.eq(nextIndex).focus();
                }

                toggleSaveBtn();
            });
        })

        var errorMessage = $("#js-error-msg");

        if (errorMessage.html().length > 0) {
            otpInputFields.each(function() {
                $(this).addClass('error');
            });
        }
  </script>
{% endblock %}