{% extends 'quicklink/customers.html' %}
{% load static %}

{% block pagetitle %}Checkout: Payment OTP{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/shops/payment.css' %}">
{% endblock %}

{% block scriptsHead %}
{% endblock %}

{% block maincontent %}
    <div class="modal__container" style="display: flex; opacity: 1;" id="spinner">
        <div class="loading__wrapper">
            <img class="loading__gif" src="{% static 'loading.gif' %}" alt="Loading Screen">
        </div>
        <h1 class="bold">Your order is being processed... Please wait.</h1>
    </div>
{% endblock %}

{% block scriptsBody %}
{% endblock %}