{% load imagekit %}
{% load imagetags %}
{% load hosts %}
{% load getprices %}

{% if product.made_to_order or product.stock >= 1 %}
    <a href="{% host_url 'add-order' username=shop.shop_username product_pk=product.id host 'shops' %}" class="marketplace__merchants__card">
        <div class="marketplace__merchants__images">
            {% if product.id|get_product_image %}
                {% with product.id|get_product_image as default_image %}
                    {% generateimage 'account:shop_thumbnail' source=default_image.image -- alt="Product Thumbnail" class="marketplace__merchants__thumbnail" %}
                {% endwith %}
            {% else %}
                <div class="marketplace__merchants__thumbnail marketplace__merchants__thumbnail__backup"></div>
            {% endif %}
        </div>
        <div class="marketplace__merchants__info js-products-search-selection">
            <h3 class="bold">{{ product.name }}</h3>
            {% with min_price=product|get_min_price max_price=product|get_max_price %}
                {% if min_price == max_price %}
                    <p class="regular">PHP {{ min_price }}</p>
                {% else %}
                    <p class="regular">PHP {{ min_price }} - PHP {{ max_price }}</p>
                {% endif %}
            {% endwith %}
        </div>
    </a>
{% else %}
    <div class="marketplace__merchants__card disabled">
        <div class="marketplace__merchants__images">
            {% if product.id|get_product_image %}
                {% with product.id|get_product_image as default_image %}
                    {% generateimage 'account:shop_thumbnail' source=default_image.image -- alt="Product Thumbnail" class="marketplace__merchants__thumbnail" %}
                {% endwith %}
            {% else %}
                <div class="marketplace__merchants__thumbnail marketplace__merchants__thumbnail__backup"></div>
            {% endif %}
        </div>
        <div class="marketplace__merchants__info js-products-search-selection">
            <h3 class="bold">{{ product.name }}</h3>
            <p class="regular">Out of Stock</p>
        </div>
    </div>
{% endif %}