{% extends 'quicklink/customers.html' %}
{% load static %}
{% load imagekit %}
{% load getdays %}

{% block thumbnail %}
    <!-- Open Graph data -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ shop.shop_name | title }}" />
    <meta property="og:description" content="{% if shop.shop_branding.description %}{{ shop.shop_branding.description }}{% else %}Quicklink is an automated all-in-one business management ecosystem that propels existing and aspiring businesses to higher sales and engagement through streamlined processes and access to a growing network of consumers, sellers, distributors, and suppliers.{% endif %}" />
    <meta property="og:url" content="shops.quicklink.ph/shop/{{ shop.shop_username }}/" />
    <meta property="fb:app_id" content="236521208190021" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@quicklinkph">
    <meta name="twitter:title" content="{{ shop.shop_name | title }}">
    <meta name="twitter:description" content="{% if shop.shop_branding.description %}{{ shop.shop_branding.description }}{% else %}Quicklink is an automated all-in-one business management ecosystem that propels existing and aspiring businesses to higher sales and engagement through streamlined processes and access to a growing network of consumers, sellers, distributors, and suppliers.{% endif %}">
    <meta name="twitter:site" content="shops.quicklink.ph/shop/{{ shop.shop_username }}/">
    
    {% if shop.shop_branding.thumbnail %}
        <meta name="twitter:image" content="{{ shop.shop_branding.thumbnail.url }}">
        <meta property="og:image" content="{{ shop.shop_branding.thumbnail.url }}" />
        <meta property="og:image:width" content="1440px" />
        <meta property="og:image:height" content="600px" />    
    {% elif shop.shop_logo.logo %}
        <meta property="og:image" content="{{ shop.shop_logo.logo.url }}" />
        <meta property="og:image:width" content="800px" />
        <meta property="og:image:height" content="800px" />
        <meta name="twitter:image" content="{{ shop.shop_logo.logo.url }}">
    {% else %}
        <meta property="og:image" content="https://ik.imagekit.io/ripzjge77zz/seo_thumbnail_BmcTNm2a1Gp.png" />
        <meta property="og:image:width" content="1920px" />
        <meta property="og:image:height" content="1080px" />
        <meta name="twitter:image" content="https://ik.imagekit.io/ripzjge77zz/seo_thumbnail_BmcTNm2a1Gp.png">
    {% endif %}
{% endblock %}

{% block pagetitle %}{{ shop.shop_name | title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/marketplace/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/shops/form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block maincontent %}
    <div class="order__form">
        <div class="order__form__thumbnail">
            {% if shop.shop_branding.thumbnail %}
                {% generateimage 'account:shop_header' source=shop.shop_branding.thumbnail -- alt="Shop Thumbnail" class="order__form__thumbnail__img" %}
            <!-- <img class="order__form__thumbnail__img" src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/logos/horizontal/white_with_gradient_bg_extended_2x_GqhVKnlTQ.png" alt="Quicklink Logo" /> -->
            {% endif %}
        </div>

        <div class="order__form__shop">
            {% if shop.shop_logo.logo %}
                {% generateimage 'account:shop_logo' source=shop.shop_logo.logo -- alt="Shop Logo" class="order__form__shop__logo" %}
            {% else %}
                <div class="order__form__shop__logo order__form__shop__logo__backup"></div>
            {% endif %}
            <div class="order__form__shop__info">
                <h1 class="extra-bold">{{ shop.shop_name }}</h1>
                <!-- {% if shop.shop_branding.description %}
                    <p class="subtitle" style="padding: 0.25rem 0 0.5rem 4px; color: var(--muted-light);">{{ shop.shop_branding.description }}</p>
                {% endif %} -->
                <div class="order__form__shop__contact">
                    <div class="order__form__shop__contact--col">
                        <div class="order__form__shop__contact--row">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_clock_hPahhZ_4M.svg" alt="" class="order__form__shop__contact__icon">
                            {% with from=shop.shop_general_settings.get_opening_time to=shop.shop_general_settings.get_cutoff_time %}
                                <p class="caption bold">{% if shop.shop_general_settings.delivery_everyday == True %}Everyday{% else %}{{ shop.shop_general_settings.delivery_days|get_selected_days }}{% endif %}, {{ from }} - {{ to }}</p>
                            {% endwith %}
                        </div>
                        <div class="order__form__shop__contact--row">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/fi_mail_cqgT3ta0o.svg" alt="" class="order__form__shop__contact__icon">
                            <p class="caption">{{ shop.get_email }}</p>
                        </div>
                    </div>
                    <div class="order__form__shop__contact--col">
                        <div class="order__form__shop__contact--row">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_phone-alt_s-UKiZJLOA.svg" alt="" class="order__form__shop__contact__icon">
                            <p class="caption">{{ shop.get_formatted_number }}</p>
                        </div>
                        <div class="order__form__shop__contact--row">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Order_Form/u_store_dToMaPqthpG.svg" alt="" class="order__form__shop__contact__icon">
                            <p class="caption">{{ shop|get_address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input class="searchbar order__form__searchbar body regular" 
        type="search" placeholder="Search" name="search" id="js-products-search-filter">

        <div class="order__form__products">
            {% if products %}
                <div class="order__form__products__wrapper">
                    {% for product in products %}
                        {% include 'shops/product_card.html' with product=product %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="order__form__products__placeholder">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Order_Form/Illustrations/order_placeholder_oEwB59ZAB.png" 
                    alt="No Products Available">
                    <h2 class="order__form__products__placeholder__text">Products coming soon. Stay tuned!</h2>
                </div>
            {% endif %}
        </div>

        {% for message in messages %}
            <div class="js-success-msgs" style="display: none;">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block scriptsBody %}
    <script>
        var input, filter, selection, list, a, i;
        input = document.getElementById("js-products-search-filter");
        filter = input.value.toUpperCase();
        selection = document.getElementsByClassName("js-products-search-selection");
        list = [];
        
        for (i = 0; i < selection.length; i++) {
            a = selection[i].firstElementChild.innerHTML;
            list.push(a);
        }
        
        function filterFunction() {
            filter = input.value.toUpperCase();
            for (i = 0; i < selection.length; i++) {
                txtValue = String(list[i])
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    $(".marketplace__merchants__card").eq(i).removeClass("hide");
                } else {
                    $(".marketplace__merchants__card").eq(i).addClass("hide");
                }
            }
        }

        $("#js-products-search-filter").keyup(function() {
            filterFunction();
        });
    </script>

    <!-- NOTY Notifications -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous"></script>

    <!-- NOTY Successes -->
    <script>
        const successes = $(".js-success-msgs");
        var successMessages = [];

        successes.each(function() {
            successMessages.push($(this).text());
        });

        function displaySuccesses() {
            for (i = 0; i < successMessages.length; i++) {
                if (successMessages[i] != undefined) {
                    new Noty({
                        type: 'success',
                        theme: 'sunset',
                        text: successMessages[i],
                        layout: "bottomLeft",
                        timeout: 3000,
                        progressBar: true,
                    }).show();
                }
            }
        }

        if (successes != "" || successes != undefined || successes != null) { displaySuccesses(); }
    </script>
{% endblock %}