.registration-card { width: 35vw; }
.registration-content { width: 100%; padding: 0.1rem 0; }

.checkout__form__row {
    width: 100%;
    display: flex; justify-content: flex-start;
    align-items: center; align-content: center;
    padding: 0.25rem;
}

.checkout__form__row.checkout__form__row--no_padding { padding: 0; margin: 0; }
.checkout__form__row--no_padding input { margin: 0.25rem 0; }