.signup-container {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_V2Sr_hXDNRy.png") no-repeat center top;
    background-size: 100% 100%;
    padding: 4rem 0;
}

.registration-card {
    min-width: 35vw;
    max-width: 40vw;
    height: auto;
    padding: 2rem;
    display: flex; justify-content: center; align-items: center; align-content: center;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(51, 51, 51, 0.15);
    border-radius: 5px;
}

.registration-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 0.75rem;
}

.registration-header, .registration-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
}

.registration-header h1, .registration-header h2 { text-align: center; }

.registration-header h1 { margin-top: 0.75rem; }

.registration-form {
    width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;
}

.registration-content {
    width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: flex-start; align-content: center;
    padding: 0.75rem 0;
}

.registration-content__row {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
}

.registration-content__delivery {
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0;
}

.registration-content.deliveries {
    padding: 1rem 0;
}

.registration-content__title {
    padding-bottom: 0.5rem;
}

.registration-content__input--small { 
    flex-basis: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.terms-of-use-wrapper {
    width: 100%;
    display: flex; justify-content: flex-start; align-items: center; align-content: center;
    padding: 0.5rem 0;
}

.terms-of-use-wrapper p {
    margin: 0.1rem 0 0 0.5rem;
}

.terms-link {
    color: var(--primary-main);
    text-decoration: none;
    border-bottom: var(--primary-main) 1px solid;
}

.registration-content a {
    margin: 4px;
}

.registration-content__link {
    margin: 0;
    color: var(--primary-main);
    transition: all 0.3s ease;
}

.registration-content__link:hover { color: var(--primary-alt); }

.registration-content--email, .registration-footer--or-wrapper, .registration-footer--or-wrapper .registration-footer--or {
    display: flex; justify-content: center; align-items: center; align-content: center;
}

.registration-content--email-guide {
    color: var(--muted-lighter);
    margin-left: 0.25rem;
    margin-top: 0.1rem;
}

.sign-up-btn {
    margin: 4rem 0;
}

.registration-footer {
    padding-top: 2rem;
}

.registration-footer--or-wrapper { width: 100%; }

.registration-footer--or-wrapper .line {
    flex-basis: 45%;
    height: 1px;
    display: inline-block;
    background-color: #A3A3A3;
}

.registration-footer--or-wrapper .registration-footer--or {
    flex-basis: 10%;
    color: var(--muted-lighter);
    font-size: 0.8rem;
}

.form-errors, #form-errors, #shop-info { display: none; }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.pagination__circle {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    color: var(--primary-main);
    text-decoration: none;
    border: 1px solid var(--primary-main);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.pagination__circle:hover {
    background-color: var(--primary-main);
    color: white;
}

.pagination__circle--active {
    background-color: var(--primary-main);
    color: white;
    border-radius: 50%;
}

.pagination__line {
    display: block;
    width: 2.5rem;
    height: 1px;
    background-color: var(--primary-main)
}

.delivery__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0.5rem 1rem;
    transition: border 0.3s ease-in-out;
}

.delivery__input:hover {
    cursor: pointer;
    border: 1px solid var(--muted-lightest);
}

.delivery__modal--background {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%, 0%,);
    z-index: 99;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: none; justify-content: center; align-items: center; align-content: center;
    transition: all 0.3s ease-in-out;
}

.delivery__modal {
    width: auto;
    height: auto;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    box-shadow: var(--regular-box-shadow);
    border-radius: 5px;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

.delivery__modal--appear { display: flex; opacity: 1; }

.delivery__modal__btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.delivery__modal__btn {
    margin: 0 !important;
    padding: 0 !important;
}

.delivery__modal__btn:hover {
    color: var(--primary-light) !important;
}

.delivery__modal__btn__clear {
    color: var(--muted-lighter) !important;
}

.delivery__modal__btn__clear:hover {
    color: var(--muted-lightest) !important;
}

.delivery__modal__btns p:nth-child(2n) {
    padding: 0 1rem;
}

.delivery__modal__options {
    width: 240px;
    max-height: 280px; height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
}

.delivery__modal__option {
    width: auto; height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0.5rem 0;
}
/* 
.delivery__modal__option.contact__details {
    padding: 0.5rem 0;
} */

.delivery__modal__option--label {
    padding-left: 0.75rem;
    /* padding-top: 4px; */
}

.delivery__modal__save {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.ap-input-icon, .ap-icon-pin { display: none; }

.btn__back {
    width: 100%;
    text-decoration: none;
}

.caption {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .caption p { color: var(--muted-default); }

/* MACBOOKS AND LAPTOPS */
@media screen and (max-width: 1440px) {
    .registration-card {
        width: 30vw;
    }
}

/* IPAD AND LARGE TABLETS */
@media screen and (max-width: 1068px) {
    .registration-card {
        width: 50vw;
    }
}

/* IPAD MINI AND SMALL TABLETS */
@media screen and (max-width: 768px) {
    .registration-card {
        width: 70vw;
    }
}

/* PHONES */
@media screen and (max-width: 567px) {
    .registration-card {
        width: 90vw;
    }
}
