body {
    width: 100%;
    height: 100vh;
    display: flex; justify-content: center; align-items: center; align-content: center;
}

.loading__container {
    width: 100%;
    height: 100%;
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_V2Sr_hXDNRy.png") no-repeat center top;
    background-size: 100% 100%;
}
  
.loading__wrapper {
    width: 100%;
}

.loading__gif {
    width: 480px;
    height: auto;
}

.welcome__container {
    width: 100%;
    height: 100%;
    display: none; justify-content: flex-end; align-items: center; align-content: center;
    background: url("https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Marketplace/Landing/background_V2Sr_hXDNRy.png") no-repeat center top;
    background-size: 100% 100%;
    padding: 15vw;
    opacity: 0;
}

.welcome__container.loaded {
    display: flex;
    opacity: 1;
}

@keyframes enterImg {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}


.welcome__img {
    position: absolute;
    bottom: 0; left: 0;
    animation: enterImg 1s;
}

@keyframes enterText {
    0% {
        opacity: 0;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.welcome__txt {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    animation: enterText 2.5s;
}

.welcome__header {
    font-size: 1.75rem;
    line-height: 2.5rem;
    color: var(--primary-main);
}

.welcome__content {
    padding: 0.5rem 0 1.5rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
}