<div class="container">
    <div class="ql-logo-wrapper">
      <div class="ql-logo">
        <img class="ql-logo-img" src="https://ik.imagekit.io/ripzjge77zz/Quicklink/emails/big-ql-logo_66qI-qTGM.svg">
      </div>
    </div>

    <div class="containerBody">
      <p class="letterHeaderText">Hey there!</p>
  
      <p class="letterBodyText">Thank you for signing up for Quicklink. Just a few more clicks before your quick and easy transactions.</p>
      
      <p class="letterBodyText">To verify your email, head over to this <a href="{{ domain }}{% url 'customers:email-confirmation' uidb64=uid token=token %}">link</a> or click the button below. Once your account is verified, you may proceed to the onboarding process.</p>
      
      <p class="letterBodyText">As a part of our early access program, we recommend you to keep your user ID for future purposes: {{ user.id }}.</p>

      <p class="letterBodyText">Welcome to Quicklink!</p>
  
      <a action="{{ domain }}{% url 'customers:email-confirmation' uidb64=uid token=token %}">
        <button type="button" class="primary-btn subtitle bold">Verify Email</button>
      </a>
    </div>

    <div class="letterEndingBody">
      <p class="letterBodyText">If you have any questions, feel free to message us at customers@quicklink.ph. </p>
      <div class="bottomLinks">
        <a class="links" href="https://bit.ly/QLPrivacyPolicy">Privacy Policy</a>
        <a class="links" href="https://bit.ly/QLTerms">Terms of Use</a>
      </div>
      <div class="socialMediaLinks">
        <div class="qlBottom">
          <a href="https://quicklink.ph" target="_blank"><img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/emails/small-ql-logo_8aBOGICoY.svg"></a>
        </div>
        <div class="socialMediaImg">
          <a href="https://twitter.com/quicklinkph" target="_blank">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/emails/twitter-logo_-U7UNaQO_.svg">
          </a>
          <a href="https://www.facebook.com/quicklinkph" target="_blank">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/emails/fb-logo_1Aztd67Sc.svg">
          </a>
          <a href="https://www.linkedin.com/company/quicklink-ph/" target="_blank">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink/emails/ig-logo_Wa60RR0Ns.svg">
          </a>
        </div>
      </div>
    </div>
</div>