{% extends 'quicklink/app.html' %}
{% load static %}

{% block pagetitle %}Products{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/products/products.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous">
{% endblock %}

{% block maincontent %}
    <div class="products__container">
        <div class="products__header">
            <div class="products__header__wrapper">
                <div class="products__searchbar">
                    <form action="{% url 'products:products' %}">
                        <input class="searchbar body regular" type="search" placeholder="Search" name="search">
                    </form>
                </div>
                <div class="products__header__btns">
                    <button type="button" class="secondary-btn subtitle bold"
                        id="js-copy-form-link-btn" data-clipboard-text="{{ form_link }}">
                        Copy Form Link
                    </button>

                    <a href="{% url 'products:add-product' %}" style="text-decoration: none;">
                        <button class="primary-btn subtitle bold">
                            Add Product
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/add_product_icon_YYLwT5YiFK1.png" alt="Add">
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="products__list">
            <div class="products__wrapper">
                <table class="products__table" id="js-products-table">
                    <thead>
                        <tr class="products__table__header hide" id="js-select-products">
                            <th class="product__table__cell" colspan="6">
                                <div class="products__table__btns">
                                    <button type="button" class="selected__products__container" id="js-deselect-all-btn">
                                        <label class="checkbox">
                                            <input type="checkbox" onclick="return false;" checked />
                                            <span class="checkmark checkmark__small"></span>
                                        </label>
                                        <p class="subtitle bold" id="js-selected-input" style="margin-left: 0.5rem;"></p>
                                    </button>
                                    <button type="button" class="secondary-btn subtitle bold set-as-inactive__btn" id="js-set-as-inactive-btn">Set as inactive</button>
                                    <button type="button" class="secondary-btn warning subtitle bold js-open-delete-modal" id="js-open-delete-modal-selected">Delete</button>
                                </div>
                            </th>
                        </tr>
                        <tr class="products__table__header" id="js-normal-table-header">
                            <th class="product__table__cell">
                                <label class="checkbox">
                                    <input type="checkbox" name="select_all" id="js-select-all">
                                    <span class="checkmark checkmark__small"></span>
                                </label>
                            </th>
                            <th class="product__table__cell">
                                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                    <p class="overline bold">Product</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-1" alt="Sort">
                                </div>
                            </th>
                            <th class="product__table__cell overline bold">Stocks</th>
                            <th class="product__table__cell overline bold">Total Sold</th>
                            <th class="product__table__cell overline bold">Available</th>
                            <th></th>
                        </tr>
                    </thead>
                {% if not products %}
                </table>
                    <div class="table__placeholder__container">
                        <div class="table__placeholder__wrapper">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x1_ZsaHRDfd8WK.png" alt="No Products" class="table__placeholder__img"
                            srcset="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x1_ZsaHRDfd8WK.png 1x,
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x2_v7gXAno1s.png 2x,
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x3_pO3ORt4Hj.png 3x,
                                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x4_nzmXICckR.png 4x">
                            <div class="table__placeholder__guide">
                                <h2 class="table__placeholder__guide__header bold">Oh! You haven’t added any product for sale yet!</h2>
                                <a href="{% url 'products:add-product' %}" style="text-decoration: none;">
                                    <button class="primary-btn subtitle bold">Add Product
                                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/add_product_icon_YYLwT5YiFK1.png" alt="Add">
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tbody>
                        {% for product in products %}
                            <tr class="products__table__row">
                                <td class="product__table__cell">
                                    <label class="checkbox">
                                        <input type="checkbox" id="id_select_{{ forloop.counter0 }}"  class="js-select-btn" name="select" data-product="{{ product.name }}" value="{{ product.id }}">
                                        <span class="checkmark checkmark__small"></span>
                                    </label>
                                </td>
                                <td class="product__table__cell subtitle bold">{{ product.name }}</td>
                                <td class="product__table__cell subtitle">{% if product.is_made_to_order %}Made to Order{% else %}{{ product.stock }}{% endif %}</td>
                                <td class="product__table__cell subtitle">{{ product.sold }}</td>
                                <td class="product__table__cell">
                                    <div class="button-wrapper">
                                        <label class="switch">
                                            {% if product.active %}
                                                <input type="checkbox" name="toggle_availability" class="js-switch-btn" id="id_switch_{{ forloop.counter0 }}" value="{{ product.id }}" checked>
                                            {% else %}
                                                <input type="checkbox" name="toggle_availability" class="js-switch-btn" id="id_switch_{{ forloop.counter0 }}" value="{{ product.id }}">
                                            {% endif %}
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="product__table__cell">
                                    <a href="{% url 'products:update-product' product.id %}" class="tertiary-btn subtitle bold" 
                                    style="text-decoration: none;">Edit Product</a>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/u_ellipsis-v_d_ZCjBl8H.png" 
                                    alt="Ellipsis" class="product__ellipsis" id="js-product-options-btn-{{forloop.counter0}}">
                                    <div class="product__option--settings" id="js-product-options-modal-{{forloop.counter0}}">
                                        <a href="{% url 'products:duplicate-product' product.id %}" class="profile__pic--settings__link">
                                            <div class="profile__pic--settings__option bold">Duplicate</div>
                                        </a>
                                        <div class="profile__pic--settings__link js-open-delete-modal" data-id="{{ product.id }}" data-product="{{ product.name }}">
                                            <div class="profile__pic--settings__option bold logout">Delete</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <div class="modal__container" id="js-delete-products-modal">
                    <div class="modal__card__wrapper" style="max-width: 338px;">
                        <img 
                            src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal_x_20oKHfTKy.png" 
                            alt="Exit Modal" class="modal__exit__btn js-modal-exit-btn"
                        />
                        <div class="modal__card__header">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Settings/Account_Settings/modal__alert-circle_vCjlPyZv134.png" alt="Alert">
                        </div>
                        <div class="modal__form__content" style="min-width: 100%; align-items: center;">
                            <h1 class="body-big bold" style="text-align: center;" id="js-delete-text">Are you sure you want to delete these items?</h1>
                            <p style="margin-top: 0.5rem; text-align: center;">This will permanently remove the item from your order form.</p>
                        </div>
                        <div class="modal__form__content modal__form__content-row">
                            <button class="secondary-btn subtitle bold js-modal-exit-btn">Cancel</button>
                            <button class="primary-btn warning subtitle bold" id="js-delete-selected-btn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% extends 'quicklink/app.html' %}
{% load static %}
{% load imagekit %}

{% block pagetitle %}Total Revenues{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/finances/finances.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block maincontent %}
    <div class="finances__container">
        <div class="finances__wrapper">
            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-5x_-EPuaHL7pmP.png"
            alt="Finance Placeholder"
            srcset="
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x1_FK7LKjqet.png 1x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x2_aZVUx4L5iUI.png 2x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x3_7uablwbhL.png 3x,
                https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x4_WMnj37onx.png 4x,">
            <h3 class="finances_placeholder_text bold">Coming soon! Stay tuned.</h3>
        </div>
    </div>
{% endblock %}
