{% extends 'quicklink/app.html' %}
{% load static %}
{% load hosts %}
{% load imagekit %}
{% load humanize %}
{% load finances %}

{% block pagetitle %}Finances{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/finances/finances.css' %}">
{% endblock %}

{% block maincontent %}
<div class="finances__container">
    <div class="finances__header">
        <div class="finances__header__wrapper">
            <h1 class="finances__header__wrapper__text extra-bold">Total Revenue</h1>
            <div class="finances__cards">
                <div class="finances__card">
                    <div class="finances__card__content">
                        <h3 class="finances__card__content__title bold">Total Expected Revenue</h3>
                        {% with revenue=total_revenue|floatformat:2 %}
                            <p class="finances__card__content__total header extra-bold">Php {{ revenue|intcomma }}</p>
                        {% endwith %}
                        <div class="finances__card__content__row">
                            <p class="subtitle">This is the complete total revenue you have.</p>
                        </div>
                    </div>
                </div>
                <div class="finances__card">
                    <div class="finances__card__content">
                        <h3 class="finances__card__content__title bold">Payments Received</h3>
                        {% with received=payments_received|floatformat:2 %}
                            <p class="finances__card__content__total header extra-bold">Php {{ received|intcomma }}</p>
                        {% endwith %}
                        <div class="finances__card__content__row">
                            <p class="subtitle">These are the payments you have successfully received.</p>
                        </div>
                    </div>
                </div>
                <div class="finances__card">
                    <div class="finances__card__content">
                        <h3 class="finances__card__content__title bold">Payments Receivable</h3>
                        {% with to_receive=receivables|floatformat:2 %}
                            <p class="finances__card__content__total header extra-bold">Php {{ to_receive|intcomma }}</p>
                        {% endwith %}
                        <div class="finances__card__content__row">
                            <p class="subtitle">These payments are still being processed.</p>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>

    <div class="finances__list">
        <div class="finances__wrapper">
            <table class="finances__table" id="js-finances-table">
                <thead>
                    <tr class="finances__table__header" id="js-normal-table-header">
                        <th class="finances__table__cell overline bold">Date of Order
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-1" alt="Sort">
                        </th>
                        <th class="finances__table__cell overline bold">Order Number
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-1" alt="Sort">
                        </th>
                        <th class="finances__table__cell overline bold">Checkout</th>
                        <th class="finances__table__cell overline bold">Fees (4%)</th>
                        <th class="finances__table__cell overline bold">Net Total</th>
                        <th class="finances__table__cell overline bold">Payment Status</th>
                    </tr>
                </thead>
            {% if not orders %}
            </table>
                <div class="table__placeholder__container">
                    <div class="table__placeholder__wrapper">
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x1_FK7LKjqet.png" alt="No Finances" class="table__placeholder__img"
                        srcset="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x1_FK7LKjqet.png 1x,
                            https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x2_aZVUx4L5iUI.png 2x,
                            https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x3_7uablwbhL.png 3x,
                            https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Illustrations/finance-illustration-x4_WMnj37onx.png 4x">
                        <div class="table__placeholder__guide">
                            <h2 class="table__placeholder__guide__header bold">Whoops! You haven’t sold anything yet through QuickLink!</h2>
                            <a href="{% url 'products:products' %}" style="text-decoration: none;">
                                <button class="primary-btn subtitle bold">See my products
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Icons/white-arrow-right_u2XosdD52.svg" alt="Go">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %} 
                <tbody>
                    {% for order in orders %} 
                        <tr class="finances__table__row">
                            <td class="finances__table__cell subtitle">
                                <!-- {{ order.order_date|date:"M d, Y" }} -->
                                <div class="finances__datetime__container">
                                    <div class="finances__datetime__wrapper">
                                        <p class="subtitle">{{ order.order_date|date:"M d, Y" }}</p>
                                        <p class="subtitle subtext">{{ order.order_date|time:"h:i A" }}</p>
                                    </div>
                                </div>
                            </td> 
                            <td class="finances__table__cell subtitle">
                                <a class="table__link subtitle bold" href="{% host_url 'order-invoice' order_id=order.id host 'shops' %}" target="_blank">
                                    <!-- {{ order.get_table_id }} --> {{ request.user.get_initials }}{% if order.id < 10 %}00{% elif order.id <= 100 %}0{% endif %}{{ order.id }}
                                </a>
                            </td>
                            <td class="finances__table__cell subtitle">PHP {{ order|get_checkout }}</td>
                            {% with fees=order|get_fees %}
                                <td class="finances__table__cell subtitle {% if order.fees != 0 %}customer{% else %}merchant{% endif %}">PHP {% if order.fees != 0 %}{{ order.fees|floatformat:2 }}{% else %}{{ fees|floatformat:2 }}{% endif %}</td> 
                            {% endwith %}
                            {% with total=order|get_total %}
                                <td class="finances__table__cell subtitle bold">PHP {% if order.fees != 0 %}{{ order.subtotal|floatformat:2 }}{% else %}{{ total|floatformat:2 }}{% endif %}</td>
                            {% endwith %}
                            <td class="finances__table__cell subtitle">
                                <div class="status-container">
                                    {% if order.payment_status == "PENDING" %}
                                        <div class="payment__status pending overline">
                                    {% elif order.payment_status == "PROCESSING" %}
                                        <div class="payment__status processing overline">
                                    {% else %}
                                        <div class="payment__status received overline">
                                    {% endif %}
                                            {{ order.payment_status }}
                                        </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <!-- <div class="finance__footer__wrapper">
            <div class="finance__footer__pagination">
                <a href="" class="finance__footer__pagination__text subtitle" style="color: var(--primary-main); padding: 0 1rem 0 0;">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Icons/purple-chevron-left_wBy9VjWmK.svg" alt="Left Arrow">
                    Previous
                </a>
                <a href="" class="finance__footer__pagination__circle finance__footer__pagination__circle--active body-big bold">1</a>
                <a href="" class="finance__footer__pagination__circle body-big bold">2</a>
                <a href="" class="finance__footer__pagination__circle  body-big bold">3</a>
                <a href="" class="finance__footer__pagination__text subtitle" style="color: var(--primary-main); padding: 0 0 0 1rem;">
                    Next
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Finances/Icons/purple-chevron-right_5n0Ptn0aO.svg" alt="Left Arrow">
                </a>
            </div>    
        </div>  -->
    </div>
</div>
{% endblock %}

{% block scriptsBody %}
    <!-- Tablesorter lightweight JQuery plugin — See docs for more info: https://mottie.github.io/tablesorter/docs/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#js-finances-table").tablesorter({ sortList: [[1,0], [2,0]], selectorSort : 'img' });
            var chevrons = $(".sort-chevron");
            chevrons.each(function() {
                $(this).click(function(e) {
                    if (e.shiftKey) {
                        $(this).toggleClass("reverse");
                    } else {
                        var clicked = $(this).attr("id");
                        chevrons.each(function() {
                            if ($(this).attr("id") != clicked) {
                                $(this).removeClass("reverse");
                            }
                        });
                        $(this).toggleClass("reverse");
                    }
                })
            });
        });
    </script>
{% endblock %}