{% extends 'quicklink/app.html' %}
{% load static %}
{% load hosts %}
{% load humanize %}
{% load user_info %}

{% block pagetitle %}Order Summary{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/orders/orders.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/css/tableexport.css" integrity="sha512-+m+NCQG6uttXsLjwxHTUdhov99LW3TSFEiM2LSFMwfOePszb2as348/96cCBG35mOK+3Gp4P0EQRWpKLZfGTnA==" crossorigin="anonymous" />
{% endblock %}

{% block maincontent %}
<div class="orders__container">
    <div class="orders__header">
        <div class="orders__header__wrapper">
            <div class="orders__header__content">
                <h1 class="bold">All Orders</h1>
            </div>
        </div>
    </div>

    <div class="orders__subheader">
        <div class="orders__header__wrapper">
            <div class="orders__products" style="flex-basis: 30%">
                <form method="get">
                    <div class="date-input">
                        {{ orderFilter.form.delivery_date }}
                        <div class="date-input-img">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_calendar_E4TS-cMJH.png" alt="">
                        </div>
                    </div>
                    <!-- <input type="submit" name="delivery_date_sub" /> -->
                </form>
            </div>
            <div class="orders__total" style="flex-basis: 70%">
                <form method="get">
                    <input class="searchbar searchbar--small body" type="search" placeholder="Search" name="search" value="{{ search_query }}">
                </form>
                <!-- <form method="post">
                    {% csrf_token %} -->
                <button type="button" class="secondary-btn subtitle bold" id="js-download-summary-btn" onclick="tableExport();">
                    Download Summary
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_download_yjU2hNHxOFk.png" 
                    alt="Copy Form Link" id="js-download-summary-btn-icon">
                </button>
                <!-- </form> -->
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="send_customer_updates" class="primary-btn {% if can_send_updates == False %}disabled{% endif %} subtitle bold" id="js-send-updates-btn">
                        Send Customer Updates
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_send_BlG2boVnC.svg" 
                        alt="Send Customer Updates" id="js-send-updates-btn-icon">
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="orders__summary">
        <div class="orders__wrapper">

            <div class="order__status__change__wrapper group" id="js-order-status-change-group">
                <div class="order__status js-order-status-group-change pending overline" data-status="PENDING" style="margin-top: 0.5rem;">pending</div>
                <div class="order__status js-order-status-group-change preparing overline" data-status="PREPARING" style="margin: 0.5rem 0;">preparing</div>
                <div class="order__status js-order-status-group-change delivering overline" data-status="DELIVERING">delivering</div>
                <div class="order__status js-order-status-group-change completed overline" data-status="COMPLETED" style="margin: 0.5rem 0;">completed</div>
                <div class="order__status js-order-status-group-change cancelled overline" data-status="CANCELLED" style="margin-bottom: 0.5rem;">cancelled</div>
            </div>

            <table class="orders__summary-table" style="min-width: 100%;" id="js-orders-table">
                <thead>
                    <tr class="orders__table-header hide" id="js-selected-orders-header">
                        <th class="order-table-cell" colspan="15">
                            <div class="orders__table__btns">
                                <button type="button" class="selected__orders__container" id="js-deselect-all-btn">
                                    <label class="checkbox">
                                        <input type="checkbox" onclick="return false;" checked />
                                        <span class="checkmark checkmark__small"></span>
                                    </label>
                                    <p class="subtitle bold" id="js-selected-input" style="margin-left: 0.5rem;"></p>
                                </button>
                                <button type="button" class="primary-btn subtitle bold pressed" id="js-edit-order-status-btn">Edit Order Status</button>
                            </div>
                        </th>
                    </tr>
                    <tr class="orders__table-header" id="js-normal-orders-header">
                        <th class="order-table-cell" colspan="1">
                            <label class="checkbox">
                                <input type="checkbox" name="select_all" id="js-select-all-orders-btn">
                                <span class="checkmark checkmark__small"></span>
                            </label>
                        </th>
                        <th class="order-table-cell overline bold" colspan="2">
                            <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                <p class="overline bold">Date of Delivery</p>
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron reverse" id="js-sort-chevron-0" alt="Sort">
                            </div>
                        </th>
                        <th class="order-table-cell overline bold" colspan="1">
                            <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                <p class="overline bold">Order Number</p>
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-1" alt="Sort">
                            </div>
                        </th>
                        <th class="order-table-cell overline bold" colspan="2">Customer Name</th>
                        <!-- <th class="order-table-cell overline bold" colspan="2">Order Details</th> -->
                        <th class="order-table-cell overline bold" colspan="1">Items</th>
                        <th class="order-table-cell overline bold" colspan="2">
                            <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                <p class="overline bold">Total Amount</p>
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-2" alt="Sort">
                            </div>
                        </th>
                        <th class="order-table-cell overline bold" colspan="2">
                            <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                <p class="overline bold">Order Status</p>
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-3" alt="Sort">
                            </div>
                        </th>
                        <th class="order-table-cell overline bold" colspan="2">
                            <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                <p class="overline bold">Payment Status</p>
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-4" alt="Sort">
                            </div>
                        </th>
                        {% if request.user|get_delivery_options %}
                            <th class="order-table-cell overline bold" colspan="2">
                                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                    <p class="overline bold">Delivery Option</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-4" alt="Sort">
                                </div>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
    {% if not orders %}
            </table>
            <div class="table__placeholder__container">
                <div class="table__placeholder__wrapper" style="min-width: 120%;">
                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/Illustrations/no_orders_1x_TWoWI_pgU.png" alt="No Orders" class="table__placeholder__img"
                    srcset="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/Illustrations/no_orders_1x_TWoWI_pgU.png 1x,
                        https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/Illustrations/no_orders_2x_rw8qAFBHI.png 2x,
                        https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/Illustrations/no_orders_3x_WJ_iGgJVwA3.png 3x,
                        https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/Illustrations/no_orders_4x_YKBnV16dW.png 4x">
                    <div class="table__placeholder__guide">
                        <h2 class="table__placeholder__guide__header bold">Kinda quiet here...</h2>
                        <a href="{% url 'products:products' %}" style="text-decoration: none;">
                            <button class="primary-btn subtitle bold">See my products
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/primary_icon_only-enabled-hover-pressed_BO_t1npIp.svg" alt="Add">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    {% else %}
            <tbody>
                {% for order in orders %}
                    <tr class="order-table-row">
                        <td class="order-table-cell checkbox-cell" colspan="1">
                            <label class="checkbox">
                                <input type="checkbox" id="id_select_{{ forloop.counter0 }}" class="js-select-btn" name="select" value="{{ order.id }}">
                                <span class="checkmark checkmark__small"></span>
                            </label>
                        </td>
                        <td class="order-table-cell subtitle" colspan="2">
                            <div class="orders__datetime__container">
                                <div class="orders__datetime__wrapper">
                                    <p class="subtitle">{{ order.delivery_date|date:"M d, Y" }}</p>
                                    <p class="subtitle subtext">{{ order.delivery_date|time:"h:i A" }}</p>
                                </div>
                            </div>
                            <!-- {{ order.delivery_date|date:"M d, Y" }} -->
                        </td>
                        <!-- <td class="order-table-cell subtitle" colspan="1">{{ order.id }}</td> -->
                        <td class="order-table-cell subtitle" colspan="1">
                            <div class="order__id__wrapper">
                                {% if order.delivery_date > request.user.last_login %}
                                    <p class="new__notification overline bold">new</p>
                                {% endif %}
                                <a class="table__link subtitle bold" href="{% host_url 'order-invoice' order_id=order.id host 'shops' %}" target="_blank">
                                    <!-- {{ order.get_table_id }} --> {{ request.user.get_initials }}{% if order.id < 10 %}00{% elif order.id <= 100 %}0{% endif %}{{ order.id }}
                                </a>
                            </div>
                        </td>
                        <td class="order-table-cell subtitle" colspan="2">{{ order.order_information.session_sender.customer_name | title }}</td>
                        <!-- <td class="order-table-cell subtitle" colspan="2"><a class="tertiary-btn bold" href="{% host_url 'order-invoice' order_id=order.id host 'shops' %}" target="_blank">See Details</a></td> -->
                        <td class="order-table-cell subtitle" colspan="1">{{ order.order_quantity }}</td>
                        <td class="order-table-cell subtitle" colspan="2">PHP {{ order.total|intcomma }}</td>
                        <td class="order-table-cell" colspan="2">
                            <div class="status-container">
                                <div class="order__status__wrapper" id="js-order-status-wrapper-{{ forloop.counter0 }}">
                                {% if order.order_status == "PENDING" %}
                                    <div class="order__status pending overline js-change-order-status-{{ order.id }}"  id="js-order-status-{{ forloop.counter0 }}">
                                {% elif order.order_status == "PREPARING" %}
                                    <div class="order__status preparing overline js-change-order-status-{{ order.id }}" id="js-order-status-{{ forloop.counter0 }}">
                                {% elif order.order_status == "DELIVERING" %}
                                    <div class="order__status delivering overline js-change-order-status-{{ order.id }}" id="js-order-status-{{ forloop.counter0 }}">
                                {% elif order.order_status == "COMPLETED" %}
                                    <div class="order__status completed overline js-change-order-status-{{ order.id }}"  id="js-order-status-{{ forloop.counter0 }}">
                                {% else %}
                                    <div class="order__status cancelled overline js-change-order-status-{{ order.id }}"  id="js-order-status-{{ forloop.counter0 }}">
                                {% endif %}
                                        {{ order.order_status }}
                                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="status-chevron" alt="Statuses">
                                    </div>
                                </div>
                            </div>
                            <div class="order__status__change__wrapper" id="js-order-status-change-{{ forloop.counter0 }}">
                                <div class="order__status js-order-status-change pending overline" data-index="{{ forloop.counter0 }}" data-id="{{ order.id }}" data-status="PENDING">pending</div>
                                <div class="order__status js-order-status-change preparing overline" data-index="{{ forloop.counter0 }}" data-id="{{ order.id }}" data-status="PREPARING" style="margin: 0.5rem 0;">preparing</div>
                                <div class="order__status js-order-status-change delivering overline" data-index="{{ forloop.counter0 }}" data-id="{{ order.id }}" data-status="DELIVERING">delivering</div>
                                <div class="order__status js-order-status-change completed overline" data-index="{{ forloop.counter0 }}" data-id="{{ order.id }}" data-status="COMPLETED" style="margin: 0.5rem 0;">completed</div>
                                <div class="order__status js-order-status-change cancelled overline" data-index="{{ forloop.counter0 }}" data-id="{{ order.id }}" data-status="CANCELLED">cancelled</div>
                            </div>
                        </td>
                        <td class="order-table-cell" colspan="2">
                            <div class="status-container">
                                {% if order.payment_status == "PENDING" %}
                                    <div class="payment__status pending overline">
                                {% elif order.payment_status == "PROCESSING" %}
                                    <div class="payment__status processing overline">
                                {% else %}
                                    <div class="payment__status received overline">
                                {% endif %}
                                        {{ order.payment_status }}
                                    </div>
                            </div>
                        </td>
                        {% if request.user|get_delivery_options %}
                            <td class="order-table-cell subtitle" colspan="2">{{ order.delivery_option }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endif %}

<div class="modal__container" id="js-modal-container"></div>
<div class="passing__info" id="js-export-file-name">{{ file_name }}</div>
{% endblock %}

{% block scriptsBody %}
    <!-- Download Summary to XLS -->
    <!-- TableExport Dependencies — FileSaver.js, xlsx.core.js, and  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.core.min.js" integrity="sha512-qcjxCpal2fC5XTlJBB6yc/T2g7Xuxd0uHz+syZZEByojMPnKXroczpN3vrxL3ifHx4RVy4Jj8jVkXseQ5irtWA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/4.0.20200601/Blob.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous"></script>
    
    <!-- TableExport.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js" integrity="sha512-XmZS54be9JGMZjf+zk61JZaLZyjTRgs41JLSmx5QlIP5F+sSGIyzD2eJyxD4K6kGGr7AsVhaitzZ2WTfzpsQzg==" crossorigin="anonymous"></script>
    <script>
        var table = $("#js-orders-table")
        var file_name = $("#js-export-file-name").text();
        var instance = table.tableExport({
            formats: ["xlsx", "xls"],    // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
            filename: file_name,                     // (id, String), filename for the downloaded file, (default: 'id')
            exportButtons: false,           // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
            trimWhitespace: true,               // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
            sheetname: "Order Summary"                     // (id, String), sheet name for the exported spreadsheet, (default: 'id')
        });

        try {
            var XLS = instance.CONSTANTS.FORMAT.XLS;
            var exportDataXLS = instance.getExportData()["js-orders-table"][XLS];

            // // get filesize
            // var bytesXLS = instance.getFileSize(exportDataXLS.data, exportDataXLS.fileExtension);
            // console.log('filesize (XLS):', bytesXLS + 'B');

            function tableExport() {
                instance.export2file(exportDataXLS.data, exportDataXLS.mimeType, exportDataXLS.filename, exportDataXLS.fileExtension);
            }
        } catch (error) {
            var XLSX = instance.CONSTANTS.FORMAT.XLSX;
            var exportDataXLSX = instance.getExportData()['js-orders-table'][XLSX];

            // // get filesize
            // var bytesXLSX = instance.getFileSize(exportDataXLSX.data, exportDataXLSX.fileExtension);
            // console.log('filesize (XLSX):', bytesXLSX + 'B');

            function tableExport() {
                instance.export2file(exportDataXLSX.data, exportDataXLSX.mimeType, exportDataXLSX.filename, exportDataXLSX.fileExtension)
            }
        }
    </script>

    <!-- Flatpickr lightweight JQuery plugin — See docs for more info: https://flatpickr.js.org/examples/ -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $("#id_delivery_date").flatpickr({
            enableTime: false,
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            maxDate: new Date().fp_incr(21),
        });
    </script>

    <script>
        $("#id_delivery_date").change(function() {
            $(this).closest('form').submit();
        });

        $("#js-download-summary-btn").hover(function() {
            // Change to white icon
            $("#js-download-summary-btn-icon").attr("src","https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_download-white_gIVzCyXeC.png");
        }, function() {
            // Change to colored icon
            $("#js-download-summary-btn-icon").attr("src","https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_download_yjU2hNHxOFk.png");
        });

        function changeSendBtnIcon(el) {
            if (el.hasClass("disabled")) {
                $("#js-send-updates-btn-icon").attr("src", "https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_send-disabled__qCn5-xDq.svg");
            } else {
                $("#js-send-updates-btn-icon").attr("src", "https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_send_BlG2boVnC.svg");
                el.hover(function() {
                    // Change to colored icon
                    $("#js-send-updates-btn-icon").attr("src","https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_send-main_LHP7ZzHp1.svg");
                }, function() {
                    // Change to white icon
                    $("#js-send-updates-btn-icon").attr("src","https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_send_BlG2boVnC.svg");
                });
            }
        };

        changeSendBtnIcon($("#js-send-updates-btn"));
    </script>

    <!-- Tablesorter lightweight JQuery plugin — See docs for more info: https://mottie.github.io/tablesorter/docs/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#js-orders-table").tablesorter({ sortList: [[1,1], [2,0], [6,0], [7,0], [8,0]], selectorSort : 'img' });
            // .tablesorterPager({ container: $(".orders__wrapper") });
            var chevrons = $(".sort-chevron");
            chevrons.each(function() {
                $(this).click(function(e) {
                    if (e.shiftKey) {
                        $(this).toggleClass("reverse");
                    } else {
                        var clicked = $(this).attr("id");
                        chevrons.each(function() {
                            if ($(this).attr("id") != clicked) {
                                $(this).removeClass("reverse");
                            }
                        });
                        $(this).toggleClass("reverse");
                    }
                })
            });
        });
    </script>

    <!-- Select orders -->
    <script>
        var selectedTableHeader = $("#js-selected-orders-header");
        var regularTableHeader = $("#js-normal-orders-header");
        var editOrderStatusBtn = $("#js-edit-order-status-btn")
        var selectBtns = $(".js-select-btn")
        var orderStatusAjaxBtns = $(".js-order-status-group-change")

        // Changing the header
        function checkSelected() {
            if ($(".js-select-btn:checked").length > 0) {
                regularTableHeader.addClass("hide");
                selectedTableHeader.removeClass("hide");
                document.getElementById("js-selected-input").innerHTML = String($(".js-select-btn:checked").length) + " selected"
            } else {
                selectedTableHeader.addClass("hide");
                regularTableHeader.removeClass("hide");
                $("#js-order-status-change-group").removeClass("active");
            }
        }

        function changeRowColor(element) {
            if (element.is(":checked")) {
                element.parent().parent().parent().addClass("active");
            } else {
                element.parent().parent().parent().removeClass("active");
            }
        }

        $(function() {
            // Select all products
            regularTableHeader.on("click", "#js-select-all-orders-btn", function() {
                selectBtns.each(function() {
                    $(this).prop("checked", true);
                    changeRowColor($(this));
                });
                checkSelected();
            });

            // Deselect all products
            selectedTableHeader.on("click", "#js-deselect-all-btn", function() {
                selectBtns.each(function() {
                    $(this).prop("checked", false);
                    changeRowColor($(this));
                });
                $("#js-select-all-orders-btn").prop("checked", false);
                checkSelected();
            });

            // Click action on each individual checkbox
            selectBtns.each(function() {
                $(this).click(function() {
                    checkSelected();
                    changeRowColor($(this));
                });
            });

            // Edit Order Status Button
            selectedTableHeader.on("click", "#js-edit-order-status-btn", function() {
                $("#js-order-status-change-group").toggleClass("active");
            });

            orderStatusAjaxBtns.each(function() {
                $(this).click(function() {
                    var url = "/orders/status-change/"
                    var orderIdList = []

                    selectBtns.each(function() {
                        if ($(this).is(":checked")) {
                            orderIdList.push($(this).val());
                        }
                    });

                    $.ajax({
                        url: url,
                        data: {
                            'orders': orderIdList,
                            'status': $(this).attr("data-status"),
                        },
                        success: function(data) {
                            jsonData = JSON.parse(data);
                            jsonData.map((order) => {
                                var status = $(`.js-change-order-status-${order.pk}`);
                                status.html(order.fields.order_status)
                                if (order.fields.order_status == "PENDING") {
                                    status.removeClass();
                                    status.addClass("order__status pending overline");
                                } else if (order.fields.order_status == "PREPARING") {
                                    status.removeClass();
                                    status.addClass("order__status preparing overline");
                                } else if (order.fields.order_status == "DELIVERING") {
                                    status.removeClass();
                                    status.addClass("order__status delivering overline");
                                } else if (order.fields.order_status == "COMPLETED") {
                                    status.removeClass();
                                    status.addClass("order__status completed overline");
                                } else {
                                    status.removeClass();
                                    status.addClass("order__status cancelled overline");
                                }
                                var sendUpdatesBtn = $("#js-send-updates-btn");
                                sendUpdatesBtn.removeClass("disabled");
                                changeSendBtnIcon(sendUpdatesBtn);
                            })
                        },
                        error: function(xhr, error) {
                            new Noty({
                                type: 'error',
                                theme: 'bootstrap-v4',
                                text: "Can't change order status. Please try again later.",
                                layout: "bottomRight",
                                timeout: 3000,
                                progressBar: true,
                            }).show();
                        }
                    })
                })
            })
        }); 
    </script>

    <!-- Change order status -->
    <script>
        var orderStatuses = $(".order__status__wrapper");
        var orderStatusChanges = $(".js-order-status-change");

        orderStatuses.each(function(index) {
            $(this).click(function() {
                var wrapper = $(`#js-order-status-wrapper-${index}`);
                var statuses = $(`#js-order-status-change-${index}`);
                var container = $("#js-modal-container");

                wrapper.toggleClass("active");
                statuses.toggleClass("active");
                container.toggleClass("show");
            })
        });

        orderStatusChanges.each(function() {
            $(this).click(function() {
                var index = $(this).attr("data-index");
                var wrapper = $(`#js-order-status-wrapper-${index}`);
                var statuses = $(`#js-order-status-change-${index}`);
                var container = $("#js-modal-container");
                var url = "/orders/status-change/"

                wrapper.toggleClass("active");
                statuses.toggleClass("active");
                container.toggleClass("show");

                $.ajax({
                    url: url,
                    data: {
                        'orders': [$(this).attr("data-id"), ],
                        'status': $(this).attr("data-status"),
                    },
                    success: function(data) {
                        var data = JSON.parse(data)
                        var order = data[0]
                        var status = $(`#js-order-status-${index}`)
                        status.html(data[0].fields.order_status)
                        if (data[0].fields.order_status == "PENDING") {
                            status.removeClass();
                            status.addClass("order__status pending overline");
                        } else if (data[0].fields.order_status == "PREPARING") {
                            status.removeClass();
                            status.addClass("order__status preparing overline");
                        } else if (data[0].fields.order_status == "DELIVERING") {
                            status.removeClass();
                            status.addClass("order__status delivering overline");
                        } else if (data[0].fields.order_status == "COMPLETED") {
                            status.removeClass();
                            status.addClass("order__status completed overline");
                        } else {
                            status.removeClass();
                            status.addClass("order__status cancelled overline");
                        }
                        var sendUpdatesBtn = $("#js-send-updates-btn");
                        sendUpdatesBtn.removeClass("disabled");
                        changeSendBtnIcon(sendUpdatesBtn);
                    },
                    error: function(xhr, error) {
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v4',
                            text: "Can't change order status. Please try again later.",
                            layout: "bottomRight",
                            timeout: 3000,
                            progressBar: true,
                        }).show();
                    }
                });
            })
        })
    </script>

    <!-- Mixpanel -->
<script>
    analytics.track("order-table-cell");
    var USER_ID = "12148";
    mixpanel.identify(USER_ID);
    var USER_ID = "12148";
    var USER_SIGNUP_DATE = "2020-01-02T21:07:03Z";

    mixpanel.people.set({
      "$email": "jsmith@example.com",    // only reserved properties need the $
      "Sign up date": USER_SIGNUP_DATE,    // Send dates in ISO timestamp format (e.g. "2020-01-02T21:07:03Z")
      "USER_ID": USER_ID,    // use human-readable names
      "credits": 150    // ...or numbers
    });
</script>


{% endblock %}