{% extends 'quicklink/app.html' %}
{% load static %}
{% load hosts %}
{% load getsizes %}

{% block pagetitle %}Pending Orders{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/css/orders/orders.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block maincontent %}
    <div class="orders__container">
        <div class="orders__header">
            <div class="orders__header__wrapper">
                <div class="orders__header__content">
                    <h1 class="bold">Pending Items</h1>
                </div>
            </div>
        </div>

        <div class="orders__subheader">
            <div class="orders__header__wrapper orders__header__filter">
                <div class="orders__products">
                    <form method="get">
                        <div class="date-input" style="margin-right: 1rem;">
                            {{ pendingFilter.form.delivery_date }}
                            <div class="date-input-img">
                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_calendar_E4TS-cMJH.png" alt="">
                            </div>
                        </div>
                        {{ pendingFilter.form.product }}
                    </form>
                </div>
            </div>
            <div class="orders__header__wrapper">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="download_summary" class="secondary-btn subtitle bold" id="js-download-summary-btn" onclick="tableExport();">
                        Download Summary
                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_download_yjU2hNHxOFk.png" 
                        alt="Copy Form Link" id="js-download-summary-btn-icon">
                    </button>
                </form>
                <div class="orders__total">
                    {% if sizes %}
                        {% for size in sizes %}
                            <div class="orders__sizes__container">
                                <p class="subtitle">{{ size.size }}</p>
                                {% with pendingFilter.form.delivery_date.value as selected_date %}
                                    <p class="subtitle bold size__count">{{ size|get_sizes:selected_date }}</p>
                                {% endwith %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="orders__summary">
            <div class="orders__wrapper">
                <table class="orders__summary-table" id="js-pending-orders-table">
                    <thead>
                        <tr class="orders__table-header">
                            <th class="order-table-cell" id="js-th-0">
                                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                    <p class="overline bold">Date of Delivery</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-0" alt="Sort">
                                </div>
                            </th>
                            <th class="order-table-cell overline bold">Order Number</th>
                            <th class="order-table-cell" id="js-th-1">
                                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                    <p class="overline bold">Customer</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-1" alt="Sort">
                                </div>
                            </th>
                            <th class="order-table-cell" id="js-th-2">
                                <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                    <p class="overline bold">Product</p>
                                    <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_chevron-down_V5AWvLbdy.svg" class="sort-chevron" id="js-sort-chevron-2" alt="Sort">
                                </div>
                            </th>
                            <th class="order-table-cell">
                                <p class="overline bold">Quantity</p>
                            </th>
                            <th class="order-table-cell">
                                <p class="overline bold">Size</p>
                            </th>
                            {% if addons %}
                                {% for addon in addons %}
                                    <th class="order-table-cell">
                                        <div style="display: flex; justify-content: center; align-items: center; align-content: center;">
                                            <p class="order-addon overline bold">Add-on #{{forloop.counter}}</p>
                                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;">
                                                <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/u_info-circle_V3XlR7RfK.png" 
                                                alt="Helper" class="js-addon" style="margin-left: 0.5rem; cursor: help;">
                                                <div class="order__addon--helper caption" id="js-addon-helper-{{forloop.counter0}}">{{ addon.addon }}</div>
                                            </div>
                                        </div>
                                    </th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    </thead>
            {% if not items %}
                </table>
                    <div class="table__placeholder__container">
                        <div class="table__placeholder__wrapper">
                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x1_ZsaHRDfd8WK.png" alt="No Orders" class="table__placeholder__img"
                            srcset="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x1_ZsaHRDfd8WK.png 1x,
                            https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x2_v7gXAno1s.png 2x,
                            https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x3_pO3ORt4Hj.png 3x,
                            https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Products/illustrations/no_products-x4_nzmXICckR.png 4x">
                            <div class="table__placeholder__guide">
                                {% if product %}
                                    <h2 class="table__placeholder__guide__header bold">Kinda quiet here...</h2>
                                    <a href="{% url 'products:products' %}" style="text-decoration: none;">
                                        <button class="primary-btn subtitle bold">See my products
                                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/primary_icon_only-enabled-hover-pressed_BO_t1npIp.svg" alt="Add">
                                        </button>
                                    </a>
                                {% else %}
                                    <h2 class="table__placeholder__guide__header bold">Oh! You haven't added any product for sale yet!</h2>
                                    <a href="{% url 'products:products' %}" style="text-decoration: none;">
                                        <button class="primary-btn subtitle bold">Add Product
                                            <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Design_System/Icons/Buttons/add_product_icon_YYLwT5YiFK1.png" alt="Add">
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% else %}
                    <tbody>
                    {% for i in items %}
                        <tr class="order-table-row">
                            <td class="order-table-cell subtitle">
                                <div class="orders__datetime__container">
                                    <div class="orders__datetime__wrapper">
                                        <p class="subtitle">{{ i.order.delivery_date|date:"M d, Y" }}</p>
                                        <p class="subtitle subtext">{{ i.order.delivery_date|time:"h:i A" }}</p>
                                    </div>
                                </div>
                                <!-- {{ i.order.delivery_date|date:"M d, Y" }} -->
                            </td>
                            <td class="order-table-cell subtitle">
                                <a class="table__link subtitle bold" href="{% host_url 'order-invoice' order_id=i.order.id host 'shops' %}" target="_blank">
                                    <!-- {{ order.get_table_id }} --> {{ request.user.get_initials }}{% if i.order.id < 10 %}00{% elif i.order.id <= 100 %}0{% endif %}{{ i.order.id }}
                                </a>
                            </td>
                            <td class="order-table-cell subtitle">{{ i.order.order_information.session_sender.customer_name | title }}</td>
                            <td class="order-table-cell subtitle">{{ i.product.name }}</td>
                            
                            <td class="order-table-cell subtitle">{{ i.quantity }}</td>
                            <td class="order-table-cell subtitle">{{ i.size.size }}</td>

                            {% for addon in addons %}
                                <td class="order-table-cell subtitle">
                                    <!-- <label class="checkbox">
                                            {% if addon in selected_addons %}
                                                <input type="checkbox" checked>
                                            {% else %}
                                                <input type="checkbox">
                                            {% endif %}
                                        <span class="checkmark"></span>
                                    </label> -->
                                    {% if addon in i.addons.all %}
                                        <img src="https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/u_check_Gejfdgc4LZ.png" alt="Addon Included!">
                                    {% endif %}
                                </td>
                            {% endfor %}
                            
                            <!-- <td class="order-table-cell subtitle">
                                <a href="{% host_url 'order-invoice' order_id=i.order.id host 'shops' %}" class="tertiary-btn bold subtitle">See Details</a>
                            </td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>

    <div class="passing__info" id="js-export-file-name">{{ file_name }}</div>
{% endblock %}

{% block scriptsBody %}
    <!-- Download Summary to XLS -->
    <!-- TableExport Dependencies — FileSaver.js, xlsx.core.js, and  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.core.min.js" integrity="sha512-qcjxCpal2fC5XTlJBB6yc/T2g7Xuxd0uHz+syZZEByojMPnKXroczpN3vrxL3ifHx4RVy4Jj8jVkXseQ5irtWA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blob-polyfill/4.0.20200601/Blob.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous"></script>
    
    <!-- TableExport.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js" integrity="sha512-XmZS54be9JGMZjf+zk61JZaLZyjTRgs41JLSmx5QlIP5F+sSGIyzD2eJyxD4K6kGGr7AsVhaitzZ2WTfzpsQzg==" crossorigin="anonymous"></script>
    <script>
        var table = $("#js-pending-orders-table")
        var file_name = $("#js-export-file-name").text();
        var instance = table.tableExport({
            formats: ["xlsx", "xls"],    // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
            filename: file_name,                     // (id, String), filename for the downloaded file, (default: 'id')
            exportButtons: false,           // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
            trimWhitespace: true,               // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
            sheetname: "Order Summary"                     // (id, String), sheet name for the exported spreadsheet, (default: 'id')
        });

        try {
            var XLS = instance.CONSTANTS.FORMAT.XLS;
            var exportDataXLS = instance.getExportData()["js-pending-orders-table"][XLS];

            // // get filesize
            // var bytesXLS = instance.getFileSize(exportDataXLS.data, exportDataXLS.fileExtension);
            // console.log('filesize (XLS):', bytesXLS + 'B');

            function tableExport() {
                instance.export2file(exportDataXLS.data, exportDataXLS.mimeType, exportDataXLS.filename, exportDataXLS.fileExtension);
            }
        } catch (error) {
            var XLSX = instance.CONSTANTS.FORMAT.XLSX;
            var exportDataXLSX = instance.getExportData()['js-pending-orders-table'][XLSX];

            // // get filesize
            // var bytesXLSX = instance.getFileSize(exportDataXLSX.data, exportDataXLSX.fileExtension);
            // console.log('filesize (XLSX):', bytesXLSX + 'B');

            function tableExport() {
                instance.export2file(exportDataXLSX.data, exportDataXLSX.mimeType, exportDataXLSX.filename, exportDataXLSX.fileExtension)
            }
        }
    </script>

    <!-- Nice Select lightweight JQuery plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#id_product').niceSelect();
        });
    </script>

    <!-- Flatpickr lightweight JQuery plugin — See docs for more info: https://flatpickr.js.org/examples/ -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $("#id_delivery_date").flatpickr({
            enableTime: false,
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            maxDate: new Date().fp_incr(21),
        });
    </script>

    <!-- Filter form auto submit on change -->
    <script>
        $("#id_product").change(function() {
            $(this).closest('form').submit();
        });

        $("#id_delivery_date").change(function() {
            $(this).closest('form').submit();
        });
    </script>

    <!-- Helper text on addon hover -->
    <script>
        $(".js-addon").each(function(index) {
            var helper = $(`#js-addon-helper-${index}`);
            $(this).hover(function() {
                helper.addClass("show");
            }, function() {
                helper.removeClass("show");
            });
            $(this).on("touchmove", function() {
                helper.toggleClass("show");
            });
        });
    </script>

    <!-- Change button icon on hover -->
    <script>
        $("#js-download-summary-btn").hover(function() {
            // Change to white icon
            $("#js-download-summary-btn-icon").attr("src","https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_download-white_gIVzCyXeC.png");
        }, function() {
            // Change to colored icon
            $("#js-download-summary-btn-icon").attr("src","https://ik.imagekit.io/ripzjge77zz/Quicklink_App/Merchant/Orders/fi_download_yjU2hNHxOFk.png");
        });
    </script>

    <!-- Tablesorter lightweight JQuery plugin — See docs for more info: https://mottie.github.io/tablesorter/docs/-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#js-pending-orders-table").tablesorter({ sortList: [[0,0], [2,0], [3,0]], selectorSort : 'img' });
            var chevrons = $(".sort-chevron");
            chevrons.each(function() {
                $(this).click(function(e) {
                    if (e.shiftKey) {
                        $(this).toggleClass("reverse");
                    } else {
                        var clicked = $(this).attr("id");
                        chevrons.each(function() {
                            if ($(this).attr("id") != clicked) {
                                $(this).removeClass("reverse");
                            }
                        });
                        $(this).toggleClass("reverse");
                    }
                })
            });
        });
    </script>
{% endblock %}